[Desktop Entry]
Name=i 酷
Exec=env WINEPREFIX="/home/xiaoranzzz/.wine" wine "C:\\Program Files\\YouKu\\iKu\\iKu.exe" 
Type=Application
StartupWMClass=Wine
Comment=优酷客户端。
Path=/home/xiaoranzzz/.wine/dosdevices/c:/Program Files/YouKu/iKu
Icon=0b04_iku.0
