/appdata/diskimg
/temp/
/sync.ffs_db
/*.lnk
/document/
/repos/
/Files
/appdata/
/loseapps/
/overjoy/
/repos/
/repos.git
/shortcuts/
/tmp/
/loseapps
/overjoy
/repos
/eotect
/cloudapp
/bin/
/sync/
/*.tar
