/appdata/diskimg
/local/app
/temp/
/system/app
/core/app/*
/sync.ffs_db
/*.lnk
/document/
/repos/
/appdata/linux/xiaoranzzz/
/Files
/appdata/
/loseapps/
/overjoy/
/repos/
/repos.git
/shortcuts/
/system/
/tmp/
/workspace/
/loseapps
/overjoy
/repos
/eotect
/cloudapp
/bin/
/sync/
/*.tar
