[Desktop Entry]
Name=更新信息
Exec=env WINEPREFIX="/home/duel/.wine" wine "C:\\windows\\command\\start.exe" "E:\\Apps\\internet\\thunder5.5.6.274\\Program\\WhatsNew.txt"
Type=Application
StartupWMClass=Wine
Icon=3550_shell32.0
