[Desktop Entry]
Name=QVOD(QvodPlayer)
Exec=env WINEPREFIX="/home/xiaoranzzz/.qvodplayer" wine "D:\\QvodPlayer\\QvodPlayer.exe" 
Type=Application
StartupWMClass=Wine
Path=/home/xiaoranzzz/.qvodplayer/dosdevices/d:/QvodPlayer
Icon=6669_qvodplayer
