
[Desktop Entry]
Encoding=UTF-8
Name=Visual
Name[ar]=المرئي
Name[be@latin]=Vizualny
Name[bg]=Визуални
Name[ca]=Visual
Name[cs]=Vizuální
Name[da]=Visuel
Name[de]=Visuell
Name[dz]=མཐོང་བའི
Name[el]=Visual
Name[en_GB]=Visual
Name[es]=Visual
Name[eu]=Bisuala
Name[fi]=Näkövammaiset
Name[fr]=Visuel
Name[gl]=Visual
Name[gu]=દેખીતું
Name[hu]=Vizuális
Name[it]=Vista
Name[ja]=視覚
Name[ka]=ვიზუალური
Name[ko]=보조 시각 기술
Name[lt]=Vaizdinis
Name[mk]=Визуелно
Name[ml]=ദൃശ്യം
Name[nb]=Visuell
Name[nl]=Visueel
Name[pa]=ਦਿੱਖ
Name[pl]=Wizualne
Name[pt]=Visual
Name[pt_BR]=Visual
Name[ru]=Экран
Name[si]=දෘශ්‍ය
Name[sl]=Vidno
Name[sr]=Визуелни
Name[sr@Latn]=Vizuelni
Name[sv]=Visuell
Name[ta]=காட்சி
Name[th]=สายตา
Name[uk]=Візуально
Name[vi]=Thị lực
Name[zh_CN]=视觉
Comment=Autostart the preferred AT
Comment[ar]=تشغيل تلقائي لـ AT المفضل
Comment[be@latin]=Aŭtamatyčna ŭklučaj vymahanyja technalohii
Comment[bg]=Автоматично стартиране на предпочитаните помощни технологии
Comment[ca]=Inicia automàticament les tecnologies assistives preferides
Comment[da]=Start den foretrukne AT automatisk
Comment[de]=Bevorzugte Hilfstechnologien automatisch starten
Comment[dz]=དགའ་གདམ་ཨེ་ཊི་རང་བཞིན་འགོ་བཙུགས
Comment[el]=Αυτόματη εκκίνηση του επιθυμητού AT
Comment[en_GB]=Autostart the preferred AT
Comment[es]=Autoiniciar la TA preferida
Comment[et]=Eelistatava automaatse tehnika automaatkäivitus
Comment[eu]=Autoabiarazi AT hobetsia
Comment[fi]=Käynnistä haluttu esteettömyysohjelma automaattisesti
Comment[fr]=Démarrer automatiquement l'AT préféré
Comment[gl]=Iniciar automaticamente a TA preferida
Comment[gu]=પ્રાધાન્યવાળી AT આપોઆપ શરૂ કરો
Comment[hu]=Az alapértelmezett akadálymentesítési technológia automatikus indítása
Comment[it]=Avvia automaticamente l'AT preferita
Comment[ja]=お気に入りの支援技術 (AT) を自動起動します
Comment[ka]=არჩეული AT-ს ავტოგაშვება
Comment[ko]=기본 보조 기술 자동시작
Comment[lt]=Automatiškai paleisti pageidaujamą PT
Comment[mk]=Автоматско стартување на преферираниот AT
Comment[ml]=Autostart the preferred AT
Comment[nb]=Start foretrukket hjelpeteknologi automatisk
Comment[nl]=Geprefereerde AT automatisch opstarten
Comment[pa]=ਪਸੰਦੀਦਾ AT ਆਟੋ-ਚਲਾਓ
Comment[pl]=Automatyczne uruchamianie preferowanej technologii
Comment[pt]=Iniciar automaticamente a TA preferida
Comment[pt_BR]=Auto-iniciar a tecnologia assitiva preferida
Comment[ru]=Автоматически запускать выбранные приложения вспомогательных технологий
Comment[sl]=Samodejen zagon ob željenem AT
Comment[sr]=Сам покрени жељени АТ
Comment[sr@Latn]=Sam pokreni željeni AT
Comment[sv]=Starta automatiskt den föredragna hjälptekniken
Comment[ta]=விரும்பிய AT ஐ தானியங்கியாக துவக்குக
Comment[th]=เรียกโปรแกรมอำนวยความสะดวกโดยอัตโนมัติ
Comment[uk]=Автозапуск бажаної AT
Comment[vi]=Tự động khởi chạy công nghệ trợ giúp đã thích
Comment[zh_CN]=自动启动首选的辅助技术
Exec=gnome-at-visual -s
Icon=gnome-searchtool
Terminal=false
Type=Application
StartupNotify=true
Categories=
OnlyShowIn=GNOME;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-control-center
X-GNOME-Bugzilla-Component=other capplets
X-GNOME-Bugzilla-Version=2.20.3
X-GNOME-Autostart-enabled=false
Name[en_US]=Visual
Comment[en_US]=Autostart the preferred AT
