
[Desktop Entry]
Type=Application
Exec=/myplace/perl/r-wallpapers-daemon
Hidden=false
X-GNOME-Autostart-enabled=false
Name[en_US]=r-wallpapers-daemon
Name=r-wallpapers-daemon
Comment[en_US]=
Comment=
