[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Diablo II - Lord of Destruction
Type=Application
Name[en]=Diablo II - Lord of Destruction
Name[de]=Diablo II - Lord of Destruction
Name[cs]=Diablo II - Lord of Destruction
GenericName=A RPG Game
GenericName[en]=A RPG Game
Icon=diablo.png
Exec=diablo
Terminal=false
StartupNotify=true
Categories=Application;MyPlace;
X-Desktop-File-Install-Version=0.10
