[Desktop Entry]
Encoding=UTF-8
Name=fehdir
MimeType=x-directory/normal;
Exec='/myplace/shellscript/fehdir' %f
Type=Application
Terminal=false
NoDisplay=true
