
[Desktop Entry]
Encoding=UTF-8
Name=Firefox
Exec=r-firefox %u
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=firefox.png
Categories=Application;MyPlace;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/vnd.mozilla.xul+xml;application/rss+xml;application/rdf+xml;image/gif;image/jpeg;image/png
StartupWMClass=r-firefox
StartupNotify=true
Name[en_US]=Firefox
Icon[en_US]=firefox
