[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=lrcShow-X
Comment=music lyrics manager, viewer
Exec=lrcshow-x %F
Icon=lrcshow-x
Terminal=false
Type=Application
Categories=Application;MyPlace;Audio;Sound
StartupNotify=false
