[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Root Terminal
Comment=Open A Terminal As "Root" User
Exec=rootterm
Icon=terminal
StartupNotify=false
Terminal=false
Type=Application
Categories=Application;MyPlace;
X-Desktop-File-Install-Version=0.10
GenericName[en_US]=Root Terminal
