[Desktop Entry]
Version=1.0
X-Desktop-File-Install-Version=0.10
Encoding=UTF-8
Name=Rox Filer
Exec=rox %F 
Icon=rox-filer
Type=Application
MimeType=x-directory/normal;inode/directory;application/x-not-regular-file
Categories=Application;MyPlace;
StartupNotify=true
Terminal=false
GenericName=Rox Filer

