[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=RSSOwl
Name[en_CA]=RSSOwl
Name[en_GB]=RSSOwl
Name[zh_CN]=RSSOwl
Exec=rssowl %F
Icon=rssowl.xpm
StartupNotify=true
Terminal=false
Type=Application
Categories=Application;MyPlace;
X-Desktop-File-Install-Version=0.10
GenericName[en_US]=RSSOwl
