[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Virtual CD-Rom Num. One
Exec=vcdrom1 %F
Icon=gnome-cd.png
StartupNotify=true
Terminal=false
Type=Application
Categories=Application;MyPlace;
GenericName[en_US]=Virtual CD-Rom Num. One
MimeType=application/x-cd-image;

