[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Virtual CD-Rom Num. Two
Exec=vcdrom2 %F
Icon=gnome-cd.png
StartupNotify=true
Terminal=false
Type=Application;
Categories=Application;MyPlace;
X-Desktop-File-Install-Version=0.10
GenericName[en_US]=Virtual CD-Rom Num. Two
MimeType=application/x-cd-image;

