[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=X Terminal Emulator
Comment=Open Terminal Window
Exec=x-terminal-emulator
Icon=terminal
StartupNotify=false
Terminal=false
Type=Application
Categories=Application;MyPlace;Tools;
X-Desktop-File-Install-Version=0.10
GenericName[en_US]=X Terminal Emulator
