[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Exec=xrzReader
Icon=zim
StartupNotify=true
Terminal=false
Categories=Application;MyPlace;
MimeType=text/x-zim-notebook
Name=xrzReader
Comment=Edit text files "wiki style"
GenericName=Text Editor
Name[cs]=xrzReader
