data/linux/xiaoranzzz/.bash_history
data/linux/xiaoranzzz/.ssh/id_rsa
data/linux/xiaoranzzz/.ssh/id_rsa.pub
data/linux/xiaoranzzz/.ssh/known_hosts
data/linux/xiaoranzzz/.vim_mru_files
data/linux/xiaoranzzz/.viminfo
data/linux/xiaoranzzz/_viminfo
