[Desktop Entry]
Name=Console RAR manual
Exec=env WINEPREFIX="/home/duel/.wine" wine "C:\\windows\\command\\start.exe" "D:\\apps\\archiver\\winrar\\Rar.txt"
Type=Application
StartupWMClass=Wine
Comment=Process RAR, ZIP and other archive formats
Icon=3550_shell32.0
