[Desktop Entry]
Name=控制台 RAR 中文手册
Exec=env WINEPREFIX="/home/duel/.wine" wine "C:\\windows\\command\\start.exe" "X:\\program\\winrar\\Rar.txt"
Type=Application
StartupWMClass=Wine
Comment=处理 RAR、 ZIP 和其他压缩格式
Icon=3550_shell32.0
