[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Gutenbrowser
Name[ar]=Gutenbrowser
Name[ast]=Gutenbrowser
Name[be]=Gutenbrowser
Name[bg]=Gutenbrowser
Name[bn]=Gutenbrowser
Name[br]=Gutenbrowser
Name[bs]=Gutenbrowser
Name[ca]=Gutenbrowser
Name[cs]=Gutenbrowser
Name[da]=Gutenbrowser
Name[de]=Gutenbrowser
Name[dz]=Gutenbrowser
Name[el]=Gutenbrowser
Name[eo]=Gutenbrowser
Name[es]=Gutenbrowser
Name[et]=Gutenbrowser
Name[eu]=Gutenbrowser
Name[fi]=Gutenbrowser
Name[fr]=Gutenbrowser
Name[ga]=Gutenbrowser
Name[gl]=Gutenbrowser
Name[gu]=Gutenbrowser
Name[he]=Gutenbrowser
Name[hi]=Gutenbrowser
Name[hr]=Gutenbrowser
Name[hu]=Gutenbrowser
Name[id]=Gutenbrowser
Name[it]=Gutenbrowser
Name[ja]=Gutenbrowser
Name[ka]=Gutenbrowser
Name[kk]=Gutenbrowser
Name[km]=Gutenbrowser
Name[ko]=Gutenbrowser
Name[ku]=Gutenbrowser
Name[lt]=Gutenbrowser
Name[mk]=Gutenbrowser
Name[ml]=Gutenbrowser
Name[mr]=Gutenbrowser
Name[nb]=Gutenbrowser
Name[ne]=Gutenbrowser
Name[nl]=Gutenbrowser
Name[nn]=Gutenbrowser
Name[pa]=Gutenbrowser
Name[pl]=Gutenbrowser
Name[pt]=Gutenbrowser
Name[pt_BR]=Gutenbrowser
Name[ro]=Gutenbrowser
Name[ru]=Gutenbrowser
Name[sk]=Gutenbrowser
Name[sq]=Gutenbrowser
Name[sv]=Gutenbrowser
Name[ta]=Gutenbrowser
Name[th]=Gutenbrowser
Name[tl]=Gutenbrowser
Name[tr]=Gutenbrowser
Name[uk]=Gutenbrowser
Name[vi]=Gutenbrowser
Name[wo]=Gutenbrowser
Name[zh_CN]=Gutenbrowser
Name[zh_TW]=Gutenbrowser
Comment=Gutenbrowser: Graphical document reader for Gutenberg Etext documents
Comment[ar]=Gutenbrowser: Graphical document reader for Gutenberg Etext documents
Comment[ast]=Gutenbrowser: Graphical document reader for Gutenberg Etext documents
Comment[be]=Gutenbrowser: Graphical document reader for Gutenberg Etext documents
Comment[bg]=Gutenbrowser: Graphical document reader for Gutenberg Etext documents
Comment[bn]=Gutenbrowser: Graphical document reader for Gutenberg Etext documents
Comment[br]=Gutenbrowser: Graphical document reader for Gutenberg Etext documents
Comment[bs]=Gutenbrowser: Graphical document reader for Gutenberg Etext documents
Comment[ca]=Gutenbrowser: Graphical document reader for Gutenberg Etext documents
Comment[cs]=Gutenbrowser: Graphical document reader for Gutenberg Etext documents
Comment[da]=Gutenbrowser: Graphical document reader for Gutenberg Etext documents
Comment[de]=Gutenbrowser: Graphical document reader for Gutenberg Etext documents
Comment[dz]=Gutenbrowser: Graphical document reader for Gutenberg Etext documents
Comment[el]=Gutenbrowser: Graphical document reader for Gutenberg Etext documents
Comment[eo]=Gutenbrowser: Graphical document reader for Gutenberg Etext documents
Comment[es]=Gutenbrowser: Graphical document reader for Gutenberg Etext documents
Comment[et]=Gutenbrowser: Graphical document reader for Gutenberg Etext documents
Comment[eu]=Gutenbrowser: Graphical document reader for Gutenberg Etext documents
Comment[fi]=Gutenbrowser: Graphical document reader for Gutenberg Etext documents
Comment[fr]=Gutenbrowser: Graphical document reader for Gutenberg Etext documents
Comment[ga]=Gutenbrowser: Graphical document reader for Gutenberg Etext documents
Comment[gl]=Gutenbrowser: Graphical document reader for Gutenberg Etext documents
Comment[gu]=Gutenbrowser: Graphical document reader for Gutenberg Etext documents
Comment[he]=Gutenbrowser: Graphical document reader for Gutenberg Etext documents
Comment[hi]=Gutenbrowser: Graphical document reader for Gutenberg Etext documents
Comment[hr]=Gutenbrowser: Graphical document reader for Gutenberg Etext documents
Comment[hu]=Gutenbrowser: Graphical document reader for Gutenberg Etext documents
Comment[id]=Gutenbrowser: Graphical document reader for Gutenberg Etext documents
Comment[it]=Gutenbrowser: Graphical document reader for Gutenberg Etext documents
Comment[ja]=Gutenbrowser: Graphical document reader for Gutenberg Etext documents
Comment[ka]=Gutenbrowser: Graphical document reader for Gutenberg Etext documents
Comment[kk]=Gutenbrowser: Graphical document reader for Gutenberg Etext documents
Comment[km]=Gutenbrowser: Graphical document reader for Gutenberg Etext documents
Comment[ko]=Gutenbrowser: Graphical document reader for Gutenberg Etext documents
Comment[ku]=Gutenbrowser: Graphical document reader for Gutenberg Etext documents
Comment[lt]=Gutenbrowser: Graphical document reader for Gutenberg Etext documents
Comment[mk]=Gutenbrowser: Graphical document reader for Gutenberg Etext documents
Comment[ml]=Gutenbrowser: Graphical document reader for Gutenberg Etext documents
Comment[mr]=Gutenbrowser: Graphical document reader for Gutenberg Etext documents
Comment[nb]=Gutenbrowser: Graphical document reader for Gutenberg Etext documents
Comment[ne]=Gutenbrowser: Graphical document reader for Gutenberg Etext documents
Comment[nl]=Gutenbrowser: Graphical document reader for Gutenberg Etext documents
Comment[nn]=Gutenbrowser: Graphical document reader for Gutenberg Etext documents
Comment[pa]=Gutenbrowser: Graphical document reader for Gutenberg Etext documents
Comment[pl]=Gutenbrowser: Graphical document reader for Gutenberg Etext documents
Comment[pt]=Gutenbrowser: Graphical document reader for Gutenberg Etext documents
Comment[pt_BR]=Gutenbrowser: Graphical document reader for Gutenberg Etext documents
Comment[ro]=Gutenbrowser: Graphical document reader for Gutenberg Etext documents
Comment[ru]=Gutenbrowser: Graphical document reader for Gutenberg Etext documents
Comment[sk]=Gutenbrowser: Graphical document reader for Gutenberg Etext documents
Comment[sq]=Gutenbrowser: Graphical document reader for Gutenberg Etext documents
Comment[sv]=Gutenbrowser: Graphical document reader for Gutenberg Etext documents
Comment[ta]=Gutenbrowser: Graphical document reader for Gutenberg Etext documents
Comment[th]=Gutenbrowser: Graphical document reader for Gutenberg Etext documents
Comment[tl]=Gutenbrowser: Graphical document reader for Gutenberg Etext documents
Comment[tr]=Gutenbrowser: Graphical document reader for Gutenberg Etext documents
Comment[uk]=Gutenbrowser: Graphical document reader for Gutenberg Etext documents
Comment[vi]=Gutenbrowser: Graphical document reader for Gutenberg Etext documents
Comment[wo]=Gutenbrowser: Graphical document reader for Gutenberg Etext documents
Comment[zh_CN]=Gutenbrowser: Graphical document reader for Gutenberg Etext documents
Comment[zh_TW]=Gutenbrowser: Graphical document reader for Gutenberg Etext documents
Exec=/usr/bin/gutenbrowser
Terminal=false
Categories=X-Debian-Applications-Viewers;
