[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=DOSBox
Name[ar]=DOSBox
Name[ast]=DOSBox
Name[be]=DOSBox
Name[bg]=DOSBox
Name[bn]=DOSBox
Name[br]=DOSBox
Name[bs]=DOSBox
Name[ca]=DOSBox
Name[cs]=DOSBox
Name[da]=DOSBox
Name[de]=DOSBox
Name[dz]=DOSBox
Name[el]=DOSBox
Name[eo]=DOSBox
Name[es]=DOSBox
Name[et]=DOSBox
Name[eu]=DOSBox
Name[fi]=DOSBox
Name[fr]=DOSBox
Name[ga]=DOSBox
Name[gl]=DOSBox
Name[gu]=DOSBox
Name[he]=DOSBox
Name[hi]=DOSBox
Name[hr]=DOSBox
Name[hu]=DOSBox
Name[id]=DOSBox
Name[it]=DOSBox
Name[ja]=DOSBox
Name[ka]=DOSBox
Name[kk]=DOSBox
Name[km]=DOSBox
Name[ko]=DOSBox
Name[ku]=DOSBox
Name[lt]=DOSBox
Name[mk]=DOSBox
Name[ml]=DOSBox
Name[mr]=DOSBox
Name[nb]=DOSBox
Name[ne]=DOSBox
Name[nl]=DOSBox
Name[nn]=DOSBox
Name[pa]=DOSBox
Name[pl]=DOSBox
Name[pt]=DOSBox
Name[pt_BR]=DOSBox
Name[ro]=DOSBox
Name[ru]=DOSBox
Name[sk]=DOSBox
Name[sq]=DOSBox
Name[sv]=DOSBox
Name[ta]=DOSBox
Name[th]=DOSBox
Name[tl]=DOSBox
Name[tr]=DOSBox
Name[uk]=DOSBox
Name[vi]=DOSBox
Name[wo]=DOSBox
Name[zh_CN]=DOSBox
Name[zh_TW]=DOSBox
Icon=/usr/share/pixmaps/dosbox.xpm
Exec=/usr/bin/dosbox
Terminal=false
Categories=X-Debian-Applications-Emulators;
