[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=qgit
Name[ar]=qgit
Name[ast]=qgit
Name[be]=qgit
Name[bg]=qgit
Name[bn]=qgit
Name[br]=qgit
Name[bs]=qgit
Name[ca]=qgit
Name[cs]=qgit
Name[da]=qgit
Name[de]=qgit
Name[dz]=qgit
Name[el]=qgit
Name[eo]=qgit
Name[es]=qgit
Name[et]=qgit
Name[eu]=qgit
Name[fi]=qgit
Name[fr]=qgit
Name[ga]=qgit
Name[gl]=qgit
Name[gu]=qgit
Name[he]=qgit
Name[hi]=qgit
Name[hr]=qgit
Name[hu]=qgit
Name[id]=qgit
Name[it]=qgit
Name[ja]=qgit
Name[ka]=qgit
Name[kk]=qgit
Name[km]=qgit
Name[ko]=qgit
Name[ku]=qgit
Name[lt]=qgit
Name[mk]=qgit
Name[ml]=qgit
Name[mr]=qgit
Name[nb]=qgit
Name[ne]=qgit
Name[nl]=qgit
Name[nn]=qgit
Name[pa]=qgit
Name[pl]=qgit
Name[pt]=qgit
Name[pt_BR]=qgit
Name[ro]=qgit
Name[ru]=qgit
Name[sk]=qgit
Name[sq]=qgit
Name[sv]=qgit
Name[ta]=qgit
Name[th]=qgit
Name[tl]=qgit
Name[tr]=qgit
Name[uk]=qgit
Name[vi]=qgit
Name[wo]=qgit
Name[zh_CN]=qgit
Name[zh_TW]=qgit
Exec=/usr/bin/qgit
Terminal=false
Categories=X-Debian-Applications-Programming;
