[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=DSL/PPPoE configuration tool
Name[ar]=DSL/PPPoE configuration tool
Name[ast]=DSL/PPPoE configuration tool
Name[be]=DSL/PPPoE configuration tool
Name[bg]=DSL/PPPoE configuration tool
Name[bn]=DSL/PPPoE configuration tool
Name[br]=DSL/PPPoE configuration tool
Name[bs]=DSL/PPPoE configuration tool
Name[ca]=DSL/PPPoE configuration tool
Name[cs]=DSL/PPPoE configuration tool
Name[da]=DSL/PPPoE configuration tool
Name[de]=DSL/PPPoE configuration tool
Name[dz]=DSL/PPPoE configuration tool
Name[el]=DSL/PPPoE configuration tool
Name[eo]=DSL/PPPoE configuration tool
Name[es]=DSL/PPPoE configuration tool
Name[et]=DSL/PPPoE configuration tool
Name[eu]=DSL/PPPoE configuration tool
Name[fi]=DSL/PPPoE configuration tool
Name[fr]=DSL/PPPoE configuration tool
Name[ga]=DSL/PPPoE configuration tool
Name[gl]=DSL/PPPoE configuration tool
Name[gu]=DSL/PPPoE configuration tool
Name[he]=DSL/PPPoE configuration tool
Name[hi]=DSL/PPPoE configuration tool
Name[hr]=DSL/PPPoE configuration tool
Name[hu]=DSL/PPPoE configuration tool
Name[id]=DSL/PPPoE configuration tool
Name[it]=DSL/PPPoE configuration tool
Name[ja]=DSL/PPPoE configuration tool
Name[ka]=DSL/PPPoE configuration tool
Name[kk]=DSL/PPPoE configuration tool
Name[km]=DSL/PPPoE configuration tool
Name[ko]=DSL/PPPoE configuration tool
Name[ku]=DSL/PPPoE configuration tool
Name[lt]=DSL/PPPoE configuration tool
Name[mk]=DSL/PPPoE configuration tool
Name[ml]=DSL/PPPoE configuration tool
Name[mr]=DSL/PPPoE configuration tool
Name[nb]=DSL/PPPoE configuration tool
Name[ne]=DSL/PPPoE configuration tool
Name[nl]=DSL/PPPoE configuration tool
Name[nn]=DSL/PPPoE configuration tool
Name[pa]=DSL/PPPoE configuration tool
Name[pl]=DSL/PPPoE configuration tool
Name[pt]=DSL/PPPoE configuration tool
Name[pt_BR]=DSL/PPPoE configuration tool
Name[ro]=DSL/PPPoE configuration tool
Name[ru]=DSL/PPPoE configuration tool
Name[sk]=DSL/PPPoE configuration tool
Name[sq]=DSL/PPPoE configuration tool
Name[sv]=DSL/PPPoE configuration tool
Name[ta]=DSL/PPPoE configuration tool
Name[th]=DSL/PPPoE configuration tool
Name[tl]=DSL/PPPoE configuration tool
Name[tr]=DSL/PPPoE configuration tool
Name[uk]=DSL/PPPoE configuration tool
Name[vi]=DSL/PPPoE configuration tool
Name[wo]=DSL/PPPoE configuration tool
Name[zh_CN]=DSL/PPPoE configuration tool
Name[zh_TW]=DSL/PPPoE configuration tool
Icon=/usr/share/pixmaps/pppoeconf.xpm
Exec=/usr/sbin/pppoeconf
Terminal=true
Categories=X-Debian-Applications-System-Administration;
