[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Conky
Name[ar]=Conky
Name[ast]=Conky
Name[be]=Conky
Name[bg]=Conky
Name[bn]=Conky
Name[br]=Conky
Name[bs]=Conky
Name[ca]=Conky
Name[cs]=Conky
Name[da]=Conky
Name[de]=Conky
Name[dz]=Conky
Name[el]=Conky
Name[eo]=Conky
Name[es]=Conky
Name[et]=Conky
Name[eu]=Conky
Name[fi]=Conky
Name[fr]=Conky
Name[ga]=Conky
Name[gl]=Conky
Name[gu]=Conky
Name[he]=Conky
Name[hi]=Conky
Name[hr]=Conky
Name[hu]=Conky
Name[id]=Conky
Name[it]=Conky
Name[ja]=Conky
Name[ka]=Conky
Name[kk]=Conky
Name[km]=Conky
Name[ko]=Conky
Name[ku]=Conky
Name[lt]=Conky
Name[mk]=Conky
Name[ml]=Conky
Name[mr]=Conky
Name[nb]=Conky
Name[ne]=Conky
Name[nl]=Conky
Name[nn]=Conky
Name[pa]=Conky
Name[pl]=Conky
Name[pt]=Conky
Name[pt_BR]=Conky
Name[ro]=Conky
Name[ru]=Conky
Name[sk]=Conky
Name[sq]=Conky
Name[sv]=Conky
Name[ta]=Conky
Name[th]=Conky
Name[tl]=Conky
Name[tr]=Conky
Name[uk]=Conky
Name[vi]=Conky
Name[wo]=Conky
Name[zh_CN]=Conky
Name[zh_TW]=Conky
Exec=/usr/bin/conky
Terminal=true
Categories=X-Debian-Applications-System-Monitoring;
