[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Geany
Name[ar]=Geany
Name[ast]=Geany
Name[be]=Geany
Name[bg]=Geany
Name[bn]=Geany
Name[br]=Geany
Name[bs]=Geany
Name[ca]=Geany
Name[cs]=Geany
Name[da]=Geany
Name[de]=Geany
Name[dz]=Geany
Name[el]=Geany
Name[eo]=Geany
Name[es]=Geany
Name[et]=Geany
Name[eu]=Geany
Name[fi]=Geany
Name[fr]=Geany
Name[ga]=Geany
Name[gl]=Geany
Name[gu]=Geany
Name[he]=Geany
Name[hi]=Geany
Name[hr]=Geany
Name[hu]=Geany
Name[id]=Geany
Name[it]=Geany
Name[ja]=Geany
Name[ka]=Geany
Name[kk]=Geany
Name[km]=Geany
Name[ko]=Geany
Name[ku]=Geany
Name[lt]=Geany
Name[mk]=Geany
Name[ml]=Geany
Name[mr]=Geany
Name[nb]=Geany
Name[ne]=Geany
Name[nl]=Geany
Name[nn]=Geany
Name[pa]=Geany
Name[pl]=Geany
Name[pt]=Geany
Name[pt_BR]=Geany
Name[ro]=Geany
Name[ru]=Geany
Name[sk]=Geany
Name[sq]=Geany
Name[sv]=Geany
Name[ta]=Geany
Name[th]=Geany
Name[tl]=Geany
Name[tr]=Geany
Name[uk]=Geany
Name[vi]=Geany
Name[wo]=Geany
Name[zh_CN]=Geany
Name[zh_TW]=Geany
Icon=/usr/share/pixmaps/geany.xpm
Exec=/usr/bin/geany
Terminal=false
Categories=X-Debian-Applications-Programming;
