[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=gmusicbrowser
Name[ar]=gmusicbrowser
Name[ast]=gmusicbrowser
Name[be]=gmusicbrowser
Name[bg]=gmusicbrowser
Name[bn]=gmusicbrowser
Name[br]=gmusicbrowser
Name[bs]=gmusicbrowser
Name[ca]=gmusicbrowser
Name[cs]=gmusicbrowser
Name[da]=gmusicbrowser
Name[de]=gmusicbrowser
Name[dz]=gmusicbrowser
Name[el]=gmusicbrowser
Name[eo]=gmusicbrowser
Name[es]=gmusicbrowser
Name[et]=gmusicbrowser
Name[eu]=gmusicbrowser
Name[fi]=gmusicbrowser
Name[fr]=gmusicbrowser
Name[ga]=gmusicbrowser
Name[gl]=gmusicbrowser
Name[gu]=gmusicbrowser
Name[he]=gmusicbrowser
Name[hi]=gmusicbrowser
Name[hr]=gmusicbrowser
Name[hu]=gmusicbrowser
Name[id]=gmusicbrowser
Name[it]=gmusicbrowser
Name[ja]=gmusicbrowser
Name[ka]=gmusicbrowser
Name[kk]=gmusicbrowser
Name[km]=gmusicbrowser
Name[ko]=gmusicbrowser
Name[ku]=gmusicbrowser
Name[lt]=gmusicbrowser
Name[mk]=gmusicbrowser
Name[ml]=gmusicbrowser
Name[mr]=gmusicbrowser
Name[nb]=gmusicbrowser
Name[ne]=gmusicbrowser
Name[nl]=gmusicbrowser
Name[nn]=gmusicbrowser
Name[pa]=gmusicbrowser
Name[pl]=gmusicbrowser
Name[pt]=gmusicbrowser
Name[pt_BR]=gmusicbrowser
Name[ro]=gmusicbrowser
Name[ru]=gmusicbrowser
Name[sk]=gmusicbrowser
Name[sq]=gmusicbrowser
Name[sv]=gmusicbrowser
Name[ta]=gmusicbrowser
Name[th]=gmusicbrowser
Name[tl]=gmusicbrowser
Name[tr]=gmusicbrowser
Name[uk]=gmusicbrowser
Name[vi]=gmusicbrowser
Name[wo]=gmusicbrowser
Name[zh_CN]=gmusicbrowser
Name[zh_TW]=gmusicbrowser
Comment=Jukebox for mp3/ogg/flac/mpc files
Comment[ar]=Jukebox for mp3/ogg/flac/mpc files
Comment[ast]=Jukebox for mp3/ogg/flac/mpc files
Comment[be]=Jukebox for mp3/ogg/flac/mpc files
Comment[bg]=Jukebox for mp3/ogg/flac/mpc files
Comment[bn]=Jukebox for mp3/ogg/flac/mpc files
Comment[br]=Jukebox for mp3/ogg/flac/mpc files
Comment[bs]=Jukebox for mp3/ogg/flac/mpc files
Comment[ca]=Jukebox for mp3/ogg/flac/mpc files
Comment[cs]=Jukebox for mp3/ogg/flac/mpc files
Comment[da]=Jukebox for mp3/ogg/flac/mpc files
Comment[de]=Jukebox for mp3/ogg/flac/mpc files
Comment[dz]=Jukebox for mp3/ogg/flac/mpc files
Comment[el]=Jukebox for mp3/ogg/flac/mpc files
Comment[eo]=Jukebox for mp3/ogg/flac/mpc files
Comment[es]=Jukebox for mp3/ogg/flac/mpc files
Comment[et]=Jukebox for mp3/ogg/flac/mpc files
Comment[eu]=Jukebox for mp3/ogg/flac/mpc files
Comment[fi]=Jukebox for mp3/ogg/flac/mpc files
Comment[fr]=Jukebox for mp3/ogg/flac/mpc files
Comment[ga]=Jukebox for mp3/ogg/flac/mpc files
Comment[gl]=Jukebox for mp3/ogg/flac/mpc files
Comment[gu]=Jukebox for mp3/ogg/flac/mpc files
Comment[he]=Jukebox for mp3/ogg/flac/mpc files
Comment[hi]=Jukebox for mp3/ogg/flac/mpc files
Comment[hr]=Jukebox for mp3/ogg/flac/mpc files
Comment[hu]=Jukebox for mp3/ogg/flac/mpc files
Comment[id]=Jukebox for mp3/ogg/flac/mpc files
Comment[it]=Jukebox for mp3/ogg/flac/mpc files
Comment[ja]=Jukebox for mp3/ogg/flac/mpc files
Comment[ka]=Jukebox for mp3/ogg/flac/mpc files
Comment[kk]=Jukebox for mp3/ogg/flac/mpc files
Comment[km]=Jukebox for mp3/ogg/flac/mpc files
Comment[ko]=Jukebox for mp3/ogg/flac/mpc files
Comment[ku]=Jukebox for mp3/ogg/flac/mpc files
Comment[lt]=Jukebox for mp3/ogg/flac/mpc files
Comment[mk]=Jukebox for mp3/ogg/flac/mpc files
Comment[ml]=Jukebox for mp3/ogg/flac/mpc files
Comment[mr]=Jukebox for mp3/ogg/flac/mpc files
Comment[nb]=Jukebox for mp3/ogg/flac/mpc files
Comment[ne]=Jukebox for mp3/ogg/flac/mpc files
Comment[nl]=Jukebox for mp3/ogg/flac/mpc files
Comment[nn]=Jukebox for mp3/ogg/flac/mpc files
Comment[pa]=Jukebox for mp3/ogg/flac/mpc files
Comment[pl]=Jukebox for mp3/ogg/flac/mpc files
Comment[pt]=Jukebox for mp3/ogg/flac/mpc files
Comment[pt_BR]=Jukebox for mp3/ogg/flac/mpc files
Comment[ro]=Jukebox for mp3/ogg/flac/mpc files
Comment[ru]=Jukebox for mp3/ogg/flac/mpc files
Comment[sk]=Jukebox for mp3/ogg/flac/mpc files
Comment[sq]=Jukebox for mp3/ogg/flac/mpc files
Comment[sv]=Jukebox for mp3/ogg/flac/mpc files
Comment[ta]=Jukebox for mp3/ogg/flac/mpc files
Comment[th]=Jukebox for mp3/ogg/flac/mpc files
Comment[tl]=Jukebox for mp3/ogg/flac/mpc files
Comment[tr]=Jukebox for mp3/ogg/flac/mpc files
Comment[uk]=Jukebox for mp3/ogg/flac/mpc files
Comment[vi]=Jukebox for mp3/ogg/flac/mpc files
Comment[wo]=Jukebox for mp3/ogg/flac/mpc files
Comment[zh_CN]=Jukebox for mp3/ogg/flac/mpc files
Comment[zh_TW]=Jukebox for mp3/ogg/flac/mpc files
Icon=/usr/share/gmusicbrowser/pix/gmusicbrowser.xpm
Exec=/usr/bin/gmusicbrowser
Terminal=false
Categories=X-Debian-Applications-Sound;
