[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Gnome Control Center
Name[ar]=Gnome Control Center
Name[ast]=Gnome Control Center
Name[be]=Gnome Control Center
Name[bg]=Gnome Control Center
Name[bn]=Gnome Control Center
Name[br]=Gnome Control Center
Name[bs]=Gnome Control Center
Name[ca]=Gnome Control Center
Name[cs]=Gnome Control Center
Name[da]=Gnome Control Center
Name[de]=Gnome Control Center
Name[dz]=Gnome Control Center
Name[el]=Gnome Control Center
Name[eo]=Gnome Control Center
Name[es]=Gnome Control Center
Name[et]=Gnome Control Center
Name[eu]=Gnome Control Center
Name[fi]=Gnome Control Center
Name[fr]=Gnome Control Center
Name[ga]=Gnome Control Center
Name[gl]=Gnome Control Center
Name[gu]=Gnome Control Center
Name[he]=Gnome Control Center
Name[hi]=Gnome Control Center
Name[hr]=Gnome Control Center
Name[hu]=Gnome Control Center
Name[id]=Gnome Control Center
Name[it]=Gnome Control Center
Name[ja]=Gnome Control Center
Name[ka]=Gnome Control Center
Name[kk]=Gnome Control Center
Name[km]=Gnome Control Center
Name[ko]=Gnome Control Center
Name[ku]=Gnome Control Center
Name[lt]=Gnome Control Center
Name[mk]=Gnome Control Center
Name[ml]=Gnome Control Center
Name[mr]=Gnome Control Center
Name[nb]=Gnome Control Center
Name[ne]=Gnome Control Center
Name[nl]=Gnome Control Center
Name[nn]=Gnome Control Center
Name[pa]=Gnome Control Center
Name[pl]=Gnome Control Center
Name[pt]=Gnome Control Center
Name[pt_BR]=Gnome Control Center
Name[ro]=Gnome Control Center
Name[ru]=Gnome Control Center
Name[sk]=Gnome Control Center
Name[sq]=Gnome Control Center
Name[sv]=Gnome Control Center
Name[ta]=Gnome Control Center
Name[th]=Gnome Control Center
Name[tl]=Gnome Control Center
Name[tr]=Gnome Control Center
Name[uk]=Gnome Control Center
Name[vi]=Gnome Control Center
Name[wo]=Gnome Control Center
Name[zh_CN]=Gnome Control Center
Name[zh_TW]=Gnome Control Center
Icon=/usr/share/pixmaps/control-center2.xpm
Exec=/usr/bin/gnome-control-center
Terminal=false
Categories=X-Debian-Applications-System-Administration;
