[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=valknut
Name[ar]=valknut
Name[ast]=valknut
Name[be]=valknut
Name[bg]=valknut
Name[bn]=valknut
Name[br]=valknut
Name[bs]=valknut
Name[ca]=valknut
Name[cs]=valknut
Name[da]=valknut
Name[de]=valknut
Name[dz]=valknut
Name[el]=valknut
Name[eo]=valknut
Name[es]=valknut
Name[et]=valknut
Name[eu]=valknut
Name[fi]=valknut
Name[fr]=valknut
Name[ga]=valknut
Name[gl]=valknut
Name[gu]=valknut
Name[he]=valknut
Name[hi]=valknut
Name[hr]=valknut
Name[hu]=valknut
Name[id]=valknut
Name[it]=valknut
Name[ja]=valknut
Name[ka]=valknut
Name[kk]=valknut
Name[km]=valknut
Name[ko]=valknut
Name[ku]=valknut
Name[lt]=valknut
Name[mk]=valknut
Name[ml]=valknut
Name[mr]=valknut
Name[nb]=valknut
Name[ne]=valknut
Name[nl]=valknut
Name[nn]=valknut
Name[pa]=valknut
Name[pl]=valknut
Name[pt]=valknut
Name[pt_BR]=valknut
Name[ro]=valknut
Name[ru]=valknut
Name[sk]=valknut
Name[sq]=valknut
Name[sv]=valknut
Name[ta]=valknut
Name[th]=valknut
Name[tl]=valknut
Name[tr]=valknut
Name[uk]=valknut
Name[vi]=valknut
Name[wo]=valknut
Name[zh_CN]=valknut
Name[zh_TW]=valknut
Icon=/usr/share/pixmaps/valknut.xpm
Exec=/usr/bin/valknut
Terminal=false
Categories=X-Debian-Applications-Network-Communication;
