[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=GNOME ALSA Mixer
Name[ar]=GNOME ALSA Mixer
Name[ast]=GNOME ALSA Mixer
Name[be]=GNOME ALSA Mixer
Name[bg]=GNOME ALSA Mixer
Name[bn]=GNOME ALSA Mixer
Name[br]=GNOME ALSA Mixer
Name[bs]=GNOME ALSA Mixer
Name[ca]=GNOME ALSA Mixer
Name[cs]=GNOME ALSA Mixer
Name[da]=GNOME ALSA Mixer
Name[de]=GNOME ALSA Mixer
Name[dz]=GNOME ALSA Mixer
Name[el]=GNOME ALSA Mixer
Name[eo]=GNOME ALSA Mixer
Name[es]=GNOME ALSA Mixer
Name[et]=GNOME ALSA Mixer
Name[eu]=GNOME ALSA Mixer
Name[fi]=GNOME ALSA Mixer
Name[fr]=GNOME ALSA Mixer
Name[ga]=GNOME ALSA Mixer
Name[gl]=GNOME ALSA Mixer
Name[gu]=GNOME ALSA Mixer
Name[he]=GNOME ALSA Mixer
Name[hi]=GNOME ALSA Mixer
Name[hr]=GNOME ALSA Mixer
Name[hu]=GNOME ALSA Mixer
Name[id]=GNOME ALSA Mixer
Name[it]=GNOME ALSA Mixer
Name[ja]=GNOME ALSA Mixer
Name[ka]=GNOME ALSA Mixer
Name[kk]=GNOME ALSA Mixer
Name[km]=GNOME ALSA Mixer
Name[ko]=GNOME ALSA Mixer
Name[ku]=GNOME ALSA Mixer
Name[lt]=GNOME ALSA Mixer
Name[mk]=GNOME ALSA Mixer
Name[ml]=GNOME ALSA Mixer
Name[mr]=GNOME ALSA Mixer
Name[nb]=GNOME ALSA Mixer
Name[ne]=GNOME ALSA Mixer
Name[nl]=GNOME ALSA Mixer
Name[nn]=GNOME ALSA Mixer
Name[pa]=GNOME ALSA Mixer
Name[pl]=GNOME ALSA Mixer
Name[pt]=GNOME ALSA Mixer
Name[pt_BR]=GNOME ALSA Mixer
Name[ro]=GNOME ALSA Mixer
Name[ru]=GNOME ALSA Mixer
Name[sk]=GNOME ALSA Mixer
Name[sq]=GNOME ALSA Mixer
Name[sv]=GNOME ALSA Mixer
Name[ta]=GNOME ALSA Mixer
Name[th]=GNOME ALSA Mixer
Name[tl]=GNOME ALSA Mixer
Name[tr]=GNOME ALSA Mixer
Name[uk]=GNOME ALSA Mixer
Name[vi]=GNOME ALSA Mixer
Name[wo]=GNOME ALSA Mixer
Name[zh_CN]=GNOME ALSA Mixer
Name[zh_TW]=GNOME ALSA Mixer
Comment=ALSA sound mixer for GNOME
Comment[ar]=ALSA sound mixer for GNOME
Comment[ast]=ALSA sound mixer for GNOME
Comment[be]=ALSA sound mixer for GNOME
Comment[bg]=ALSA sound mixer for GNOME
Comment[bn]=ALSA sound mixer for GNOME
Comment[br]=ALSA sound mixer for GNOME
Comment[bs]=ALSA sound mixer for GNOME
Comment[ca]=ALSA sound mixer for GNOME
Comment[cs]=ALSA sound mixer for GNOME
Comment[da]=ALSA sound mixer for GNOME
Comment[de]=ALSA sound mixer for GNOME
Comment[dz]=ALSA sound mixer for GNOME
Comment[el]=ALSA sound mixer for GNOME
Comment[eo]=ALSA sound mixer for GNOME
Comment[es]=ALSA sound mixer for GNOME
Comment[et]=ALSA sound mixer for GNOME
Comment[eu]=ALSA sound mixer for GNOME
Comment[fi]=ALSA sound mixer for GNOME
Comment[fr]=ALSA sound mixer for GNOME
Comment[ga]=ALSA sound mixer for GNOME
Comment[gl]=ALSA sound mixer for GNOME
Comment[gu]=ALSA sound mixer for GNOME
Comment[he]=ALSA sound mixer for GNOME
Comment[hi]=ALSA sound mixer for GNOME
Comment[hr]=ALSA sound mixer for GNOME
Comment[hu]=ALSA sound mixer for GNOME
Comment[id]=ALSA sound mixer for GNOME
Comment[it]=ALSA sound mixer for GNOME
Comment[ja]=ALSA sound mixer for GNOME
Comment[ka]=ALSA sound mixer for GNOME
Comment[kk]=ALSA sound mixer for GNOME
Comment[km]=ALSA sound mixer for GNOME
Comment[ko]=ALSA sound mixer for GNOME
Comment[ku]=ALSA sound mixer for GNOME
Comment[lt]=ALSA sound mixer for GNOME
Comment[mk]=ALSA sound mixer for GNOME
Comment[ml]=ALSA sound mixer for GNOME
Comment[mr]=ALSA sound mixer for GNOME
Comment[nb]=ALSA sound mixer for GNOME
Comment[ne]=ALSA sound mixer for GNOME
Comment[nl]=ALSA sound mixer for GNOME
Comment[nn]=ALSA sound mixer for GNOME
Comment[pa]=ALSA sound mixer for GNOME
Comment[pl]=ALSA sound mixer for GNOME
Comment[pt]=ALSA sound mixer for GNOME
Comment[pt_BR]=ALSA sound mixer for GNOME
Comment[ro]=ALSA sound mixer for GNOME
Comment[ru]=ALSA sound mixer for GNOME
Comment[sk]=ALSA sound mixer for GNOME
Comment[sq]=ALSA sound mixer for GNOME
Comment[sv]=ALSA sound mixer for GNOME
Comment[ta]=ALSA sound mixer for GNOME
Comment[th]=ALSA sound mixer for GNOME
Comment[tl]=ALSA sound mixer for GNOME
Comment[tr]=ALSA sound mixer for GNOME
Comment[uk]=ALSA sound mixer for GNOME
Comment[vi]=ALSA sound mixer for GNOME
Comment[wo]=ALSA sound mixer for GNOME
Comment[zh_CN]=ALSA sound mixer for GNOME
Comment[zh_TW]=ALSA sound mixer for GNOME
Icon=/usr/share/pixmaps/gnome-alsamixer/gnome-alsamixer-icon.xpm
Exec=/usr/bin/gnome-alsamixer
Terminal=false
Categories=X-Debian-Applications-Sound;
