[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=amule
Name[ar]=amule
Name[ast]=amule
Name[be]=amule
Name[bg]=amule
Name[bn]=amule
Name[br]=amule
Name[bs]=amule
Name[ca]=amule
Name[cs]=amule
Name[da]=amule
Name[de]=amule
Name[dz]=amule
Name[el]=amule
Name[eo]=amule
Name[es]=amule
Name[et]=amule
Name[eu]=amule
Name[fi]=amule
Name[fr]=amule
Name[ga]=amule
Name[gl]=amule
Name[gu]=amule
Name[he]=amule
Name[hi]=amule
Name[hr]=amule
Name[hu]=amule
Name[id]=amule
Name[it]=amule
Name[ja]=amule
Name[ka]=amule
Name[kk]=amule
Name[km]=amule
Name[ko]=amule
Name[ku]=amule
Name[lt]=amule
Name[mk]=amule
Name[ml]=amule
Name[mr]=amule
Name[nb]=amule
Name[ne]=amule
Name[nl]=amule
Name[nn]=amule
Name[pa]=amule
Name[pl]=amule
Name[pt]=amule
Name[pt_BR]=amule
Name[ro]=amule
Name[ru]=amule
Name[sk]=amule
Name[sq]=amule
Name[sv]=amule
Name[ta]=amule
Name[th]=amule
Name[tl]=amule
Name[tr]=amule
Name[uk]=amule
Name[vi]=amule
Name[wo]=amule
Name[zh_CN]=amule
Name[zh_TW]=amule
Icon=/usr/share/pixmaps/amule.xpm
Exec=/usr/bin/amule
Terminal=false
Categories=X-Debian-Applications-Network-File-Transfer;
