[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=GNOME-Mud
Name[ar]=GNOME-Mud
Name[ast]=GNOME-Mud
Name[be]=GNOME-Mud
Name[bg]=GNOME-Mud
Name[bn]=GNOME-Mud
Name[br]=GNOME-Mud
Name[bs]=GNOME-Mud
Name[ca]=GNOME-Mud
Name[cs]=GNOME-Mud
Name[da]=GNOME-Mud
Name[de]=GNOME-Mud
Name[dz]=GNOME-Mud
Name[el]=GNOME-Mud
Name[eo]=GNOME-Mud
Name[es]=GNOME-Mud
Name[et]=GNOME-Mud
Name[eu]=GNOME-Mud
Name[fi]=GNOME-Mud
Name[fr]=GNOME-Mud
Name[ga]=GNOME-Mud
Name[gl]=GNOME-Mud
Name[gu]=GNOME-Mud
Name[he]=GNOME-Mud
Name[hi]=GNOME-Mud
Name[hr]=GNOME-Mud
Name[hu]=GNOME-Mud
Name[id]=GNOME-Mud
Name[it]=GNOME-Mud
Name[ja]=GNOME-Mud
Name[ka]=GNOME-Mud
Name[kk]=GNOME-Mud
Name[km]=GNOME-Mud
Name[ko]=GNOME-Mud
Name[ku]=GNOME-Mud
Name[lt]=GNOME-Mud
Name[mk]=GNOME-Mud
Name[ml]=GNOME-Mud
Name[mr]=GNOME-Mud
Name[nb]=GNOME-Mud
Name[ne]=GNOME-Mud
Name[nl]=GNOME-Mud
Name[nn]=GNOME-Mud
Name[pa]=GNOME-Mud
Name[pl]=GNOME-Mud
Name[pt]=GNOME-Mud
Name[pt_BR]=GNOME-Mud
Name[ro]=GNOME-Mud
Name[ru]=GNOME-Mud
Name[sk]=GNOME-Mud
Name[sq]=GNOME-Mud
Name[sv]=GNOME-Mud
Name[ta]=GNOME-Mud
Name[th]=GNOME-Mud
Name[tl]=GNOME-Mud
Name[tr]=GNOME-Mud
Name[uk]=GNOME-Mud
Name[vi]=GNOME-Mud
Name[wo]=GNOME-Mud
Name[zh_CN]=GNOME-Mud
Name[zh_TW]=GNOME-Mud
Comment=GNOME MUD Client
Comment[ar]=GNOME MUD Client
Comment[ast]=GNOME MUD Client
Comment[be]=GNOME MUD Client
Comment[bg]=GNOME MUD Client
Comment[bn]=GNOME MUD Client
Comment[br]=GNOME MUD Client
Comment[bs]=GNOME MUD Client
Comment[ca]=GNOME MUD Client
Comment[cs]=GNOME MUD Client
Comment[da]=GNOME MUD Client
Comment[de]=GNOME MUD Client
Comment[dz]=GNOME MUD Client
Comment[el]=GNOME MUD Client
Comment[eo]=GNOME MUD Client
Comment[es]=GNOME MUD Client
Comment[et]=GNOME MUD Client
Comment[eu]=GNOME MUD Client
Comment[fi]=GNOME MUD Client
Comment[fr]=GNOME MUD Client
Comment[ga]=GNOME MUD Client
Comment[gl]=GNOME MUD Client
Comment[gu]=GNOME MUD Client
Comment[he]=GNOME MUD Client
Comment[hi]=GNOME MUD Client
Comment[hr]=GNOME MUD Client
Comment[hu]=GNOME MUD Client
Comment[id]=GNOME MUD Client
Comment[it]=GNOME MUD Client
Comment[ja]=GNOME MUD Client
Comment[ka]=GNOME MUD Client
Comment[kk]=GNOME MUD Client
Comment[km]=GNOME MUD Client
Comment[ko]=GNOME MUD Client
Comment[ku]=GNOME MUD Client
Comment[lt]=GNOME MUD Client
Comment[mk]=GNOME MUD Client
Comment[ml]=GNOME MUD Client
Comment[mr]=GNOME MUD Client
Comment[nb]=GNOME MUD Client
Comment[ne]=GNOME MUD Client
Comment[nl]=GNOME MUD Client
Comment[nn]=GNOME MUD Client
Comment[pa]=GNOME MUD Client
Comment[pl]=GNOME MUD Client
Comment[pt]=GNOME MUD Client
Comment[pt_BR]=GNOME MUD Client
Comment[ro]=GNOME MUD Client
Comment[ru]=GNOME MUD Client
Comment[sk]=GNOME MUD Client
Comment[sq]=GNOME MUD Client
Comment[sv]=GNOME MUD Client
Comment[ta]=GNOME MUD Client
Comment[th]=GNOME MUD Client
Comment[tl]=GNOME MUD Client
Comment[tr]=GNOME MUD Client
Comment[uk]=GNOME MUD Client
Comment[vi]=GNOME MUD Client
Comment[wo]=GNOME MUD Client
Comment[zh_CN]=GNOME MUD Client
Comment[zh_TW]=GNOME MUD Client
Exec=/usr/games/gnome-mud
Terminal=false
Categories=X-Debian-Games-Adventure;
