[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=pppstatus
Name[ar]=pppstatus
Name[ast]=pppstatus
Name[be]=pppstatus
Name[bg]=pppstatus
Name[bn]=pppstatus
Name[br]=pppstatus
Name[bs]=pppstatus
Name[ca]=pppstatus
Name[cs]=pppstatus
Name[da]=pppstatus
Name[de]=pppstatus
Name[dz]=pppstatus
Name[el]=pppstatus
Name[eo]=pppstatus
Name[es]=pppstatus
Name[et]=pppstatus
Name[eu]=pppstatus
Name[fi]=pppstatus
Name[fr]=pppstatus
Name[ga]=pppstatus
Name[gl]=pppstatus
Name[gu]=pppstatus
Name[he]=pppstatus
Name[hi]=pppstatus
Name[hr]=pppstatus
Name[hu]=pppstatus
Name[id]=pppstatus
Name[it]=pppstatus
Name[ja]=pppstatus
Name[ka]=pppstatus
Name[kk]=pppstatus
Name[km]=pppstatus
Name[ko]=pppstatus
Name[ku]=pppstatus
Name[lt]=pppstatus
Name[mk]=pppstatus
Name[ml]=pppstatus
Name[mr]=pppstatus
Name[nb]=pppstatus
Name[ne]=pppstatus
Name[nl]=pppstatus
Name[nn]=pppstatus
Name[pa]=pppstatus
Name[pl]=pppstatus
Name[pt]=pppstatus
Name[pt_BR]=pppstatus
Name[ro]=pppstatus
Name[ru]=pppstatus
Name[sk]=pppstatus
Name[sq]=pppstatus
Name[sv]=pppstatus
Name[ta]=pppstatus
Name[th]=pppstatus
Name[tl]=pppstatus
Name[tr]=pppstatus
Name[uk]=pppstatus
Name[vi]=pppstatus
Name[wo]=pppstatus
Name[zh_CN]=pppstatus
Name[zh_TW]=pppstatus
Exec=/usr/bin/pppstatus
Terminal=true
Categories=X-Debian-Applications-Network-Monitoring;
