[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=fluxkeys
Name[ar]=fluxkeys
Name[ast]=fluxkeys
Name[be]=fluxkeys
Name[bg]=fluxkeys
Name[bn]=fluxkeys
Name[br]=fluxkeys
Name[bs]=fluxkeys
Name[ca]=fluxkeys
Name[cs]=fluxkeys
Name[da]=fluxkeys
Name[de]=fluxkeys
Name[dz]=fluxkeys
Name[el]=fluxkeys
Name[eo]=fluxkeys
Name[es]=fluxkeys
Name[et]=fluxkeys
Name[eu]=fluxkeys
Name[fi]=fluxkeys
Name[fr]=fluxkeys
Name[ga]=fluxkeys
Name[gl]=fluxkeys
Name[gu]=fluxkeys
Name[he]=fluxkeys
Name[hi]=fluxkeys
Name[hr]=fluxkeys
Name[hu]=fluxkeys
Name[id]=fluxkeys
Name[it]=fluxkeys
Name[ja]=fluxkeys
Name[ka]=fluxkeys
Name[kk]=fluxkeys
Name[km]=fluxkeys
Name[ko]=fluxkeys
Name[ku]=fluxkeys
Name[lt]=fluxkeys
Name[mk]=fluxkeys
Name[ml]=fluxkeys
Name[mr]=fluxkeys
Name[nb]=fluxkeys
Name[ne]=fluxkeys
Name[nl]=fluxkeys
Name[nn]=fluxkeys
Name[pa]=fluxkeys
Name[pl]=fluxkeys
Name[pt]=fluxkeys
Name[pt_BR]=fluxkeys
Name[ro]=fluxkeys
Name[ru]=fluxkeys
Name[sk]=fluxkeys
Name[sq]=fluxkeys
Name[sv]=fluxkeys
Name[ta]=fluxkeys
Name[th]=fluxkeys
Name[tl]=fluxkeys
Name[tr]=fluxkeys
Name[uk]=fluxkeys
Name[vi]=fluxkeys
Name[wo]=fluxkeys
Name[zh_CN]=fluxkeys
Name[zh_TW]=fluxkeys
Exec=/usr/bin/fluxkeys
Terminal=false
Categories=X-Debian-Applications-System-Administration;
