[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Axel front-end
Name[ar]=Axel front-end
Name[ast]=Axel front-end
Name[be]=Axel front-end
Name[bg]=Axel front-end
Name[bn]=Axel front-end
Name[br]=Axel front-end
Name[bs]=Axel front-end
Name[ca]=Axel front-end
Name[cs]=Axel front-end
Name[da]=Axel front-end
Name[de]=Axel front-end
Name[dz]=Axel front-end
Name[el]=Axel front-end
Name[eo]=Axel front-end
Name[es]=Axel front-end
Name[et]=Axel front-end
Name[eu]=Axel front-end
Name[fi]=Axel front-end
Name[fr]=Axel front-end
Name[ga]=Axel front-end
Name[gl]=Axel front-end
Name[gu]=Axel front-end
Name[he]=Axel front-end
Name[hi]=Axel front-end
Name[hr]=Axel front-end
Name[hu]=Axel front-end
Name[id]=Axel front-end
Name[it]=Axel front-end
Name[ja]=Axel front-end
Name[ka]=Axel front-end
Name[kk]=Axel front-end
Name[km]=Axel front-end
Name[ko]=Axel front-end
Name[ku]=Axel front-end
Name[lt]=Axel front-end
Name[mk]=Axel front-end
Name[ml]=Axel front-end
Name[mr]=Axel front-end
Name[nb]=Axel front-end
Name[ne]=Axel front-end
Name[nl]=Axel front-end
Name[nn]=Axel front-end
Name[pa]=Axel front-end
Name[pl]=Axel front-end
Name[pt]=Axel front-end
Name[pt_BR]=Axel front-end
Name[ro]=Axel front-end
Name[ru]=Axel front-end
Name[sk]=Axel front-end
Name[sq]=Axel front-end
Name[sv]=Axel front-end
Name[ta]=Axel front-end
Name[th]=Axel front-end
Name[tl]=Axel front-end
Name[tr]=Axel front-end
Name[uk]=Axel front-end
Name[vi]=Axel front-end
Name[wo]=Axel front-end
Name[zh_CN]=Axel front-end
Name[zh_TW]=Axel front-end
Exec=/usr/bin/axel-kapt
Terminal=false
Categories=X-Debian-Applications-Network-File-Transfer;
