[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Vinagre
Name[ar]=Vinagre
Name[ast]=Vinagre
Name[be]=Vinagre
Name[bg]=Vinagre
Name[bn]=Vinagre
Name[br]=Vinagre
Name[bs]=Vinagre
Name[ca]=Vinagre
Name[cs]=Vinagre
Name[da]=Vinagre
Name[de]=Vinagre
Name[dz]=Vinagre
Name[el]=Vinagre
Name[eo]=Vinagre
Name[es]=Vinagre
Name[et]=Vinagre
Name[eu]=Vinagre
Name[fi]=Vinagre
Name[fr]=Vinagre
Name[ga]=Vinagre
Name[gl]=Vinagre
Name[gu]=Vinagre
Name[he]=Vinagre
Name[hi]=Vinagre
Name[hr]=Vinagre
Name[hu]=Vinagre
Name[id]=Vinagre
Name[it]=Vinagre
Name[ja]=Vinagre
Name[ka]=Vinagre
Name[kk]=Vinagre
Name[km]=Vinagre
Name[ko]=Vinagre
Name[ku]=Vinagre
Name[lt]=Vinagre
Name[mk]=Vinagre
Name[ml]=Vinagre
Name[mr]=Vinagre
Name[nb]=Vinagre
Name[ne]=Vinagre
Name[nl]=Vinagre
Name[nn]=Vinagre
Name[pa]=Vinagre
Name[pl]=Vinagre
Name[pt]=Vinagre
Name[pt_BR]=Vinagre
Name[ro]=Vinagre
Name[ru]=Vinagre
Name[sk]=Vinagre
Name[sq]=Vinagre
Name[sv]=Vinagre
Name[ta]=Vinagre
Name[th]=Vinagre
Name[tl]=Vinagre
Name[tr]=Vinagre
Name[uk]=Vinagre
Name[vi]=Vinagre
Name[wo]=Vinagre
Name[zh_CN]=Vinagre
Name[zh_TW]=Vinagre
Exec=vinagre
Terminal=false
Categories=X-Debian-Applications-Network-Communication;
