[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Azureus
Name[ar]=Azureus
Name[ast]=Azureus
Name[be]=Azureus
Name[bg]=Azureus
Name[bn]=Azureus
Name[br]=Azureus
Name[bs]=Azureus
Name[ca]=Azureus
Name[cs]=Azureus
Name[da]=Azureus
Name[de]=Azureus
Name[dz]=Azureus
Name[el]=Azureus
Name[eo]=Azureus
Name[es]=Azureus
Name[et]=Azureus
Name[eu]=Azureus
Name[fi]=Azureus
Name[fr]=Azureus
Name[ga]=Azureus
Name[gl]=Azureus
Name[gu]=Azureus
Name[he]=Azureus
Name[hi]=Azureus
Name[hr]=Azureus
Name[hu]=Azureus
Name[id]=Azureus
Name[it]=Azureus
Name[ja]=Azureus
Name[ka]=Azureus
Name[kk]=Azureus
Name[km]=Azureus
Name[ko]=Azureus
Name[ku]=Azureus
Name[lt]=Azureus
Name[mk]=Azureus
Name[ml]=Azureus
Name[mr]=Azureus
Name[nb]=Azureus
Name[ne]=Azureus
Name[nl]=Azureus
Name[nn]=Azureus
Name[pa]=Azureus
Name[pl]=Azureus
Name[pt]=Azureus
Name[pt_BR]=Azureus
Name[ro]=Azureus
Name[ru]=Azureus
Name[sk]=Azureus
Name[sq]=Azureus
Name[sv]=Azureus
Name[ta]=Azureus
Name[th]=Azureus
Name[tl]=Azureus
Name[tr]=Azureus
Name[uk]=Azureus
Name[vi]=Azureus
Name[wo]=Azureus
Name[zh_CN]=Azureus
Name[zh_TW]=Azureus
Icon=/usr/share/pixmaps/azureus.xpm
Exec=/usr/bin/azureus
Terminal=false
Categories=X-Debian-Applications-Network-File-Transfer;
