[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Shotwell
Name[ar]=Shotwell
Name[ast]=Shotwell
Name[be]=Shotwell
Name[bg]=Shotwell
Name[bn]=Shotwell
Name[br]=Shotwell
Name[bs]=Shotwell
Name[ca]=Shotwell
Name[cs]=Shotwell
Name[da]=Shotwell
Name[de]=Shotwell
Name[dz]=Shotwell
Name[el]=Shotwell
Name[eo]=Shotwell
Name[es]=Shotwell
Name[et]=Shotwell
Name[eu]=Shotwell
Name[fi]=Shotwell
Name[fr]=Shotwell
Name[ga]=Shotwell
Name[gl]=Shotwell
Name[gu]=Shotwell
Name[he]=Shotwell
Name[hi]=Shotwell
Name[hr]=Shotwell
Name[hu]=Shotwell
Name[id]=Shotwell
Name[it]=Shotwell
Name[ja]=Shotwell
Name[ka]=Shotwell
Name[kk]=Shotwell
Name[km]=Shotwell
Name[ko]=Shotwell
Name[ku]=Shotwell
Name[lt]=Shotwell
Name[mk]=Shotwell
Name[ml]=Shotwell
Name[mr]=Shotwell
Name[nb]=Shotwell
Name[ne]=Shotwell
Name[nl]=Shotwell
Name[nn]=Shotwell
Name[pa]=Shotwell
Name[pl]=Shotwell
Name[pt]=Shotwell
Name[pt_BR]=Shotwell
Name[ro]=Shotwell
Name[ru]=Shotwell
Name[sk]=Shotwell
Name[sq]=Shotwell
Name[sv]=Shotwell
Name[ta]=Shotwell
Name[th]=Shotwell
Name[tl]=Shotwell
Name[tr]=Shotwell
Name[uk]=Shotwell
Name[vi]=Shotwell
Name[wo]=Shotwell
Name[zh_CN]=Shotwell
Name[zh_TW]=Shotwell
Exec=/usr/bin/shotwell
Terminal=false
Categories=X-Debian-Applications-Viewers;
