[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=mtPaint
Name[ar]=mtPaint
Name[ast]=mtPaint
Name[be]=mtPaint
Name[bg]=mtPaint
Name[bn]=mtPaint
Name[br]=mtPaint
Name[bs]=mtPaint
Name[ca]=mtPaint
Name[cs]=mtPaint
Name[da]=mtPaint
Name[de]=mtPaint
Name[dz]=mtPaint
Name[el]=mtPaint
Name[eo]=mtPaint
Name[es]=mtPaint
Name[et]=mtPaint
Name[eu]=mtPaint
Name[fi]=mtPaint
Name[fr]=mtPaint
Name[ga]=mtPaint
Name[gl]=mtPaint
Name[gu]=mtPaint
Name[he]=mtPaint
Name[hi]=mtPaint
Name[hr]=mtPaint
Name[hu]=mtPaint
Name[id]=mtPaint
Name[it]=mtPaint
Name[ja]=mtPaint
Name[ka]=mtPaint
Name[kk]=mtPaint
Name[km]=mtPaint
Name[ko]=mtPaint
Name[ku]=mtPaint
Name[lt]=mtPaint
Name[mk]=mtPaint
Name[ml]=mtPaint
Name[mr]=mtPaint
Name[nb]=mtPaint
Name[ne]=mtPaint
Name[nl]=mtPaint
Name[nn]=mtPaint
Name[pa]=mtPaint
Name[pl]=mtPaint
Name[pt]=mtPaint
Name[pt_BR]=mtPaint
Name[ro]=mtPaint
Name[ru]=mtPaint
Name[sk]=mtPaint
Name[sq]=mtPaint
Name[sv]=mtPaint
Name[ta]=mtPaint
Name[th]=mtPaint
Name[tl]=mtPaint
Name[tr]=mtPaint
Name[uk]=mtPaint
Name[vi]=mtPaint
Name[wo]=mtPaint
Name[zh_CN]=mtPaint
Name[zh_TW]=mtPaint
Exec=/usr/bin/mtpaint
Terminal=false
Categories=X-Debian-Applications-Graphics;
