[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=GNOME Dictionary
Name[ar]=GNOME Dictionary
Name[ast]=GNOME Dictionary
Name[be]=GNOME Dictionary
Name[bg]=GNOME Dictionary
Name[bn]=GNOME Dictionary
Name[br]=GNOME Dictionary
Name[bs]=GNOME Dictionary
Name[ca]=GNOME Dictionary
Name[cs]=GNOME Dictionary
Name[da]=GNOME Dictionary
Name[de]=GNOME Dictionary
Name[dz]=GNOME Dictionary
Name[el]=GNOME Dictionary
Name[eo]=GNOME Dictionary
Name[es]=GNOME Dictionary
Name[et]=GNOME Dictionary
Name[eu]=GNOME Dictionary
Name[fi]=GNOME Dictionary
Name[fr]=GNOME Dictionary
Name[ga]=GNOME Dictionary
Name[gl]=GNOME Dictionary
Name[gu]=GNOME Dictionary
Name[he]=GNOME Dictionary
Name[hi]=GNOME Dictionary
Name[hr]=GNOME Dictionary
Name[hu]=GNOME Dictionary
Name[id]=GNOME Dictionary
Name[it]=GNOME Dictionary
Name[ja]=GNOME Dictionary
Name[ka]=GNOME Dictionary
Name[kk]=GNOME Dictionary
Name[km]=GNOME Dictionary
Name[ko]=GNOME Dictionary
Name[ku]=GNOME Dictionary
Name[lt]=GNOME Dictionary
Name[mk]=GNOME Dictionary
Name[ml]=GNOME Dictionary
Name[mr]=GNOME Dictionary
Name[nb]=GNOME Dictionary
Name[ne]=GNOME Dictionary
Name[nl]=GNOME Dictionary
Name[nn]=GNOME Dictionary
Name[pa]=GNOME Dictionary
Name[pl]=GNOME Dictionary
Name[pt]=GNOME Dictionary
Name[pt_BR]=GNOME Dictionary
Name[ro]=GNOME Dictionary
Name[ru]=GNOME Dictionary
Name[sk]=GNOME Dictionary
Name[sq]=GNOME Dictionary
Name[sv]=GNOME Dictionary
Name[ta]=GNOME Dictionary
Name[th]=GNOME Dictionary
Name[tl]=GNOME Dictionary
Name[tr]=GNOME Dictionary
Name[uk]=GNOME Dictionary
Name[vi]=GNOME Dictionary
Name[wo]=GNOME Dictionary
Name[zh_CN]=GNOME Dictionary
Name[zh_TW]=GNOME Dictionary
Icon=/usr/share/pixmaps/gdict.xpm
Exec=/usr/bin/gnome-dictionary
Terminal=false
Categories=X-Debian-Applications-Text;
