[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=stardict
Name[ar]=stardict
Name[ast]=stardict
Name[be]=stardict
Name[bg]=stardict
Name[bn]=stardict
Name[br]=stardict
Name[bs]=stardict
Name[ca]=stardict
Name[cs]=stardict
Name[da]=stardict
Name[de]=stardict
Name[dz]=stardict
Name[el]=stardict
Name[eo]=stardict
Name[es]=stardict
Name[et]=stardict
Name[eu]=stardict
Name[fi]=stardict
Name[fr]=stardict
Name[ga]=stardict
Name[gl]=stardict
Name[gu]=stardict
Name[he]=stardict
Name[hi]=stardict
Name[hr]=stardict
Name[hu]=stardict
Name[id]=stardict
Name[it]=stardict
Name[ja]=stardict
Name[ka]=stardict
Name[kk]=stardict
Name[km]=stardict
Name[ko]=stardict
Name[ku]=stardict
Name[lt]=stardict
Name[mk]=stardict
Name[ml]=stardict
Name[mr]=stardict
Name[nb]=stardict
Name[ne]=stardict
Name[nl]=stardict
Name[nn]=stardict
Name[pa]=stardict
Name[pl]=stardict
Name[pt]=stardict
Name[pt_BR]=stardict
Name[ro]=stardict
Name[ru]=stardict
Name[sk]=stardict
Name[sq]=stardict
Name[sv]=stardict
Name[ta]=stardict
Name[th]=stardict
Name[tl]=stardict
Name[tr]=stardict
Name[uk]=stardict
Name[vi]=stardict
Name[wo]=stardict
Name[zh_CN]=stardict
Name[zh_TW]=stardict
Comment=dictionary lookup program
Comment[ar]=dictionary lookup program
Comment[ast]=dictionary lookup program
Comment[be]=dictionary lookup program
Comment[bg]=dictionary lookup program
Comment[bn]=dictionary lookup program
Comment[br]=dictionary lookup program
Comment[bs]=dictionary lookup program
Comment[ca]=dictionary lookup program
Comment[cs]=dictionary lookup program
Comment[da]=dictionary lookup program
Comment[de]=dictionary lookup program
Comment[dz]=dictionary lookup program
Comment[el]=dictionary lookup program
Comment[eo]=dictionary lookup program
Comment[es]=dictionary lookup program
Comment[et]=dictionary lookup program
Comment[eu]=dictionary lookup program
Comment[fi]=dictionary lookup program
Comment[fr]=dictionary lookup program
Comment[ga]=dictionary lookup program
Comment[gl]=dictionary lookup program
Comment[gu]=dictionary lookup program
Comment[he]=dictionary lookup program
Comment[hi]=dictionary lookup program
Comment[hr]=dictionary lookup program
Comment[hu]=dictionary lookup program
Comment[id]=dictionary lookup program
Comment[it]=dictionary lookup program
Comment[ja]=dictionary lookup program
Comment[ka]=dictionary lookup program
Comment[kk]=dictionary lookup program
Comment[km]=dictionary lookup program
Comment[ko]=dictionary lookup program
Comment[ku]=dictionary lookup program
Comment[lt]=dictionary lookup program
Comment[mk]=dictionary lookup program
Comment[ml]=dictionary lookup program
Comment[mr]=dictionary lookup program
Comment[nb]=dictionary lookup program
Comment[ne]=dictionary lookup program
Comment[nl]=dictionary lookup program
Comment[nn]=dictionary lookup program
Comment[pa]=dictionary lookup program
Comment[pl]=dictionary lookup program
Comment[pt]=dictionary lookup program
Comment[pt_BR]=dictionary lookup program
Comment[ro]=dictionary lookup program
Comment[ru]=dictionary lookup program
Comment[sk]=dictionary lookup program
Comment[sq]=dictionary lookup program
Comment[sv]=dictionary lookup program
Comment[ta]=dictionary lookup program
Comment[th]=dictionary lookup program
Comment[tl]=dictionary lookup program
Comment[tr]=dictionary lookup program
Comment[uk]=dictionary lookup program
Comment[vi]=dictionary lookup program
Comment[wo]=dictionary lookup program
Comment[zh_CN]=dictionary lookup program
Comment[zh_TW]=dictionary lookup program
Icon=/usr/share/pixmaps/stardict_16x16.xpm
Exec=/usr/bin/stardict
Terminal=false
Categories=X-Debian-Applications-Text;
