[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=fatrat
Name[ar]=fatrat
Name[ast]=fatrat
Name[be]=fatrat
Name[bg]=fatrat
Name[bn]=fatrat
Name[br]=fatrat
Name[bs]=fatrat
Name[ca]=fatrat
Name[cs]=fatrat
Name[da]=fatrat
Name[de]=fatrat
Name[dz]=fatrat
Name[el]=fatrat
Name[eo]=fatrat
Name[es]=fatrat
Name[et]=fatrat
Name[eu]=fatrat
Name[fi]=fatrat
Name[fr]=fatrat
Name[ga]=fatrat
Name[gl]=fatrat
Name[gu]=fatrat
Name[he]=fatrat
Name[hi]=fatrat
Name[hr]=fatrat
Name[hu]=fatrat
Name[id]=fatrat
Name[it]=fatrat
Name[ja]=fatrat
Name[ka]=fatrat
Name[kk]=fatrat
Name[km]=fatrat
Name[ko]=fatrat
Name[ku]=fatrat
Name[lt]=fatrat
Name[mk]=fatrat
Name[ml]=fatrat
Name[mr]=fatrat
Name[nb]=fatrat
Name[ne]=fatrat
Name[nl]=fatrat
Name[nn]=fatrat
Name[pa]=fatrat
Name[pl]=fatrat
Name[pt]=fatrat
Name[pt_BR]=fatrat
Name[ro]=fatrat
Name[ru]=fatrat
Name[sk]=fatrat
Name[sq]=fatrat
Name[sv]=fatrat
Name[ta]=fatrat
Name[th]=fatrat
Name[tl]=fatrat
Name[tr]=fatrat
Name[uk]=fatrat
Name[vi]=fatrat
Name[wo]=fatrat
Name[zh_CN]=fatrat
Name[zh_TW]=fatrat
Comment=FatRat download manager
Comment[ar]=FatRat download manager
Comment[ast]=FatRat download manager
Comment[be]=FatRat download manager
Comment[bg]=FatRat download manager
Comment[bn]=FatRat download manager
Comment[br]=FatRat download manager
Comment[bs]=FatRat download manager
Comment[ca]=FatRat download manager
Comment[cs]=FatRat download manager
Comment[da]=FatRat download manager
Comment[de]=FatRat download manager
Comment[dz]=FatRat download manager
Comment[el]=FatRat download manager
Comment[eo]=FatRat download manager
Comment[es]=FatRat download manager
Comment[et]=FatRat download manager
Comment[eu]=FatRat download manager
Comment[fi]=FatRat download manager
Comment[fr]=FatRat download manager
Comment[ga]=FatRat download manager
Comment[gl]=FatRat download manager
Comment[gu]=FatRat download manager
Comment[he]=FatRat download manager
Comment[hi]=FatRat download manager
Comment[hr]=FatRat download manager
Comment[hu]=FatRat download manager
Comment[id]=FatRat download manager
Comment[it]=FatRat download manager
Comment[ja]=FatRat download manager
Comment[ka]=FatRat download manager
Comment[kk]=FatRat download manager
Comment[km]=FatRat download manager
Comment[ko]=FatRat download manager
Comment[ku]=FatRat download manager
Comment[lt]=FatRat download manager
Comment[mk]=FatRat download manager
Comment[ml]=FatRat download manager
Comment[mr]=FatRat download manager
Comment[nb]=FatRat download manager
Comment[ne]=FatRat download manager
Comment[nl]=FatRat download manager
Comment[nn]=FatRat download manager
Comment[pa]=FatRat download manager
Comment[pl]=FatRat download manager
Comment[pt]=FatRat download manager
Comment[pt_BR]=FatRat download manager
Comment[ro]=FatRat download manager
Comment[ru]=FatRat download manager
Comment[sk]=FatRat download manager
Comment[sq]=FatRat download manager
Comment[sv]=FatRat download manager
Comment[ta]=FatRat download manager
Comment[th]=FatRat download manager
Comment[tl]=FatRat download manager
Comment[tr]=FatRat download manager
Comment[uk]=FatRat download manager
Comment[vi]=FatRat download manager
Comment[wo]=FatRat download manager
Comment[zh_CN]=FatRat download manager
Comment[zh_TW]=FatRat download manager
Icon=/usr/share/pixmaps/fatrat.xpm
Exec=/usr/bin/fatrat
Terminal=false
Categories=X-Debian-Applications-Network-File-Transfer;
