[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Glade 3
Name[ar]=Glade 3
Name[ast]=Glade 3
Name[be]=Glade 3
Name[bg]=Glade 3
Name[bn]=Glade 3
Name[br]=Glade 3
Name[bs]=Glade 3
Name[ca]=Glade 3
Name[cs]=Glade 3
Name[da]=Glade 3
Name[de]=Glade 3
Name[dz]=Glade 3
Name[el]=Glade 3
Name[eo]=Glade 3
Name[es]=Glade 3
Name[et]=Glade 3
Name[eu]=Glade 3
Name[fi]=Glade 3
Name[fr]=Glade 3
Name[ga]=Glade 3
Name[gl]=Glade 3
Name[gu]=Glade 3
Name[he]=Glade 3
Name[hi]=Glade 3
Name[hr]=Glade 3
Name[hu]=Glade 3
Name[id]=Glade 3
Name[it]=Glade 3
Name[ja]=Glade 3
Name[ka]=Glade 3
Name[kk]=Glade 3
Name[km]=Glade 3
Name[ko]=Glade 3
Name[ku]=Glade 3
Name[lt]=Glade 3
Name[mk]=Glade 3
Name[ml]=Glade 3
Name[mr]=Glade 3
Name[nb]=Glade 3
Name[ne]=Glade 3
Name[nl]=Glade 3
Name[nn]=Glade 3
Name[pa]=Glade 3
Name[pl]=Glade 3
Name[pt]=Glade 3
Name[pt_BR]=Glade 3
Name[ro]=Glade 3
Name[ru]=Glade 3
Name[sk]=Glade 3
Name[sq]=Glade 3
Name[sv]=Glade 3
Name[ta]=Glade 3
Name[th]=Glade 3
Name[tl]=Glade 3
Name[tr]=Glade 3
Name[uk]=Glade 3
Name[vi]=Glade 3
Name[wo]=Glade 3
Name[zh_CN]=Glade 3
Name[zh_TW]=Glade 3
Icon=/usr/share/pixmaps/glade.xpm
Exec=/usr/bin/glade
Terminal=false
Categories=X-Debian-Applications-Programming;
