[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=GNOME partition editor
Name[ar]=GNOME partition editor
Name[ast]=GNOME partition editor
Name[be]=GNOME partition editor
Name[bg]=GNOME partition editor
Name[bn]=GNOME partition editor
Name[br]=GNOME partition editor
Name[bs]=GNOME partition editor
Name[ca]=GNOME partition editor
Name[cs]=GNOME partition editor
Name[da]=GNOME partition editor
Name[de]=GNOME partition editor
Name[dz]=GNOME partition editor
Name[el]=GNOME partition editor
Name[eo]=GNOME partition editor
Name[es]=GNOME partition editor
Name[et]=GNOME partition editor
Name[eu]=GNOME partition editor
Name[fi]=GNOME partition editor
Name[fr]=GNOME partition editor
Name[ga]=GNOME partition editor
Name[gl]=GNOME partition editor
Name[gu]=GNOME partition editor
Name[he]=GNOME partition editor
Name[hi]=GNOME partition editor
Name[hr]=GNOME partition editor
Name[hu]=GNOME partition editor
Name[id]=GNOME partition editor
Name[it]=GNOME partition editor
Name[ja]=GNOME partition editor
Name[ka]=GNOME partition editor
Name[kk]=GNOME partition editor
Name[km]=GNOME partition editor
Name[ko]=GNOME partition editor
Name[ku]=GNOME partition editor
Name[lt]=GNOME partition editor
Name[mk]=GNOME partition editor
Name[ml]=GNOME partition editor
Name[mr]=GNOME partition editor
Name[nb]=GNOME partition editor
Name[ne]=GNOME partition editor
Name[nl]=GNOME partition editor
Name[nn]=GNOME partition editor
Name[pa]=GNOME partition editor
Name[pl]=GNOME partition editor
Name[pt]=GNOME partition editor
Name[pt_BR]=GNOME partition editor
Name[ro]=GNOME partition editor
Name[ru]=GNOME partition editor
Name[sk]=GNOME partition editor
Name[sq]=GNOME partition editor
Name[sv]=GNOME partition editor
Name[ta]=GNOME partition editor
Name[th]=GNOME partition editor
Name[tl]=GNOME partition editor
Name[tr]=GNOME partition editor
Name[uk]=GNOME partition editor
Name[vi]=GNOME partition editor
Name[wo]=GNOME partition editor
Name[zh_CN]=GNOME partition editor
Name[zh_TW]=GNOME partition editor
Icon=/usr/share/pixmaps/gparted.xpm
Exec=su-to-root -X -c /usr/sbin/gparted
Terminal=false
Categories=X-Debian-Applications-System-Administration;
