[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Joe
Name[ar]=Joe
Name[ast]=Joe
Name[be]=Joe
Name[bg]=Joe
Name[bn]=Joe
Name[br]=Joe
Name[bs]=Joe
Name[ca]=Joe
Name[cs]=Joe
Name[da]=Joe
Name[de]=Joe
Name[dz]=Joe
Name[el]=Joe
Name[eo]=Joe
Name[es]=Joe
Name[et]=Joe
Name[eu]=Joe
Name[fi]=Joe
Name[fr]=Joe
Name[ga]=Joe
Name[gl]=Joe
Name[gu]=Joe
Name[he]=Joe
Name[hi]=Joe
Name[hr]=Joe
Name[hu]=Joe
Name[id]=Joe
Name[it]=Joe
Name[ja]=Joe
Name[ka]=Joe
Name[kk]=Joe
Name[km]=Joe
Name[ko]=Joe
Name[ku]=Joe
Name[lt]=Joe
Name[mk]=Joe
Name[ml]=Joe
Name[mr]=Joe
Name[nb]=Joe
Name[ne]=Joe
Name[nl]=Joe
Name[nn]=Joe
Name[pa]=Joe
Name[pl]=Joe
Name[pt]=Joe
Name[pt_BR]=Joe
Name[ro]=Joe
Name[ru]=Joe
Name[sk]=Joe
Name[sq]=Joe
Name[sv]=Joe
Name[ta]=Joe
Name[th]=Joe
Name[tl]=Joe
Name[tr]=Joe
Name[uk]=Joe
Name[vi]=Joe
Name[wo]=Joe
Name[zh_CN]=Joe
Name[zh_TW]=Joe
Exec=/usr/bin/joe
Terminal=true
Categories=X-Debian-Applications-Editors;
