[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Gnome Catalog
Name[ar]=Gnome Catalog
Name[ast]=Gnome Catalog
Name[be]=Gnome Catalog
Name[bg]=Gnome Catalog
Name[bn]=Gnome Catalog
Name[br]=Gnome Catalog
Name[bs]=Gnome Catalog
Name[ca]=Gnome Catalog
Name[cs]=Gnome Catalog
Name[da]=Gnome Catalog
Name[de]=Gnome Catalog
Name[dz]=Gnome Catalog
Name[el]=Gnome Catalog
Name[eo]=Gnome Catalog
Name[es]=Gnome Catalog
Name[et]=Gnome Catalog
Name[eu]=Gnome Catalog
Name[fi]=Gnome Catalog
Name[fr]=Gnome Catalog
Name[ga]=Gnome Catalog
Name[gl]=Gnome Catalog
Name[gu]=Gnome Catalog
Name[he]=Gnome Catalog
Name[hi]=Gnome Catalog
Name[hr]=Gnome Catalog
Name[hu]=Gnome Catalog
Name[id]=Gnome Catalog
Name[it]=Gnome Catalog
Name[ja]=Gnome Catalog
Name[ka]=Gnome Catalog
Name[kk]=Gnome Catalog
Name[km]=Gnome Catalog
Name[ko]=Gnome Catalog
Name[ku]=Gnome Catalog
Name[lt]=Gnome Catalog
Name[mk]=Gnome Catalog
Name[ml]=Gnome Catalog
Name[mr]=Gnome Catalog
Name[nb]=Gnome Catalog
Name[ne]=Gnome Catalog
Name[nl]=Gnome Catalog
Name[nn]=Gnome Catalog
Name[pa]=Gnome Catalog
Name[pl]=Gnome Catalog
Name[pt]=Gnome Catalog
Name[pt_BR]=Gnome Catalog
Name[ro]=Gnome Catalog
Name[ru]=Gnome Catalog
Name[sk]=Gnome Catalog
Name[sq]=Gnome Catalog
Name[sv]=Gnome Catalog
Name[ta]=Gnome Catalog
Name[th]=Gnome Catalog
Name[tl]=Gnome Catalog
Name[tr]=Gnome Catalog
Name[uk]=Gnome Catalog
Name[vi]=Gnome Catalog
Name[wo]=Gnome Catalog
Name[zh_CN]=Gnome Catalog
Name[zh_TW]=Gnome Catalog
Icon=/usr/share/gnomecatalog/pixmaps/gcatalog.xpm
Exec=gnomecatalog
Terminal=false
Categories=X-Debian-Applications-Data-Management;
