[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=fluxmenu
Name[ar]=fluxmenu
Name[ast]=fluxmenu
Name[be]=fluxmenu
Name[bg]=fluxmenu
Name[bn]=fluxmenu
Name[br]=fluxmenu
Name[bs]=fluxmenu
Name[ca]=fluxmenu
Name[cs]=fluxmenu
Name[da]=fluxmenu
Name[de]=fluxmenu
Name[dz]=fluxmenu
Name[el]=fluxmenu
Name[eo]=fluxmenu
Name[es]=fluxmenu
Name[et]=fluxmenu
Name[eu]=fluxmenu
Name[fi]=fluxmenu
Name[fr]=fluxmenu
Name[ga]=fluxmenu
Name[gl]=fluxmenu
Name[gu]=fluxmenu
Name[he]=fluxmenu
Name[hi]=fluxmenu
Name[hr]=fluxmenu
Name[hu]=fluxmenu
Name[id]=fluxmenu
Name[it]=fluxmenu
Name[ja]=fluxmenu
Name[ka]=fluxmenu
Name[kk]=fluxmenu
Name[km]=fluxmenu
Name[ko]=fluxmenu
Name[ku]=fluxmenu
Name[lt]=fluxmenu
Name[mk]=fluxmenu
Name[ml]=fluxmenu
Name[mr]=fluxmenu
Name[nb]=fluxmenu
Name[ne]=fluxmenu
Name[nl]=fluxmenu
Name[nn]=fluxmenu
Name[pa]=fluxmenu
Name[pl]=fluxmenu
Name[pt]=fluxmenu
Name[pt_BR]=fluxmenu
Name[ro]=fluxmenu
Name[ru]=fluxmenu
Name[sk]=fluxmenu
Name[sq]=fluxmenu
Name[sv]=fluxmenu
Name[ta]=fluxmenu
Name[th]=fluxmenu
Name[tl]=fluxmenu
Name[tr]=fluxmenu
Name[uk]=fluxmenu
Name[vi]=fluxmenu
Name[wo]=fluxmenu
Name[zh_CN]=fluxmenu
Name[zh_TW]=fluxmenu
Exec=/usr/bin/fluxmenu
Terminal=false
Categories=X-Debian-Applications-System-Administration;
