[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Xpaint
Name[ar]=Xpaint
Name[ast]=Xpaint
Name[be]=Xpaint
Name[bg]=Xpaint
Name[bn]=Xpaint
Name[br]=Xpaint
Name[bs]=Xpaint
Name[ca]=Xpaint
Name[cs]=Xpaint
Name[da]=Xpaint
Name[de]=Xpaint
Name[dz]=Xpaint
Name[el]=Xpaint
Name[eo]=Xpaint
Name[es]=Xpaint
Name[et]=Xpaint
Name[eu]=Xpaint
Name[fi]=Xpaint
Name[fr]=Xpaint
Name[ga]=Xpaint
Name[gl]=Xpaint
Name[gu]=Xpaint
Name[he]=Xpaint
Name[hi]=Xpaint
Name[hr]=Xpaint
Name[hu]=Xpaint
Name[id]=Xpaint
Name[it]=Xpaint
Name[ja]=Xpaint
Name[ka]=Xpaint
Name[kk]=Xpaint
Name[km]=Xpaint
Name[ko]=Xpaint
Name[ku]=Xpaint
Name[lt]=Xpaint
Name[mk]=Xpaint
Name[ml]=Xpaint
Name[mr]=Xpaint
Name[nb]=Xpaint
Name[ne]=Xpaint
Name[nl]=Xpaint
Name[nn]=Xpaint
Name[pa]=Xpaint
Name[pl]=Xpaint
Name[pt]=Xpaint
Name[pt_BR]=Xpaint
Name[ro]=Xpaint
Name[ru]=Xpaint
Name[sk]=Xpaint
Name[sq]=Xpaint
Name[sv]=Xpaint
Name[ta]=Xpaint
Name[th]=Xpaint
Name[tl]=Xpaint
Name[tr]=Xpaint
Name[uk]=Xpaint
Name[vi]=Xpaint
Name[wo]=Xpaint
Name[zh_CN]=Xpaint
Name[zh_TW]=Xpaint
Comment=Xpaint: simple paint program for X
Comment[ar]=Xpaint: simple paint program for X
Comment[ast]=Xpaint: simple paint program for X
Comment[be]=Xpaint: simple paint program for X
Comment[bg]=Xpaint: simple paint program for X
Comment[bn]=Xpaint: simple paint program for X
Comment[br]=Xpaint: simple paint program for X
Comment[bs]=Xpaint: simple paint program for X
Comment[ca]=Xpaint: simple paint program for X
Comment[cs]=Xpaint: simple paint program for X
Comment[da]=Xpaint: simple paint program for X
Comment[de]=Xpaint: simple paint program for X
Comment[dz]=Xpaint: simple paint program for X
Comment[el]=Xpaint: simple paint program for X
Comment[eo]=Xpaint: simple paint program for X
Comment[es]=Xpaint: simple paint program for X
Comment[et]=Xpaint: simple paint program for X
Comment[eu]=Xpaint: simple paint program for X
Comment[fi]=Xpaint: simple paint program for X
Comment[fr]=Xpaint: simple paint program for X
Comment[ga]=Xpaint: simple paint program for X
Comment[gl]=Xpaint: simple paint program for X
Comment[gu]=Xpaint: simple paint program for X
Comment[he]=Xpaint: simple paint program for X
Comment[hi]=Xpaint: simple paint program for X
Comment[hr]=Xpaint: simple paint program for X
Comment[hu]=Xpaint: simple paint program for X
Comment[id]=Xpaint: simple paint program for X
Comment[it]=Xpaint: simple paint program for X
Comment[ja]=Xpaint: simple paint program for X
Comment[ka]=Xpaint: simple paint program for X
Comment[kk]=Xpaint: simple paint program for X
Comment[km]=Xpaint: simple paint program for X
Comment[ko]=Xpaint: simple paint program for X
Comment[ku]=Xpaint: simple paint program for X
Comment[lt]=Xpaint: simple paint program for X
Comment[mk]=Xpaint: simple paint program for X
Comment[ml]=Xpaint: simple paint program for X
Comment[mr]=Xpaint: simple paint program for X
Comment[nb]=Xpaint: simple paint program for X
Comment[ne]=Xpaint: simple paint program for X
Comment[nl]=Xpaint: simple paint program for X
Comment[nn]=Xpaint: simple paint program for X
Comment[pa]=Xpaint: simple paint program for X
Comment[pl]=Xpaint: simple paint program for X
Comment[pt]=Xpaint: simple paint program for X
Comment[pt_BR]=Xpaint: simple paint program for X
Comment[ro]=Xpaint: simple paint program for X
Comment[ru]=Xpaint: simple paint program for X
Comment[sk]=Xpaint: simple paint program for X
Comment[sq]=Xpaint: simple paint program for X
Comment[sv]=Xpaint: simple paint program for X
Comment[ta]=Xpaint: simple paint program for X
Comment[th]=Xpaint: simple paint program for X
Comment[tl]=Xpaint: simple paint program for X
Comment[tr]=Xpaint: simple paint program for X
Comment[uk]=Xpaint: simple paint program for X
Comment[vi]=Xpaint: simple paint program for X
Comment[wo]=Xpaint: simple paint program for X
Comment[zh_CN]=Xpaint: simple paint program for X
Comment[zh_TW]=Xpaint: simple paint program for X
Exec=/usr/bin/xpaint
Terminal=false
Categories=X-Debian-Applications-Graphics;
