[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Bochs
Name[ar]=Bochs
Name[ast]=Bochs
Name[be]=Bochs
Name[bg]=Bochs
Name[bn]=Bochs
Name[br]=Bochs
Name[bs]=Bochs
Name[ca]=Bochs
Name[cs]=Bochs
Name[da]=Bochs
Name[de]=Bochs
Name[dz]=Bochs
Name[el]=Bochs
Name[eo]=Bochs
Name[es]=Bochs
Name[et]=Bochs
Name[eu]=Bochs
Name[fi]=Bochs
Name[fr]=Bochs
Name[ga]=Bochs
Name[gl]=Bochs
Name[gu]=Bochs
Name[he]=Bochs
Name[hi]=Bochs
Name[hr]=Bochs
Name[hu]=Bochs
Name[id]=Bochs
Name[it]=Bochs
Name[ja]=Bochs
Name[ka]=Bochs
Name[kk]=Bochs
Name[km]=Bochs
Name[ko]=Bochs
Name[ku]=Bochs
Name[lt]=Bochs
Name[mk]=Bochs
Name[ml]=Bochs
Name[mr]=Bochs
Name[nb]=Bochs
Name[ne]=Bochs
Name[nl]=Bochs
Name[nn]=Bochs
Name[pa]=Bochs
Name[pl]=Bochs
Name[pt]=Bochs
Name[pt_BR]=Bochs
Name[ro]=Bochs
Name[ru]=Bochs
Name[sk]=Bochs
Name[sq]=Bochs
Name[sv]=Bochs
Name[ta]=Bochs
Name[th]=Bochs
Name[tl]=Bochs
Name[tr]=Bochs
Name[uk]=Bochs
Name[vi]=Bochs
Name[wo]=Bochs
Name[zh_CN]=Bochs
Name[zh_TW]=Bochs
Exec=/usr/bin/bochs
Terminal=false
Categories=X-Debian-Applications-Emulators;
