[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=gmpc
Name[ar]=gmpc
Name[ast]=gmpc
Name[be]=gmpc
Name[bg]=gmpc
Name[bn]=gmpc
Name[br]=gmpc
Name[bs]=gmpc
Name[ca]=gmpc
Name[cs]=gmpc
Name[da]=gmpc
Name[de]=gmpc
Name[dz]=gmpc
Name[el]=gmpc
Name[eo]=gmpc
Name[es]=gmpc
Name[et]=gmpc
Name[eu]=gmpc
Name[fi]=gmpc
Name[fr]=gmpc
Name[ga]=gmpc
Name[gl]=gmpc
Name[gu]=gmpc
Name[he]=gmpc
Name[hi]=gmpc
Name[hr]=gmpc
Name[hu]=gmpc
Name[id]=gmpc
Name[it]=gmpc
Name[ja]=gmpc
Name[ka]=gmpc
Name[kk]=gmpc
Name[km]=gmpc
Name[ko]=gmpc
Name[ku]=gmpc
Name[lt]=gmpc
Name[mk]=gmpc
Name[ml]=gmpc
Name[mr]=gmpc
Name[nb]=gmpc
Name[ne]=gmpc
Name[nl]=gmpc
Name[nn]=gmpc
Name[pa]=gmpc
Name[pl]=gmpc
Name[pt]=gmpc
Name[pt_BR]=gmpc
Name[ro]=gmpc
Name[ru]=gmpc
Name[sk]=gmpc
Name[sq]=gmpc
Name[sv]=gmpc
Name[ta]=gmpc
Name[th]=gmpc
Name[tl]=gmpc
Name[tr]=gmpc
Name[uk]=gmpc
Name[vi]=gmpc
Name[wo]=gmpc
Name[zh_CN]=gmpc
Name[zh_TW]=gmpc
Comment=GNOME Music Player Client
Comment[ar]=GNOME Music Player Client
Comment[ast]=GNOME Music Player Client
Comment[be]=GNOME Music Player Client
Comment[bg]=GNOME Music Player Client
Comment[bn]=GNOME Music Player Client
Comment[br]=GNOME Music Player Client
Comment[bs]=GNOME Music Player Client
Comment[ca]=GNOME Music Player Client
Comment[cs]=GNOME Music Player Client
Comment[da]=GNOME Music Player Client
Comment[de]=GNOME Music Player Client
Comment[dz]=GNOME Music Player Client
Comment[el]=GNOME Music Player Client
Comment[eo]=GNOME Music Player Client
Comment[es]=GNOME Music Player Client
Comment[et]=GNOME Music Player Client
Comment[eu]=GNOME Music Player Client
Comment[fi]=GNOME Music Player Client
Comment[fr]=GNOME Music Player Client
Comment[ga]=GNOME Music Player Client
Comment[gl]=GNOME Music Player Client
Comment[gu]=GNOME Music Player Client
Comment[he]=GNOME Music Player Client
Comment[hi]=GNOME Music Player Client
Comment[hr]=GNOME Music Player Client
Comment[hu]=GNOME Music Player Client
Comment[id]=GNOME Music Player Client
Comment[it]=GNOME Music Player Client
Comment[ja]=GNOME Music Player Client
Comment[ka]=GNOME Music Player Client
Comment[kk]=GNOME Music Player Client
Comment[km]=GNOME Music Player Client
Comment[ko]=GNOME Music Player Client
Comment[ku]=GNOME Music Player Client
Comment[lt]=GNOME Music Player Client
Comment[mk]=GNOME Music Player Client
Comment[ml]=GNOME Music Player Client
Comment[mr]=GNOME Music Player Client
Comment[nb]=GNOME Music Player Client
Comment[ne]=GNOME Music Player Client
Comment[nl]=GNOME Music Player Client
Comment[nn]=GNOME Music Player Client
Comment[pa]=GNOME Music Player Client
Comment[pl]=GNOME Music Player Client
Comment[pt]=GNOME Music Player Client
Comment[pt_BR]=GNOME Music Player Client
Comment[ro]=GNOME Music Player Client
Comment[ru]=GNOME Music Player Client
Comment[sk]=GNOME Music Player Client
Comment[sq]=GNOME Music Player Client
Comment[sv]=GNOME Music Player Client
Comment[ta]=GNOME Music Player Client
Comment[th]=GNOME Music Player Client
Comment[tl]=GNOME Music Player Client
Comment[tr]=GNOME Music Player Client
Comment[uk]=GNOME Music Player Client
Comment[vi]=GNOME Music Player Client
Comment[wo]=GNOME Music Player Client
Comment[zh_CN]=GNOME Music Player Client
Comment[zh_TW]=GNOME Music Player Client
Icon=/usr/share/pixmaps/gmpc.xpm
Exec=/usr/bin/gmpc
Terminal=false
Categories=X-Debian-Applications-Sound;
