[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Seahorse
Name[ar]=Seahorse
Name[ast]=Seahorse
Name[be]=Seahorse
Name[bg]=Seahorse
Name[bn]=Seahorse
Name[br]=Seahorse
Name[bs]=Seahorse
Name[ca]=Seahorse
Name[cs]=Seahorse
Name[da]=Seahorse
Name[de]=Seahorse
Name[dz]=Seahorse
Name[el]=Seahorse
Name[eo]=Seahorse
Name[es]=Seahorse
Name[et]=Seahorse
Name[eu]=Seahorse
Name[fi]=Seahorse
Name[fr]=Seahorse
Name[ga]=Seahorse
Name[gl]=Seahorse
Name[gu]=Seahorse
Name[he]=Seahorse
Name[hi]=Seahorse
Name[hr]=Seahorse
Name[hu]=Seahorse
Name[id]=Seahorse
Name[it]=Seahorse
Name[ja]=Seahorse
Name[ka]=Seahorse
Name[kk]=Seahorse
Name[km]=Seahorse
Name[ko]=Seahorse
Name[ku]=Seahorse
Name[lt]=Seahorse
Name[mk]=Seahorse
Name[ml]=Seahorse
Name[mr]=Seahorse
Name[nb]=Seahorse
Name[ne]=Seahorse
Name[nl]=Seahorse
Name[nn]=Seahorse
Name[pa]=Seahorse
Name[pl]=Seahorse
Name[pt]=Seahorse
Name[pt_BR]=Seahorse
Name[ro]=Seahorse
Name[ru]=Seahorse
Name[sk]=Seahorse
Name[sq]=Seahorse
Name[sv]=Seahorse
Name[ta]=Seahorse
Name[th]=Seahorse
Name[tl]=Seahorse
Name[tr]=Seahorse
Name[uk]=Seahorse
Name[vi]=Seahorse
Name[wo]=Seahorse
Name[zh_CN]=Seahorse
Name[zh_TW]=Seahorse
Comment=A GNOME frontend for GnuPG
Comment[ar]=A GNOME frontend for GnuPG
Comment[ast]=A GNOME frontend for GnuPG
Comment[be]=A GNOME frontend for GnuPG
Comment[bg]=A GNOME frontend for GnuPG
Comment[bn]=A GNOME frontend for GnuPG
Comment[br]=A GNOME frontend for GnuPG
Comment[bs]=A GNOME frontend for GnuPG
Comment[ca]=A GNOME frontend for GnuPG
Comment[cs]=A GNOME frontend for GnuPG
Comment[da]=A GNOME frontend for GnuPG
Comment[de]=A GNOME frontend for GnuPG
Comment[dz]=A GNOME frontend for GnuPG
Comment[el]=A GNOME frontend for GnuPG
Comment[eo]=A GNOME frontend for GnuPG
Comment[es]=A GNOME frontend for GnuPG
Comment[et]=A GNOME frontend for GnuPG
Comment[eu]=A GNOME frontend for GnuPG
Comment[fi]=A GNOME frontend for GnuPG
Comment[fr]=A GNOME frontend for GnuPG
Comment[ga]=A GNOME frontend for GnuPG
Comment[gl]=A GNOME frontend for GnuPG
Comment[gu]=A GNOME frontend for GnuPG
Comment[he]=A GNOME frontend for GnuPG
Comment[hi]=A GNOME frontend for GnuPG
Comment[hr]=A GNOME frontend for GnuPG
Comment[hu]=A GNOME frontend for GnuPG
Comment[id]=A GNOME frontend for GnuPG
Comment[it]=A GNOME frontend for GnuPG
Comment[ja]=A GNOME frontend for GnuPG
Comment[ka]=A GNOME frontend for GnuPG
Comment[kk]=A GNOME frontend for GnuPG
Comment[km]=A GNOME frontend for GnuPG
Comment[ko]=A GNOME frontend for GnuPG
Comment[ku]=A GNOME frontend for GnuPG
Comment[lt]=A GNOME frontend for GnuPG
Comment[mk]=A GNOME frontend for GnuPG
Comment[ml]=A GNOME frontend for GnuPG
Comment[mr]=A GNOME frontend for GnuPG
Comment[nb]=A GNOME frontend for GnuPG
Comment[ne]=A GNOME frontend for GnuPG
Comment[nl]=A GNOME frontend for GnuPG
Comment[nn]=A GNOME frontend for GnuPG
Comment[pa]=A GNOME frontend for GnuPG
Comment[pl]=A GNOME frontend for GnuPG
Comment[pt]=A GNOME frontend for GnuPG
Comment[pt_BR]=A GNOME frontend for GnuPG
Comment[ro]=A GNOME frontend for GnuPG
Comment[ru]=A GNOME frontend for GnuPG
Comment[sk]=A GNOME frontend for GnuPG
Comment[sq]=A GNOME frontend for GnuPG
Comment[sv]=A GNOME frontend for GnuPG
Comment[ta]=A GNOME frontend for GnuPG
Comment[th]=A GNOME frontend for GnuPG
Comment[tl]=A GNOME frontend for GnuPG
Comment[tr]=A GNOME frontend for GnuPG
Comment[uk]=A GNOME frontend for GnuPG
Comment[vi]=A GNOME frontend for GnuPG
Comment[wo]=A GNOME frontend for GnuPG
Comment[zh_CN]=A GNOME frontend for GnuPG
Comment[zh_TW]=A GNOME frontend for GnuPG
Icon=/usr/share/pixmaps/seahorse.xpm
Exec=/usr/bin/seahorse
Terminal=false
Categories=X-Debian-Applications-System-Security;
