[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=fspanel (aewm++-goodies version)
Name[ar]=fspanel (aewm++-goodies version)
Name[ast]=fspanel (aewm++-goodies version)
Name[be]=fspanel (aewm++-goodies version)
Name[bg]=fspanel (aewm++-goodies version)
Name[bn]=fspanel (aewm++-goodies version)
Name[br]=fspanel (aewm++-goodies version)
Name[bs]=fspanel (aewm++-goodies version)
Name[ca]=fspanel (aewm++-goodies version)
Name[cs]=fspanel (aewm++-goodies version)
Name[da]=fspanel (aewm++-goodies version)
Name[de]=fspanel (aewm++-goodies version)
Name[dz]=fspanel (aewm++-goodies version)
Name[el]=fspanel (aewm++-goodies version)
Name[eo]=fspanel (aewm++-goodies version)
Name[es]=fspanel (aewm++-goodies version)
Name[et]=fspanel (aewm++-goodies version)
Name[eu]=fspanel (aewm++-goodies version)
Name[fi]=fspanel (aewm++-goodies version)
Name[fr]=fspanel (aewm++-goodies version)
Name[ga]=fspanel (aewm++-goodies version)
Name[gl]=fspanel (aewm++-goodies version)
Name[gu]=fspanel (aewm++-goodies version)
Name[he]=fspanel (aewm++-goodies version)
Name[hi]=fspanel (aewm++-goodies version)
Name[hr]=fspanel (aewm++-goodies version)
Name[hu]=fspanel (aewm++-goodies version)
Name[id]=fspanel (aewm++-goodies version)
Name[it]=fspanel (aewm++-goodies version)
Name[ja]=fspanel (aewm++-goodies version)
Name[ka]=fspanel (aewm++-goodies version)
Name[kk]=fspanel (aewm++-goodies version)
Name[km]=fspanel (aewm++-goodies version)
Name[ko]=fspanel (aewm++-goodies version)
Name[ku]=fspanel (aewm++-goodies version)
Name[lt]=fspanel (aewm++-goodies version)
Name[mk]=fspanel (aewm++-goodies version)
Name[ml]=fspanel (aewm++-goodies version)
Name[mr]=fspanel (aewm++-goodies version)
Name[nb]=fspanel (aewm++-goodies version)
Name[ne]=fspanel (aewm++-goodies version)
Name[nl]=fspanel (aewm++-goodies version)
Name[nn]=fspanel (aewm++-goodies version)
Name[pa]=fspanel (aewm++-goodies version)
Name[pl]=fspanel (aewm++-goodies version)
Name[pt]=fspanel (aewm++-goodies version)
Name[pt_BR]=fspanel (aewm++-goodies version)
Name[ro]=fspanel (aewm++-goodies version)
Name[ru]=fspanel (aewm++-goodies version)
Name[sk]=fspanel (aewm++-goodies version)
Name[sq]=fspanel (aewm++-goodies version)
Name[sv]=fspanel (aewm++-goodies version)
Name[ta]=fspanel (aewm++-goodies version)
Name[th]=fspanel (aewm++-goodies version)
Name[tl]=fspanel (aewm++-goodies version)
Name[tr]=fspanel (aewm++-goodies version)
Name[uk]=fspanel (aewm++-goodies version)
Name[vi]=fspanel (aewm++-goodies version)
Name[wo]=fspanel (aewm++-goodies version)
Name[zh_CN]=fspanel (aewm++-goodies version)
Name[zh_TW]=fspanel (aewm++-goodies version)
Exec=/usr/bin/aewm++_fspanel
Terminal=false
Categories=X-Debian-Applications-File-Management;
