[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=gTweakUI Nautilus
Name[ar]=gTweakUI Nautilus
Name[ast]=gTweakUI Nautilus
Name[be]=gTweakUI Nautilus
Name[bg]=gTweakUI Nautilus
Name[bn]=gTweakUI Nautilus
Name[br]=gTweakUI Nautilus
Name[bs]=gTweakUI Nautilus
Name[ca]=gTweakUI Nautilus
Name[cs]=gTweakUI Nautilus
Name[da]=gTweakUI Nautilus
Name[de]=gTweakUI Nautilus
Name[dz]=gTweakUI Nautilus
Name[el]=gTweakUI Nautilus
Name[eo]=gTweakUI Nautilus
Name[es]=gTweakUI Nautilus
Name[et]=gTweakUI Nautilus
Name[eu]=gTweakUI Nautilus
Name[fi]=gTweakUI Nautilus
Name[fr]=gTweakUI Nautilus
Name[ga]=gTweakUI Nautilus
Name[gl]=gTweakUI Nautilus
Name[gu]=gTweakUI Nautilus
Name[he]=gTweakUI Nautilus
Name[hi]=gTweakUI Nautilus
Name[hr]=gTweakUI Nautilus
Name[hu]=gTweakUI Nautilus
Name[id]=gTweakUI Nautilus
Name[it]=gTweakUI Nautilus
Name[ja]=gTweakUI Nautilus
Name[ka]=gTweakUI Nautilus
Name[kk]=gTweakUI Nautilus
Name[km]=gTweakUI Nautilus
Name[ko]=gTweakUI Nautilus
Name[ku]=gTweakUI Nautilus
Name[lt]=gTweakUI Nautilus
Name[mk]=gTweakUI Nautilus
Name[ml]=gTweakUI Nautilus
Name[mr]=gTweakUI Nautilus
Name[nb]=gTweakUI Nautilus
Name[ne]=gTweakUI Nautilus
Name[nl]=gTweakUI Nautilus
Name[nn]=gTweakUI Nautilus
Name[pa]=gTweakUI Nautilus
Name[pl]=gTweakUI Nautilus
Name[pt]=gTweakUI Nautilus
Name[pt_BR]=gTweakUI Nautilus
Name[ro]=gTweakUI Nautilus
Name[ru]=gTweakUI Nautilus
Name[sk]=gTweakUI Nautilus
Name[sq]=gTweakUI Nautilus
Name[sv]=gTweakUI Nautilus
Name[ta]=gTweakUI Nautilus
Name[th]=gTweakUI Nautilus
Name[tl]=gTweakUI Nautilus
Name[tr]=gTweakUI Nautilus
Name[uk]=gTweakUI Nautilus
Name[vi]=gTweakUI Nautilus
Name[wo]=gTweakUI Nautilus
Name[zh_CN]=gTweakUI Nautilus
Name[zh_TW]=gTweakUI Nautilus
Exec=/usr/bin/gtweakui-nautilus
Terminal=false
Categories=X-Debian-Applications-Tools;
