[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=xara-gtk
Name[ar]=xara-gtk
Name[ast]=xara-gtk
Name[be]=xara-gtk
Name[bg]=xara-gtk
Name[bn]=xara-gtk
Name[br]=xara-gtk
Name[bs]=xara-gtk
Name[ca]=xara-gtk
Name[cs]=xara-gtk
Name[da]=xara-gtk
Name[de]=xara-gtk
Name[dz]=xara-gtk
Name[el]=xara-gtk
Name[eo]=xara-gtk
Name[es]=xara-gtk
Name[et]=xara-gtk
Name[eu]=xara-gtk
Name[fi]=xara-gtk
Name[fr]=xara-gtk
Name[ga]=xara-gtk
Name[gl]=xara-gtk
Name[gu]=xara-gtk
Name[he]=xara-gtk
Name[hi]=xara-gtk
Name[hr]=xara-gtk
Name[hu]=xara-gtk
Name[id]=xara-gtk
Name[it]=xara-gtk
Name[ja]=xara-gtk
Name[ka]=xara-gtk
Name[kk]=xara-gtk
Name[km]=xara-gtk
Name[ko]=xara-gtk
Name[ku]=xara-gtk
Name[lt]=xara-gtk
Name[mk]=xara-gtk
Name[ml]=xara-gtk
Name[mr]=xara-gtk
Name[nb]=xara-gtk
Name[ne]=xara-gtk
Name[nl]=xara-gtk
Name[nn]=xara-gtk
Name[pa]=xara-gtk
Name[pl]=xara-gtk
Name[pt]=xara-gtk
Name[pt_BR]=xara-gtk
Name[ro]=xara-gtk
Name[ru]=xara-gtk
Name[sk]=xara-gtk
Name[sq]=xara-gtk
Name[sv]=xara-gtk
Name[ta]=xara-gtk
Name[th]=xara-gtk
Name[tl]=xara-gtk
Name[tr]=xara-gtk
Name[uk]=xara-gtk
Name[vi]=xara-gtk
Name[wo]=xara-gtk
Name[zh_CN]=xara-gtk
Name[zh_TW]=xara-gtk
Exec=/usr/bin/xara
Terminal=false
Categories=X-Debian-Applications-System-Package-Management;
