[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Input Method Configuration
Name[ar]=Input Method Configuration
Name[ast]=Input Method Configuration
Name[be]=Input Method Configuration
Name[bg]=Input Method Configuration
Name[bn]=Input Method Configuration
Name[br]=Input Method Configuration
Name[bs]=Input Method Configuration
Name[ca]=Input Method Configuration
Name[cs]=Input Method Configuration
Name[da]=Input Method Configuration
Name[de]=Input Method Configuration
Name[dz]=Input Method Configuration
Name[el]=Input Method Configuration
Name[eo]=Input Method Configuration
Name[es]=Input Method Configuration
Name[et]=Input Method Configuration
Name[eu]=Input Method Configuration
Name[fi]=Input Method Configuration
Name[fr]=Input Method Configuration
Name[ga]=Input Method Configuration
Name[gl]=Input Method Configuration
Name[gu]=Input Method Configuration
Name[he]=Input Method Configuration
Name[hi]=Input Method Configuration
Name[hr]=Input Method Configuration
Name[hu]=Input Method Configuration
Name[id]=Input Method Configuration
Name[it]=Input Method Configuration
Name[ja]=Input Method Configuration
Name[ka]=Input Method Configuration
Name[kk]=Input Method Configuration
Name[km]=Input Method Configuration
Name[ko]=Input Method Configuration
Name[ku]=Input Method Configuration
Name[lt]=Input Method Configuration
Name[mk]=Input Method Configuration
Name[ml]=Input Method Configuration
Name[mr]=Input Method Configuration
Name[nb]=Input Method Configuration
Name[ne]=Input Method Configuration
Name[nl]=Input Method Configuration
Name[nn]=Input Method Configuration
Name[pa]=Input Method Configuration
Name[pl]=Input Method Configuration
Name[pt]=Input Method Configuration
Name[pt_BR]=Input Method Configuration
Name[ro]=Input Method Configuration
Name[ru]=Input Method Configuration
Name[sk]=Input Method Configuration
Name[sq]=Input Method Configuration
Name[sv]=Input Method Configuration
Name[ta]=Input Method Configuration
Name[th]=Input Method Configuration
Name[tl]=Input Method Configuration
Name[tr]=Input Method Configuration
Name[uk]=Input Method Configuration
Name[vi]=Input Method Configuration
Name[wo]=Input Method Configuration
Name[zh_CN]=Input Method Configuration
Name[zh_TW]=Input Method Configuration
Exec=/usr/bin/im-config
Terminal=true
Categories=X-Debian-Applications-System-Language-Environment;
