[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Inkscape
Name[ar]=Inkscape
Name[ast]=Inkscape
Name[be]=Inkscape
Name[bg]=Inkscape
Name[bn]=Inkscape
Name[br]=Inkscape
Name[bs]=Inkscape
Name[ca]=Inkscape
Name[cs]=Inkscape
Name[da]=Inkscape
Name[de]=Inkscape
Name[dz]=Inkscape
Name[el]=Inkscape
Name[eo]=Inkscape
Name[es]=Inkscape
Name[et]=Inkscape
Name[eu]=Inkscape
Name[fi]=Inkscape
Name[fr]=Inkscape
Name[ga]=Inkscape
Name[gl]=Inkscape
Name[gu]=Inkscape
Name[he]=Inkscape
Name[hi]=Inkscape
Name[hr]=Inkscape
Name[hu]=Inkscape
Name[id]=Inkscape
Name[it]=Inkscape
Name[ja]=Inkscape
Name[ka]=Inkscape
Name[kk]=Inkscape
Name[km]=Inkscape
Name[ko]=Inkscape
Name[ku]=Inkscape
Name[lt]=Inkscape
Name[mk]=Inkscape
Name[ml]=Inkscape
Name[mr]=Inkscape
Name[nb]=Inkscape
Name[ne]=Inkscape
Name[nl]=Inkscape
Name[nn]=Inkscape
Name[pa]=Inkscape
Name[pl]=Inkscape
Name[pt]=Inkscape
Name[pt_BR]=Inkscape
Name[ro]=Inkscape
Name[ru]=Inkscape
Name[sk]=Inkscape
Name[sq]=Inkscape
Name[sv]=Inkscape
Name[ta]=Inkscape
Name[th]=Inkscape
Name[tl]=Inkscape
Name[tr]=Inkscape
Name[uk]=Inkscape
Name[vi]=Inkscape
Name[wo]=Inkscape
Name[zh_CN]=Inkscape
Name[zh_TW]=Inkscape
Comment=Vector based drawing program
Comment[ar]=Vector based drawing program
Comment[ast]=Vector based drawing program
Comment[be]=Vector based drawing program
Comment[bg]=Vector based drawing program
Comment[bn]=Vector based drawing program
Comment[br]=Vector based drawing program
Comment[bs]=Vector based drawing program
Comment[ca]=Vector based drawing program
Comment[cs]=Vector based drawing program
Comment[da]=Vector based drawing program
Comment[de]=Vector based drawing program
Comment[dz]=Vector based drawing program
Comment[el]=Vector based drawing program
Comment[eo]=Vector based drawing program
Comment[es]=Vector based drawing program
Comment[et]=Vector based drawing program
Comment[eu]=Vector based drawing program
Comment[fi]=Vector based drawing program
Comment[fr]=Vector based drawing program
Comment[ga]=Vector based drawing program
Comment[gl]=Vector based drawing program
Comment[gu]=Vector based drawing program
Comment[he]=Vector based drawing program
Comment[hi]=Vector based drawing program
Comment[hr]=Vector based drawing program
Comment[hu]=Vector based drawing program
Comment[id]=Vector based drawing program
Comment[it]=Vector based drawing program
Comment[ja]=Vector based drawing program
Comment[ka]=Vector based drawing program
Comment[kk]=Vector based drawing program
Comment[km]=Vector based drawing program
Comment[ko]=Vector based drawing program
Comment[ku]=Vector based drawing program
Comment[lt]=Vector based drawing program
Comment[mk]=Vector based drawing program
Comment[ml]=Vector based drawing program
Comment[mr]=Vector based drawing program
Comment[nb]=Vector based drawing program
Comment[ne]=Vector based drawing program
Comment[nl]=Vector based drawing program
Comment[nn]=Vector based drawing program
Comment[pa]=Vector based drawing program
Comment[pl]=Vector based drawing program
Comment[pt]=Vector based drawing program
Comment[pt_BR]=Vector based drawing program
Comment[ro]=Vector based drawing program
Comment[ru]=Vector based drawing program
Comment[sk]=Vector based drawing program
Comment[sq]=Vector based drawing program
Comment[sv]=Vector based drawing program
Comment[ta]=Vector based drawing program
Comment[th]=Vector based drawing program
Comment[tl]=Vector based drawing program
Comment[tr]=Vector based drawing program
Comment[uk]=Vector based drawing program
Comment[vi]=Vector based drawing program
Comment[wo]=Vector based drawing program
Comment[zh_CN]=Vector based drawing program
Comment[zh_TW]=Vector based drawing program
Icon=/usr/share/pixmaps/inkscape.xpm
Exec=/usr/bin/inkscape
Terminal=false
Categories=X-Debian-Applications-Graphics;
