[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Remmina
Name[ar]=Remmina
Name[ast]=Remmina
Name[be]=Remmina
Name[bg]=Remmina
Name[bn]=Remmina
Name[br]=Remmina
Name[bs]=Remmina
Name[ca]=Remmina
Name[cs]=Remmina
Name[da]=Remmina
Name[de]=Remmina
Name[dz]=Remmina
Name[el]=Remmina
Name[eo]=Remmina
Name[es]=Remmina
Name[et]=Remmina
Name[eu]=Remmina
Name[fi]=Remmina
Name[fr]=Remmina
Name[ga]=Remmina
Name[gl]=Remmina
Name[gu]=Remmina
Name[he]=Remmina
Name[hi]=Remmina
Name[hr]=Remmina
Name[hu]=Remmina
Name[id]=Remmina
Name[it]=Remmina
Name[ja]=Remmina
Name[ka]=Remmina
Name[kk]=Remmina
Name[km]=Remmina
Name[ko]=Remmina
Name[ku]=Remmina
Name[lt]=Remmina
Name[mk]=Remmina
Name[ml]=Remmina
Name[mr]=Remmina
Name[nb]=Remmina
Name[ne]=Remmina
Name[nl]=Remmina
Name[nn]=Remmina
Name[pa]=Remmina
Name[pl]=Remmina
Name[pt]=Remmina
Name[pt_BR]=Remmina
Name[ro]=Remmina
Name[ru]=Remmina
Name[sk]=Remmina
Name[sq]=Remmina
Name[sv]=Remmina
Name[ta]=Remmina
Name[th]=Remmina
Name[tl]=Remmina
Name[tr]=Remmina
Name[uk]=Remmina
Name[vi]=Remmina
Name[wo]=Remmina
Name[zh_CN]=Remmina
Name[zh_TW]=Remmina
Exec=/usr/bin/remmina
Terminal=false
Categories=X-Debian-Applications-Network-Communication;
