[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Openbox Menu Editor
Name[ar]=Openbox Menu Editor
Name[ast]=Openbox Menu Editor
Name[be]=Openbox Menu Editor
Name[bg]=Openbox Menu Editor
Name[bn]=Openbox Menu Editor
Name[br]=Openbox Menu Editor
Name[bs]=Openbox Menu Editor
Name[ca]=Openbox Menu Editor
Name[cs]=Openbox Menu Editor
Name[da]=Openbox Menu Editor
Name[de]=Openbox Menu Editor
Name[dz]=Openbox Menu Editor
Name[el]=Openbox Menu Editor
Name[eo]=Openbox Menu Editor
Name[es]=Openbox Menu Editor
Name[et]=Openbox Menu Editor
Name[eu]=Openbox Menu Editor
Name[fi]=Openbox Menu Editor
Name[fr]=Openbox Menu Editor
Name[ga]=Openbox Menu Editor
Name[gl]=Openbox Menu Editor
Name[gu]=Openbox Menu Editor
Name[he]=Openbox Menu Editor
Name[hi]=Openbox Menu Editor
Name[hr]=Openbox Menu Editor
Name[hu]=Openbox Menu Editor
Name[id]=Openbox Menu Editor
Name[it]=Openbox Menu Editor
Name[ja]=Openbox Menu Editor
Name[ka]=Openbox Menu Editor
Name[kk]=Openbox Menu Editor
Name[km]=Openbox Menu Editor
Name[ko]=Openbox Menu Editor
Name[ku]=Openbox Menu Editor
Name[lt]=Openbox Menu Editor
Name[mk]=Openbox Menu Editor
Name[ml]=Openbox Menu Editor
Name[mr]=Openbox Menu Editor
Name[nb]=Openbox Menu Editor
Name[ne]=Openbox Menu Editor
Name[nl]=Openbox Menu Editor
Name[nn]=Openbox Menu Editor
Name[pa]=Openbox Menu Editor
Name[pl]=Openbox Menu Editor
Name[pt]=Openbox Menu Editor
Name[pt_BR]=Openbox Menu Editor
Name[ro]=Openbox Menu Editor
Name[ru]=Openbox Menu Editor
Name[sk]=Openbox Menu Editor
Name[sq]=Openbox Menu Editor
Name[sv]=Openbox Menu Editor
Name[ta]=Openbox Menu Editor
Name[th]=Openbox Menu Editor
Name[tl]=Openbox Menu Editor
Name[tr]=Openbox Menu Editor
Name[uk]=Openbox Menu Editor
Name[vi]=Openbox Menu Editor
Name[wo]=Openbox Menu Editor
Name[zh_CN]=Openbox Menu Editor
Name[zh_TW]=Openbox Menu Editor
Exec=/usr/bin/obmenu
Terminal=false
Categories=X-Debian-Applications-System-Administration;
