[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=PuTTY
Name[ar]=PuTTY
Name[ast]=PuTTY
Name[be]=PuTTY
Name[bg]=PuTTY
Name[bn]=PuTTY
Name[br]=PuTTY
Name[bs]=PuTTY
Name[ca]=PuTTY
Name[cs]=PuTTY
Name[da]=PuTTY
Name[de]=PuTTY
Name[dz]=PuTTY
Name[el]=PuTTY
Name[eo]=PuTTY
Name[es]=PuTTY
Name[et]=PuTTY
Name[eu]=PuTTY
Name[fi]=PuTTY
Name[fr]=PuTTY
Name[ga]=PuTTY
Name[gl]=PuTTY
Name[gu]=PuTTY
Name[he]=PuTTY
Name[hi]=PuTTY
Name[hr]=PuTTY
Name[hu]=PuTTY
Name[id]=PuTTY
Name[it]=PuTTY
Name[ja]=PuTTY
Name[ka]=PuTTY
Name[kk]=PuTTY
Name[km]=PuTTY
Name[ko]=PuTTY
Name[ku]=PuTTY
Name[lt]=PuTTY
Name[mk]=PuTTY
Name[ml]=PuTTY
Name[mr]=PuTTY
Name[nb]=PuTTY
Name[ne]=PuTTY
Name[nl]=PuTTY
Name[nn]=PuTTY
Name[pa]=PuTTY
Name[pl]=PuTTY
Name[pt]=PuTTY
Name[pt_BR]=PuTTY
Name[ro]=PuTTY
Name[ru]=PuTTY
Name[sk]=PuTTY
Name[sq]=PuTTY
Name[sv]=PuTTY
Name[ta]=PuTTY
Name[th]=PuTTY
Name[tl]=PuTTY
Name[tr]=PuTTY
Name[uk]=PuTTY
Name[vi]=PuTTY
Name[wo]=PuTTY
Name[zh_CN]=PuTTY
Name[zh_TW]=PuTTY
Comment=PuTTY SSH client
Comment[ar]=PuTTY SSH client
Comment[ast]=PuTTY SSH client
Comment[be]=PuTTY SSH client
Comment[bg]=PuTTY SSH client
Comment[bn]=PuTTY SSH client
Comment[br]=PuTTY SSH client
Comment[bs]=PuTTY SSH client
Comment[ca]=PuTTY SSH client
Comment[cs]=PuTTY SSH client
Comment[da]=PuTTY SSH client
Comment[de]=PuTTY SSH client
Comment[dz]=PuTTY SSH client
Comment[el]=PuTTY SSH client
Comment[eo]=PuTTY SSH client
Comment[es]=PuTTY SSH client
Comment[et]=PuTTY SSH client
Comment[eu]=PuTTY SSH client
Comment[fi]=PuTTY SSH client
Comment[fr]=PuTTY SSH client
Comment[ga]=PuTTY SSH client
Comment[gl]=PuTTY SSH client
Comment[gu]=PuTTY SSH client
Comment[he]=PuTTY SSH client
Comment[hi]=PuTTY SSH client
Comment[hr]=PuTTY SSH client
Comment[hu]=PuTTY SSH client
Comment[id]=PuTTY SSH client
Comment[it]=PuTTY SSH client
Comment[ja]=PuTTY SSH client
Comment[ka]=PuTTY SSH client
Comment[kk]=PuTTY SSH client
Comment[km]=PuTTY SSH client
Comment[ko]=PuTTY SSH client
Comment[ku]=PuTTY SSH client
Comment[lt]=PuTTY SSH client
Comment[mk]=PuTTY SSH client
Comment[ml]=PuTTY SSH client
Comment[mr]=PuTTY SSH client
Comment[nb]=PuTTY SSH client
Comment[ne]=PuTTY SSH client
Comment[nl]=PuTTY SSH client
Comment[nn]=PuTTY SSH client
Comment[pa]=PuTTY SSH client
Comment[pl]=PuTTY SSH client
Comment[pt]=PuTTY SSH client
Comment[pt_BR]=PuTTY SSH client
Comment[ro]=PuTTY SSH client
Comment[ru]=PuTTY SSH client
Comment[sk]=PuTTY SSH client
Comment[sq]=PuTTY SSH client
Comment[sv]=PuTTY SSH client
Comment[ta]=PuTTY SSH client
Comment[th]=PuTTY SSH client
Comment[tl]=PuTTY SSH client
Comment[tr]=PuTTY SSH client
Comment[uk]=PuTTY SSH client
Comment[vi]=PuTTY SSH client
Comment[wo]=PuTTY SSH client
Comment[zh_CN]=PuTTY SSH client
Comment[zh_TW]=PuTTY SSH client
Icon=/usr/share/pixmaps/putty.xpm
Exec=/usr/bin/putty
Terminal=false
Categories=X-Debian-Applications-Network-Communication;
