[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=zim
Name[ar]=zim
Name[ast]=zim
Name[be]=zim
Name[bg]=zim
Name[bn]=zim
Name[br]=zim
Name[bs]=zim
Name[ca]=zim
Name[cs]=zim
Name[da]=zim
Name[de]=zim
Name[dz]=zim
Name[el]=zim
Name[eo]=zim
Name[es]=zim
Name[et]=zim
Name[eu]=zim
Name[fi]=zim
Name[fr]=zim
Name[ga]=zim
Name[gl]=zim
Name[gu]=zim
Name[he]=zim
Name[hi]=zim
Name[hr]=zim
Name[hu]=zim
Name[id]=zim
Name[it]=zim
Name[ja]=zim
Name[ka]=zim
Name[kk]=zim
Name[km]=zim
Name[ko]=zim
Name[ku]=zim
Name[lt]=zim
Name[mk]=zim
Name[ml]=zim
Name[mr]=zim
Name[nb]=zim
Name[ne]=zim
Name[nl]=zim
Name[nn]=zim
Name[pa]=zim
Name[pl]=zim
Name[pt]=zim
Name[pt_BR]=zim
Name[ro]=zim
Name[ru]=zim
Name[sk]=zim
Name[sq]=zim
Name[sv]=zim
Name[ta]=zim
Name[th]=zim
Name[tl]=zim
Name[tr]=zim
Name[uk]=zim
Name[vi]=zim
Name[wo]=zim
Name[zh_CN]=zim
Name[zh_TW]=zim
Icon=/usr/share/pixmaps/zim.xpm
Exec=/usr/bin/zim
Terminal=false
Categories=X-Debian-Applications-Data-Management;
