[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=GTK+ 2.0 theme manager
Name[ar]=GTK+ 2.0 theme manager
Name[ast]=GTK+ 2.0 theme manager
Name[be]=GTK+ 2.0 theme manager
Name[bg]=GTK+ 2.0 theme manager
Name[bn]=GTK+ 2.0 theme manager
Name[br]=GTK+ 2.0 theme manager
Name[bs]=GTK+ 2.0 theme manager
Name[ca]=GTK+ 2.0 theme manager
Name[cs]=GTK+ 2.0 theme manager
Name[da]=GTK+ 2.0 theme manager
Name[de]=GTK+ 2.0 theme manager
Name[dz]=GTK+ 2.0 theme manager
Name[el]=GTK+ 2.0 theme manager
Name[eo]=GTK+ 2.0 theme manager
Name[es]=GTK+ 2.0 theme manager
Name[et]=GTK+ 2.0 theme manager
Name[eu]=GTK+ 2.0 theme manager
Name[fi]=GTK+ 2.0 theme manager
Name[fr]=GTK+ 2.0 theme manager
Name[ga]=GTK+ 2.0 theme manager
Name[gl]=GTK+ 2.0 theme manager
Name[gu]=GTK+ 2.0 theme manager
Name[he]=GTK+ 2.0 theme manager
Name[hi]=GTK+ 2.0 theme manager
Name[hr]=GTK+ 2.0 theme manager
Name[hu]=GTK+ 2.0 theme manager
Name[id]=GTK+ 2.0 theme manager
Name[it]=GTK+ 2.0 theme manager
Name[ja]=GTK+ 2.0 theme manager
Name[ka]=GTK+ 2.0 theme manager
Name[kk]=GTK+ 2.0 theme manager
Name[km]=GTK+ 2.0 theme manager
Name[ko]=GTK+ 2.0 theme manager
Name[ku]=GTK+ 2.0 theme manager
Name[lt]=GTK+ 2.0 theme manager
Name[mk]=GTK+ 2.0 theme manager
Name[ml]=GTK+ 2.0 theme manager
Name[mr]=GTK+ 2.0 theme manager
Name[nb]=GTK+ 2.0 theme manager
Name[ne]=GTK+ 2.0 theme manager
Name[nl]=GTK+ 2.0 theme manager
Name[nn]=GTK+ 2.0 theme manager
Name[pa]=GTK+ 2.0 theme manager
Name[pl]=GTK+ 2.0 theme manager
Name[pt]=GTK+ 2.0 theme manager
Name[pt_BR]=GTK+ 2.0 theme manager
Name[ro]=GTK+ 2.0 theme manager
Name[ru]=GTK+ 2.0 theme manager
Name[sk]=GTK+ 2.0 theme manager
Name[sq]=GTK+ 2.0 theme manager
Name[sv]=GTK+ 2.0 theme manager
Name[ta]=GTK+ 2.0 theme manager
Name[th]=GTK+ 2.0 theme manager
Name[tl]=GTK+ 2.0 theme manager
Name[tr]=GTK+ 2.0 theme manager
Name[uk]=GTK+ 2.0 theme manager
Name[vi]=GTK+ 2.0 theme manager
Name[wo]=GTK+ 2.0 theme manager
Name[zh_CN]=GTK+ 2.0 theme manager
Name[zh_TW]=GTK+ 2.0 theme manager
Icon=/usr/share/pixmaps/gtk-chtheme.xpm
Exec=/usr/bin/gtk-chtheme
Terminal=false
Categories=X-Debian-Applications-System-Administration;
