[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=GNOME MPlayer
Name[ar]=GNOME MPlayer
Name[ast]=GNOME MPlayer
Name[be]=GNOME MPlayer
Name[bg]=GNOME MPlayer
Name[bn]=GNOME MPlayer
Name[br]=GNOME MPlayer
Name[bs]=GNOME MPlayer
Name[ca]=GNOME MPlayer
Name[cs]=GNOME MPlayer
Name[da]=GNOME MPlayer
Name[de]=GNOME MPlayer
Name[dz]=GNOME MPlayer
Name[el]=GNOME MPlayer
Name[eo]=GNOME MPlayer
Name[es]=GNOME MPlayer
Name[et]=GNOME MPlayer
Name[eu]=GNOME MPlayer
Name[fi]=GNOME MPlayer
Name[fr]=GNOME MPlayer
Name[ga]=GNOME MPlayer
Name[gl]=GNOME MPlayer
Name[gu]=GNOME MPlayer
Name[he]=GNOME MPlayer
Name[hi]=GNOME MPlayer
Name[hr]=GNOME MPlayer
Name[hu]=GNOME MPlayer
Name[id]=GNOME MPlayer
Name[it]=GNOME MPlayer
Name[ja]=GNOME MPlayer
Name[ka]=GNOME MPlayer
Name[kk]=GNOME MPlayer
Name[km]=GNOME MPlayer
Name[ko]=GNOME MPlayer
Name[ku]=GNOME MPlayer
Name[lt]=GNOME MPlayer
Name[mk]=GNOME MPlayer
Name[ml]=GNOME MPlayer
Name[mr]=GNOME MPlayer
Name[nb]=GNOME MPlayer
Name[ne]=GNOME MPlayer
Name[nl]=GNOME MPlayer
Name[nn]=GNOME MPlayer
Name[pa]=GNOME MPlayer
Name[pl]=GNOME MPlayer
Name[pt]=GNOME MPlayer
Name[pt_BR]=GNOME MPlayer
Name[ro]=GNOME MPlayer
Name[ru]=GNOME MPlayer
Name[sk]=GNOME MPlayer
Name[sq]=GNOME MPlayer
Name[sv]=GNOME MPlayer
Name[ta]=GNOME MPlayer
Name[th]=GNOME MPlayer
Name[tl]=GNOME MPlayer
Name[tr]=GNOME MPlayer
Name[uk]=GNOME MPlayer
Name[vi]=GNOME MPlayer
Name[wo]=GNOME MPlayer
Name[zh_CN]=GNOME MPlayer
Name[zh_TW]=GNOME MPlayer
Icon=/usr/share/pixmaps/gnome-mplayer.xpm
Exec=gnome-mplayer
Terminal=false
Categories=X-Debian-Applications-Video;
