[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=aMule Link Creator (alc)
Name[ar]=aMule Link Creator (alc)
Name[ast]=aMule Link Creator (alc)
Name[be]=aMule Link Creator (alc)
Name[bg]=aMule Link Creator (alc)
Name[bn]=aMule Link Creator (alc)
Name[br]=aMule Link Creator (alc)
Name[bs]=aMule Link Creator (alc)
Name[ca]=aMule Link Creator (alc)
Name[cs]=aMule Link Creator (alc)
Name[da]=aMule Link Creator (alc)
Name[de]=aMule Link Creator (alc)
Name[dz]=aMule Link Creator (alc)
Name[el]=aMule Link Creator (alc)
Name[eo]=aMule Link Creator (alc)
Name[es]=aMule Link Creator (alc)
Name[et]=aMule Link Creator (alc)
Name[eu]=aMule Link Creator (alc)
Name[fi]=aMule Link Creator (alc)
Name[fr]=aMule Link Creator (alc)
Name[ga]=aMule Link Creator (alc)
Name[gl]=aMule Link Creator (alc)
Name[gu]=aMule Link Creator (alc)
Name[he]=aMule Link Creator (alc)
Name[hi]=aMule Link Creator (alc)
Name[hr]=aMule Link Creator (alc)
Name[hu]=aMule Link Creator (alc)
Name[id]=aMule Link Creator (alc)
Name[it]=aMule Link Creator (alc)
Name[ja]=aMule Link Creator (alc)
Name[ka]=aMule Link Creator (alc)
Name[kk]=aMule Link Creator (alc)
Name[km]=aMule Link Creator (alc)
Name[ko]=aMule Link Creator (alc)
Name[ku]=aMule Link Creator (alc)
Name[lt]=aMule Link Creator (alc)
Name[mk]=aMule Link Creator (alc)
Name[ml]=aMule Link Creator (alc)
Name[mr]=aMule Link Creator (alc)
Name[nb]=aMule Link Creator (alc)
Name[ne]=aMule Link Creator (alc)
Name[nl]=aMule Link Creator (alc)
Name[nn]=aMule Link Creator (alc)
Name[pa]=aMule Link Creator (alc)
Name[pl]=aMule Link Creator (alc)
Name[pt]=aMule Link Creator (alc)
Name[pt_BR]=aMule Link Creator (alc)
Name[ro]=aMule Link Creator (alc)
Name[ru]=aMule Link Creator (alc)
Name[sk]=aMule Link Creator (alc)
Name[sq]=aMule Link Creator (alc)
Name[sv]=aMule Link Creator (alc)
Name[ta]=aMule Link Creator (alc)
Name[th]=aMule Link Creator (alc)
Name[tl]=aMule Link Creator (alc)
Name[tr]=aMule Link Creator (alc)
Name[uk]=aMule Link Creator (alc)
Name[vi]=aMule Link Creator (alc)
Name[wo]=aMule Link Creator (alc)
Name[zh_CN]=aMule Link Creator (alc)
Name[zh_TW]=aMule Link Creator (alc)
Icon=/usr/share/pixmaps/alc.xpm
Exec=/usr/bin/alc
Terminal=false
Categories=X-Debian-Applications-Network-File-Transfer;
