[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=fspanel
Name[ar]=fspanel
Name[ast]=fspanel
Name[be]=fspanel
Name[bg]=fspanel
Name[bn]=fspanel
Name[br]=fspanel
Name[bs]=fspanel
Name[ca]=fspanel
Name[cs]=fspanel
Name[da]=fspanel
Name[de]=fspanel
Name[dz]=fspanel
Name[el]=fspanel
Name[eo]=fspanel
Name[es]=fspanel
Name[et]=fspanel
Name[eu]=fspanel
Name[fi]=fspanel
Name[fr]=fspanel
Name[ga]=fspanel
Name[gl]=fspanel
Name[gu]=fspanel
Name[he]=fspanel
Name[hi]=fspanel
Name[hr]=fspanel
Name[hu]=fspanel
Name[id]=fspanel
Name[it]=fspanel
Name[ja]=fspanel
Name[ka]=fspanel
Name[kk]=fspanel
Name[km]=fspanel
Name[ko]=fspanel
Name[ku]=fspanel
Name[lt]=fspanel
Name[mk]=fspanel
Name[ml]=fspanel
Name[mr]=fspanel
Name[nb]=fspanel
Name[ne]=fspanel
Name[nl]=fspanel
Name[nn]=fspanel
Name[pa]=fspanel
Name[pl]=fspanel
Name[pt]=fspanel
Name[pt_BR]=fspanel
Name[ro]=fspanel
Name[ru]=fspanel
Name[sk]=fspanel
Name[sq]=fspanel
Name[sv]=fspanel
Name[ta]=fspanel
Name[th]=fspanel
Name[tl]=fspanel
Name[tr]=fspanel
Name[uk]=fspanel
Name[vi]=fspanel
Name[wo]=fspanel
Name[zh_CN]=fspanel
Name[zh_TW]=fspanel
Exec=/usr/bin/fspanel
Terminal=false
Categories=X-Debian-Applications-System-Administration;
