[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Sonata
Name[ar]=Sonata
Name[ast]=Sonata
Name[be]=Sonata
Name[bg]=Sonata
Name[bn]=Sonata
Name[br]=Sonata
Name[bs]=Sonata
Name[ca]=Sonata
Name[cs]=Sonata
Name[da]=Sonata
Name[de]=Sonata
Name[dz]=Sonata
Name[el]=Sonata
Name[eo]=Sonata
Name[es]=Sonata
Name[et]=Sonata
Name[eu]=Sonata
Name[fi]=Sonata
Name[fr]=Sonata
Name[ga]=Sonata
Name[gl]=Sonata
Name[gu]=Sonata
Name[he]=Sonata
Name[hi]=Sonata
Name[hr]=Sonata
Name[hu]=Sonata
Name[id]=Sonata
Name[it]=Sonata
Name[ja]=Sonata
Name[ka]=Sonata
Name[kk]=Sonata
Name[km]=Sonata
Name[ko]=Sonata
Name[ku]=Sonata
Name[lt]=Sonata
Name[mk]=Sonata
Name[ml]=Sonata
Name[mr]=Sonata
Name[nb]=Sonata
Name[ne]=Sonata
Name[nl]=Sonata
Name[nn]=Sonata
Name[pa]=Sonata
Name[pl]=Sonata
Name[pt]=Sonata
Name[pt_BR]=Sonata
Name[ro]=Sonata
Name[ru]=Sonata
Name[sk]=Sonata
Name[sq]=Sonata
Name[sv]=Sonata
Name[ta]=Sonata
Name[th]=Sonata
Name[tl]=Sonata
Name[tr]=Sonata
Name[uk]=Sonata
Name[vi]=Sonata
Name[wo]=Sonata
Name[zh_CN]=Sonata
Name[zh_TW]=Sonata
Comment=A simple GTK+ MPD client
Comment[ar]=A simple GTK+ MPD client
Comment[ast]=A simple GTK+ MPD client
Comment[be]=A simple GTK+ MPD client
Comment[bg]=A simple GTK+ MPD client
Comment[bn]=A simple GTK+ MPD client
Comment[br]=A simple GTK+ MPD client
Comment[bs]=A simple GTK+ MPD client
Comment[ca]=A simple GTK+ MPD client
Comment[cs]=A simple GTK+ MPD client
Comment[da]=A simple GTK+ MPD client
Comment[de]=A simple GTK+ MPD client
Comment[dz]=A simple GTK+ MPD client
Comment[el]=A simple GTK+ MPD client
Comment[eo]=A simple GTK+ MPD client
Comment[es]=A simple GTK+ MPD client
Comment[et]=A simple GTK+ MPD client
Comment[eu]=A simple GTK+ MPD client
Comment[fi]=A simple GTK+ MPD client
Comment[fr]=A simple GTK+ MPD client
Comment[ga]=A simple GTK+ MPD client
Comment[gl]=A simple GTK+ MPD client
Comment[gu]=A simple GTK+ MPD client
Comment[he]=A simple GTK+ MPD client
Comment[hi]=A simple GTK+ MPD client
Comment[hr]=A simple GTK+ MPD client
Comment[hu]=A simple GTK+ MPD client
Comment[id]=A simple GTK+ MPD client
Comment[it]=A simple GTK+ MPD client
Comment[ja]=A simple GTK+ MPD client
Comment[ka]=A simple GTK+ MPD client
Comment[kk]=A simple GTK+ MPD client
Comment[km]=A simple GTK+ MPD client
Comment[ko]=A simple GTK+ MPD client
Comment[ku]=A simple GTK+ MPD client
Comment[lt]=A simple GTK+ MPD client
Comment[mk]=A simple GTK+ MPD client
Comment[ml]=A simple GTK+ MPD client
Comment[mr]=A simple GTK+ MPD client
Comment[nb]=A simple GTK+ MPD client
Comment[ne]=A simple GTK+ MPD client
Comment[nl]=A simple GTK+ MPD client
Comment[nn]=A simple GTK+ MPD client
Comment[pa]=A simple GTK+ MPD client
Comment[pl]=A simple GTK+ MPD client
Comment[pt]=A simple GTK+ MPD client
Comment[pt_BR]=A simple GTK+ MPD client
Comment[ro]=A simple GTK+ MPD client
Comment[ru]=A simple GTK+ MPD client
Comment[sk]=A simple GTK+ MPD client
Comment[sq]=A simple GTK+ MPD client
Comment[sv]=A simple GTK+ MPD client
Comment[ta]=A simple GTK+ MPD client
Comment[th]=A simple GTK+ MPD client
Comment[tl]=A simple GTK+ MPD client
Comment[tr]=A simple GTK+ MPD client
Comment[uk]=A simple GTK+ MPD client
Comment[vi]=A simple GTK+ MPD client
Comment[wo]=A simple GTK+ MPD client
Comment[zh_CN]=A simple GTK+ MPD client
Comment[zh_TW]=A simple GTK+ MPD client
Icon=/usr/share/pixmaps/sonata.xpm
Exec=/usr/bin/sonata
Terminal=false
Categories=X-Debian-Applications-Sound;
