[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Orphaner - editkeep
Name[ar]=Orphaner - editkeep
Name[ast]=Orphaner - editkeep
Name[be]=Orphaner - editkeep
Name[bg]=Orphaner - editkeep
Name[bn]=Orphaner - editkeep
Name[br]=Orphaner - editkeep
Name[bs]=Orphaner - editkeep
Name[ca]=Orphaner - editkeep
Name[cs]=Orphaner - editkeep
Name[da]=Orphaner - editkeep
Name[de]=Orphaner - editkeep
Name[dz]=Orphaner - editkeep
Name[el]=Orphaner - editkeep
Name[eo]=Orphaner - editkeep
Name[es]=Orphaner - editkeep
Name[et]=Orphaner - editkeep
Name[eu]=Orphaner - editkeep
Name[fi]=Orphaner - editkeep
Name[fr]=Orphaner - editkeep
Name[ga]=Orphaner - editkeep
Name[gl]=Orphaner - editkeep
Name[gu]=Orphaner - editkeep
Name[he]=Orphaner - editkeep
Name[hi]=Orphaner - editkeep
Name[hr]=Orphaner - editkeep
Name[hu]=Orphaner - editkeep
Name[id]=Orphaner - editkeep
Name[it]=Orphaner - editkeep
Name[ja]=Orphaner - editkeep
Name[ka]=Orphaner - editkeep
Name[kk]=Orphaner - editkeep
Name[km]=Orphaner - editkeep
Name[ko]=Orphaner - editkeep
Name[ku]=Orphaner - editkeep
Name[lt]=Orphaner - editkeep
Name[mk]=Orphaner - editkeep
Name[ml]=Orphaner - editkeep
Name[mr]=Orphaner - editkeep
Name[nb]=Orphaner - editkeep
Name[ne]=Orphaner - editkeep
Name[nl]=Orphaner - editkeep
Name[nn]=Orphaner - editkeep
Name[pa]=Orphaner - editkeep
Name[pl]=Orphaner - editkeep
Name[pt]=Orphaner - editkeep
Name[pt_BR]=Orphaner - editkeep
Name[ro]=Orphaner - editkeep
Name[ru]=Orphaner - editkeep
Name[sk]=Orphaner - editkeep
Name[sq]=Orphaner - editkeep
Name[sv]=Orphaner - editkeep
Name[ta]=Orphaner - editkeep
Name[th]=Orphaner - editkeep
Name[tl]=Orphaner - editkeep
Name[tr]=Orphaner - editkeep
Name[uk]=Orphaner - editkeep
Name[vi]=Orphaner - editkeep
Name[wo]=Orphaner - editkeep
Name[zh_CN]=Orphaner - editkeep
Name[zh_TW]=Orphaner - editkeep
Comment=Edit list of packages deborphan/orphaner should never list
Comment[ar]=Edit list of packages deborphan/orphaner should never list
Comment[ast]=Edit list of packages deborphan/orphaner should never list
Comment[be]=Edit list of packages deborphan/orphaner should never list
Comment[bg]=Edit list of packages deborphan/orphaner should never list
Comment[bn]=Edit list of packages deborphan/orphaner should never list
Comment[br]=Edit list of packages deborphan/orphaner should never list
Comment[bs]=Edit list of packages deborphan/orphaner should never list
Comment[ca]=Edit list of packages deborphan/orphaner should never list
Comment[cs]=Edit list of packages deborphan/orphaner should never list
Comment[da]=Edit list of packages deborphan/orphaner should never list
Comment[de]=Edit list of packages deborphan/orphaner should never list
Comment[dz]=Edit list of packages deborphan/orphaner should never list
Comment[el]=Edit list of packages deborphan/orphaner should never list
Comment[eo]=Edit list of packages deborphan/orphaner should never list
Comment[es]=Edit list of packages deborphan/orphaner should never list
Comment[et]=Edit list of packages deborphan/orphaner should never list
Comment[eu]=Edit list of packages deborphan/orphaner should never list
Comment[fi]=Edit list of packages deborphan/orphaner should never list
Comment[fr]=Edit list of packages deborphan/orphaner should never list
Comment[ga]=Edit list of packages deborphan/orphaner should never list
Comment[gl]=Edit list of packages deborphan/orphaner should never list
Comment[gu]=Edit list of packages deborphan/orphaner should never list
Comment[he]=Edit list of packages deborphan/orphaner should never list
Comment[hi]=Edit list of packages deborphan/orphaner should never list
Comment[hr]=Edit list of packages deborphan/orphaner should never list
Comment[hu]=Edit list of packages deborphan/orphaner should never list
Comment[id]=Edit list of packages deborphan/orphaner should never list
Comment[it]=Edit list of packages deborphan/orphaner should never list
Comment[ja]=Edit list of packages deborphan/orphaner should never list
Comment[ka]=Edit list of packages deborphan/orphaner should never list
Comment[kk]=Edit list of packages deborphan/orphaner should never list
Comment[km]=Edit list of packages deborphan/orphaner should never list
Comment[ko]=Edit list of packages deborphan/orphaner should never list
Comment[ku]=Edit list of packages deborphan/orphaner should never list
Comment[lt]=Edit list of packages deborphan/orphaner should never list
Comment[mk]=Edit list of packages deborphan/orphaner should never list
Comment[ml]=Edit list of packages deborphan/orphaner should never list
Comment[mr]=Edit list of packages deborphan/orphaner should never list
Comment[nb]=Edit list of packages deborphan/orphaner should never list
Comment[ne]=Edit list of packages deborphan/orphaner should never list
Comment[nl]=Edit list of packages deborphan/orphaner should never list
Comment[nn]=Edit list of packages deborphan/orphaner should never list
Comment[pa]=Edit list of packages deborphan/orphaner should never list
Comment[pl]=Edit list of packages deborphan/orphaner should never list
Comment[pt]=Edit list of packages deborphan/orphaner should never list
Comment[pt_BR]=Edit list of packages deborphan/orphaner should never list
Comment[ro]=Edit list of packages deborphan/orphaner should never list
Comment[ru]=Edit list of packages deborphan/orphaner should never list
Comment[sk]=Edit list of packages deborphan/orphaner should never list
Comment[sq]=Edit list of packages deborphan/orphaner should never list
Comment[sv]=Edit list of packages deborphan/orphaner should never list
Comment[ta]=Edit list of packages deborphan/orphaner should never list
Comment[th]=Edit list of packages deborphan/orphaner should never list
Comment[tl]=Edit list of packages deborphan/orphaner should never list
Comment[tr]=Edit list of packages deborphan/orphaner should never list
Comment[uk]=Edit list of packages deborphan/orphaner should never list
Comment[vi]=Edit list of packages deborphan/orphaner should never list
Comment[wo]=Edit list of packages deborphan/orphaner should never list
Comment[zh_CN]=Edit list of packages deborphan/orphaner should never list
Comment[zh_TW]=Edit list of packages deborphan/orphaner should never list
Exec=su-to-root -c '/usr/sbin/editkeep'
Terminal=true
Categories=X-Debian-Applications-System-Administration;
