[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=fontmatrix
Name[ar]=fontmatrix
Name[ast]=fontmatrix
Name[be]=fontmatrix
Name[bg]=fontmatrix
Name[bn]=fontmatrix
Name[br]=fontmatrix
Name[bs]=fontmatrix
Name[ca]=fontmatrix
Name[cs]=fontmatrix
Name[da]=fontmatrix
Name[de]=fontmatrix
Name[dz]=fontmatrix
Name[el]=fontmatrix
Name[eo]=fontmatrix
Name[es]=fontmatrix
Name[et]=fontmatrix
Name[eu]=fontmatrix
Name[fi]=fontmatrix
Name[fr]=fontmatrix
Name[ga]=fontmatrix
Name[gl]=fontmatrix
Name[gu]=fontmatrix
Name[he]=fontmatrix
Name[hi]=fontmatrix
Name[hr]=fontmatrix
Name[hu]=fontmatrix
Name[id]=fontmatrix
Name[it]=fontmatrix
Name[ja]=fontmatrix
Name[ka]=fontmatrix
Name[kk]=fontmatrix
Name[km]=fontmatrix
Name[ko]=fontmatrix
Name[ku]=fontmatrix
Name[lt]=fontmatrix
Name[mk]=fontmatrix
Name[ml]=fontmatrix
Name[mr]=fontmatrix
Name[nb]=fontmatrix
Name[ne]=fontmatrix
Name[nl]=fontmatrix
Name[nn]=fontmatrix
Name[pa]=fontmatrix
Name[pl]=fontmatrix
Name[pt]=fontmatrix
Name[pt_BR]=fontmatrix
Name[ro]=fontmatrix
Name[ru]=fontmatrix
Name[sk]=fontmatrix
Name[sq]=fontmatrix
Name[sv]=fontmatrix
Name[ta]=fontmatrix
Name[th]=fontmatrix
Name[tl]=fontmatrix
Name[tr]=fontmatrix
Name[uk]=fontmatrix
Name[vi]=fontmatrix
Name[wo]=fontmatrix
Name[zh_CN]=fontmatrix
Name[zh_TW]=fontmatrix
Exec=/usr/bin/fontmatrix
Terminal=false
Categories=X-Debian-Applications-System-Administration;
