[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Jed
Name[ar]=Jed
Name[ast]=Jed
Name[be]=Jed
Name[bg]=Jed
Name[bn]=Jed
Name[br]=Jed
Name[bs]=Jed
Name[ca]=Jed
Name[cs]=Jed
Name[da]=Jed
Name[de]=Jed
Name[dz]=Jed
Name[el]=Jed
Name[eo]=Jed
Name[es]=Jed
Name[et]=Jed
Name[eu]=Jed
Name[fi]=Jed
Name[fr]=Jed
Name[ga]=Jed
Name[gl]=Jed
Name[gu]=Jed
Name[he]=Jed
Name[hi]=Jed
Name[hr]=Jed
Name[hu]=Jed
Name[id]=Jed
Name[it]=Jed
Name[ja]=Jed
Name[ka]=Jed
Name[kk]=Jed
Name[km]=Jed
Name[ko]=Jed
Name[ku]=Jed
Name[lt]=Jed
Name[mk]=Jed
Name[ml]=Jed
Name[mr]=Jed
Name[nb]=Jed
Name[ne]=Jed
Name[nl]=Jed
Name[nn]=Jed
Name[pa]=Jed
Name[pl]=Jed
Name[pt]=Jed
Name[pt_BR]=Jed
Name[ro]=Jed
Name[ru]=Jed
Name[sk]=Jed
Name[sq]=Jed
Name[sv]=Jed
Name[ta]=Jed
Name[th]=Jed
Name[tl]=Jed
Name[tr]=Jed
Name[uk]=Jed
Name[vi]=Jed
Name[wo]=Jed
Name[zh_CN]=Jed
Name[zh_TW]=Jed
Exec=/usr/bin/jed
Terminal=true
Categories=X-Debian-Applications-Editors;
