[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=bleachbit
Name[ar]=bleachbit
Name[ast]=bleachbit
Name[be]=bleachbit
Name[bg]=bleachbit
Name[bn]=bleachbit
Name[br]=bleachbit
Name[bs]=bleachbit
Name[ca]=bleachbit
Name[cs]=bleachbit
Name[da]=bleachbit
Name[de]=bleachbit
Name[dz]=bleachbit
Name[el]=bleachbit
Name[eo]=bleachbit
Name[es]=bleachbit
Name[et]=bleachbit
Name[eu]=bleachbit
Name[fi]=bleachbit
Name[fr]=bleachbit
Name[ga]=bleachbit
Name[gl]=bleachbit
Name[gu]=bleachbit
Name[he]=bleachbit
Name[hi]=bleachbit
Name[hr]=bleachbit
Name[hu]=bleachbit
Name[id]=bleachbit
Name[it]=bleachbit
Name[ja]=bleachbit
Name[ka]=bleachbit
Name[kk]=bleachbit
Name[km]=bleachbit
Name[ko]=bleachbit
Name[ku]=bleachbit
Name[lt]=bleachbit
Name[mk]=bleachbit
Name[ml]=bleachbit
Name[mr]=bleachbit
Name[nb]=bleachbit
Name[ne]=bleachbit
Name[nl]=bleachbit
Name[nn]=bleachbit
Name[pa]=bleachbit
Name[pl]=bleachbit
Name[pt]=bleachbit
Name[pt_BR]=bleachbit
Name[ro]=bleachbit
Name[ru]=bleachbit
Name[sk]=bleachbit
Name[sq]=bleachbit
Name[sv]=bleachbit
Name[ta]=bleachbit
Name[th]=bleachbit
Name[tl]=bleachbit
Name[tr]=bleachbit
Name[uk]=bleachbit
Name[vi]=bleachbit
Name[wo]=bleachbit
Name[zh_CN]=bleachbit
Name[zh_TW]=bleachbit
Icon=/usr/share/pixmaps/bleachbit.xpm
Exec=/usr/bin/bleachbit
Terminal=false
Categories=X-Debian-Applications-System-Administration;
