[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=aMule GUI
Name[ar]=aMule GUI
Name[ast]=aMule GUI
Name[be]=aMule GUI
Name[bg]=aMule GUI
Name[bn]=aMule GUI
Name[br]=aMule GUI
Name[bs]=aMule GUI
Name[ca]=aMule GUI
Name[cs]=aMule GUI
Name[da]=aMule GUI
Name[de]=aMule GUI
Name[dz]=aMule GUI
Name[el]=aMule GUI
Name[eo]=aMule GUI
Name[es]=aMule GUI
Name[et]=aMule GUI
Name[eu]=aMule GUI
Name[fi]=aMule GUI
Name[fr]=aMule GUI
Name[ga]=aMule GUI
Name[gl]=aMule GUI
Name[gu]=aMule GUI
Name[he]=aMule GUI
Name[hi]=aMule GUI
Name[hr]=aMule GUI
Name[hu]=aMule GUI
Name[id]=aMule GUI
Name[it]=aMule GUI
Name[ja]=aMule GUI
Name[ka]=aMule GUI
Name[kk]=aMule GUI
Name[km]=aMule GUI
Name[ko]=aMule GUI
Name[ku]=aMule GUI
Name[lt]=aMule GUI
Name[mk]=aMule GUI
Name[ml]=aMule GUI
Name[mr]=aMule GUI
Name[nb]=aMule GUI
Name[ne]=aMule GUI
Name[nl]=aMule GUI
Name[nn]=aMule GUI
Name[pa]=aMule GUI
Name[pl]=aMule GUI
Name[pt]=aMule GUI
Name[pt_BR]=aMule GUI
Name[ro]=aMule GUI
Name[ru]=aMule GUI
Name[sk]=aMule GUI
Name[sq]=aMule GUI
Name[sv]=aMule GUI
Name[ta]=aMule GUI
Name[th]=aMule GUI
Name[tl]=aMule GUI
Name[tr]=aMule GUI
Name[uk]=aMule GUI
Name[vi]=aMule GUI
Name[wo]=aMule GUI
Name[zh_CN]=aMule GUI
Name[zh_TW]=aMule GUI
Icon=/usr/share/pixmaps/amulegui.xpm
Exec=/usr/bin/amulegui
Terminal=false
Categories=X-Debian-Applications-Network-File-Transfer;
