[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Brasero
Name[ar]=Brasero
Name[ast]=Brasero
Name[be]=Brasero
Name[bg]=Brasero
Name[bn]=Brasero
Name[br]=Brasero
Name[bs]=Brasero
Name[ca]=Brasero
Name[cs]=Brasero
Name[da]=Brasero
Name[de]=Brasero
Name[dz]=Brasero
Name[el]=Brasero
Name[eo]=Brasero
Name[es]=Brasero
Name[et]=Brasero
Name[eu]=Brasero
Name[fi]=Brasero
Name[fr]=Brasero
Name[ga]=Brasero
Name[gl]=Brasero
Name[gu]=Brasero
Name[he]=Brasero
Name[hi]=Brasero
Name[hr]=Brasero
Name[hu]=Brasero
Name[id]=Brasero
Name[it]=Brasero
Name[ja]=Brasero
Name[ka]=Brasero
Name[kk]=Brasero
Name[km]=Brasero
Name[ko]=Brasero
Name[ku]=Brasero
Name[lt]=Brasero
Name[mk]=Brasero
Name[ml]=Brasero
Name[mr]=Brasero
Name[nb]=Brasero
Name[ne]=Brasero
Name[nl]=Brasero
Name[nn]=Brasero
Name[pa]=Brasero
Name[pl]=Brasero
Name[pt]=Brasero
Name[pt_BR]=Brasero
Name[ro]=Brasero
Name[ru]=Brasero
Name[sk]=Brasero
Name[sq]=Brasero
Name[sv]=Brasero
Name[ta]=Brasero
Name[th]=Brasero
Name[tl]=Brasero
Name[tr]=Brasero
Name[uk]=Brasero
Name[vi]=Brasero
Name[wo]=Brasero
Name[zh_CN]=Brasero
Name[zh_TW]=Brasero
Comment=Brasero - CD/DVD burning application for GNOME
Comment[ar]=Brasero - CD/DVD burning application for GNOME
Comment[ast]=Brasero - CD/DVD burning application for GNOME
Comment[be]=Brasero - CD/DVD burning application for GNOME
Comment[bg]=Brasero - CD/DVD burning application for GNOME
Comment[bn]=Brasero - CD/DVD burning application for GNOME
Comment[br]=Brasero - CD/DVD burning application for GNOME
Comment[bs]=Brasero - CD/DVD burning application for GNOME
Comment[ca]=Brasero - CD/DVD burning application for GNOME
Comment[cs]=Brasero - CD/DVD burning application for GNOME
Comment[da]=Brasero - CD/DVD burning application for GNOME
Comment[de]=Brasero - CD/DVD burning application for GNOME
Comment[dz]=Brasero - CD/DVD burning application for GNOME
Comment[el]=Brasero - CD/DVD burning application for GNOME
Comment[eo]=Brasero - CD/DVD burning application for GNOME
Comment[es]=Brasero - CD/DVD burning application for GNOME
Comment[et]=Brasero - CD/DVD burning application for GNOME
Comment[eu]=Brasero - CD/DVD burning application for GNOME
Comment[fi]=Brasero - CD/DVD burning application for GNOME
Comment[fr]=Brasero - CD/DVD burning application for GNOME
Comment[ga]=Brasero - CD/DVD burning application for GNOME
Comment[gl]=Brasero - CD/DVD burning application for GNOME
Comment[gu]=Brasero - CD/DVD burning application for GNOME
Comment[he]=Brasero - CD/DVD burning application for GNOME
Comment[hi]=Brasero - CD/DVD burning application for GNOME
Comment[hr]=Brasero - CD/DVD burning application for GNOME
Comment[hu]=Brasero - CD/DVD burning application for GNOME
Comment[id]=Brasero - CD/DVD burning application for GNOME
Comment[it]=Brasero - CD/DVD burning application for GNOME
Comment[ja]=Brasero - CD/DVD burning application for GNOME
Comment[ka]=Brasero - CD/DVD burning application for GNOME
Comment[kk]=Brasero - CD/DVD burning application for GNOME
Comment[km]=Brasero - CD/DVD burning application for GNOME
Comment[ko]=Brasero - CD/DVD burning application for GNOME
Comment[ku]=Brasero - CD/DVD burning application for GNOME
Comment[lt]=Brasero - CD/DVD burning application for GNOME
Comment[mk]=Brasero - CD/DVD burning application for GNOME
Comment[ml]=Brasero - CD/DVD burning application for GNOME
Comment[mr]=Brasero - CD/DVD burning application for GNOME
Comment[nb]=Brasero - CD/DVD burning application for GNOME
Comment[ne]=Brasero - CD/DVD burning application for GNOME
Comment[nl]=Brasero - CD/DVD burning application for GNOME
Comment[nn]=Brasero - CD/DVD burning application for GNOME
Comment[pa]=Brasero - CD/DVD burning application for GNOME
Comment[pl]=Brasero - CD/DVD burning application for GNOME
Comment[pt]=Brasero - CD/DVD burning application for GNOME
Comment[pt_BR]=Brasero - CD/DVD burning application for GNOME
Comment[ro]=Brasero - CD/DVD burning application for GNOME
Comment[ru]=Brasero - CD/DVD burning application for GNOME
Comment[sk]=Brasero - CD/DVD burning application for GNOME
Comment[sq]=Brasero - CD/DVD burning application for GNOME
Comment[sv]=Brasero - CD/DVD burning application for GNOME
Comment[ta]=Brasero - CD/DVD burning application for GNOME
Comment[th]=Brasero - CD/DVD burning application for GNOME
Comment[tl]=Brasero - CD/DVD burning application for GNOME
Comment[tr]=Brasero - CD/DVD burning application for GNOME
Comment[uk]=Brasero - CD/DVD burning application for GNOME
Comment[vi]=Brasero - CD/DVD burning application for GNOME
Comment[wo]=Brasero - CD/DVD burning application for GNOME
Comment[zh_CN]=Brasero - CD/DVD burning application for GNOME
Comment[zh_TW]=Brasero - CD/DVD burning application for GNOME
Exec=/usr/bin/brasero
Terminal=false
Categories=X-Debian-Applications-File-Management;
