[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Liferea
Name[ar]=Liferea
Name[ast]=Liferea
Name[be]=Liferea
Name[bg]=Liferea
Name[bn]=Liferea
Name[br]=Liferea
Name[bs]=Liferea
Name[ca]=Liferea
Name[cs]=Liferea
Name[da]=Liferea
Name[de]=Liferea
Name[dz]=Liferea
Name[el]=Liferea
Name[eo]=Liferea
Name[es]=Liferea
Name[et]=Liferea
Name[eu]=Liferea
Name[fi]=Liferea
Name[fr]=Liferea
Name[ga]=Liferea
Name[gl]=Liferea
Name[gu]=Liferea
Name[he]=Liferea
Name[hi]=Liferea
Name[hr]=Liferea
Name[hu]=Liferea
Name[id]=Liferea
Name[it]=Liferea
Name[ja]=Liferea
Name[ka]=Liferea
Name[kk]=Liferea
Name[km]=Liferea
Name[ko]=Liferea
Name[ku]=Liferea
Name[lt]=Liferea
Name[mk]=Liferea
Name[ml]=Liferea
Name[mr]=Liferea
Name[nb]=Liferea
Name[ne]=Liferea
Name[nl]=Liferea
Name[nn]=Liferea
Name[pa]=Liferea
Name[pl]=Liferea
Name[pt]=Liferea
Name[pt_BR]=Liferea
Name[ro]=Liferea
Name[ru]=Liferea
Name[sk]=Liferea
Name[sq]=Liferea
Name[sv]=Liferea
Name[ta]=Liferea
Name[th]=Liferea
Name[tl]=Liferea
Name[tr]=Liferea
Name[uk]=Liferea
Name[vi]=Liferea
Name[wo]=Liferea
Name[zh_CN]=Liferea
Name[zh_TW]=Liferea
Comment=Liferea: Linux Feed Reader
Comment[ar]=Liferea: Linux Feed Reader
Comment[ast]=Liferea: Linux Feed Reader
Comment[be]=Liferea: Linux Feed Reader
Comment[bg]=Liferea: Linux Feed Reader
Comment[bn]=Liferea: Linux Feed Reader
Comment[br]=Liferea: Linux Feed Reader
Comment[bs]=Liferea: Linux Feed Reader
Comment[ca]=Liferea: Linux Feed Reader
Comment[cs]=Liferea: Linux Feed Reader
Comment[da]=Liferea: Linux Feed Reader
Comment[de]=Liferea: Linux Feed Reader
Comment[dz]=Liferea: Linux Feed Reader
Comment[el]=Liferea: Linux Feed Reader
Comment[eo]=Liferea: Linux Feed Reader
Comment[es]=Liferea: Linux Feed Reader
Comment[et]=Liferea: Linux Feed Reader
Comment[eu]=Liferea: Linux Feed Reader
Comment[fi]=Liferea: Linux Feed Reader
Comment[fr]=Liferea: Linux Feed Reader
Comment[ga]=Liferea: Linux Feed Reader
Comment[gl]=Liferea: Linux Feed Reader
Comment[gu]=Liferea: Linux Feed Reader
Comment[he]=Liferea: Linux Feed Reader
Comment[hi]=Liferea: Linux Feed Reader
Comment[hr]=Liferea: Linux Feed Reader
Comment[hu]=Liferea: Linux Feed Reader
Comment[id]=Liferea: Linux Feed Reader
Comment[it]=Liferea: Linux Feed Reader
Comment[ja]=Liferea: Linux Feed Reader
Comment[ka]=Liferea: Linux Feed Reader
Comment[kk]=Liferea: Linux Feed Reader
Comment[km]=Liferea: Linux Feed Reader
Comment[ko]=Liferea: Linux Feed Reader
Comment[ku]=Liferea: Linux Feed Reader
Comment[lt]=Liferea: Linux Feed Reader
Comment[mk]=Liferea: Linux Feed Reader
Comment[ml]=Liferea: Linux Feed Reader
Comment[mr]=Liferea: Linux Feed Reader
Comment[nb]=Liferea: Linux Feed Reader
Comment[ne]=Liferea: Linux Feed Reader
Comment[nl]=Liferea: Linux Feed Reader
Comment[nn]=Liferea: Linux Feed Reader
Comment[pa]=Liferea: Linux Feed Reader
Comment[pl]=Liferea: Linux Feed Reader
Comment[pt]=Liferea: Linux Feed Reader
Comment[pt_BR]=Liferea: Linux Feed Reader
Comment[ro]=Liferea: Linux Feed Reader
Comment[ru]=Liferea: Linux Feed Reader
Comment[sk]=Liferea: Linux Feed Reader
Comment[sq]=Liferea: Linux Feed Reader
Comment[sv]=Liferea: Linux Feed Reader
Comment[ta]=Liferea: Linux Feed Reader
Comment[th]=Liferea: Linux Feed Reader
Comment[tl]=Liferea: Linux Feed Reader
Comment[tr]=Liferea: Linux Feed Reader
Comment[uk]=Liferea: Linux Feed Reader
Comment[vi]=Liferea: Linux Feed Reader
Comment[wo]=Liferea: Linux Feed Reader
Comment[zh_CN]=Liferea: Linux Feed Reader
Comment[zh_TW]=Liferea: Linux Feed Reader
Icon=/usr/share/liferea/pixmaps/liferea.xpm
Exec=/usr/bin/liferea
Terminal=false
Categories=X-Debian-Applications-Network-Web-News;
