[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=GNOME Search Tool
Name[ar]=GNOME Search Tool
Name[ast]=GNOME Search Tool
Name[be]=GNOME Search Tool
Name[bg]=GNOME Search Tool
Name[bn]=GNOME Search Tool
Name[br]=GNOME Search Tool
Name[bs]=GNOME Search Tool
Name[ca]=GNOME Search Tool
Name[cs]=GNOME Search Tool
Name[da]=GNOME Search Tool
Name[de]=GNOME Search Tool
Name[dz]=GNOME Search Tool
Name[el]=GNOME Search Tool
Name[eo]=GNOME Search Tool
Name[es]=GNOME Search Tool
Name[et]=GNOME Search Tool
Name[eu]=GNOME Search Tool
Name[fi]=GNOME Search Tool
Name[fr]=GNOME Search Tool
Name[ga]=GNOME Search Tool
Name[gl]=GNOME Search Tool
Name[gu]=GNOME Search Tool
Name[he]=GNOME Search Tool
Name[hi]=GNOME Search Tool
Name[hr]=GNOME Search Tool
Name[hu]=GNOME Search Tool
Name[id]=GNOME Search Tool
Name[it]=GNOME Search Tool
Name[ja]=GNOME Search Tool
Name[ka]=GNOME Search Tool
Name[kk]=GNOME Search Tool
Name[km]=GNOME Search Tool
Name[ko]=GNOME Search Tool
Name[ku]=GNOME Search Tool
Name[lt]=GNOME Search Tool
Name[mk]=GNOME Search Tool
Name[ml]=GNOME Search Tool
Name[mr]=GNOME Search Tool
Name[nb]=GNOME Search Tool
Name[ne]=GNOME Search Tool
Name[nl]=GNOME Search Tool
Name[nn]=GNOME Search Tool
Name[pa]=GNOME Search Tool
Name[pl]=GNOME Search Tool
Name[pt]=GNOME Search Tool
Name[pt_BR]=GNOME Search Tool
Name[ro]=GNOME Search Tool
Name[ru]=GNOME Search Tool
Name[sk]=GNOME Search Tool
Name[sq]=GNOME Search Tool
Name[sv]=GNOME Search Tool
Name[ta]=GNOME Search Tool
Name[th]=GNOME Search Tool
Name[tl]=GNOME Search Tool
Name[tr]=GNOME Search Tool
Name[uk]=GNOME Search Tool
Name[vi]=GNOME Search Tool
Name[wo]=GNOME Search Tool
Name[zh_CN]=GNOME Search Tool
Name[zh_TW]=GNOME Search Tool
Icon=/usr/share/pixmaps/gsearchtool.xpm
Exec=/usr/bin/gnome-search-tool
Terminal=false
Categories=X-Debian-Applications-File-Management;
