[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=GNU Paint
Name[ar]=GNU Paint
Name[ast]=GNU Paint
Name[be]=GNU Paint
Name[bg]=GNU Paint
Name[bn]=GNU Paint
Name[br]=GNU Paint
Name[bs]=GNU Paint
Name[ca]=GNU Paint
Name[cs]=GNU Paint
Name[da]=GNU Paint
Name[de]=GNU Paint
Name[dz]=GNU Paint
Name[el]=GNU Paint
Name[eo]=GNU Paint
Name[es]=GNU Paint
Name[et]=GNU Paint
Name[eu]=GNU Paint
Name[fi]=GNU Paint
Name[fr]=GNU Paint
Name[ga]=GNU Paint
Name[gl]=GNU Paint
Name[gu]=GNU Paint
Name[he]=GNU Paint
Name[hi]=GNU Paint
Name[hr]=GNU Paint
Name[hu]=GNU Paint
Name[id]=GNU Paint
Name[it]=GNU Paint
Name[ja]=GNU Paint
Name[ka]=GNU Paint
Name[kk]=GNU Paint
Name[km]=GNU Paint
Name[ko]=GNU Paint
Name[ku]=GNU Paint
Name[lt]=GNU Paint
Name[mk]=GNU Paint
Name[ml]=GNU Paint
Name[mr]=GNU Paint
Name[nb]=GNU Paint
Name[ne]=GNU Paint
Name[nl]=GNU Paint
Name[nn]=GNU Paint
Name[pa]=GNU Paint
Name[pl]=GNU Paint
Name[pt]=GNU Paint
Name[pt_BR]=GNU Paint
Name[ro]=GNU Paint
Name[ru]=GNU Paint
Name[sk]=GNU Paint
Name[sq]=GNU Paint
Name[sv]=GNU Paint
Name[ta]=GNU Paint
Name[th]=GNU Paint
Name[tl]=GNU Paint
Name[tr]=GNU Paint
Name[uk]=GNU Paint
Name[vi]=GNU Paint
Name[wo]=GNU Paint
Name[zh_CN]=GNU Paint
Name[zh_TW]=GNU Paint
Icon=/usr/share/pixmaps/gpaint.xpm
Exec=/usr/bin/gpaint
Terminal=false
Categories=X-Debian-Applications-Graphics;
