[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=GCalcTool
Name[ar]=GCalcTool
Name[ast]=GCalcTool
Name[be]=GCalcTool
Name[bg]=GCalcTool
Name[bn]=GCalcTool
Name[br]=GCalcTool
Name[bs]=GCalcTool
Name[ca]=GCalcTool
Name[cs]=GCalcTool
Name[da]=GCalcTool
Name[de]=GCalcTool
Name[dz]=GCalcTool
Name[el]=GCalcTool
Name[eo]=GCalcTool
Name[es]=GCalcTool
Name[et]=GCalcTool
Name[eu]=GCalcTool
Name[fi]=GCalcTool
Name[fr]=GCalcTool
Name[ga]=GCalcTool
Name[gl]=GCalcTool
Name[gu]=GCalcTool
Name[he]=GCalcTool
Name[hi]=GCalcTool
Name[hr]=GCalcTool
Name[hu]=GCalcTool
Name[id]=GCalcTool
Name[it]=GCalcTool
Name[ja]=GCalcTool
Name[ka]=GCalcTool
Name[kk]=GCalcTool
Name[km]=GCalcTool
Name[ko]=GCalcTool
Name[ku]=GCalcTool
Name[lt]=GCalcTool
Name[mk]=GCalcTool
Name[ml]=GCalcTool
Name[mr]=GCalcTool
Name[nb]=GCalcTool
Name[ne]=GCalcTool
Name[nl]=GCalcTool
Name[nn]=GCalcTool
Name[pa]=GCalcTool
Name[pl]=GCalcTool
Name[pt]=GCalcTool
Name[pt_BR]=GCalcTool
Name[ro]=GCalcTool
Name[ru]=GCalcTool
Name[sk]=GCalcTool
Name[sq]=GCalcTool
Name[sv]=GCalcTool
Name[ta]=GCalcTool
Name[th]=GCalcTool
Name[tl]=GCalcTool
Name[tr]=GCalcTool
Name[uk]=GCalcTool
Name[vi]=GCalcTool
Name[wo]=GCalcTool
Name[zh_CN]=GCalcTool
Name[zh_TW]=GCalcTool
Icon=/usr/share/pixmaps/gcalctool.xpm
Exec=/usr/bin/gcalctool
Terminal=false
Categories=X-Debian-Applications-Science-Mathematics;
