[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=GHex
Name[ar]=GHex
Name[ast]=GHex
Name[be]=GHex
Name[bg]=GHex
Name[bn]=GHex
Name[br]=GHex
Name[bs]=GHex
Name[ca]=GHex
Name[cs]=GHex
Name[da]=GHex
Name[de]=GHex
Name[dz]=GHex
Name[el]=GHex
Name[eo]=GHex
Name[es]=GHex
Name[et]=GHex
Name[eu]=GHex
Name[fi]=GHex
Name[fr]=GHex
Name[ga]=GHex
Name[gl]=GHex
Name[gu]=GHex
Name[he]=GHex
Name[hi]=GHex
Name[hr]=GHex
Name[hu]=GHex
Name[id]=GHex
Name[it]=GHex
Name[ja]=GHex
Name[ka]=GHex
Name[kk]=GHex
Name[km]=GHex
Name[ko]=GHex
Name[ku]=GHex
Name[lt]=GHex
Name[mk]=GHex
Name[ml]=GHex
Name[mr]=GHex
Name[nb]=GHex
Name[ne]=GHex
Name[nl]=GHex
Name[nn]=GHex
Name[pa]=GHex
Name[pl]=GHex
Name[pt]=GHex
Name[pt_BR]=GHex
Name[ro]=GHex
Name[ru]=GHex
Name[sk]=GHex
Name[sq]=GHex
Name[sv]=GHex
Name[ta]=GHex
Name[th]=GHex
Name[tl]=GHex
Name[tr]=GHex
Name[uk]=GHex
Name[vi]=GHex
Name[wo]=GHex
Name[zh_CN]=GHex
Name[zh_TW]=GHex
Exec=/usr/bin/ghex2
Terminal=false
Categories=X-Debian-Applications-Editors;
