[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=WMnd
Name[ar]=WMnd
Name[ast]=WMnd
Name[be]=WMnd
Name[bg]=WMnd
Name[bn]=WMnd
Name[br]=WMnd
Name[bs]=WMnd
Name[ca]=WMnd
Name[cs]=WMnd
Name[da]=WMnd
Name[de]=WMnd
Name[dz]=WMnd
Name[el]=WMnd
Name[eo]=WMnd
Name[es]=WMnd
Name[et]=WMnd
Name[eu]=WMnd
Name[fi]=WMnd
Name[fr]=WMnd
Name[ga]=WMnd
Name[gl]=WMnd
Name[gu]=WMnd
Name[he]=WMnd
Name[hi]=WMnd
Name[hr]=WMnd
Name[hu]=WMnd
Name[id]=WMnd
Name[it]=WMnd
Name[ja]=WMnd
Name[ka]=WMnd
Name[kk]=WMnd
Name[km]=WMnd
Name[ko]=WMnd
Name[ku]=WMnd
Name[lt]=WMnd
Name[mk]=WMnd
Name[ml]=WMnd
Name[mr]=WMnd
Name[nb]=WMnd
Name[ne]=WMnd
Name[nl]=WMnd
Name[nn]=WMnd
Name[pa]=WMnd
Name[pl]=WMnd
Name[pt]=WMnd
Name[pt_BR]=WMnd
Name[ro]=WMnd
Name[ru]=WMnd
Name[sk]=WMnd
Name[sq]=WMnd
Name[sv]=WMnd
Name[ta]=WMnd
Name[th]=WMnd
Name[tl]=WMnd
Name[tr]=WMnd
Name[uk]=WMnd
Name[vi]=WMnd
Name[wo]=WMnd
Name[zh_CN]=WMnd
Name[zh_TW]=WMnd
Exec=/usr/bin/wmnd
Terminal=false
Categories=X-Debian-Applications-System-Monitoring;
