[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=LibreOffice Writer
Name[ar]=LibreOffice Writer
Name[ast]=LibreOffice Writer
Name[be]=LibreOffice Writer
Name[bg]=LibreOffice Writer
Name[bn]=LibreOffice Writer
Name[br]=LibreOffice Writer
Name[bs]=LibreOffice Writer
Name[ca]=LibreOffice Writer
Name[cs]=LibreOffice Writer
Name[da]=LibreOffice Writer
Name[de]=LibreOffice Writer
Name[dz]=LibreOffice Writer
Name[el]=LibreOffice Writer
Name[eo]=LibreOffice Writer
Name[es]=LibreOffice Writer
Name[et]=LibreOffice Writer
Name[eu]=LibreOffice Writer
Name[fi]=LibreOffice Writer
Name[fr]=LibreOffice Writer
Name[ga]=LibreOffice Writer
Name[gl]=LibreOffice Writer
Name[gu]=LibreOffice Writer
Name[he]=LibreOffice Writer
Name[hi]=LibreOffice Writer
Name[hr]=LibreOffice Writer
Name[hu]=LibreOffice Writer
Name[id]=LibreOffice Writer
Name[it]=LibreOffice Writer
Name[ja]=LibreOffice Writer
Name[ka]=LibreOffice Writer
Name[kk]=LibreOffice Writer
Name[km]=LibreOffice Writer
Name[ko]=LibreOffice Writer
Name[ku]=LibreOffice Writer
Name[lt]=LibreOffice Writer
Name[mk]=LibreOffice Writer
Name[ml]=LibreOffice Writer
Name[mr]=LibreOffice Writer
Name[nb]=LibreOffice Writer
Name[ne]=LibreOffice Writer
Name[nl]=LibreOffice Writer
Name[nn]=LibreOffice Writer
Name[pa]=LibreOffice Writer
Name[pl]=LibreOffice Writer
Name[pt]=LibreOffice Writer
Name[pt_BR]=LibreOffice Writer
Name[ro]=LibreOffice Writer
Name[ru]=LibreOffice Writer
Name[sk]=LibreOffice Writer
Name[sq]=LibreOffice Writer
Name[sv]=LibreOffice Writer
Name[ta]=LibreOffice Writer
Name[th]=LibreOffice Writer
Name[tl]=LibreOffice Writer
Name[tr]=LibreOffice Writer
Name[uk]=LibreOffice Writer
Name[vi]=LibreOffice Writer
Name[wo]=LibreOffice Writer
Name[zh_CN]=LibreOffice Writer
Name[zh_TW]=LibreOffice Writer
Icon=/usr/share/icons/hicolor/32x32/apps/libreoffice-writer.xpm
Exec=/usr/bin/libreoffice --writer
Terminal=false
Categories=X-Debian-Applications-Office;
