[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=E-book reader
Name[ar]=E-book reader
Name[ast]=E-book reader
Name[be]=E-book reader
Name[bg]=E-book reader
Name[bn]=E-book reader
Name[br]=E-book reader
Name[bs]=E-book reader
Name[ca]=E-book reader
Name[cs]=E-book reader
Name[da]=E-book reader
Name[de]=E-book reader
Name[dz]=E-book reader
Name[el]=E-book reader
Name[eo]=E-book reader
Name[es]=E-book reader
Name[et]=E-book reader
Name[eu]=E-book reader
Name[fi]=E-book reader
Name[fr]=E-book reader
Name[ga]=E-book reader
Name[gl]=E-book reader
Name[gu]=E-book reader
Name[he]=E-book reader
Name[hi]=E-book reader
Name[hr]=E-book reader
Name[hu]=E-book reader
Name[id]=E-book reader
Name[it]=E-book reader
Name[ja]=E-book reader
Name[ka]=E-book reader
Name[kk]=E-book reader
Name[km]=E-book reader
Name[ko]=E-book reader
Name[ku]=E-book reader
Name[lt]=E-book reader
Name[mk]=E-book reader
Name[ml]=E-book reader
Name[mr]=E-book reader
Name[nb]=E-book reader
Name[ne]=E-book reader
Name[nl]=E-book reader
Name[nn]=E-book reader
Name[pa]=E-book reader
Name[pl]=E-book reader
Name[pt]=E-book reader
Name[pt_BR]=E-book reader
Name[ro]=E-book reader
Name[ru]=E-book reader
Name[sk]=E-book reader
Name[sq]=E-book reader
Name[sv]=E-book reader
Name[ta]=E-book reader
Name[th]=E-book reader
Name[tl]=E-book reader
Name[tr]=E-book reader
Name[uk]=E-book reader
Name[vi]=E-book reader
Name[wo]=E-book reader
Name[zh_CN]=E-book reader
Name[zh_TW]=E-book reader
Exec=FBReader
Terminal=false
Categories=X-Debian-Applications-Viewers;
