[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Subcommander
Name[ar]=Subcommander
Name[ast]=Subcommander
Name[be]=Subcommander
Name[bg]=Subcommander
Name[bn]=Subcommander
Name[br]=Subcommander
Name[bs]=Subcommander
Name[ca]=Subcommander
Name[cs]=Subcommander
Name[da]=Subcommander
Name[de]=Subcommander
Name[dz]=Subcommander
Name[el]=Subcommander
Name[eo]=Subcommander
Name[es]=Subcommander
Name[et]=Subcommander
Name[eu]=Subcommander
Name[fi]=Subcommander
Name[fr]=Subcommander
Name[ga]=Subcommander
Name[gl]=Subcommander
Name[gu]=Subcommander
Name[he]=Subcommander
Name[hi]=Subcommander
Name[hr]=Subcommander
Name[hu]=Subcommander
Name[id]=Subcommander
Name[it]=Subcommander
Name[ja]=Subcommander
Name[ka]=Subcommander
Name[kk]=Subcommander
Name[km]=Subcommander
Name[ko]=Subcommander
Name[ku]=Subcommander
Name[lt]=Subcommander
Name[mk]=Subcommander
Name[ml]=Subcommander
Name[mr]=Subcommander
Name[nb]=Subcommander
Name[ne]=Subcommander
Name[nl]=Subcommander
Name[nn]=Subcommander
Name[pa]=Subcommander
Name[pl]=Subcommander
Name[pt]=Subcommander
Name[pt_BR]=Subcommander
Name[ro]=Subcommander
Name[ru]=Subcommander
Name[sk]=Subcommander
Name[sq]=Subcommander
Name[sv]=Subcommander
Name[ta]=Subcommander
Name[th]=Subcommander
Name[tl]=Subcommander
Name[tr]=Subcommander
Name[uk]=Subcommander
Name[vi]=Subcommander
Name[wo]=Subcommander
Name[zh_CN]=Subcommander
Name[zh_TW]=Subcommander
Comment=Subcommander - graphical subversion frontend
Comment[ar]=Subcommander - graphical subversion frontend
Comment[ast]=Subcommander - graphical subversion frontend
Comment[be]=Subcommander - graphical subversion frontend
Comment[bg]=Subcommander - graphical subversion frontend
Comment[bn]=Subcommander - graphical subversion frontend
Comment[br]=Subcommander - graphical subversion frontend
Comment[bs]=Subcommander - graphical subversion frontend
Comment[ca]=Subcommander - graphical subversion frontend
Comment[cs]=Subcommander - graphical subversion frontend
Comment[da]=Subcommander - graphical subversion frontend
Comment[de]=Subcommander - graphical subversion frontend
Comment[dz]=Subcommander - graphical subversion frontend
Comment[el]=Subcommander - graphical subversion frontend
Comment[eo]=Subcommander - graphical subversion frontend
Comment[es]=Subcommander - graphical subversion frontend
Comment[et]=Subcommander - graphical subversion frontend
Comment[eu]=Subcommander - graphical subversion frontend
Comment[fi]=Subcommander - graphical subversion frontend
Comment[fr]=Subcommander - graphical subversion frontend
Comment[ga]=Subcommander - graphical subversion frontend
Comment[gl]=Subcommander - graphical subversion frontend
Comment[gu]=Subcommander - graphical subversion frontend
Comment[he]=Subcommander - graphical subversion frontend
Comment[hi]=Subcommander - graphical subversion frontend
Comment[hr]=Subcommander - graphical subversion frontend
Comment[hu]=Subcommander - graphical subversion frontend
Comment[id]=Subcommander - graphical subversion frontend
Comment[it]=Subcommander - graphical subversion frontend
Comment[ja]=Subcommander - graphical subversion frontend
Comment[ka]=Subcommander - graphical subversion frontend
Comment[kk]=Subcommander - graphical subversion frontend
Comment[km]=Subcommander - graphical subversion frontend
Comment[ko]=Subcommander - graphical subversion frontend
Comment[ku]=Subcommander - graphical subversion frontend
Comment[lt]=Subcommander - graphical subversion frontend
Comment[mk]=Subcommander - graphical subversion frontend
Comment[ml]=Subcommander - graphical subversion frontend
Comment[mr]=Subcommander - graphical subversion frontend
Comment[nb]=Subcommander - graphical subversion frontend
Comment[ne]=Subcommander - graphical subversion frontend
Comment[nl]=Subcommander - graphical subversion frontend
Comment[nn]=Subcommander - graphical subversion frontend
Comment[pa]=Subcommander - graphical subversion frontend
Comment[pl]=Subcommander - graphical subversion frontend
Comment[pt]=Subcommander - graphical subversion frontend
Comment[pt_BR]=Subcommander - graphical subversion frontend
Comment[ro]=Subcommander - graphical subversion frontend
Comment[ru]=Subcommander - graphical subversion frontend
Comment[sk]=Subcommander - graphical subversion frontend
Comment[sq]=Subcommander - graphical subversion frontend
Comment[sv]=Subcommander - graphical subversion frontend
Comment[ta]=Subcommander - graphical subversion frontend
Comment[th]=Subcommander - graphical subversion frontend
Comment[tl]=Subcommander - graphical subversion frontend
Comment[tr]=Subcommander - graphical subversion frontend
Comment[uk]=Subcommander - graphical subversion frontend
Comment[vi]=Subcommander - graphical subversion frontend
Comment[wo]=Subcommander - graphical subversion frontend
Comment[zh_CN]=Subcommander - graphical subversion frontend
Comment[zh_TW]=Subcommander - graphical subversion frontend
Icon=/usr/share/pixmaps/subcommander.xpm
Exec=/usr/bin/subcommander
Terminal=false
Categories=X-Debian-Applications-Programming;
