[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=MPlayer
Name[ar]=MPlayer
Name[ast]=MPlayer
Name[be]=MPlayer
Name[bg]=MPlayer
Name[bn]=MPlayer
Name[br]=MPlayer
Name[bs]=MPlayer
Name[ca]=MPlayer
Name[cs]=MPlayer
Name[da]=MPlayer
Name[de]=MPlayer
Name[dz]=MPlayer
Name[el]=MPlayer
Name[eo]=MPlayer
Name[es]=MPlayer
Name[et]=MPlayer
Name[eu]=MPlayer
Name[fi]=MPlayer
Name[fr]=MPlayer
Name[ga]=MPlayer
Name[gl]=MPlayer
Name[gu]=MPlayer
Name[he]=MPlayer
Name[hi]=MPlayer
Name[hr]=MPlayer
Name[hu]=MPlayer
Name[id]=MPlayer
Name[it]=MPlayer
Name[ja]=MPlayer
Name[ka]=MPlayer
Name[kk]=MPlayer
Name[km]=MPlayer
Name[ko]=MPlayer
Name[ku]=MPlayer
Name[lt]=MPlayer
Name[mk]=MPlayer
Name[ml]=MPlayer
Name[mr]=MPlayer
Name[nb]=MPlayer
Name[ne]=MPlayer
Name[nl]=MPlayer
Name[nn]=MPlayer
Name[pa]=MPlayer
Name[pl]=MPlayer
Name[pt]=MPlayer
Name[pt_BR]=MPlayer
Name[ro]=MPlayer
Name[ru]=MPlayer
Name[sk]=MPlayer
Name[sq]=MPlayer
Name[sv]=MPlayer
Name[ta]=MPlayer
Name[th]=MPlayer
Name[tl]=MPlayer
Name[tr]=MPlayer
Name[uk]=MPlayer
Name[vi]=MPlayer
Name[wo]=MPlayer
Name[zh_CN]=MPlayer
Name[zh_TW]=MPlayer
Icon=/usr/share/pixmaps/mplayer.xpm
Exec=/usr/bin/gmplayer
Terminal=false
Categories=X-Debian-Applications-Viewers;
