[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=xtightvncviewer
Name[ar]=xtightvncviewer
Name[ast]=xtightvncviewer
Name[be]=xtightvncviewer
Name[bg]=xtightvncviewer
Name[bn]=xtightvncviewer
Name[br]=xtightvncviewer
Name[bs]=xtightvncviewer
Name[ca]=xtightvncviewer
Name[cs]=xtightvncviewer
Name[da]=xtightvncviewer
Name[de]=xtightvncviewer
Name[dz]=xtightvncviewer
Name[el]=xtightvncviewer
Name[eo]=xtightvncviewer
Name[es]=xtightvncviewer
Name[et]=xtightvncviewer
Name[eu]=xtightvncviewer
Name[fi]=xtightvncviewer
Name[fr]=xtightvncviewer
Name[ga]=xtightvncviewer
Name[gl]=xtightvncviewer
Name[gu]=xtightvncviewer
Name[he]=xtightvncviewer
Name[hi]=xtightvncviewer
Name[hr]=xtightvncviewer
Name[hu]=xtightvncviewer
Name[id]=xtightvncviewer
Name[it]=xtightvncviewer
Name[ja]=xtightvncviewer
Name[ka]=xtightvncviewer
Name[kk]=xtightvncviewer
Name[km]=xtightvncviewer
Name[ko]=xtightvncviewer
Name[ku]=xtightvncviewer
Name[lt]=xtightvncviewer
Name[mk]=xtightvncviewer
Name[ml]=xtightvncviewer
Name[mr]=xtightvncviewer
Name[nb]=xtightvncviewer
Name[ne]=xtightvncviewer
Name[nl]=xtightvncviewer
Name[nn]=xtightvncviewer
Name[pa]=xtightvncviewer
Name[pl]=xtightvncviewer
Name[pt]=xtightvncviewer
Name[pt_BR]=xtightvncviewer
Name[ro]=xtightvncviewer
Name[ru]=xtightvncviewer
Name[sk]=xtightvncviewer
Name[sq]=xtightvncviewer
Name[sv]=xtightvncviewer
Name[ta]=xtightvncviewer
Name[th]=xtightvncviewer
Name[tl]=xtightvncviewer
Name[tr]=xtightvncviewer
Name[uk]=xtightvncviewer
Name[vi]=xtightvncviewer
Name[wo]=xtightvncviewer
Name[zh_CN]=xtightvncviewer
Name[zh_TW]=xtightvncviewer
Exec=/usr/bin/xtightvncviewer
Terminal=false
Categories=X-Debian-Applications-Network-Communication;
