[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=easytag
Name[ar]=easytag
Name[ast]=easytag
Name[be]=easytag
Name[bg]=easytag
Name[bn]=easytag
Name[br]=easytag
Name[bs]=easytag
Name[ca]=easytag
Name[cs]=easytag
Name[da]=easytag
Name[de]=easytag
Name[dz]=easytag
Name[el]=easytag
Name[eo]=easytag
Name[es]=easytag
Name[et]=easytag
Name[eu]=easytag
Name[fi]=easytag
Name[fr]=easytag
Name[ga]=easytag
Name[gl]=easytag
Name[gu]=easytag
Name[he]=easytag
Name[hi]=easytag
Name[hr]=easytag
Name[hu]=easytag
Name[id]=easytag
Name[it]=easytag
Name[ja]=easytag
Name[ka]=easytag
Name[kk]=easytag
Name[km]=easytag
Name[ko]=easytag
Name[ku]=easytag
Name[lt]=easytag
Name[mk]=easytag
Name[ml]=easytag
Name[mr]=easytag
Name[nb]=easytag
Name[ne]=easytag
Name[nl]=easytag
Name[nn]=easytag
Name[pa]=easytag
Name[pl]=easytag
Name[pt]=easytag
Name[pt_BR]=easytag
Name[ro]=easytag
Name[ru]=easytag
Name[sk]=easytag
Name[sq]=easytag
Name[sv]=easytag
Name[ta]=easytag
Name[th]=easytag
Name[tl]=easytag
Name[tr]=easytag
Name[uk]=easytag
Name[vi]=easytag
Name[wo]=easytag
Name[zh_CN]=easytag
Name[zh_TW]=easytag
Icon=/usr/share/pixmaps/easytag.xpm
Exec=/usr/bin/easytag
Terminal=false
Categories=X-Debian-Applications-Sound;
