[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=LibreOffice Calc
Name[ar]=LibreOffice Calc
Name[ast]=LibreOffice Calc
Name[be]=LibreOffice Calc
Name[bg]=LibreOffice Calc
Name[bn]=LibreOffice Calc
Name[br]=LibreOffice Calc
Name[bs]=LibreOffice Calc
Name[ca]=LibreOffice Calc
Name[cs]=LibreOffice Calc
Name[da]=LibreOffice Calc
Name[de]=LibreOffice Calc
Name[dz]=LibreOffice Calc
Name[el]=LibreOffice Calc
Name[eo]=LibreOffice Calc
Name[es]=LibreOffice Calc
Name[et]=LibreOffice Calc
Name[eu]=LibreOffice Calc
Name[fi]=LibreOffice Calc
Name[fr]=LibreOffice Calc
Name[ga]=LibreOffice Calc
Name[gl]=LibreOffice Calc
Name[gu]=LibreOffice Calc
Name[he]=LibreOffice Calc
Name[hi]=LibreOffice Calc
Name[hr]=LibreOffice Calc
Name[hu]=LibreOffice Calc
Name[id]=LibreOffice Calc
Name[it]=LibreOffice Calc
Name[ja]=LibreOffice Calc
Name[ka]=LibreOffice Calc
Name[kk]=LibreOffice Calc
Name[km]=LibreOffice Calc
Name[ko]=LibreOffice Calc
Name[ku]=LibreOffice Calc
Name[lt]=LibreOffice Calc
Name[mk]=LibreOffice Calc
Name[ml]=LibreOffice Calc
Name[mr]=LibreOffice Calc
Name[nb]=LibreOffice Calc
Name[ne]=LibreOffice Calc
Name[nl]=LibreOffice Calc
Name[nn]=LibreOffice Calc
Name[pa]=LibreOffice Calc
Name[pl]=LibreOffice Calc
Name[pt]=LibreOffice Calc
Name[pt_BR]=LibreOffice Calc
Name[ro]=LibreOffice Calc
Name[ru]=LibreOffice Calc
Name[sk]=LibreOffice Calc
Name[sq]=LibreOffice Calc
Name[sv]=LibreOffice Calc
Name[ta]=LibreOffice Calc
Name[th]=LibreOffice Calc
Name[tl]=LibreOffice Calc
Name[tr]=LibreOffice Calc
Name[uk]=LibreOffice Calc
Name[vi]=LibreOffice Calc
Name[wo]=LibreOffice Calc
Name[zh_CN]=LibreOffice Calc
Name[zh_TW]=LibreOffice Calc
Icon=/usr/share/icons/hicolor/32x32/apps/libreoffice-calc.xpm
Exec=/usr/bin/libreoffice --calc
Terminal=false
Categories=X-Debian-Applications-Office;
