[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Sun Java 6 Web Start
Name[ar]=Sun Java 6 Web Start
Name[ast]=Sun Java 6 Web Start
Name[be]=Sun Java 6 Web Start
Name[bg]=Sun Java 6 Web Start
Name[bn]=Sun Java 6 Web Start
Name[br]=Sun Java 6 Web Start
Name[bs]=Sun Java 6 Web Start
Name[ca]=Sun Java 6 Web Start
Name[cs]=Sun Java 6 Web Start
Name[da]=Sun Java 6 Web Start
Name[de]=Sun Java 6 Web Start
Name[dz]=Sun Java 6 Web Start
Name[el]=Sun Java 6 Web Start
Name[eo]=Sun Java 6 Web Start
Name[es]=Sun Java 6 Web Start
Name[et]=Sun Java 6 Web Start
Name[eu]=Sun Java 6 Web Start
Name[fi]=Sun Java 6 Web Start
Name[fr]=Sun Java 6 Web Start
Name[ga]=Sun Java 6 Web Start
Name[gl]=Sun Java 6 Web Start
Name[gu]=Sun Java 6 Web Start
Name[he]=Sun Java 6 Web Start
Name[hi]=Sun Java 6 Web Start
Name[hr]=Sun Java 6 Web Start
Name[hu]=Sun Java 6 Web Start
Name[id]=Sun Java 6 Web Start
Name[it]=Sun Java 6 Web Start
Name[ja]=Sun Java 6 Web Start
Name[ka]=Sun Java 6 Web Start
Name[kk]=Sun Java 6 Web Start
Name[km]=Sun Java 6 Web Start
Name[ko]=Sun Java 6 Web Start
Name[ku]=Sun Java 6 Web Start
Name[lt]=Sun Java 6 Web Start
Name[mk]=Sun Java 6 Web Start
Name[ml]=Sun Java 6 Web Start
Name[mr]=Sun Java 6 Web Start
Name[nb]=Sun Java 6 Web Start
Name[ne]=Sun Java 6 Web Start
Name[nl]=Sun Java 6 Web Start
Name[nn]=Sun Java 6 Web Start
Name[pa]=Sun Java 6 Web Start
Name[pl]=Sun Java 6 Web Start
Name[pt]=Sun Java 6 Web Start
Name[pt_BR]=Sun Java 6 Web Start
Name[ro]=Sun Java 6 Web Start
Name[ru]=Sun Java 6 Web Start
Name[sk]=Sun Java 6 Web Start
Name[sq]=Sun Java 6 Web Start
Name[sv]=Sun Java 6 Web Start
Name[ta]=Sun Java 6 Web Start
Name[th]=Sun Java 6 Web Start
Name[tl]=Sun Java 6 Web Start
Name[tr]=Sun Java 6 Web Start
Name[uk]=Sun Java 6 Web Start
Name[vi]=Sun Java 6 Web Start
Name[wo]=Sun Java 6 Web Start
Name[zh_CN]=Sun Java 6 Web Start
Name[zh_TW]=Sun Java 6 Web Start
Icon=/usr/share/pixmaps/sun-java6.xpm
Exec=/usr/lib/jvm/java-6-sun-1.6.0.26/bin/javaws -viewer
Terminal=false
Categories=X-Debian-Applications-Programming;
