[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=GVIM
Name[ar]=GVIM
Name[ast]=GVIM
Name[be]=GVIM
Name[bg]=GVIM
Name[bn]=GVIM
Name[br]=GVIM
Name[bs]=GVIM
Name[ca]=GVIM
Name[cs]=GVIM
Name[da]=GVIM
Name[de]=GVIM
Name[dz]=GVIM
Name[el]=GVIM
Name[eo]=GVIM
Name[es]=GVIM
Name[et]=GVIM
Name[eu]=GVIM
Name[fi]=GVIM
Name[fr]=GVIM
Name[ga]=GVIM
Name[gl]=GVIM
Name[gu]=GVIM
Name[he]=GVIM
Name[hi]=GVIM
Name[hr]=GVIM
Name[hu]=GVIM
Name[id]=GVIM
Name[it]=GVIM
Name[ja]=GVIM
Name[ka]=GVIM
Name[kk]=GVIM
Name[km]=GVIM
Name[ko]=GVIM
Name[ku]=GVIM
Name[lt]=GVIM
Name[mk]=GVIM
Name[ml]=GVIM
Name[mr]=GVIM
Name[nb]=GVIM
Name[ne]=GVIM
Name[nl]=GVIM
Name[nn]=GVIM
Name[pa]=GVIM
Name[pl]=GVIM
Name[pt]=GVIM
Name[pt_BR]=GVIM
Name[ro]=GVIM
Name[ru]=GVIM
Name[sk]=GVIM
Name[sq]=GVIM
Name[sv]=GVIM
Name[ta]=GVIM
Name[th]=GVIM
Name[tl]=GVIM
Name[tr]=GVIM
Name[uk]=GVIM
Name[vi]=GVIM
Name[wo]=GVIM
Name[zh_CN]=GVIM
Name[zh_TW]=GVIM
Comment=GVIM, graphical Vi IMproved (GTK GUI)
Comment[ar]=GVIM, graphical Vi IMproved (GTK GUI)
Comment[ast]=GVIM, graphical Vi IMproved (GTK GUI)
Comment[be]=GVIM, graphical Vi IMproved (GTK GUI)
Comment[bg]=GVIM, graphical Vi IMproved (GTK GUI)
Comment[bn]=GVIM, graphical Vi IMproved (GTK GUI)
Comment[br]=GVIM, graphical Vi IMproved (GTK GUI)
Comment[bs]=GVIM, graphical Vi IMproved (GTK GUI)
Comment[ca]=GVIM, graphical Vi IMproved (GTK GUI)
Comment[cs]=GVIM, graphical Vi IMproved (GTK GUI)
Comment[da]=GVIM, graphical Vi IMproved (GTK GUI)
Comment[de]=GVIM, graphical Vi IMproved (GTK GUI)
Comment[dz]=GVIM, graphical Vi IMproved (GTK GUI)
Comment[el]=GVIM, graphical Vi IMproved (GTK GUI)
Comment[eo]=GVIM, graphical Vi IMproved (GTK GUI)
Comment[es]=GVIM, graphical Vi IMproved (GTK GUI)
Comment[et]=GVIM, graphical Vi IMproved (GTK GUI)
Comment[eu]=GVIM, graphical Vi IMproved (GTK GUI)
Comment[fi]=GVIM, graphical Vi IMproved (GTK GUI)
Comment[fr]=GVIM, graphical Vi IMproved (GTK GUI)
Comment[ga]=GVIM, graphical Vi IMproved (GTK GUI)
Comment[gl]=GVIM, graphical Vi IMproved (GTK GUI)
Comment[gu]=GVIM, graphical Vi IMproved (GTK GUI)
Comment[he]=GVIM, graphical Vi IMproved (GTK GUI)
Comment[hi]=GVIM, graphical Vi IMproved (GTK GUI)
Comment[hr]=GVIM, graphical Vi IMproved (GTK GUI)
Comment[hu]=GVIM, graphical Vi IMproved (GTK GUI)
Comment[id]=GVIM, graphical Vi IMproved (GTK GUI)
Comment[it]=GVIM, graphical Vi IMproved (GTK GUI)
Comment[ja]=GVIM, graphical Vi IMproved (GTK GUI)
Comment[ka]=GVIM, graphical Vi IMproved (GTK GUI)
Comment[kk]=GVIM, graphical Vi IMproved (GTK GUI)
Comment[km]=GVIM, graphical Vi IMproved (GTK GUI)
Comment[ko]=GVIM, graphical Vi IMproved (GTK GUI)
Comment[ku]=GVIM, graphical Vi IMproved (GTK GUI)
Comment[lt]=GVIM, graphical Vi IMproved (GTK GUI)
Comment[mk]=GVIM, graphical Vi IMproved (GTK GUI)
Comment[ml]=GVIM, graphical Vi IMproved (GTK GUI)
Comment[mr]=GVIM, graphical Vi IMproved (GTK GUI)
Comment[nb]=GVIM, graphical Vi IMproved (GTK GUI)
Comment[ne]=GVIM, graphical Vi IMproved (GTK GUI)
Comment[nl]=GVIM, graphical Vi IMproved (GTK GUI)
Comment[nn]=GVIM, graphical Vi IMproved (GTK GUI)
Comment[pa]=GVIM, graphical Vi IMproved (GTK GUI)
Comment[pl]=GVIM, graphical Vi IMproved (GTK GUI)
Comment[pt]=GVIM, graphical Vi IMproved (GTK GUI)
Comment[pt_BR]=GVIM, graphical Vi IMproved (GTK GUI)
Comment[ro]=GVIM, graphical Vi IMproved (GTK GUI)
Comment[ru]=GVIM, graphical Vi IMproved (GTK GUI)
Comment[sk]=GVIM, graphical Vi IMproved (GTK GUI)
Comment[sq]=GVIM, graphical Vi IMproved (GTK GUI)
Comment[sv]=GVIM, graphical Vi IMproved (GTK GUI)
Comment[ta]=GVIM, graphical Vi IMproved (GTK GUI)
Comment[th]=GVIM, graphical Vi IMproved (GTK GUI)
Comment[tl]=GVIM, graphical Vi IMproved (GTK GUI)
Comment[tr]=GVIM, graphical Vi IMproved (GTK GUI)
Comment[uk]=GVIM, graphical Vi IMproved (GTK GUI)
Comment[vi]=GVIM, graphical Vi IMproved (GTK GUI)
Comment[wo]=GVIM, graphical Vi IMproved (GTK GUI)
Comment[zh_CN]=GVIM, graphical Vi IMproved (GTK GUI)
Comment[zh_TW]=GVIM, graphical Vi IMproved (GTK GUI)
Icon=/usr/share/pixmaps/vim-32.xpm
Exec=/usr/bin/vim.gtk -g -f
Terminal=false
Categories=X-Debian-Applications-Editors;
