[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=TkWish8.5
Name[ar]=TkWish8.5
Name[ast]=TkWish8.5
Name[be]=TkWish8.5
Name[bg]=TkWish8.5
Name[bn]=TkWish8.5
Name[br]=TkWish8.5
Name[bs]=TkWish8.5
Name[ca]=TkWish8.5
Name[cs]=TkWish8.5
Name[da]=TkWish8.5
Name[de]=TkWish8.5
Name[dz]=TkWish8.5
Name[el]=TkWish8.5
Name[eo]=TkWish8.5
Name[es]=TkWish8.5
Name[et]=TkWish8.5
Name[eu]=TkWish8.5
Name[fi]=TkWish8.5
Name[fr]=TkWish8.5
Name[ga]=TkWish8.5
Name[gl]=TkWish8.5
Name[gu]=TkWish8.5
Name[he]=TkWish8.5
Name[hi]=TkWish8.5
Name[hr]=TkWish8.5
Name[hu]=TkWish8.5
Name[id]=TkWish8.5
Name[it]=TkWish8.5
Name[ja]=TkWish8.5
Name[ka]=TkWish8.5
Name[kk]=TkWish8.5
Name[km]=TkWish8.5
Name[ko]=TkWish8.5
Name[ku]=TkWish8.5
Name[lt]=TkWish8.5
Name[mk]=TkWish8.5
Name[ml]=TkWish8.5
Name[mr]=TkWish8.5
Name[nb]=TkWish8.5
Name[ne]=TkWish8.5
Name[nl]=TkWish8.5
Name[nn]=TkWish8.5
Name[pa]=TkWish8.5
Name[pl]=TkWish8.5
Name[pt]=TkWish8.5
Name[pt_BR]=TkWish8.5
Name[ro]=TkWish8.5
Name[ru]=TkWish8.5
Name[sk]=TkWish8.5
Name[sq]=TkWish8.5
Name[sv]=TkWish8.5
Name[ta]=TkWish8.5
Name[th]=TkWish8.5
Name[tl]=TkWish8.5
Name[tr]=TkWish8.5
Name[uk]=TkWish8.5
Name[vi]=TkWish8.5
Name[wo]=TkWish8.5
Name[zh_CN]=TkWish8.5
Name[zh_TW]=TkWish8.5
Exec=x-terminal-emulator -e /usr/bin/wish8.5
Terminal=false
Categories=X-Debian-Applications-Programming;
