[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Txt Reader
Name[ar]=Txt Reader
Name[ast]=Txt Reader
Name[be]=Txt Reader
Name[bg]=Txt Reader
Name[bn]=Txt Reader
Name[br]=Txt Reader
Name[bs]=Txt Reader
Name[ca]=Txt Reader
Name[cs]=Txt Reader
Name[da]=Txt Reader
Name[de]=Txt Reader
Name[dz]=Txt Reader
Name[el]=Txt Reader
Name[eo]=Txt Reader
Name[es]=Txt Reader
Name[et]=Txt Reader
Name[eu]=Txt Reader
Name[fi]=Txt Reader
Name[fr]=Txt Reader
Name[ga]=Txt Reader
Name[gl]=Txt Reader
Name[gu]=Txt Reader
Name[he]=Txt Reader
Name[hi]=Txt Reader
Name[hr]=Txt Reader
Name[hu]=Txt Reader
Name[id]=Txt Reader
Name[it]=Txt Reader
Name[ja]=Txt Reader
Name[ka]=Txt Reader
Name[kk]=Txt Reader
Name[km]=Txt Reader
Name[ko]=Txt Reader
Name[ku]=Txt Reader
Name[lt]=Txt Reader
Name[mk]=Txt Reader
Name[ml]=Txt Reader
Name[mr]=Txt Reader
Name[nb]=Txt Reader
Name[ne]=Txt Reader
Name[nl]=Txt Reader
Name[nn]=Txt Reader
Name[pa]=Txt Reader
Name[pl]=Txt Reader
Name[pt]=Txt Reader
Name[pt_BR]=Txt Reader
Name[ro]=Txt Reader
Name[ru]=Txt Reader
Name[sk]=Txt Reader
Name[sq]=Txt Reader
Name[sv]=Txt Reader
Name[ta]=Txt Reader
Name[th]=Txt Reader
Name[tl]=Txt Reader
Name[tr]=Txt Reader
Name[uk]=Txt Reader
Name[vi]=Txt Reader
Name[wo]=Txt Reader
Name[zh_CN]=Txt Reader
Name[zh_TW]=Txt Reader
Icon=/usr/share/pixmaps/txtreader.xpm
Exec=txtreader
Terminal=false
Categories=X-Debian-Applications-Text;
