[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=tuxcmd
Name[ar]=tuxcmd
Name[ast]=tuxcmd
Name[be]=tuxcmd
Name[bg]=tuxcmd
Name[bn]=tuxcmd
Name[br]=tuxcmd
Name[bs]=tuxcmd
Name[ca]=tuxcmd
Name[cs]=tuxcmd
Name[da]=tuxcmd
Name[de]=tuxcmd
Name[dz]=tuxcmd
Name[el]=tuxcmd
Name[eo]=tuxcmd
Name[es]=tuxcmd
Name[et]=tuxcmd
Name[eu]=tuxcmd
Name[fi]=tuxcmd
Name[fr]=tuxcmd
Name[ga]=tuxcmd
Name[gl]=tuxcmd
Name[gu]=tuxcmd
Name[he]=tuxcmd
Name[hi]=tuxcmd
Name[hr]=tuxcmd
Name[hu]=tuxcmd
Name[id]=tuxcmd
Name[it]=tuxcmd
Name[ja]=tuxcmd
Name[ka]=tuxcmd
Name[kk]=tuxcmd
Name[km]=tuxcmd
Name[ko]=tuxcmd
Name[ku]=tuxcmd
Name[lt]=tuxcmd
Name[mk]=tuxcmd
Name[ml]=tuxcmd
Name[mr]=tuxcmd
Name[nb]=tuxcmd
Name[ne]=tuxcmd
Name[nl]=tuxcmd
Name[nn]=tuxcmd
Name[pa]=tuxcmd
Name[pl]=tuxcmd
Name[pt]=tuxcmd
Name[pt_BR]=tuxcmd
Name[ro]=tuxcmd
Name[ru]=tuxcmd
Name[sk]=tuxcmd
Name[sq]=tuxcmd
Name[sv]=tuxcmd
Name[ta]=tuxcmd
Name[th]=tuxcmd
Name[tl]=tuxcmd
Name[tr]=tuxcmd
Name[uk]=tuxcmd
Name[vi]=tuxcmd
Name[wo]=tuxcmd
Name[zh_CN]=tuxcmd
Name[zh_TW]=tuxcmd
Exec=/usr/bin/tuxcmd
Terminal=false
Categories=X-Debian-Applications-File-Management;
