[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=KildClient
Name[ar]=KildClient
Name[ast]=KildClient
Name[be]=KildClient
Name[bg]=KildClient
Name[bn]=KildClient
Name[br]=KildClient
Name[bs]=KildClient
Name[ca]=KildClient
Name[cs]=KildClient
Name[da]=KildClient
Name[de]=KildClient
Name[dz]=KildClient
Name[el]=KildClient
Name[eo]=KildClient
Name[es]=KildClient
Name[et]=KildClient
Name[eu]=KildClient
Name[fi]=KildClient
Name[fr]=KildClient
Name[ga]=KildClient
Name[gl]=KildClient
Name[gu]=KildClient
Name[he]=KildClient
Name[hi]=KildClient
Name[hr]=KildClient
Name[hu]=KildClient
Name[id]=KildClient
Name[it]=KildClient
Name[ja]=KildClient
Name[ka]=KildClient
Name[kk]=KildClient
Name[km]=KildClient
Name[ko]=KildClient
Name[ku]=KildClient
Name[lt]=KildClient
Name[mk]=KildClient
Name[ml]=KildClient
Name[mr]=KildClient
Name[nb]=KildClient
Name[ne]=KildClient
Name[nl]=KildClient
Name[nn]=KildClient
Name[pa]=KildClient
Name[pl]=KildClient
Name[pt]=KildClient
Name[pt_BR]=KildClient
Name[ro]=KildClient
Name[ru]=KildClient
Name[sk]=KildClient
Name[sq]=KildClient
Name[sv]=KildClient
Name[ta]=KildClient
Name[th]=KildClient
Name[tl]=KildClient
Name[tr]=KildClient
Name[uk]=KildClient
Name[vi]=KildClient
Name[wo]=KildClient
Name[zh_CN]=KildClient
Name[zh_TW]=KildClient
Comment=KildClient MUD Client
Comment[ar]=KildClient MUD Client
Comment[ast]=KildClient MUD Client
Comment[be]=KildClient MUD Client
Comment[bg]=KildClient MUD Client
Comment[bn]=KildClient MUD Client
Comment[br]=KildClient MUD Client
Comment[bs]=KildClient MUD Client
Comment[ca]=KildClient MUD Client
Comment[cs]=KildClient MUD Client
Comment[da]=KildClient MUD Client
Comment[de]=KildClient MUD Client
Comment[dz]=KildClient MUD Client
Comment[el]=KildClient MUD Client
Comment[eo]=KildClient MUD Client
Comment[es]=KildClient MUD Client
Comment[et]=KildClient MUD Client
Comment[eu]=KildClient MUD Client
Comment[fi]=KildClient MUD Client
Comment[fr]=KildClient MUD Client
Comment[ga]=KildClient MUD Client
Comment[gl]=KildClient MUD Client
Comment[gu]=KildClient MUD Client
Comment[he]=KildClient MUD Client
Comment[hi]=KildClient MUD Client
Comment[hr]=KildClient MUD Client
Comment[hu]=KildClient MUD Client
Comment[id]=KildClient MUD Client
Comment[it]=KildClient MUD Client
Comment[ja]=KildClient MUD Client
Comment[ka]=KildClient MUD Client
Comment[kk]=KildClient MUD Client
Comment[km]=KildClient MUD Client
Comment[ko]=KildClient MUD Client
Comment[ku]=KildClient MUD Client
Comment[lt]=KildClient MUD Client
Comment[mk]=KildClient MUD Client
Comment[ml]=KildClient MUD Client
Comment[mr]=KildClient MUD Client
Comment[nb]=KildClient MUD Client
Comment[ne]=KildClient MUD Client
Comment[nl]=KildClient MUD Client
Comment[nn]=KildClient MUD Client
Comment[pa]=KildClient MUD Client
Comment[pl]=KildClient MUD Client
Comment[pt]=KildClient MUD Client
Comment[pt_BR]=KildClient MUD Client
Comment[ro]=KildClient MUD Client
Comment[ru]=KildClient MUD Client
Comment[sk]=KildClient MUD Client
Comment[sq]=KildClient MUD Client
Comment[sv]=KildClient MUD Client
Comment[ta]=KildClient MUD Client
Comment[th]=KildClient MUD Client
Comment[tl]=KildClient MUD Client
Comment[tr]=KildClient MUD Client
Comment[uk]=KildClient MUD Client
Comment[vi]=KildClient MUD Client
Comment[wo]=KildClient MUD Client
Comment[zh_CN]=KildClient MUD Client
Comment[zh_TW]=KildClient MUD Client
Icon=/usr/share/pixmaps/kildclient.xpm
Exec=/usr/games/kildclient
Terminal=false
Categories=X-Debian-Games-Adventure;
