[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=fluxconf
Name[ar]=fluxconf
Name[ast]=fluxconf
Name[be]=fluxconf
Name[bg]=fluxconf
Name[bn]=fluxconf
Name[br]=fluxconf
Name[bs]=fluxconf
Name[ca]=fluxconf
Name[cs]=fluxconf
Name[da]=fluxconf
Name[de]=fluxconf
Name[dz]=fluxconf
Name[el]=fluxconf
Name[eo]=fluxconf
Name[es]=fluxconf
Name[et]=fluxconf
Name[eu]=fluxconf
Name[fi]=fluxconf
Name[fr]=fluxconf
Name[ga]=fluxconf
Name[gl]=fluxconf
Name[gu]=fluxconf
Name[he]=fluxconf
Name[hi]=fluxconf
Name[hr]=fluxconf
Name[hu]=fluxconf
Name[id]=fluxconf
Name[it]=fluxconf
Name[ja]=fluxconf
Name[ka]=fluxconf
Name[kk]=fluxconf
Name[km]=fluxconf
Name[ko]=fluxconf
Name[ku]=fluxconf
Name[lt]=fluxconf
Name[mk]=fluxconf
Name[ml]=fluxconf
Name[mr]=fluxconf
Name[nb]=fluxconf
Name[ne]=fluxconf
Name[nl]=fluxconf
Name[nn]=fluxconf
Name[pa]=fluxconf
Name[pl]=fluxconf
Name[pt]=fluxconf
Name[pt_BR]=fluxconf
Name[ro]=fluxconf
Name[ru]=fluxconf
Name[sk]=fluxconf
Name[sq]=fluxconf
Name[sv]=fluxconf
Name[ta]=fluxconf
Name[th]=fluxconf
Name[tl]=fluxconf
Name[tr]=fluxconf
Name[uk]=fluxconf
Name[vi]=fluxconf
Name[wo]=fluxconf
Name[zh_CN]=fluxconf
Name[zh_TW]=fluxconf
Exec=/usr/bin/fluxconf
Terminal=false
Categories=X-Debian-Applications-System-Administration;
