[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=ncmpc
Name[ar]=ncmpc
Name[ast]=ncmpc
Name[be]=ncmpc
Name[bg]=ncmpc
Name[bn]=ncmpc
Name[br]=ncmpc
Name[bs]=ncmpc
Name[ca]=ncmpc
Name[cs]=ncmpc
Name[da]=ncmpc
Name[de]=ncmpc
Name[dz]=ncmpc
Name[el]=ncmpc
Name[eo]=ncmpc
Name[es]=ncmpc
Name[et]=ncmpc
Name[eu]=ncmpc
Name[fi]=ncmpc
Name[fr]=ncmpc
Name[ga]=ncmpc
Name[gl]=ncmpc
Name[gu]=ncmpc
Name[he]=ncmpc
Name[hi]=ncmpc
Name[hr]=ncmpc
Name[hu]=ncmpc
Name[id]=ncmpc
Name[it]=ncmpc
Name[ja]=ncmpc
Name[ka]=ncmpc
Name[kk]=ncmpc
Name[km]=ncmpc
Name[ko]=ncmpc
Name[ku]=ncmpc
Name[lt]=ncmpc
Name[mk]=ncmpc
Name[ml]=ncmpc
Name[mr]=ncmpc
Name[nb]=ncmpc
Name[ne]=ncmpc
Name[nl]=ncmpc
Name[nn]=ncmpc
Name[pa]=ncmpc
Name[pl]=ncmpc
Name[pt]=ncmpc
Name[pt_BR]=ncmpc
Name[ro]=ncmpc
Name[ru]=ncmpc
Name[sk]=ncmpc
Name[sq]=ncmpc
Name[sv]=ncmpc
Name[ta]=ncmpc
Name[th]=ncmpc
Name[tl]=ncmpc
Name[tr]=ncmpc
Name[uk]=ncmpc
Name[vi]=ncmpc
Name[wo]=ncmpc
Name[zh_CN]=ncmpc
Name[zh_TW]=ncmpc
Comment=NCurses Music Player Client
Comment[ar]=NCurses Music Player Client
Comment[ast]=NCurses Music Player Client
Comment[be]=NCurses Music Player Client
Comment[bg]=NCurses Music Player Client
Comment[bn]=NCurses Music Player Client
Comment[br]=NCurses Music Player Client
Comment[bs]=NCurses Music Player Client
Comment[ca]=NCurses Music Player Client
Comment[cs]=NCurses Music Player Client
Comment[da]=NCurses Music Player Client
Comment[de]=NCurses Music Player Client
Comment[dz]=NCurses Music Player Client
Comment[el]=NCurses Music Player Client
Comment[eo]=NCurses Music Player Client
Comment[es]=NCurses Music Player Client
Comment[et]=NCurses Music Player Client
Comment[eu]=NCurses Music Player Client
Comment[fi]=NCurses Music Player Client
Comment[fr]=NCurses Music Player Client
Comment[ga]=NCurses Music Player Client
Comment[gl]=NCurses Music Player Client
Comment[gu]=NCurses Music Player Client
Comment[he]=NCurses Music Player Client
Comment[hi]=NCurses Music Player Client
Comment[hr]=NCurses Music Player Client
Comment[hu]=NCurses Music Player Client
Comment[id]=NCurses Music Player Client
Comment[it]=NCurses Music Player Client
Comment[ja]=NCurses Music Player Client
Comment[ka]=NCurses Music Player Client
Comment[kk]=NCurses Music Player Client
Comment[km]=NCurses Music Player Client
Comment[ko]=NCurses Music Player Client
Comment[ku]=NCurses Music Player Client
Comment[lt]=NCurses Music Player Client
Comment[mk]=NCurses Music Player Client
Comment[ml]=NCurses Music Player Client
Comment[mr]=NCurses Music Player Client
Comment[nb]=NCurses Music Player Client
Comment[ne]=NCurses Music Player Client
Comment[nl]=NCurses Music Player Client
Comment[nn]=NCurses Music Player Client
Comment[pa]=NCurses Music Player Client
Comment[pl]=NCurses Music Player Client
Comment[pt]=NCurses Music Player Client
Comment[pt_BR]=NCurses Music Player Client
Comment[ro]=NCurses Music Player Client
Comment[ru]=NCurses Music Player Client
Comment[sk]=NCurses Music Player Client
Comment[sq]=NCurses Music Player Client
Comment[sv]=NCurses Music Player Client
Comment[ta]=NCurses Music Player Client
Comment[th]=NCurses Music Player Client
Comment[tl]=NCurses Music Player Client
Comment[tr]=NCurses Music Player Client
Comment[uk]=NCurses Music Player Client
Comment[vi]=NCurses Music Player Client
Comment[wo]=NCurses Music Player Client
Comment[zh_CN]=NCurses Music Player Client
Comment[zh_TW]=NCurses Music Player Client
Exec=/usr/bin/ncmpc
Terminal=true
Categories=X-Debian-Applications-Sound;
