[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=GBackground
Name[ar]=GBackground
Name[ast]=GBackground
Name[be]=GBackground
Name[bg]=GBackground
Name[bn]=GBackground
Name[br]=GBackground
Name[bs]=GBackground
Name[ca]=GBackground
Name[cs]=GBackground
Name[da]=GBackground
Name[de]=GBackground
Name[dz]=GBackground
Name[el]=GBackground
Name[eo]=GBackground
Name[es]=GBackground
Name[et]=GBackground
Name[eu]=GBackground
Name[fi]=GBackground
Name[fr]=GBackground
Name[ga]=GBackground
Name[gl]=GBackground
Name[gu]=GBackground
Name[he]=GBackground
Name[hi]=GBackground
Name[hr]=GBackground
Name[hu]=GBackground
Name[id]=GBackground
Name[it]=GBackground
Name[ja]=GBackground
Name[ka]=GBackground
Name[kk]=GBackground
Name[km]=GBackground
Name[ko]=GBackground
Name[ku]=GBackground
Name[lt]=GBackground
Name[mk]=GBackground
Name[ml]=GBackground
Name[mr]=GBackground
Name[nb]=GBackground
Name[ne]=GBackground
Name[nl]=GBackground
Name[nn]=GBackground
Name[pa]=GBackground
Name[pl]=GBackground
Name[pt]=GBackground
Name[pt_BR]=GBackground
Name[ro]=GBackground
Name[ru]=GBackground
Name[sk]=GBackground
Name[sq]=GBackground
Name[sv]=GBackground
Name[ta]=GBackground
Name[th]=GBackground
Name[tl]=GBackground
Name[tr]=GBackground
Name[uk]=GBackground
Name[vi]=GBackground
Name[wo]=GBackground
Name[zh_CN]=GBackground
Name[zh_TW]=GBackground
Icon=/usr/share/pixmaps/config-xfree.xpm
Exec=/usr/bin/gbackground
Terminal=false
Categories=X-Debian-Screen-Locking;
