[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=GnoCHM
Name[ar]=GnoCHM
Name[ast]=GnoCHM
Name[be]=GnoCHM
Name[bg]=GnoCHM
Name[bn]=GnoCHM
Name[br]=GnoCHM
Name[bs]=GnoCHM
Name[ca]=GnoCHM
Name[cs]=GnoCHM
Name[da]=GnoCHM
Name[de]=GnoCHM
Name[dz]=GnoCHM
Name[el]=GnoCHM
Name[eo]=GnoCHM
Name[es]=GnoCHM
Name[et]=GnoCHM
Name[eu]=GnoCHM
Name[fi]=GnoCHM
Name[fr]=GnoCHM
Name[ga]=GnoCHM
Name[gl]=GnoCHM
Name[gu]=GnoCHM
Name[he]=GnoCHM
Name[hi]=GnoCHM
Name[hr]=GnoCHM
Name[hu]=GnoCHM
Name[id]=GnoCHM
Name[it]=GnoCHM
Name[ja]=GnoCHM
Name[ka]=GnoCHM
Name[kk]=GnoCHM
Name[km]=GnoCHM
Name[ko]=GnoCHM
Name[ku]=GnoCHM
Name[lt]=GnoCHM
Name[mk]=GnoCHM
Name[ml]=GnoCHM
Name[mr]=GnoCHM
Name[nb]=GnoCHM
Name[ne]=GnoCHM
Name[nl]=GnoCHM
Name[nn]=GnoCHM
Name[pa]=GnoCHM
Name[pl]=GnoCHM
Name[pt]=GnoCHM
Name[pt_BR]=GnoCHM
Name[ro]=GnoCHM
Name[ru]=GnoCHM
Name[sk]=GnoCHM
Name[sq]=GnoCHM
Name[sv]=GnoCHM
Name[ta]=GnoCHM
Name[th]=GnoCHM
Name[tl]=GnoCHM
Name[tr]=GnoCHM
Name[uk]=GnoCHM
Name[vi]=GnoCHM
Name[wo]=GnoCHM
Name[zh_CN]=GnoCHM
Name[zh_TW]=GnoCHM
Icon=/usr/share/pixmaps/gnochm.xpm
Exec=/usr/bin/gnochm
Terminal=false
Categories=X-Debian-Applications-Viewers;
