[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=gTweakUI Menus
Name[ar]=gTweakUI Menus
Name[ast]=gTweakUI Menus
Name[be]=gTweakUI Menus
Name[bg]=gTweakUI Menus
Name[bn]=gTweakUI Menus
Name[br]=gTweakUI Menus
Name[bs]=gTweakUI Menus
Name[ca]=gTweakUI Menus
Name[cs]=gTweakUI Menus
Name[da]=gTweakUI Menus
Name[de]=gTweakUI Menus
Name[dz]=gTweakUI Menus
Name[el]=gTweakUI Menus
Name[eo]=gTweakUI Menus
Name[es]=gTweakUI Menus
Name[et]=gTweakUI Menus
Name[eu]=gTweakUI Menus
Name[fi]=gTweakUI Menus
Name[fr]=gTweakUI Menus
Name[ga]=gTweakUI Menus
Name[gl]=gTweakUI Menus
Name[gu]=gTweakUI Menus
Name[he]=gTweakUI Menus
Name[hi]=gTweakUI Menus
Name[hr]=gTweakUI Menus
Name[hu]=gTweakUI Menus
Name[id]=gTweakUI Menus
Name[it]=gTweakUI Menus
Name[ja]=gTweakUI Menus
Name[ka]=gTweakUI Menus
Name[kk]=gTweakUI Menus
Name[km]=gTweakUI Menus
Name[ko]=gTweakUI Menus
Name[ku]=gTweakUI Menus
Name[lt]=gTweakUI Menus
Name[mk]=gTweakUI Menus
Name[ml]=gTweakUI Menus
Name[mr]=gTweakUI Menus
Name[nb]=gTweakUI Menus
Name[ne]=gTweakUI Menus
Name[nl]=gTweakUI Menus
Name[nn]=gTweakUI Menus
Name[pa]=gTweakUI Menus
Name[pl]=gTweakUI Menus
Name[pt]=gTweakUI Menus
Name[pt_BR]=gTweakUI Menus
Name[ro]=gTweakUI Menus
Name[ru]=gTweakUI Menus
Name[sk]=gTweakUI Menus
Name[sq]=gTweakUI Menus
Name[sv]=gTweakUI Menus
Name[ta]=gTweakUI Menus
Name[th]=gTweakUI Menus
Name[tl]=gTweakUI Menus
Name[tr]=gTweakUI Menus
Name[uk]=gTweakUI Menus
Name[vi]=gTweakUI Menus
Name[wo]=gTweakUI Menus
Name[zh_CN]=gTweakUI Menus
Name[zh_TW]=gTweakUI Menus
Exec=/usr/bin/gtweakui-menus
Terminal=false
Categories=X-Debian-Applications-Tools;
