[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=SMPlayer
Name[ar]=SMPlayer
Name[ast]=SMPlayer
Name[be]=SMPlayer
Name[bg]=SMPlayer
Name[bn]=SMPlayer
Name[br]=SMPlayer
Name[bs]=SMPlayer
Name[ca]=SMPlayer
Name[cs]=SMPlayer
Name[da]=SMPlayer
Name[de]=SMPlayer
Name[dz]=SMPlayer
Name[el]=SMPlayer
Name[eo]=SMPlayer
Name[es]=SMPlayer
Name[et]=SMPlayer
Name[eu]=SMPlayer
Name[fi]=SMPlayer
Name[fr]=SMPlayer
Name[ga]=SMPlayer
Name[gl]=SMPlayer
Name[gu]=SMPlayer
Name[he]=SMPlayer
Name[hi]=SMPlayer
Name[hr]=SMPlayer
Name[hu]=SMPlayer
Name[id]=SMPlayer
Name[it]=SMPlayer
Name[ja]=SMPlayer
Name[ka]=SMPlayer
Name[kk]=SMPlayer
Name[km]=SMPlayer
Name[ko]=SMPlayer
Name[ku]=SMPlayer
Name[lt]=SMPlayer
Name[mk]=SMPlayer
Name[ml]=SMPlayer
Name[mr]=SMPlayer
Name[nb]=SMPlayer
Name[ne]=SMPlayer
Name[nl]=SMPlayer
Name[nn]=SMPlayer
Name[pa]=SMPlayer
Name[pl]=SMPlayer
Name[pt]=SMPlayer
Name[pt_BR]=SMPlayer
Name[ro]=SMPlayer
Name[ru]=SMPlayer
Name[sk]=SMPlayer
Name[sq]=SMPlayer
Name[sv]=SMPlayer
Name[ta]=SMPlayer
Name[th]=SMPlayer
Name[tl]=SMPlayer
Name[tr]=SMPlayer
Name[uk]=SMPlayer
Name[vi]=SMPlayer
Name[wo]=SMPlayer
Name[zh_CN]=SMPlayer
Name[zh_TW]=SMPlayer
Comment=SMPlayer media player
Comment[ar]=SMPlayer media player
Comment[ast]=SMPlayer media player
Comment[be]=SMPlayer media player
Comment[bg]=SMPlayer media player
Comment[bn]=SMPlayer media player
Comment[br]=SMPlayer media player
Comment[bs]=SMPlayer media player
Comment[ca]=SMPlayer media player
Comment[cs]=SMPlayer media player
Comment[da]=SMPlayer media player
Comment[de]=SMPlayer media player
Comment[dz]=SMPlayer media player
Comment[el]=SMPlayer media player
Comment[eo]=SMPlayer media player
Comment[es]=SMPlayer media player
Comment[et]=SMPlayer media player
Comment[eu]=SMPlayer media player
Comment[fi]=SMPlayer media player
Comment[fr]=SMPlayer media player
Comment[ga]=SMPlayer media player
Comment[gl]=SMPlayer media player
Comment[gu]=SMPlayer media player
Comment[he]=SMPlayer media player
Comment[hi]=SMPlayer media player
Comment[hr]=SMPlayer media player
Comment[hu]=SMPlayer media player
Comment[id]=SMPlayer media player
Comment[it]=SMPlayer media player
Comment[ja]=SMPlayer media player
Comment[ka]=SMPlayer media player
Comment[kk]=SMPlayer media player
Comment[km]=SMPlayer media player
Comment[ko]=SMPlayer media player
Comment[ku]=SMPlayer media player
Comment[lt]=SMPlayer media player
Comment[mk]=SMPlayer media player
Comment[ml]=SMPlayer media player
Comment[mr]=SMPlayer media player
Comment[nb]=SMPlayer media player
Comment[ne]=SMPlayer media player
Comment[nl]=SMPlayer media player
Comment[nn]=SMPlayer media player
Comment[pa]=SMPlayer media player
Comment[pl]=SMPlayer media player
Comment[pt]=SMPlayer media player
Comment[pt_BR]=SMPlayer media player
Comment[ro]=SMPlayer media player
Comment[ru]=SMPlayer media player
Comment[sk]=SMPlayer media player
Comment[sq]=SMPlayer media player
Comment[sv]=SMPlayer media player
Comment[ta]=SMPlayer media player
Comment[th]=SMPlayer media player
Comment[tl]=SMPlayer media player
Comment[tr]=SMPlayer media player
Comment[uk]=SMPlayer media player
Comment[vi]=SMPlayer media player
Comment[wo]=SMPlayer media player
Comment[zh_CN]=SMPlayer media player
Comment[zh_TW]=SMPlayer media player
Icon=/usr/share/pixmaps/smplayer.xpm
Exec=smplayer
Terminal=false
Categories=X-Debian-Applications-Video;
