[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Pidgin
Name[ar]=Pidgin
Name[ast]=Pidgin
Name[be]=Pidgin
Name[bg]=Pidgin
Name[bn]=Pidgin
Name[br]=Pidgin
Name[bs]=Pidgin
Name[ca]=Pidgin
Name[cs]=Pidgin
Name[da]=Pidgin
Name[de]=Pidgin
Name[dz]=Pidgin
Name[el]=Pidgin
Name[eo]=Pidgin
Name[es]=Pidgin
Name[et]=Pidgin
Name[eu]=Pidgin
Name[fi]=Pidgin
Name[fr]=Pidgin
Name[ga]=Pidgin
Name[gl]=Pidgin
Name[gu]=Pidgin
Name[he]=Pidgin
Name[hi]=Pidgin
Name[hr]=Pidgin
Name[hu]=Pidgin
Name[id]=Pidgin
Name[it]=Pidgin
Name[ja]=Pidgin
Name[ka]=Pidgin
Name[kk]=Pidgin
Name[km]=Pidgin
Name[ko]=Pidgin
Name[ku]=Pidgin
Name[lt]=Pidgin
Name[mk]=Pidgin
Name[ml]=Pidgin
Name[mr]=Pidgin
Name[nb]=Pidgin
Name[ne]=Pidgin
Name[nl]=Pidgin
Name[nn]=Pidgin
Name[pa]=Pidgin
Name[pl]=Pidgin
Name[pt]=Pidgin
Name[pt_BR]=Pidgin
Name[ro]=Pidgin
Name[ru]=Pidgin
Name[sk]=Pidgin
Name[sq]=Pidgin
Name[sv]=Pidgin
Name[ta]=Pidgin
Name[th]=Pidgin
Name[tl]=Pidgin
Name[tr]=Pidgin
Name[uk]=Pidgin
Name[vi]=Pidgin
Name[wo]=Pidgin
Name[zh_CN]=Pidgin
Name[zh_TW]=Pidgin
Comment=Multi-protocol Instant Messaging Client
Comment[ar]=Multi-protocol Instant Messaging Client
Comment[ast]=Multi-protocol Instant Messaging Client
Comment[be]=Multi-protocol Instant Messaging Client
Comment[bg]=Multi-protocol Instant Messaging Client
Comment[bn]=Multi-protocol Instant Messaging Client
Comment[br]=Multi-protocol Instant Messaging Client
Comment[bs]=Multi-protocol Instant Messaging Client
Comment[ca]=Multi-protocol Instant Messaging Client
Comment[cs]=Multi-protocol Instant Messaging Client
Comment[da]=Multi-protocol Instant Messaging Client
Comment[de]=Multi-protocol Instant Messaging Client
Comment[dz]=Multi-protocol Instant Messaging Client
Comment[el]=Multi-protocol Instant Messaging Client
Comment[eo]=Multi-protocol Instant Messaging Client
Comment[es]=Multi-protocol Instant Messaging Client
Comment[et]=Multi-protocol Instant Messaging Client
Comment[eu]=Multi-protocol Instant Messaging Client
Comment[fi]=Multi-protocol Instant Messaging Client
Comment[fr]=Multi-protocol Instant Messaging Client
Comment[ga]=Multi-protocol Instant Messaging Client
Comment[gl]=Multi-protocol Instant Messaging Client
Comment[gu]=Multi-protocol Instant Messaging Client
Comment[he]=Multi-protocol Instant Messaging Client
Comment[hi]=Multi-protocol Instant Messaging Client
Comment[hr]=Multi-protocol Instant Messaging Client
Comment[hu]=Multi-protocol Instant Messaging Client
Comment[id]=Multi-protocol Instant Messaging Client
Comment[it]=Multi-protocol Instant Messaging Client
Comment[ja]=Multi-protocol Instant Messaging Client
Comment[ka]=Multi-protocol Instant Messaging Client
Comment[kk]=Multi-protocol Instant Messaging Client
Comment[km]=Multi-protocol Instant Messaging Client
Comment[ko]=Multi-protocol Instant Messaging Client
Comment[ku]=Multi-protocol Instant Messaging Client
Comment[lt]=Multi-protocol Instant Messaging Client
Comment[mk]=Multi-protocol Instant Messaging Client
Comment[ml]=Multi-protocol Instant Messaging Client
Comment[mr]=Multi-protocol Instant Messaging Client
Comment[nb]=Multi-protocol Instant Messaging Client
Comment[ne]=Multi-protocol Instant Messaging Client
Comment[nl]=Multi-protocol Instant Messaging Client
Comment[nn]=Multi-protocol Instant Messaging Client
Comment[pa]=Multi-protocol Instant Messaging Client
Comment[pl]=Multi-protocol Instant Messaging Client
Comment[pt]=Multi-protocol Instant Messaging Client
Comment[pt_BR]=Multi-protocol Instant Messaging Client
Comment[ro]=Multi-protocol Instant Messaging Client
Comment[ru]=Multi-protocol Instant Messaging Client
Comment[sk]=Multi-protocol Instant Messaging Client
Comment[sq]=Multi-protocol Instant Messaging Client
Comment[sv]=Multi-protocol Instant Messaging Client
Comment[ta]=Multi-protocol Instant Messaging Client
Comment[th]=Multi-protocol Instant Messaging Client
Comment[tl]=Multi-protocol Instant Messaging Client
Comment[tr]=Multi-protocol Instant Messaging Client
Comment[uk]=Multi-protocol Instant Messaging Client
Comment[vi]=Multi-protocol Instant Messaging Client
Comment[wo]=Multi-protocol Instant Messaging Client
Comment[zh_CN]=Multi-protocol Instant Messaging Client
Comment[zh_TW]=Multi-protocol Instant Messaging Client
Icon=/usr/share/pixmaps/pidgin-menu.xpm
Exec=/usr/bin/pidgin
Terminal=false
Categories=X-Debian-Applications-Network-Communication;
