[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=VirtualBox
Name[ar]=VirtualBox
Name[ast]=VirtualBox
Name[be]=VirtualBox
Name[bg]=VirtualBox
Name[bn]=VirtualBox
Name[br]=VirtualBox
Name[bs]=VirtualBox
Name[ca]=VirtualBox
Name[cs]=VirtualBox
Name[da]=VirtualBox
Name[de]=VirtualBox
Name[dz]=VirtualBox
Name[el]=VirtualBox
Name[eo]=VirtualBox
Name[es]=VirtualBox
Name[et]=VirtualBox
Name[eu]=VirtualBox
Name[fi]=VirtualBox
Name[fr]=VirtualBox
Name[ga]=VirtualBox
Name[gl]=VirtualBox
Name[gu]=VirtualBox
Name[he]=VirtualBox
Name[hi]=VirtualBox
Name[hr]=VirtualBox
Name[hu]=VirtualBox
Name[id]=VirtualBox
Name[it]=VirtualBox
Name[ja]=VirtualBox
Name[ka]=VirtualBox
Name[kk]=VirtualBox
Name[km]=VirtualBox
Name[ko]=VirtualBox
Name[ku]=VirtualBox
Name[lt]=VirtualBox
Name[mk]=VirtualBox
Name[ml]=VirtualBox
Name[mr]=VirtualBox
Name[nb]=VirtualBox
Name[ne]=VirtualBox
Name[nl]=VirtualBox
Name[nn]=VirtualBox
Name[pa]=VirtualBox
Name[pl]=VirtualBox
Name[pt]=VirtualBox
Name[pt_BR]=VirtualBox
Name[ro]=VirtualBox
Name[ru]=VirtualBox
Name[sk]=VirtualBox
Name[sq]=VirtualBox
Name[sv]=VirtualBox
Name[ta]=VirtualBox
Name[th]=VirtualBox
Name[tl]=VirtualBox
Name[tr]=VirtualBox
Name[uk]=VirtualBox
Name[vi]=VirtualBox
Name[wo]=VirtualBox
Name[zh_CN]=VirtualBox
Name[zh_TW]=VirtualBox
Comment=PC virtualization solution
Comment[ar]=PC virtualization solution
Comment[ast]=PC virtualization solution
Comment[be]=PC virtualization solution
Comment[bg]=PC virtualization solution
Comment[bn]=PC virtualization solution
Comment[br]=PC virtualization solution
Comment[bs]=PC virtualization solution
Comment[ca]=PC virtualization solution
Comment[cs]=PC virtualization solution
Comment[da]=PC virtualization solution
Comment[de]=PC virtualization solution
Comment[dz]=PC virtualization solution
Comment[el]=PC virtualization solution
Comment[eo]=PC virtualization solution
Comment[es]=PC virtualization solution
Comment[et]=PC virtualization solution
Comment[eu]=PC virtualization solution
Comment[fi]=PC virtualization solution
Comment[fr]=PC virtualization solution
Comment[ga]=PC virtualization solution
Comment[gl]=PC virtualization solution
Comment[gu]=PC virtualization solution
Comment[he]=PC virtualization solution
Comment[hi]=PC virtualization solution
Comment[hr]=PC virtualization solution
Comment[hu]=PC virtualization solution
Comment[id]=PC virtualization solution
Comment[it]=PC virtualization solution
Comment[ja]=PC virtualization solution
Comment[ka]=PC virtualization solution
Comment[kk]=PC virtualization solution
Comment[km]=PC virtualization solution
Comment[ko]=PC virtualization solution
Comment[ku]=PC virtualization solution
Comment[lt]=PC virtualization solution
Comment[mk]=PC virtualization solution
Comment[ml]=PC virtualization solution
Comment[mr]=PC virtualization solution
Comment[nb]=PC virtualization solution
Comment[ne]=PC virtualization solution
Comment[nl]=PC virtualization solution
Comment[nn]=PC virtualization solution
Comment[pa]=PC virtualization solution
Comment[pl]=PC virtualization solution
Comment[pt]=PC virtualization solution
Comment[pt_BR]=PC virtualization solution
Comment[ro]=PC virtualization solution
Comment[ru]=PC virtualization solution
Comment[sk]=PC virtualization solution
Comment[sq]=PC virtualization solution
Comment[sv]=PC virtualization solution
Comment[ta]=PC virtualization solution
Comment[th]=PC virtualization solution
Comment[tl]=PC virtualization solution
Comment[tr]=PC virtualization solution
Comment[uk]=PC virtualization solution
Comment[vi]=PC virtualization solution
Comment[wo]=PC virtualization solution
Comment[zh_CN]=PC virtualization solution
Comment[zh_TW]=PC virtualization solution
Icon=/usr/share/pixmaps/virtualbox.xpm
Exec=/usr/bin/virtualbox
Terminal=false
Categories=X-Debian-Applications-Emulators;
