[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=PDFEdit
Name[ar]=PDFEdit
Name[ast]=PDFEdit
Name[be]=PDFEdit
Name[bg]=PDFEdit
Name[bn]=PDFEdit
Name[br]=PDFEdit
Name[bs]=PDFEdit
Name[ca]=PDFEdit
Name[cs]=PDFEdit
Name[da]=PDFEdit
Name[de]=PDFEdit
Name[dz]=PDFEdit
Name[el]=PDFEdit
Name[eo]=PDFEdit
Name[es]=PDFEdit
Name[et]=PDFEdit
Name[eu]=PDFEdit
Name[fi]=PDFEdit
Name[fr]=PDFEdit
Name[ga]=PDFEdit
Name[gl]=PDFEdit
Name[gu]=PDFEdit
Name[he]=PDFEdit
Name[hi]=PDFEdit
Name[hr]=PDFEdit
Name[hu]=PDFEdit
Name[id]=PDFEdit
Name[it]=PDFEdit
Name[ja]=PDFEdit
Name[ka]=PDFEdit
Name[kk]=PDFEdit
Name[km]=PDFEdit
Name[ko]=PDFEdit
Name[ku]=PDFEdit
Name[lt]=PDFEdit
Name[mk]=PDFEdit
Name[ml]=PDFEdit
Name[mr]=PDFEdit
Name[nb]=PDFEdit
Name[ne]=PDFEdit
Name[nl]=PDFEdit
Name[nn]=PDFEdit
Name[pa]=PDFEdit
Name[pl]=PDFEdit
Name[pt]=PDFEdit
Name[pt_BR]=PDFEdit
Name[ro]=PDFEdit
Name[ru]=PDFEdit
Name[sk]=PDFEdit
Name[sq]=PDFEdit
Name[sv]=PDFEdit
Name[ta]=PDFEdit
Name[th]=PDFEdit
Name[tl]=PDFEdit
Name[tr]=PDFEdit
Name[uk]=PDFEdit
Name[vi]=PDFEdit
Name[wo]=PDFEdit
Name[zh_CN]=PDFEdit
Name[zh_TW]=PDFEdit
Exec=/usr/bin/pdfedit
Terminal=false
Categories=X-Debian-Applications-Editors;
