[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=SuperTux
Name[ar]=SuperTux
Name[ast]=SuperTux
Name[be]=SuperTux
Name[bg]=SuperTux
Name[bn]=SuperTux
Name[br]=SuperTux
Name[bs]=SuperTux
Name[ca]=SuperTux
Name[cs]=SuperTux
Name[da]=SuperTux
Name[de]=SuperTux
Name[dz]=SuperTux
Name[el]=SuperTux
Name[eo]=SuperTux
Name[es]=SuperTux
Name[et]=SuperTux
Name[eu]=SuperTux
Name[fi]=SuperTux
Name[fr]=SuperTux
Name[ga]=SuperTux
Name[gl]=SuperTux
Name[gu]=SuperTux
Name[he]=SuperTux
Name[hi]=SuperTux
Name[hr]=SuperTux
Name[hu]=SuperTux
Name[id]=SuperTux
Name[it]=SuperTux
Name[ja]=SuperTux
Name[ka]=SuperTux
Name[kk]=SuperTux
Name[km]=SuperTux
Name[ko]=SuperTux
Name[ku]=SuperTux
Name[lt]=SuperTux
Name[mk]=SuperTux
Name[ml]=SuperTux
Name[mr]=SuperTux
Name[nb]=SuperTux
Name[ne]=SuperTux
Name[nl]=SuperTux
Name[nn]=SuperTux
Name[pa]=SuperTux
Name[pl]=SuperTux
Name[pt]=SuperTux
Name[pt_BR]=SuperTux
Name[ro]=SuperTux
Name[ru]=SuperTux
Name[sk]=SuperTux
Name[sq]=SuperTux
Name[sv]=SuperTux
Name[ta]=SuperTux
Name[th]=SuperTux
Name[tl]=SuperTux
Name[tr]=SuperTux
Name[uk]=SuperTux
Name[vi]=SuperTux
Name[wo]=SuperTux
Name[zh_CN]=SuperTux
Name[zh_TW]=SuperTux
Icon=/usr/share/games/supertux/images/icon.xpm
Exec=/usr/games/supertux
Terminal=false
Categories=X-Debian-Games-Action;
