[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=gTweakUI Galeon
Name[ar]=gTweakUI Galeon
Name[ast]=gTweakUI Galeon
Name[be]=gTweakUI Galeon
Name[bg]=gTweakUI Galeon
Name[bn]=gTweakUI Galeon
Name[br]=gTweakUI Galeon
Name[bs]=gTweakUI Galeon
Name[ca]=gTweakUI Galeon
Name[cs]=gTweakUI Galeon
Name[da]=gTweakUI Galeon
Name[de]=gTweakUI Galeon
Name[dz]=gTweakUI Galeon
Name[el]=gTweakUI Galeon
Name[eo]=gTweakUI Galeon
Name[es]=gTweakUI Galeon
Name[et]=gTweakUI Galeon
Name[eu]=gTweakUI Galeon
Name[fi]=gTweakUI Galeon
Name[fr]=gTweakUI Galeon
Name[ga]=gTweakUI Galeon
Name[gl]=gTweakUI Galeon
Name[gu]=gTweakUI Galeon
Name[he]=gTweakUI Galeon
Name[hi]=gTweakUI Galeon
Name[hr]=gTweakUI Galeon
Name[hu]=gTweakUI Galeon
Name[id]=gTweakUI Galeon
Name[it]=gTweakUI Galeon
Name[ja]=gTweakUI Galeon
Name[ka]=gTweakUI Galeon
Name[kk]=gTweakUI Galeon
Name[km]=gTweakUI Galeon
Name[ko]=gTweakUI Galeon
Name[ku]=gTweakUI Galeon
Name[lt]=gTweakUI Galeon
Name[mk]=gTweakUI Galeon
Name[ml]=gTweakUI Galeon
Name[mr]=gTweakUI Galeon
Name[nb]=gTweakUI Galeon
Name[ne]=gTweakUI Galeon
Name[nl]=gTweakUI Galeon
Name[nn]=gTweakUI Galeon
Name[pa]=gTweakUI Galeon
Name[pl]=gTweakUI Galeon
Name[pt]=gTweakUI Galeon
Name[pt_BR]=gTweakUI Galeon
Name[ro]=gTweakUI Galeon
Name[ru]=gTweakUI Galeon
Name[sk]=gTweakUI Galeon
Name[sq]=gTweakUI Galeon
Name[sv]=gTweakUI Galeon
Name[ta]=gTweakUI Galeon
Name[th]=gTweakUI Galeon
Name[tl]=gTweakUI Galeon
Name[tr]=gTweakUI Galeon
Name[uk]=gTweakUI Galeon
Name[vi]=gTweakUI Galeon
Name[wo]=gTweakUI Galeon
Name[zh_CN]=gTweakUI Galeon
Name[zh_TW]=gTweakUI Galeon
Exec=/usr/bin/gtweakui-galeon
Terminal=false
Categories=X-Debian-Applications-Tools;
