[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Mirage
Name[ar]=Mirage
Name[ast]=Mirage
Name[be]=Mirage
Name[bg]=Mirage
Name[bn]=Mirage
Name[br]=Mirage
Name[bs]=Mirage
Name[ca]=Mirage
Name[cs]=Mirage
Name[da]=Mirage
Name[de]=Mirage
Name[dz]=Mirage
Name[el]=Mirage
Name[eo]=Mirage
Name[es]=Mirage
Name[et]=Mirage
Name[eu]=Mirage
Name[fi]=Mirage
Name[fr]=Mirage
Name[ga]=Mirage
Name[gl]=Mirage
Name[gu]=Mirage
Name[he]=Mirage
Name[hi]=Mirage
Name[hr]=Mirage
Name[hu]=Mirage
Name[id]=Mirage
Name[it]=Mirage
Name[ja]=Mirage
Name[ka]=Mirage
Name[kk]=Mirage
Name[km]=Mirage
Name[ko]=Mirage
Name[ku]=Mirage
Name[lt]=Mirage
Name[mk]=Mirage
Name[ml]=Mirage
Name[mr]=Mirage
Name[nb]=Mirage
Name[ne]=Mirage
Name[nl]=Mirage
Name[nn]=Mirage
Name[pa]=Mirage
Name[pl]=Mirage
Name[pt]=Mirage
Name[pt_BR]=Mirage
Name[ro]=Mirage
Name[ru]=Mirage
Name[sk]=Mirage
Name[sq]=Mirage
Name[sv]=Mirage
Name[ta]=Mirage
Name[th]=Mirage
Name[tl]=Mirage
Name[tr]=Mirage
Name[uk]=Mirage
Name[vi]=Mirage
Name[wo]=Mirage
Name[zh_CN]=Mirage
Name[zh_TW]=Mirage
Comment=Mirage image viewer
Comment[ar]=Mirage image viewer
Comment[ast]=Mirage image viewer
Comment[be]=Mirage image viewer
Comment[bg]=Mirage image viewer
Comment[bn]=Mirage image viewer
Comment[br]=Mirage image viewer
Comment[bs]=Mirage image viewer
Comment[ca]=Mirage image viewer
Comment[cs]=Mirage image viewer
Comment[da]=Mirage image viewer
Comment[de]=Mirage image viewer
Comment[dz]=Mirage image viewer
Comment[el]=Mirage image viewer
Comment[eo]=Mirage image viewer
Comment[es]=Mirage image viewer
Comment[et]=Mirage image viewer
Comment[eu]=Mirage image viewer
Comment[fi]=Mirage image viewer
Comment[fr]=Mirage image viewer
Comment[ga]=Mirage image viewer
Comment[gl]=Mirage image viewer
Comment[gu]=Mirage image viewer
Comment[he]=Mirage image viewer
Comment[hi]=Mirage image viewer
Comment[hr]=Mirage image viewer
Comment[hu]=Mirage image viewer
Comment[id]=Mirage image viewer
Comment[it]=Mirage image viewer
Comment[ja]=Mirage image viewer
Comment[ka]=Mirage image viewer
Comment[kk]=Mirage image viewer
Comment[km]=Mirage image viewer
Comment[ko]=Mirage image viewer
Comment[ku]=Mirage image viewer
Comment[lt]=Mirage image viewer
Comment[mk]=Mirage image viewer
Comment[ml]=Mirage image viewer
Comment[mr]=Mirage image viewer
Comment[nb]=Mirage image viewer
Comment[ne]=Mirage image viewer
Comment[nl]=Mirage image viewer
Comment[nn]=Mirage image viewer
Comment[pa]=Mirage image viewer
Comment[pl]=Mirage image viewer
Comment[pt]=Mirage image viewer
Comment[pt_BR]=Mirage image viewer
Comment[ro]=Mirage image viewer
Comment[ru]=Mirage image viewer
Comment[sk]=Mirage image viewer
Comment[sq]=Mirage image viewer
Comment[sv]=Mirage image viewer
Comment[ta]=Mirage image viewer
Comment[th]=Mirage image viewer
Comment[tl]=Mirage image viewer
Comment[tr]=Mirage image viewer
Comment[uk]=Mirage image viewer
Comment[vi]=Mirage image viewer
Comment[wo]=Mirage image viewer
Comment[zh_CN]=Mirage image viewer
Comment[zh_TW]=Mirage image viewer
Exec=mirage
Terminal=false
Categories=X-Debian-Applications-Viewers;
