[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Amarok
Name[ar]=Amarok
Name[ast]=Amarok
Name[be]=Amarok
Name[bg]=Amarok
Name[bn]=Amarok
Name[br]=Amarok
Name[bs]=Amarok
Name[ca]=Amarok
Name[cs]=Amarok
Name[da]=Amarok
Name[de]=Amarok
Name[dz]=Amarok
Name[el]=Amarok
Name[eo]=Amarok
Name[es]=Amarok
Name[et]=Amarok
Name[eu]=Amarok
Name[fi]=Amarok
Name[fr]=Amarok
Name[ga]=Amarok
Name[gl]=Amarok
Name[gu]=Amarok
Name[he]=Amarok
Name[hi]=Amarok
Name[hr]=Amarok
Name[hu]=Amarok
Name[id]=Amarok
Name[it]=Amarok
Name[ja]=Amarok
Name[ka]=Amarok
Name[kk]=Amarok
Name[km]=Amarok
Name[ko]=Amarok
Name[ku]=Amarok
Name[lt]=Amarok
Name[mk]=Amarok
Name[ml]=Amarok
Name[mr]=Amarok
Name[nb]=Amarok
Name[ne]=Amarok
Name[nl]=Amarok
Name[nn]=Amarok
Name[pa]=Amarok
Name[pl]=Amarok
Name[pt]=Amarok
Name[pt_BR]=Amarok
Name[ro]=Amarok
Name[ru]=Amarok
Name[sk]=Amarok
Name[sq]=Amarok
Name[sv]=Amarok
Name[ta]=Amarok
Name[th]=Amarok
Name[tl]=Amarok
Name[tr]=Amarok
Name[uk]=Amarok
Name[vi]=Amarok
Name[wo]=Amarok
Name[zh_CN]=Amarok
Name[zh_TW]=Amarok
Icon=/usr/share/pixmaps/amarok.xpm
Exec=/usr/bin/amarok
Terminal=false
Categories=X-Debian-Applications-Sound;
