[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Sun Java 6 Policy Tool
Name[ar]=Sun Java 6 Policy Tool
Name[ast]=Sun Java 6 Policy Tool
Name[be]=Sun Java 6 Policy Tool
Name[bg]=Sun Java 6 Policy Tool
Name[bn]=Sun Java 6 Policy Tool
Name[br]=Sun Java 6 Policy Tool
Name[bs]=Sun Java 6 Policy Tool
Name[ca]=Sun Java 6 Policy Tool
Name[cs]=Sun Java 6 Policy Tool
Name[da]=Sun Java 6 Policy Tool
Name[de]=Sun Java 6 Policy Tool
Name[dz]=Sun Java 6 Policy Tool
Name[el]=Sun Java 6 Policy Tool
Name[eo]=Sun Java 6 Policy Tool
Name[es]=Sun Java 6 Policy Tool
Name[et]=Sun Java 6 Policy Tool
Name[eu]=Sun Java 6 Policy Tool
Name[fi]=Sun Java 6 Policy Tool
Name[fr]=Sun Java 6 Policy Tool
Name[ga]=Sun Java 6 Policy Tool
Name[gl]=Sun Java 6 Policy Tool
Name[gu]=Sun Java 6 Policy Tool
Name[he]=Sun Java 6 Policy Tool
Name[hi]=Sun Java 6 Policy Tool
Name[hr]=Sun Java 6 Policy Tool
Name[hu]=Sun Java 6 Policy Tool
Name[id]=Sun Java 6 Policy Tool
Name[it]=Sun Java 6 Policy Tool
Name[ja]=Sun Java 6 Policy Tool
Name[ka]=Sun Java 6 Policy Tool
Name[kk]=Sun Java 6 Policy Tool
Name[km]=Sun Java 6 Policy Tool
Name[ko]=Sun Java 6 Policy Tool
Name[ku]=Sun Java 6 Policy Tool
Name[lt]=Sun Java 6 Policy Tool
Name[mk]=Sun Java 6 Policy Tool
Name[ml]=Sun Java 6 Policy Tool
Name[mr]=Sun Java 6 Policy Tool
Name[nb]=Sun Java 6 Policy Tool
Name[ne]=Sun Java 6 Policy Tool
Name[nl]=Sun Java 6 Policy Tool
Name[nn]=Sun Java 6 Policy Tool
Name[pa]=Sun Java 6 Policy Tool
Name[pl]=Sun Java 6 Policy Tool
Name[pt]=Sun Java 6 Policy Tool
Name[pt_BR]=Sun Java 6 Policy Tool
Name[ro]=Sun Java 6 Policy Tool
Name[ru]=Sun Java 6 Policy Tool
Name[sk]=Sun Java 6 Policy Tool
Name[sq]=Sun Java 6 Policy Tool
Name[sv]=Sun Java 6 Policy Tool
Name[ta]=Sun Java 6 Policy Tool
Name[th]=Sun Java 6 Policy Tool
Name[tl]=Sun Java 6 Policy Tool
Name[tr]=Sun Java 6 Policy Tool
Name[uk]=Sun Java 6 Policy Tool
Name[vi]=Sun Java 6 Policy Tool
Name[wo]=Sun Java 6 Policy Tool
Name[zh_CN]=Sun Java 6 Policy Tool
Name[zh_TW]=Sun Java 6 Policy Tool
Icon=/usr/share/pixmaps/sun-java6.xpm
Exec=/usr/lib/jvm/java-6-sun-1.6.0.26/bin/policytool
Terminal=false
Categories=X-Debian-Applications-System-Security;
