[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=ROXTerm
Name[ar]=ROXTerm
Name[ast]=ROXTerm
Name[be]=ROXTerm
Name[bg]=ROXTerm
Name[bn]=ROXTerm
Name[br]=ROXTerm
Name[bs]=ROXTerm
Name[ca]=ROXTerm
Name[cs]=ROXTerm
Name[da]=ROXTerm
Name[de]=ROXTerm
Name[dz]=ROXTerm
Name[el]=ROXTerm
Name[eo]=ROXTerm
Name[es]=ROXTerm
Name[et]=ROXTerm
Name[eu]=ROXTerm
Name[fi]=ROXTerm
Name[fr]=ROXTerm
Name[ga]=ROXTerm
Name[gl]=ROXTerm
Name[gu]=ROXTerm
Name[he]=ROXTerm
Name[hi]=ROXTerm
Name[hr]=ROXTerm
Name[hu]=ROXTerm
Name[id]=ROXTerm
Name[it]=ROXTerm
Name[ja]=ROXTerm
Name[ka]=ROXTerm
Name[kk]=ROXTerm
Name[km]=ROXTerm
Name[ko]=ROXTerm
Name[ku]=ROXTerm
Name[lt]=ROXTerm
Name[mk]=ROXTerm
Name[ml]=ROXTerm
Name[mr]=ROXTerm
Name[nb]=ROXTerm
Name[ne]=ROXTerm
Name[nl]=ROXTerm
Name[nn]=ROXTerm
Name[pa]=ROXTerm
Name[pl]=ROXTerm
Name[pt]=ROXTerm
Name[pt_BR]=ROXTerm
Name[ro]=ROXTerm
Name[ru]=ROXTerm
Name[sk]=ROXTerm
Name[sq]=ROXTerm
Name[sv]=ROXTerm
Name[ta]=ROXTerm
Name[th]=ROXTerm
Name[tl]=ROXTerm
Name[tr]=ROXTerm
Name[uk]=ROXTerm
Name[vi]=ROXTerm
Name[wo]=ROXTerm
Name[zh_CN]=ROXTerm
Name[zh_TW]=ROXTerm
Icon=/usr/share/pixmaps/roxterm.xpm
Exec=/usr/bin/roxterm
Terminal=false
Categories=X-Debian-Applications-Terminal-Emulators;
