[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Sun Java 6 Plugin Control Panel
Name[ar]=Sun Java 6 Plugin Control Panel
Name[ast]=Sun Java 6 Plugin Control Panel
Name[be]=Sun Java 6 Plugin Control Panel
Name[bg]=Sun Java 6 Plugin Control Panel
Name[bn]=Sun Java 6 Plugin Control Panel
Name[br]=Sun Java 6 Plugin Control Panel
Name[bs]=Sun Java 6 Plugin Control Panel
Name[ca]=Sun Java 6 Plugin Control Panel
Name[cs]=Sun Java 6 Plugin Control Panel
Name[da]=Sun Java 6 Plugin Control Panel
Name[de]=Sun Java 6 Plugin Control Panel
Name[dz]=Sun Java 6 Plugin Control Panel
Name[el]=Sun Java 6 Plugin Control Panel
Name[eo]=Sun Java 6 Plugin Control Panel
Name[es]=Sun Java 6 Plugin Control Panel
Name[et]=Sun Java 6 Plugin Control Panel
Name[eu]=Sun Java 6 Plugin Control Panel
Name[fi]=Sun Java 6 Plugin Control Panel
Name[fr]=Sun Java 6 Plugin Control Panel
Name[ga]=Sun Java 6 Plugin Control Panel
Name[gl]=Sun Java 6 Plugin Control Panel
Name[gu]=Sun Java 6 Plugin Control Panel
Name[he]=Sun Java 6 Plugin Control Panel
Name[hi]=Sun Java 6 Plugin Control Panel
Name[hr]=Sun Java 6 Plugin Control Panel
Name[hu]=Sun Java 6 Plugin Control Panel
Name[id]=Sun Java 6 Plugin Control Panel
Name[it]=Sun Java 6 Plugin Control Panel
Name[ja]=Sun Java 6 Plugin Control Panel
Name[ka]=Sun Java 6 Plugin Control Panel
Name[kk]=Sun Java 6 Plugin Control Panel
Name[km]=Sun Java 6 Plugin Control Panel
Name[ko]=Sun Java 6 Plugin Control Panel
Name[ku]=Sun Java 6 Plugin Control Panel
Name[lt]=Sun Java 6 Plugin Control Panel
Name[mk]=Sun Java 6 Plugin Control Panel
Name[ml]=Sun Java 6 Plugin Control Panel
Name[mr]=Sun Java 6 Plugin Control Panel
Name[nb]=Sun Java 6 Plugin Control Panel
Name[ne]=Sun Java 6 Plugin Control Panel
Name[nl]=Sun Java 6 Plugin Control Panel
Name[nn]=Sun Java 6 Plugin Control Panel
Name[pa]=Sun Java 6 Plugin Control Panel
Name[pl]=Sun Java 6 Plugin Control Panel
Name[pt]=Sun Java 6 Plugin Control Panel
Name[pt_BR]=Sun Java 6 Plugin Control Panel
Name[ro]=Sun Java 6 Plugin Control Panel
Name[ru]=Sun Java 6 Plugin Control Panel
Name[sk]=Sun Java 6 Plugin Control Panel
Name[sq]=Sun Java 6 Plugin Control Panel
Name[sv]=Sun Java 6 Plugin Control Panel
Name[ta]=Sun Java 6 Plugin Control Panel
Name[th]=Sun Java 6 Plugin Control Panel
Name[tl]=Sun Java 6 Plugin Control Panel
Name[tr]=Sun Java 6 Plugin Control Panel
Name[uk]=Sun Java 6 Plugin Control Panel
Name[vi]=Sun Java 6 Plugin Control Panel
Name[wo]=Sun Java 6 Plugin Control Panel
Name[zh_CN]=Sun Java 6 Plugin Control Panel
Name[zh_TW]=Sun Java 6 Plugin Control Panel
Icon=/usr/share/pixmaps/sun-java6.xpm
Exec=/usr/lib/jvm/java-6-sun-1.6.0.26/bin/ControlPanel
Terminal=false
Categories=X-Debian-Applications-System-Administration;
