[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Rxvt-Unicode
Name[ar]=Rxvt-Unicode
Name[ast]=Rxvt-Unicode
Name[be]=Rxvt-Unicode
Name[bg]=Rxvt-Unicode
Name[bn]=Rxvt-Unicode
Name[br]=Rxvt-Unicode
Name[bs]=Rxvt-Unicode
Name[ca]=Rxvt-Unicode
Name[cs]=Rxvt-Unicode
Name[da]=Rxvt-Unicode
Name[de]=Rxvt-Unicode
Name[dz]=Rxvt-Unicode
Name[el]=Rxvt-Unicode
Name[eo]=Rxvt-Unicode
Name[es]=Rxvt-Unicode
Name[et]=Rxvt-Unicode
Name[eu]=Rxvt-Unicode
Name[fi]=Rxvt-Unicode
Name[fr]=Rxvt-Unicode
Name[ga]=Rxvt-Unicode
Name[gl]=Rxvt-Unicode
Name[gu]=Rxvt-Unicode
Name[he]=Rxvt-Unicode
Name[hi]=Rxvt-Unicode
Name[hr]=Rxvt-Unicode
Name[hu]=Rxvt-Unicode
Name[id]=Rxvt-Unicode
Name[it]=Rxvt-Unicode
Name[ja]=Rxvt-Unicode
Name[ka]=Rxvt-Unicode
Name[kk]=Rxvt-Unicode
Name[km]=Rxvt-Unicode
Name[ko]=Rxvt-Unicode
Name[ku]=Rxvt-Unicode
Name[lt]=Rxvt-Unicode
Name[mk]=Rxvt-Unicode
Name[ml]=Rxvt-Unicode
Name[mr]=Rxvt-Unicode
Name[nb]=Rxvt-Unicode
Name[ne]=Rxvt-Unicode
Name[nl]=Rxvt-Unicode
Name[nn]=Rxvt-Unicode
Name[pa]=Rxvt-Unicode
Name[pl]=Rxvt-Unicode
Name[pt]=Rxvt-Unicode
Name[pt_BR]=Rxvt-Unicode
Name[ro]=Rxvt-Unicode
Name[ru]=Rxvt-Unicode
Name[sk]=Rxvt-Unicode
Name[sq]=Rxvt-Unicode
Name[sv]=Rxvt-Unicode
Name[ta]=Rxvt-Unicode
Name[th]=Rxvt-Unicode
Name[tl]=Rxvt-Unicode
Name[tr]=Rxvt-Unicode
Name[uk]=Rxvt-Unicode
Name[vi]=Rxvt-Unicode
Name[wo]=Rxvt-Unicode
Name[zh_CN]=Rxvt-Unicode
Name[zh_TW]=Rxvt-Unicode
Comment=Rxvt-Unicode: terminal emulator for X
Comment[ar]=Rxvt-Unicode: terminal emulator for X
Comment[ast]=Rxvt-Unicode: terminal emulator for X
Comment[be]=Rxvt-Unicode: terminal emulator for X
Comment[bg]=Rxvt-Unicode: terminal emulator for X
Comment[bn]=Rxvt-Unicode: terminal emulator for X
Comment[br]=Rxvt-Unicode: terminal emulator for X
Comment[bs]=Rxvt-Unicode: terminal emulator for X
Comment[ca]=Rxvt-Unicode: terminal emulator for X
Comment[cs]=Rxvt-Unicode: terminal emulator for X
Comment[da]=Rxvt-Unicode: terminal emulator for X
Comment[de]=Rxvt-Unicode: terminal emulator for X
Comment[dz]=Rxvt-Unicode: terminal emulator for X
Comment[el]=Rxvt-Unicode: terminal emulator for X
Comment[eo]=Rxvt-Unicode: terminal emulator for X
Comment[es]=Rxvt-Unicode: terminal emulator for X
Comment[et]=Rxvt-Unicode: terminal emulator for X
Comment[eu]=Rxvt-Unicode: terminal emulator for X
Comment[fi]=Rxvt-Unicode: terminal emulator for X
Comment[fr]=Rxvt-Unicode: terminal emulator for X
Comment[ga]=Rxvt-Unicode: terminal emulator for X
Comment[gl]=Rxvt-Unicode: terminal emulator for X
Comment[gu]=Rxvt-Unicode: terminal emulator for X
Comment[he]=Rxvt-Unicode: terminal emulator for X
Comment[hi]=Rxvt-Unicode: terminal emulator for X
Comment[hr]=Rxvt-Unicode: terminal emulator for X
Comment[hu]=Rxvt-Unicode: terminal emulator for X
Comment[id]=Rxvt-Unicode: terminal emulator for X
Comment[it]=Rxvt-Unicode: terminal emulator for X
Comment[ja]=Rxvt-Unicode: terminal emulator for X
Comment[ka]=Rxvt-Unicode: terminal emulator for X
Comment[kk]=Rxvt-Unicode: terminal emulator for X
Comment[km]=Rxvt-Unicode: terminal emulator for X
Comment[ko]=Rxvt-Unicode: terminal emulator for X
Comment[ku]=Rxvt-Unicode: terminal emulator for X
Comment[lt]=Rxvt-Unicode: terminal emulator for X
Comment[mk]=Rxvt-Unicode: terminal emulator for X
Comment[ml]=Rxvt-Unicode: terminal emulator for X
Comment[mr]=Rxvt-Unicode: terminal emulator for X
Comment[nb]=Rxvt-Unicode: terminal emulator for X
Comment[ne]=Rxvt-Unicode: terminal emulator for X
Comment[nl]=Rxvt-Unicode: terminal emulator for X
Comment[nn]=Rxvt-Unicode: terminal emulator for X
Comment[pa]=Rxvt-Unicode: terminal emulator for X
Comment[pl]=Rxvt-Unicode: terminal emulator for X
Comment[pt]=Rxvt-Unicode: terminal emulator for X
Comment[pt_BR]=Rxvt-Unicode: terminal emulator for X
Comment[ro]=Rxvt-Unicode: terminal emulator for X
Comment[ru]=Rxvt-Unicode: terminal emulator for X
Comment[sk]=Rxvt-Unicode: terminal emulator for X
Comment[sq]=Rxvt-Unicode: terminal emulator for X
Comment[sv]=Rxvt-Unicode: terminal emulator for X
Comment[ta]=Rxvt-Unicode: terminal emulator for X
Comment[th]=Rxvt-Unicode: terminal emulator for X
Comment[tl]=Rxvt-Unicode: terminal emulator for X
Comment[tr]=Rxvt-Unicode: terminal emulator for X
Comment[uk]=Rxvt-Unicode: terminal emulator for X
Comment[vi]=Rxvt-Unicode: terminal emulator for X
Comment[wo]=Rxvt-Unicode: terminal emulator for X
Comment[zh_CN]=Rxvt-Unicode: terminal emulator for X
Comment[zh_TW]=Rxvt-Unicode: terminal emulator for X
Icon=/usr/share/pixmaps/urxvt.xpm
Exec=urxvt
Terminal=false
Categories=X-Debian-Applications-Terminal-Emulators;
