[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=appbar
Name[ar]=appbar
Name[ast]=appbar
Name[be]=appbar
Name[bg]=appbar
Name[bn]=appbar
Name[br]=appbar
Name[bs]=appbar
Name[ca]=appbar
Name[cs]=appbar
Name[da]=appbar
Name[de]=appbar
Name[dz]=appbar
Name[el]=appbar
Name[eo]=appbar
Name[es]=appbar
Name[et]=appbar
Name[eu]=appbar
Name[fi]=appbar
Name[fr]=appbar
Name[ga]=appbar
Name[gl]=appbar
Name[gu]=appbar
Name[he]=appbar
Name[hi]=appbar
Name[hr]=appbar
Name[hu]=appbar
Name[id]=appbar
Name[it]=appbar
Name[ja]=appbar
Name[ka]=appbar
Name[kk]=appbar
Name[km]=appbar
Name[ko]=appbar
Name[ku]=appbar
Name[lt]=appbar
Name[mk]=appbar
Name[ml]=appbar
Name[mr]=appbar
Name[nb]=appbar
Name[ne]=appbar
Name[nl]=appbar
Name[nn]=appbar
Name[pa]=appbar
Name[pl]=appbar
Name[pt]=appbar
Name[pt_BR]=appbar
Name[ro]=appbar
Name[ru]=appbar
Name[sk]=appbar
Name[sq]=appbar
Name[sv]=appbar
Name[ta]=appbar
Name[th]=appbar
Name[tl]=appbar
Name[tr]=appbar
Name[uk]=appbar
Name[vi]=appbar
Name[wo]=appbar
Name[zh_CN]=appbar
Name[zh_TW]=appbar
Exec=/usr/bin/aewm++_appbar
Terminal=false
Categories=X-Debian-Applications-File-Management;
