[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=netrik
Name[ar]=netrik
Name[ast]=netrik
Name[be]=netrik
Name[bg]=netrik
Name[bn]=netrik
Name[br]=netrik
Name[bs]=netrik
Name[ca]=netrik
Name[cs]=netrik
Name[da]=netrik
Name[de]=netrik
Name[dz]=netrik
Name[el]=netrik
Name[eo]=netrik
Name[es]=netrik
Name[et]=netrik
Name[eu]=netrik
Name[fi]=netrik
Name[fr]=netrik
Name[ga]=netrik
Name[gl]=netrik
Name[gu]=netrik
Name[he]=netrik
Name[hi]=netrik
Name[hr]=netrik
Name[hu]=netrik
Name[id]=netrik
Name[it]=netrik
Name[ja]=netrik
Name[ka]=netrik
Name[kk]=netrik
Name[km]=netrik
Name[ko]=netrik
Name[ku]=netrik
Name[lt]=netrik
Name[mk]=netrik
Name[ml]=netrik
Name[mr]=netrik
Name[nb]=netrik
Name[ne]=netrik
Name[nl]=netrik
Name[nn]=netrik
Name[pa]=netrik
Name[pl]=netrik
Name[pt]=netrik
Name[pt_BR]=netrik
Name[ro]=netrik
Name[ru]=netrik
Name[sk]=netrik
Name[sq]=netrik
Name[sv]=netrik
Name[ta]=netrik
Name[th]=netrik
Name[tl]=netrik
Name[tr]=netrik
Name[uk]=netrik
Name[vi]=netrik
Name[wo]=netrik
Name[zh_CN]=netrik
Name[zh_TW]=netrik
Comment=netrik - the Antrik Internet browser
Comment[ar]=netrik - the Antrik Internet browser
Comment[ast]=netrik - the Antrik Internet browser
Comment[be]=netrik - the Antrik Internet browser
Comment[bg]=netrik - the Antrik Internet browser
Comment[bn]=netrik - the Antrik Internet browser
Comment[br]=netrik - the Antrik Internet browser
Comment[bs]=netrik - the Antrik Internet browser
Comment[ca]=netrik - the Antrik Internet browser
Comment[cs]=netrik - the Antrik Internet browser
Comment[da]=netrik - the Antrik Internet browser
Comment[de]=netrik - the Antrik Internet browser
Comment[dz]=netrik - the Antrik Internet browser
Comment[el]=netrik - the Antrik Internet browser
Comment[eo]=netrik - the Antrik Internet browser
Comment[es]=netrik - the Antrik Internet browser
Comment[et]=netrik - the Antrik Internet browser
Comment[eu]=netrik - the Antrik Internet browser
Comment[fi]=netrik - the Antrik Internet browser
Comment[fr]=netrik - the Antrik Internet browser
Comment[ga]=netrik - the Antrik Internet browser
Comment[gl]=netrik - the Antrik Internet browser
Comment[gu]=netrik - the Antrik Internet browser
Comment[he]=netrik - the Antrik Internet browser
Comment[hi]=netrik - the Antrik Internet browser
Comment[hr]=netrik - the Antrik Internet browser
Comment[hu]=netrik - the Antrik Internet browser
Comment[id]=netrik - the Antrik Internet browser
Comment[it]=netrik - the Antrik Internet browser
Comment[ja]=netrik - the Antrik Internet browser
Comment[ka]=netrik - the Antrik Internet browser
Comment[kk]=netrik - the Antrik Internet browser
Comment[km]=netrik - the Antrik Internet browser
Comment[ko]=netrik - the Antrik Internet browser
Comment[ku]=netrik - the Antrik Internet browser
Comment[lt]=netrik - the Antrik Internet browser
Comment[mk]=netrik - the Antrik Internet browser
Comment[ml]=netrik - the Antrik Internet browser
Comment[mr]=netrik - the Antrik Internet browser
Comment[nb]=netrik - the Antrik Internet browser
Comment[ne]=netrik - the Antrik Internet browser
Comment[nl]=netrik - the Antrik Internet browser
Comment[nn]=netrik - the Antrik Internet browser
Comment[pa]=netrik - the Antrik Internet browser
Comment[pl]=netrik - the Antrik Internet browser
Comment[pt]=netrik - the Antrik Internet browser
Comment[pt_BR]=netrik - the Antrik Internet browser
Comment[ro]=netrik - the Antrik Internet browser
Comment[ru]=netrik - the Antrik Internet browser
Comment[sk]=netrik - the Antrik Internet browser
Comment[sq]=netrik - the Antrik Internet browser
Comment[sv]=netrik - the Antrik Internet browser
Comment[ta]=netrik - the Antrik Internet browser
Comment[th]=netrik - the Antrik Internet browser
Comment[tl]=netrik - the Antrik Internet browser
Comment[tr]=netrik - the Antrik Internet browser
Comment[uk]=netrik - the Antrik Internet browser
Comment[vi]=netrik - the Antrik Internet browser
Comment[wo]=netrik - the Antrik Internet browser
Comment[zh_CN]=netrik - the Antrik Internet browser
Comment[zh_TW]=netrik - the Antrik Internet browser
Exec=/usr/bin/netrik http://netrik.sourceforge.net/
Terminal=true
Categories=X-Debian-Applications-Network-Web-Browsing;
