[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Gnome Terminal
Name[ar]=Gnome Terminal
Name[ast]=Gnome Terminal
Name[be]=Gnome Terminal
Name[bg]=Gnome Terminal
Name[bn]=Gnome Terminal
Name[br]=Gnome Terminal
Name[bs]=Gnome Terminal
Name[ca]=Gnome Terminal
Name[cs]=Gnome Terminal
Name[da]=Gnome Terminal
Name[de]=Gnome Terminal
Name[dz]=Gnome Terminal
Name[el]=Gnome Terminal
Name[eo]=Gnome Terminal
Name[es]=Gnome Terminal
Name[et]=Gnome Terminal
Name[eu]=Gnome Terminal
Name[fi]=Gnome Terminal
Name[fr]=Gnome Terminal
Name[ga]=Gnome Terminal
Name[gl]=Gnome Terminal
Name[gu]=Gnome Terminal
Name[he]=Gnome Terminal
Name[hi]=Gnome Terminal
Name[hr]=Gnome Terminal
Name[hu]=Gnome Terminal
Name[id]=Gnome Terminal
Name[it]=Gnome Terminal
Name[ja]=Gnome Terminal
Name[ka]=Gnome Terminal
Name[kk]=Gnome Terminal
Name[km]=Gnome Terminal
Name[ko]=Gnome Terminal
Name[ku]=Gnome Terminal
Name[lt]=Gnome Terminal
Name[mk]=Gnome Terminal
Name[ml]=Gnome Terminal
Name[mr]=Gnome Terminal
Name[nb]=Gnome Terminal
Name[ne]=Gnome Terminal
Name[nl]=Gnome Terminal
Name[nn]=Gnome Terminal
Name[pa]=Gnome Terminal
Name[pl]=Gnome Terminal
Name[pt]=Gnome Terminal
Name[pt_BR]=Gnome Terminal
Name[ro]=Gnome Terminal
Name[ru]=Gnome Terminal
Name[sk]=Gnome Terminal
Name[sq]=Gnome Terminal
Name[sv]=Gnome Terminal
Name[ta]=Gnome Terminal
Name[th]=Gnome Terminal
Name[tl]=Gnome Terminal
Name[tr]=Gnome Terminal
Name[uk]=Gnome Terminal
Name[vi]=Gnome Terminal
Name[wo]=Gnome Terminal
Name[zh_CN]=Gnome Terminal
Name[zh_TW]=Gnome Terminal
Icon=/usr/share/pixmaps/gnome-terminal.xpm
Exec=/usr/bin/gnome-terminal
Terminal=false
Categories=X-Debian-Applications-Terminal-Emulators;
