[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Dos Emulator
Name[ar]=Dos Emulator
Name[ast]=Dos Emulator
Name[be]=Dos Emulator
Name[bg]=Dos Emulator
Name[bn]=Dos Emulator
Name[br]=Dos Emulator
Name[bs]=Dos Emulator
Name[ca]=Dos Emulator
Name[cs]=Dos Emulator
Name[da]=Dos Emulator
Name[de]=Dos Emulator
Name[dz]=Dos Emulator
Name[el]=Dos Emulator
Name[eo]=Dos Emulator
Name[es]=Dos Emulator
Name[et]=Dos Emulator
Name[eu]=Dos Emulator
Name[fi]=Dos Emulator
Name[fr]=Dos Emulator
Name[ga]=Dos Emulator
Name[gl]=Dos Emulator
Name[gu]=Dos Emulator
Name[he]=Dos Emulator
Name[hi]=Dos Emulator
Name[hr]=Dos Emulator
Name[hu]=Dos Emulator
Name[id]=Dos Emulator
Name[it]=Dos Emulator
Name[ja]=Dos Emulator
Name[ka]=Dos Emulator
Name[kk]=Dos Emulator
Name[km]=Dos Emulator
Name[ko]=Dos Emulator
Name[ku]=Dos Emulator
Name[lt]=Dos Emulator
Name[mk]=Dos Emulator
Name[ml]=Dos Emulator
Name[mr]=Dos Emulator
Name[nb]=Dos Emulator
Name[ne]=Dos Emulator
Name[nl]=Dos Emulator
Name[nn]=Dos Emulator
Name[pa]=Dos Emulator
Name[pl]=Dos Emulator
Name[pt]=Dos Emulator
Name[pt_BR]=Dos Emulator
Name[ro]=Dos Emulator
Name[ru]=Dos Emulator
Name[sk]=Dos Emulator
Name[sq]=Dos Emulator
Name[sv]=Dos Emulator
Name[ta]=Dos Emulator
Name[th]=Dos Emulator
Name[tl]=Dos Emulator
Name[tr]=Dos Emulator
Name[uk]=Dos Emulator
Name[vi]=Dos Emulator
Name[wo]=Dos Emulator
Name[zh_CN]=Dos Emulator
Name[zh_TW]=Dos Emulator
Comment=The Linux DOS Emulator
Comment[ar]=The Linux DOS Emulator
Comment[ast]=The Linux DOS Emulator
Comment[be]=The Linux DOS Emulator
Comment[bg]=The Linux DOS Emulator
Comment[bn]=The Linux DOS Emulator
Comment[br]=The Linux DOS Emulator
Comment[bs]=The Linux DOS Emulator
Comment[ca]=The Linux DOS Emulator
Comment[cs]=The Linux DOS Emulator
Comment[da]=The Linux DOS Emulator
Comment[de]=The Linux DOS Emulator
Comment[dz]=The Linux DOS Emulator
Comment[el]=The Linux DOS Emulator
Comment[eo]=The Linux DOS Emulator
Comment[es]=The Linux DOS Emulator
Comment[et]=The Linux DOS Emulator
Comment[eu]=The Linux DOS Emulator
Comment[fi]=The Linux DOS Emulator
Comment[fr]=The Linux DOS Emulator
Comment[ga]=The Linux DOS Emulator
Comment[gl]=The Linux DOS Emulator
Comment[gu]=The Linux DOS Emulator
Comment[he]=The Linux DOS Emulator
Comment[hi]=The Linux DOS Emulator
Comment[hr]=The Linux DOS Emulator
Comment[hu]=The Linux DOS Emulator
Comment[id]=The Linux DOS Emulator
Comment[it]=The Linux DOS Emulator
Comment[ja]=The Linux DOS Emulator
Comment[ka]=The Linux DOS Emulator
Comment[kk]=The Linux DOS Emulator
Comment[km]=The Linux DOS Emulator
Comment[ko]=The Linux DOS Emulator
Comment[ku]=The Linux DOS Emulator
Comment[lt]=The Linux DOS Emulator
Comment[mk]=The Linux DOS Emulator
Comment[ml]=The Linux DOS Emulator
Comment[mr]=The Linux DOS Emulator
Comment[nb]=The Linux DOS Emulator
Comment[ne]=The Linux DOS Emulator
Comment[nl]=The Linux DOS Emulator
Comment[nn]=The Linux DOS Emulator
Comment[pa]=The Linux DOS Emulator
Comment[pl]=The Linux DOS Emulator
Comment[pt]=The Linux DOS Emulator
Comment[pt_BR]=The Linux DOS Emulator
Comment[ro]=The Linux DOS Emulator
Comment[ru]=The Linux DOS Emulator
Comment[sk]=The Linux DOS Emulator
Comment[sq]=The Linux DOS Emulator
Comment[sv]=The Linux DOS Emulator
Comment[ta]=The Linux DOS Emulator
Comment[th]=The Linux DOS Emulator
Comment[tl]=The Linux DOS Emulator
Comment[tr]=The Linux DOS Emulator
Comment[uk]=The Linux DOS Emulator
Comment[vi]=The Linux DOS Emulator
Comment[wo]=The Linux DOS Emulator
Comment[zh_CN]=The Linux DOS Emulator
Comment[zh_TW]=The Linux DOS Emulator
Icon=dosemu32x24.xpm
Exec=/usr/bin/xdosemu
Terminal=false
Categories=X-Debian-Applications-Emulators;
