[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Cbrpager
Name[ar]=Cbrpager
Name[ast]=Cbrpager
Name[be]=Cbrpager
Name[bg]=Cbrpager
Name[bn]=Cbrpager
Name[br]=Cbrpager
Name[bs]=Cbrpager
Name[ca]=Cbrpager
Name[cs]=Cbrpager
Name[da]=Cbrpager
Name[de]=Cbrpager
Name[dz]=Cbrpager
Name[el]=Cbrpager
Name[eo]=Cbrpager
Name[es]=Cbrpager
Name[et]=Cbrpager
Name[eu]=Cbrpager
Name[fi]=Cbrpager
Name[fr]=Cbrpager
Name[ga]=Cbrpager
Name[gl]=Cbrpager
Name[gu]=Cbrpager
Name[he]=Cbrpager
Name[hi]=Cbrpager
Name[hr]=Cbrpager
Name[hu]=Cbrpager
Name[id]=Cbrpager
Name[it]=Cbrpager
Name[ja]=Cbrpager
Name[ka]=Cbrpager
Name[kk]=Cbrpager
Name[km]=Cbrpager
Name[ko]=Cbrpager
Name[ku]=Cbrpager
Name[lt]=Cbrpager
Name[mk]=Cbrpager
Name[ml]=Cbrpager
Name[mr]=Cbrpager
Name[nb]=Cbrpager
Name[ne]=Cbrpager
Name[nl]=Cbrpager
Name[nn]=Cbrpager
Name[pa]=Cbrpager
Name[pl]=Cbrpager
Name[pt]=Cbrpager
Name[pt_BR]=Cbrpager
Name[ro]=Cbrpager
Name[ru]=Cbrpager
Name[sk]=Cbrpager
Name[sq]=Cbrpager
Name[sv]=Cbrpager
Name[ta]=Cbrpager
Name[th]=Cbrpager
Name[tl]=Cbrpager
Name[tr]=Cbrpager
Name[uk]=Cbrpager
Name[vi]=Cbrpager
Name[wo]=Cbrpager
Name[zh_CN]=Cbrpager
Name[zh_TW]=Cbrpager
Comment=Cbrpager Comic book viewer
Comment[ar]=Cbrpager Comic book viewer
Comment[ast]=Cbrpager Comic book viewer
Comment[be]=Cbrpager Comic book viewer
Comment[bg]=Cbrpager Comic book viewer
Comment[bn]=Cbrpager Comic book viewer
Comment[br]=Cbrpager Comic book viewer
Comment[bs]=Cbrpager Comic book viewer
Comment[ca]=Cbrpager Comic book viewer
Comment[cs]=Cbrpager Comic book viewer
Comment[da]=Cbrpager Comic book viewer
Comment[de]=Cbrpager Comic book viewer
Comment[dz]=Cbrpager Comic book viewer
Comment[el]=Cbrpager Comic book viewer
Comment[eo]=Cbrpager Comic book viewer
Comment[es]=Cbrpager Comic book viewer
Comment[et]=Cbrpager Comic book viewer
Comment[eu]=Cbrpager Comic book viewer
Comment[fi]=Cbrpager Comic book viewer
Comment[fr]=Cbrpager Comic book viewer
Comment[ga]=Cbrpager Comic book viewer
Comment[gl]=Cbrpager Comic book viewer
Comment[gu]=Cbrpager Comic book viewer
Comment[he]=Cbrpager Comic book viewer
Comment[hi]=Cbrpager Comic book viewer
Comment[hr]=Cbrpager Comic book viewer
Comment[hu]=Cbrpager Comic book viewer
Comment[id]=Cbrpager Comic book viewer
Comment[it]=Cbrpager Comic book viewer
Comment[ja]=Cbrpager Comic book viewer
Comment[ka]=Cbrpager Comic book viewer
Comment[kk]=Cbrpager Comic book viewer
Comment[km]=Cbrpager Comic book viewer
Comment[ko]=Cbrpager Comic book viewer
Comment[ku]=Cbrpager Comic book viewer
Comment[lt]=Cbrpager Comic book viewer
Comment[mk]=Cbrpager Comic book viewer
Comment[ml]=Cbrpager Comic book viewer
Comment[mr]=Cbrpager Comic book viewer
Comment[nb]=Cbrpager Comic book viewer
Comment[ne]=Cbrpager Comic book viewer
Comment[nl]=Cbrpager Comic book viewer
Comment[nn]=Cbrpager Comic book viewer
Comment[pa]=Cbrpager Comic book viewer
Comment[pl]=Cbrpager Comic book viewer
Comment[pt]=Cbrpager Comic book viewer
Comment[pt_BR]=Cbrpager Comic book viewer
Comment[ro]=Cbrpager Comic book viewer
Comment[ru]=Cbrpager Comic book viewer
Comment[sk]=Cbrpager Comic book viewer
Comment[sq]=Cbrpager Comic book viewer
Comment[sv]=Cbrpager Comic book viewer
Comment[ta]=Cbrpager Comic book viewer
Comment[th]=Cbrpager Comic book viewer
Comment[tl]=Cbrpager Comic book viewer
Comment[tr]=Cbrpager Comic book viewer
Comment[uk]=Cbrpager Comic book viewer
Comment[vi]=Cbrpager Comic book viewer
Comment[wo]=Cbrpager Comic book viewer
Comment[zh_CN]=Cbrpager Comic book viewer
Comment[zh_TW]=Cbrpager Comic book viewer
Icon=/usr/share/pixmaps/cbrpager.xpm
Exec=/usr/bin/cbrpager
Terminal=false
Categories=X-Debian-Applications-Viewers;
