[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=TinyFugue 5
Name[ar]=TinyFugue 5
Name[ast]=TinyFugue 5
Name[be]=TinyFugue 5
Name[bg]=TinyFugue 5
Name[bn]=TinyFugue 5
Name[br]=TinyFugue 5
Name[bs]=TinyFugue 5
Name[ca]=TinyFugue 5
Name[cs]=TinyFugue 5
Name[da]=TinyFugue 5
Name[de]=TinyFugue 5
Name[dz]=TinyFugue 5
Name[el]=TinyFugue 5
Name[eo]=TinyFugue 5
Name[es]=TinyFugue 5
Name[et]=TinyFugue 5
Name[eu]=TinyFugue 5
Name[fi]=TinyFugue 5
Name[fr]=TinyFugue 5
Name[ga]=TinyFugue 5
Name[gl]=TinyFugue 5
Name[gu]=TinyFugue 5
Name[he]=TinyFugue 5
Name[hi]=TinyFugue 5
Name[hr]=TinyFugue 5
Name[hu]=TinyFugue 5
Name[id]=TinyFugue 5
Name[it]=TinyFugue 5
Name[ja]=TinyFugue 5
Name[ka]=TinyFugue 5
Name[kk]=TinyFugue 5
Name[km]=TinyFugue 5
Name[ko]=TinyFugue 5
Name[ku]=TinyFugue 5
Name[lt]=TinyFugue 5
Name[mk]=TinyFugue 5
Name[ml]=TinyFugue 5
Name[mr]=TinyFugue 5
Name[nb]=TinyFugue 5
Name[ne]=TinyFugue 5
Name[nl]=TinyFugue 5
Name[nn]=TinyFugue 5
Name[pa]=TinyFugue 5
Name[pl]=TinyFugue 5
Name[pt]=TinyFugue 5
Name[pt_BR]=TinyFugue 5
Name[ro]=TinyFugue 5
Name[ru]=TinyFugue 5
Name[sk]=TinyFugue 5
Name[sq]=TinyFugue 5
Name[sv]=TinyFugue 5
Name[ta]=TinyFugue 5
Name[th]=TinyFugue 5
Name[tl]=TinyFugue 5
Name[tr]=TinyFugue 5
Name[uk]=TinyFugue 5
Name[vi]=TinyFugue 5
Name[wo]=TinyFugue 5
Name[zh_CN]=TinyFugue 5
Name[zh_TW]=TinyFugue 5
Exec=/usr/bin/tf5
Terminal=true
Categories=X-Debian-Applications-Network-Communication;
