[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Tclsh8.5
Name[ar]=Tclsh8.5
Name[ast]=Tclsh8.5
Name[be]=Tclsh8.5
Name[bg]=Tclsh8.5
Name[bn]=Tclsh8.5
Name[br]=Tclsh8.5
Name[bs]=Tclsh8.5
Name[ca]=Tclsh8.5
Name[cs]=Tclsh8.5
Name[da]=Tclsh8.5
Name[de]=Tclsh8.5
Name[dz]=Tclsh8.5
Name[el]=Tclsh8.5
Name[eo]=Tclsh8.5
Name[es]=Tclsh8.5
Name[et]=Tclsh8.5
Name[eu]=Tclsh8.5
Name[fi]=Tclsh8.5
Name[fr]=Tclsh8.5
Name[ga]=Tclsh8.5
Name[gl]=Tclsh8.5
Name[gu]=Tclsh8.5
Name[he]=Tclsh8.5
Name[hi]=Tclsh8.5
Name[hr]=Tclsh8.5
Name[hu]=Tclsh8.5
Name[id]=Tclsh8.5
Name[it]=Tclsh8.5
Name[ja]=Tclsh8.5
Name[ka]=Tclsh8.5
Name[kk]=Tclsh8.5
Name[km]=Tclsh8.5
Name[ko]=Tclsh8.5
Name[ku]=Tclsh8.5
Name[lt]=Tclsh8.5
Name[mk]=Tclsh8.5
Name[ml]=Tclsh8.5
Name[mr]=Tclsh8.5
Name[nb]=Tclsh8.5
Name[ne]=Tclsh8.5
Name[nl]=Tclsh8.5
Name[nn]=Tclsh8.5
Name[pa]=Tclsh8.5
Name[pl]=Tclsh8.5
Name[pt]=Tclsh8.5
Name[pt_BR]=Tclsh8.5
Name[ro]=Tclsh8.5
Name[ru]=Tclsh8.5
Name[sk]=Tclsh8.5
Name[sq]=Tclsh8.5
Name[sv]=Tclsh8.5
Name[ta]=Tclsh8.5
Name[th]=Tclsh8.5
Name[tl]=Tclsh8.5
Name[tr]=Tclsh8.5
Name[uk]=Tclsh8.5
Name[vi]=Tclsh8.5
Name[wo]=Tclsh8.5
Name[zh_CN]=Tclsh8.5
Name[zh_TW]=Tclsh8.5
Exec=/usr/bin/tclsh8.5
Terminal=true
Categories=X-Debian-Applications-Programming;
