[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=gtk-gnutella
Name[ar]=gtk-gnutella
Name[ast]=gtk-gnutella
Name[be]=gtk-gnutella
Name[bg]=gtk-gnutella
Name[bn]=gtk-gnutella
Name[br]=gtk-gnutella
Name[bs]=gtk-gnutella
Name[ca]=gtk-gnutella
Name[cs]=gtk-gnutella
Name[da]=gtk-gnutella
Name[de]=gtk-gnutella
Name[dz]=gtk-gnutella
Name[el]=gtk-gnutella
Name[eo]=gtk-gnutella
Name[es]=gtk-gnutella
Name[et]=gtk-gnutella
Name[eu]=gtk-gnutella
Name[fi]=gtk-gnutella
Name[fr]=gtk-gnutella
Name[ga]=gtk-gnutella
Name[gl]=gtk-gnutella
Name[gu]=gtk-gnutella
Name[he]=gtk-gnutella
Name[hi]=gtk-gnutella
Name[hr]=gtk-gnutella
Name[hu]=gtk-gnutella
Name[id]=gtk-gnutella
Name[it]=gtk-gnutella
Name[ja]=gtk-gnutella
Name[ka]=gtk-gnutella
Name[kk]=gtk-gnutella
Name[km]=gtk-gnutella
Name[ko]=gtk-gnutella
Name[ku]=gtk-gnutella
Name[lt]=gtk-gnutella
Name[mk]=gtk-gnutella
Name[ml]=gtk-gnutella
Name[mr]=gtk-gnutella
Name[nb]=gtk-gnutella
Name[ne]=gtk-gnutella
Name[nl]=gtk-gnutella
Name[nn]=gtk-gnutella
Name[pa]=gtk-gnutella
Name[pl]=gtk-gnutella
Name[pt]=gtk-gnutella
Name[pt_BR]=gtk-gnutella
Name[ro]=gtk-gnutella
Name[ru]=gtk-gnutella
Name[sk]=gtk-gnutella
Name[sq]=gtk-gnutella
Name[sv]=gtk-gnutella
Name[ta]=gtk-gnutella
Name[th]=gtk-gnutella
Name[tl]=gtk-gnutella
Name[tr]=gtk-gnutella
Name[uk]=gtk-gnutella
Name[vi]=gtk-gnutella
Name[wo]=gtk-gnutella
Name[zh_CN]=gtk-gnutella
Name[zh_TW]=gtk-gnutella
Comment=Gtk-Gnutella
Comment[ar]=Gtk-Gnutella
Comment[ast]=Gtk-Gnutella
Comment[be]=Gtk-Gnutella
Comment[bg]=Gtk-Gnutella
Comment[bn]=Gtk-Gnutella
Comment[br]=Gtk-Gnutella
Comment[bs]=Gtk-Gnutella
Comment[ca]=Gtk-Gnutella
Comment[cs]=Gtk-Gnutella
Comment[da]=Gtk-Gnutella
Comment[de]=Gtk-Gnutella
Comment[dz]=Gtk-Gnutella
Comment[el]=Gtk-Gnutella
Comment[eo]=Gtk-Gnutella
Comment[es]=Gtk-Gnutella
Comment[et]=Gtk-Gnutella
Comment[eu]=Gtk-Gnutella
Comment[fi]=Gtk-Gnutella
Comment[fr]=Gtk-Gnutella
Comment[ga]=Gtk-Gnutella
Comment[gl]=Gtk-Gnutella
Comment[gu]=Gtk-Gnutella
Comment[he]=Gtk-Gnutella
Comment[hi]=Gtk-Gnutella
Comment[hr]=Gtk-Gnutella
Comment[hu]=Gtk-Gnutella
Comment[id]=Gtk-Gnutella
Comment[it]=Gtk-Gnutella
Comment[ja]=Gtk-Gnutella
Comment[ka]=Gtk-Gnutella
Comment[kk]=Gtk-Gnutella
Comment[km]=Gtk-Gnutella
Comment[ko]=Gtk-Gnutella
Comment[ku]=Gtk-Gnutella
Comment[lt]=Gtk-Gnutella
Comment[mk]=Gtk-Gnutella
Comment[ml]=Gtk-Gnutella
Comment[mr]=Gtk-Gnutella
Comment[nb]=Gtk-Gnutella
Comment[ne]=Gtk-Gnutella
Comment[nl]=Gtk-Gnutella
Comment[nn]=Gtk-Gnutella
Comment[pa]=Gtk-Gnutella
Comment[pl]=Gtk-Gnutella
Comment[pt]=Gtk-Gnutella
Comment[pt_BR]=Gtk-Gnutella
Comment[ro]=Gtk-Gnutella
Comment[ru]=Gtk-Gnutella
Comment[sk]=Gtk-Gnutella
Comment[sq]=Gtk-Gnutella
Comment[sv]=Gtk-Gnutella
Comment[ta]=Gtk-Gnutella
Comment[th]=Gtk-Gnutella
Comment[tl]=Gtk-Gnutella
Comment[tr]=Gtk-Gnutella
Comment[uk]=Gtk-Gnutella
Comment[vi]=Gtk-Gnutella
Comment[wo]=Gtk-Gnutella
Comment[zh_CN]=Gtk-Gnutella
Comment[zh_TW]=Gtk-Gnutella
Icon=/usr/share/gtk-gnutella/pixmaps/icon.xpm
Exec=/usr/bin/gtk-gnutella
Terminal=false
Categories=X-Debian-Applications-Network-File-Transfer;
