[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Dia
Name[ar]=Dia
Name[ast]=Dia
Name[be]=Dia
Name[bg]=Dia
Name[bn]=Dia
Name[br]=Dia
Name[bs]=Dia
Name[ca]=Dia
Name[cs]=Dia
Name[da]=Dia
Name[de]=Dia
Name[dz]=Dia
Name[el]=Dia
Name[eo]=Dia
Name[es]=Dia
Name[et]=Dia
Name[eu]=Dia
Name[fi]=Dia
Name[fr]=Dia
Name[ga]=Dia
Name[gl]=Dia
Name[gu]=Dia
Name[he]=Dia
Name[hi]=Dia
Name[hr]=Dia
Name[hu]=Dia
Name[id]=Dia
Name[it]=Dia
Name[ja]=Dia
Name[ka]=Dia
Name[kk]=Dia
Name[km]=Dia
Name[ko]=Dia
Name[ku]=Dia
Name[lt]=Dia
Name[mk]=Dia
Name[ml]=Dia
Name[mr]=Dia
Name[nb]=Dia
Name[ne]=Dia
Name[nl]=Dia
Name[nn]=Dia
Name[pa]=Dia
Name[pl]=Dia
Name[pt]=Dia
Name[pt_BR]=Dia
Name[ro]=Dia
Name[ru]=Dia
Name[sk]=Dia
Name[sq]=Dia
Name[sv]=Dia
Name[ta]=Dia
Name[th]=Dia
Name[tl]=Dia
Name[tr]=Dia
Name[uk]=Dia
Name[vi]=Dia
Name[wo]=Dia
Name[zh_CN]=Dia
Name[zh_TW]=Dia
Comment=Dia diagram drawer
Comment[ar]=Dia diagram drawer
Comment[ast]=Dia diagram drawer
Comment[be]=Dia diagram drawer
Comment[bg]=Dia diagram drawer
Comment[bn]=Dia diagram drawer
Comment[br]=Dia diagram drawer
Comment[bs]=Dia diagram drawer
Comment[ca]=Dia diagram drawer
Comment[cs]=Dia diagram drawer
Comment[da]=Dia diagram drawer
Comment[de]=Dia diagram drawer
Comment[dz]=Dia diagram drawer
Comment[el]=Dia diagram drawer
Comment[eo]=Dia diagram drawer
Comment[es]=Dia diagram drawer
Comment[et]=Dia diagram drawer
Comment[eu]=Dia diagram drawer
Comment[fi]=Dia diagram drawer
Comment[fr]=Dia diagram drawer
Comment[ga]=Dia diagram drawer
Comment[gl]=Dia diagram drawer
Comment[gu]=Dia diagram drawer
Comment[he]=Dia diagram drawer
Comment[hi]=Dia diagram drawer
Comment[hr]=Dia diagram drawer
Comment[hu]=Dia diagram drawer
Comment[id]=Dia diagram drawer
Comment[it]=Dia diagram drawer
Comment[ja]=Dia diagram drawer
Comment[ka]=Dia diagram drawer
Comment[kk]=Dia diagram drawer
Comment[km]=Dia diagram drawer
Comment[ko]=Dia diagram drawer
Comment[ku]=Dia diagram drawer
Comment[lt]=Dia diagram drawer
Comment[mk]=Dia diagram drawer
Comment[ml]=Dia diagram drawer
Comment[mr]=Dia diagram drawer
Comment[nb]=Dia diagram drawer
Comment[ne]=Dia diagram drawer
Comment[nl]=Dia diagram drawer
Comment[nn]=Dia diagram drawer
Comment[pa]=Dia diagram drawer
Comment[pl]=Dia diagram drawer
Comment[pt]=Dia diagram drawer
Comment[pt_BR]=Dia diagram drawer
Comment[ro]=Dia diagram drawer
Comment[ru]=Dia diagram drawer
Comment[sk]=Dia diagram drawer
Comment[sq]=Dia diagram drawer
Comment[sv]=Dia diagram drawer
Comment[ta]=Dia diagram drawer
Comment[th]=Dia diagram drawer
Comment[tl]=Dia diagram drawer
Comment[tr]=Dia diagram drawer
Comment[uk]=Dia diagram drawer
Comment[vi]=Dia diagram drawer
Comment[wo]=Dia diagram drawer
Comment[zh_CN]=Dia diagram drawer
Comment[zh_TW]=Dia diagram drawer
Icon=/usr/share/pixmaps/dia_menu.xpm
Exec=/usr/bin/dia-normal
Terminal=false
Categories=X-Debian-Applications-Science-Engineering;
