[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Glurp
Name[ar]=Glurp
Name[ast]=Glurp
Name[be]=Glurp
Name[bg]=Glurp
Name[bn]=Glurp
Name[br]=Glurp
Name[bs]=Glurp
Name[ca]=Glurp
Name[cs]=Glurp
Name[da]=Glurp
Name[de]=Glurp
Name[dz]=Glurp
Name[el]=Glurp
Name[eo]=Glurp
Name[es]=Glurp
Name[et]=Glurp
Name[eu]=Glurp
Name[fi]=Glurp
Name[fr]=Glurp
Name[ga]=Glurp
Name[gl]=Glurp
Name[gu]=Glurp
Name[he]=Glurp
Name[hi]=Glurp
Name[hr]=Glurp
Name[hu]=Glurp
Name[id]=Glurp
Name[it]=Glurp
Name[ja]=Glurp
Name[ka]=Glurp
Name[kk]=Glurp
Name[km]=Glurp
Name[ko]=Glurp
Name[ku]=Glurp
Name[lt]=Glurp
Name[mk]=Glurp
Name[ml]=Glurp
Name[mr]=Glurp
Name[nb]=Glurp
Name[ne]=Glurp
Name[nl]=Glurp
Name[nn]=Glurp
Name[pa]=Glurp
Name[pl]=Glurp
Name[pt]=Glurp
Name[pt_BR]=Glurp
Name[ro]=Glurp
Name[ru]=Glurp
Name[sk]=Glurp
Name[sq]=Glurp
Name[sv]=Glurp
Name[ta]=Glurp
Name[th]=Glurp
Name[tl]=Glurp
Name[tr]=Glurp
Name[uk]=Glurp
Name[vi]=Glurp
Name[wo]=Glurp
Name[zh_CN]=Glurp
Name[zh_TW]=Glurp
Icon=/usr/share/pixmaps/glurp.xpm
Exec=/usr/bin/glurp
Terminal=false
Categories=X-Debian-Applications-Sound;
