[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=yelp
Name[ar]=yelp
Name[ast]=yelp
Name[be]=yelp
Name[bg]=yelp
Name[bn]=yelp
Name[br]=yelp
Name[bs]=yelp
Name[ca]=yelp
Name[cs]=yelp
Name[da]=yelp
Name[de]=yelp
Name[dz]=yelp
Name[el]=yelp
Name[eo]=yelp
Name[es]=yelp
Name[et]=yelp
Name[eu]=yelp
Name[fi]=yelp
Name[fr]=yelp
Name[ga]=yelp
Name[gl]=yelp
Name[gu]=yelp
Name[he]=yelp
Name[hi]=yelp
Name[hr]=yelp
Name[hu]=yelp
Name[id]=yelp
Name[it]=yelp
Name[ja]=yelp
Name[ka]=yelp
Name[kk]=yelp
Name[km]=yelp
Name[ko]=yelp
Name[ku]=yelp
Name[lt]=yelp
Name[mk]=yelp
Name[ml]=yelp
Name[mr]=yelp
Name[nb]=yelp
Name[ne]=yelp
Name[nl]=yelp
Name[nn]=yelp
Name[pa]=yelp
Name[pl]=yelp
Name[pt]=yelp
Name[pt_BR]=yelp
Name[ro]=yelp
Name[ru]=yelp
Name[sk]=yelp
Name[sq]=yelp
Name[sv]=yelp
Name[ta]=yelp
Name[th]=yelp
Name[tl]=yelp
Name[tr]=yelp
Name[uk]=yelp
Name[vi]=yelp
Name[wo]=yelp
Name[zh_CN]=yelp
Name[zh_TW]=yelp
Exec=/usr/bin/yelp
Terminal=false
Categories=X-Debian-Help;
