[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Slimrat
Name[ar]=Slimrat
Name[ast]=Slimrat
Name[be]=Slimrat
Name[bg]=Slimrat
Name[bn]=Slimrat
Name[br]=Slimrat
Name[bs]=Slimrat
Name[ca]=Slimrat
Name[cs]=Slimrat
Name[da]=Slimrat
Name[de]=Slimrat
Name[dz]=Slimrat
Name[el]=Slimrat
Name[eo]=Slimrat
Name[es]=Slimrat
Name[et]=Slimrat
Name[eu]=Slimrat
Name[fi]=Slimrat
Name[fr]=Slimrat
Name[ga]=Slimrat
Name[gl]=Slimrat
Name[gu]=Slimrat
Name[he]=Slimrat
Name[hi]=Slimrat
Name[hr]=Slimrat
Name[hu]=Slimrat
Name[id]=Slimrat
Name[it]=Slimrat
Name[ja]=Slimrat
Name[ka]=Slimrat
Name[kk]=Slimrat
Name[km]=Slimrat
Name[ko]=Slimrat
Name[ku]=Slimrat
Name[lt]=Slimrat
Name[mk]=Slimrat
Name[ml]=Slimrat
Name[mr]=Slimrat
Name[nb]=Slimrat
Name[ne]=Slimrat
Name[nl]=Slimrat
Name[nn]=Slimrat
Name[pa]=Slimrat
Name[pl]=Slimrat
Name[pt]=Slimrat
Name[pt_BR]=Slimrat
Name[ro]=Slimrat
Name[ru]=Slimrat
Name[sk]=Slimrat
Name[sq]=Slimrat
Name[sv]=Slimrat
Name[ta]=Slimrat
Name[th]=Slimrat
Name[tl]=Slimrat
Name[tr]=Slimrat
Name[uk]=Slimrat
Name[vi]=Slimrat
Name[wo]=Slimrat
Name[zh_CN]=Slimrat
Name[zh_TW]=Slimrat
Exec=/usr/bin/slimrat-gui
Terminal=false
Categories=X-Debian-Applications-Network-File-Transfer;
