[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=aMule Stats
Name[ar]=aMule Stats
Name[ast]=aMule Stats
Name[be]=aMule Stats
Name[bg]=aMule Stats
Name[bn]=aMule Stats
Name[br]=aMule Stats
Name[bs]=aMule Stats
Name[ca]=aMule Stats
Name[cs]=aMule Stats
Name[da]=aMule Stats
Name[de]=aMule Stats
Name[dz]=aMule Stats
Name[el]=aMule Stats
Name[eo]=aMule Stats
Name[es]=aMule Stats
Name[et]=aMule Stats
Name[eu]=aMule Stats
Name[fi]=aMule Stats
Name[fr]=aMule Stats
Name[ga]=aMule Stats
Name[gl]=aMule Stats
Name[gu]=aMule Stats
Name[he]=aMule Stats
Name[hi]=aMule Stats
Name[hr]=aMule Stats
Name[hu]=aMule Stats
Name[id]=aMule Stats
Name[it]=aMule Stats
Name[ja]=aMule Stats
Name[ka]=aMule Stats
Name[kk]=aMule Stats
Name[km]=aMule Stats
Name[ko]=aMule Stats
Name[ku]=aMule Stats
Name[lt]=aMule Stats
Name[mk]=aMule Stats
Name[ml]=aMule Stats
Name[mr]=aMule Stats
Name[nb]=aMule Stats
Name[ne]=aMule Stats
Name[nl]=aMule Stats
Name[nn]=aMule Stats
Name[pa]=aMule Stats
Name[pl]=aMule Stats
Name[pt]=aMule Stats
Name[pt_BR]=aMule Stats
Name[ro]=aMule Stats
Name[ru]=aMule Stats
Name[sk]=aMule Stats
Name[sq]=aMule Stats
Name[sv]=aMule Stats
Name[ta]=aMule Stats
Name[th]=aMule Stats
Name[tl]=aMule Stats
Name[tr]=aMule Stats
Name[uk]=aMule Stats
Name[vi]=aMule Stats
Name[wo]=aMule Stats
Name[zh_CN]=aMule Stats
Name[zh_TW]=aMule Stats
Icon=/usr/share/pixmaps/wxcas.xpm
Exec=/usr/bin/wxcas
Terminal=false
Categories=X-Debian-Applications-Network-File-Transfer;
