[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=ytree
Name[ar]=ytree
Name[ast]=ytree
Name[be]=ytree
Name[bg]=ytree
Name[bn]=ytree
Name[br]=ytree
Name[bs]=ytree
Name[ca]=ytree
Name[cs]=ytree
Name[da]=ytree
Name[de]=ytree
Name[dz]=ytree
Name[el]=ytree
Name[eo]=ytree
Name[es]=ytree
Name[et]=ytree
Name[eu]=ytree
Name[fi]=ytree
Name[fr]=ytree
Name[ga]=ytree
Name[gl]=ytree
Name[gu]=ytree
Name[he]=ytree
Name[hi]=ytree
Name[hr]=ytree
Name[hu]=ytree
Name[id]=ytree
Name[it]=ytree
Name[ja]=ytree
Name[ka]=ytree
Name[kk]=ytree
Name[km]=ytree
Name[ko]=ytree
Name[ku]=ytree
Name[lt]=ytree
Name[mk]=ytree
Name[ml]=ytree
Name[mr]=ytree
Name[nb]=ytree
Name[ne]=ytree
Name[nl]=ytree
Name[nn]=ytree
Name[pa]=ytree
Name[pl]=ytree
Name[pt]=ytree
Name[pt_BR]=ytree
Name[ro]=ytree
Name[ru]=ytree
Name[sk]=ytree
Name[sq]=ytree
Name[sv]=ytree
Name[ta]=ytree
Name[th]=ytree
Name[tl]=ytree
Name[tr]=ytree
Name[uk]=ytree
Name[vi]=ytree
Name[wo]=ytree
Name[zh_CN]=ytree
Name[zh_TW]=ytree
Exec=/usr/bin/ytree
Terminal=true
Categories=X-Debian-Applications-File-Management;
