[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=SecPanel SSH Frontend
Name[ar]=SecPanel SSH Frontend
Name[ast]=SecPanel SSH Frontend
Name[be]=SecPanel SSH Frontend
Name[bg]=SecPanel SSH Frontend
Name[bn]=SecPanel SSH Frontend
Name[br]=SecPanel SSH Frontend
Name[bs]=SecPanel SSH Frontend
Name[ca]=SecPanel SSH Frontend
Name[cs]=SecPanel SSH Frontend
Name[da]=SecPanel SSH Frontend
Name[de]=SecPanel SSH Frontend
Name[dz]=SecPanel SSH Frontend
Name[el]=SecPanel SSH Frontend
Name[eo]=SecPanel SSH Frontend
Name[es]=SecPanel SSH Frontend
Name[et]=SecPanel SSH Frontend
Name[eu]=SecPanel SSH Frontend
Name[fi]=SecPanel SSH Frontend
Name[fr]=SecPanel SSH Frontend
Name[ga]=SecPanel SSH Frontend
Name[gl]=SecPanel SSH Frontend
Name[gu]=SecPanel SSH Frontend
Name[he]=SecPanel SSH Frontend
Name[hi]=SecPanel SSH Frontend
Name[hr]=SecPanel SSH Frontend
Name[hu]=SecPanel SSH Frontend
Name[id]=SecPanel SSH Frontend
Name[it]=SecPanel SSH Frontend
Name[ja]=SecPanel SSH Frontend
Name[ka]=SecPanel SSH Frontend
Name[kk]=SecPanel SSH Frontend
Name[km]=SecPanel SSH Frontend
Name[ko]=SecPanel SSH Frontend
Name[ku]=SecPanel SSH Frontend
Name[lt]=SecPanel SSH Frontend
Name[mk]=SecPanel SSH Frontend
Name[ml]=SecPanel SSH Frontend
Name[mr]=SecPanel SSH Frontend
Name[nb]=SecPanel SSH Frontend
Name[ne]=SecPanel SSH Frontend
Name[nl]=SecPanel SSH Frontend
Name[nn]=SecPanel SSH Frontend
Name[pa]=SecPanel SSH Frontend
Name[pl]=SecPanel SSH Frontend
Name[pt]=SecPanel SSH Frontend
Name[pt_BR]=SecPanel SSH Frontend
Name[ro]=SecPanel SSH Frontend
Name[ru]=SecPanel SSH Frontend
Name[sk]=SecPanel SSH Frontend
Name[sq]=SecPanel SSH Frontend
Name[sv]=SecPanel SSH Frontend
Name[ta]=SecPanel SSH Frontend
Name[th]=SecPanel SSH Frontend
Name[tl]=SecPanel SSH Frontend
Name[tr]=SecPanel SSH Frontend
Name[uk]=SecPanel SSH Frontend
Name[vi]=SecPanel SSH Frontend
Name[wo]=SecPanel SSH Frontend
Name[zh_CN]=SecPanel SSH Frontend
Name[zh_TW]=SecPanel SSH Frontend
Comment=SSH Frontend
Comment[ar]=SSH Frontend
Comment[ast]=SSH Frontend
Comment[be]=SSH Frontend
Comment[bg]=SSH Frontend
Comment[bn]=SSH Frontend
Comment[br]=SSH Frontend
Comment[bs]=SSH Frontend
Comment[ca]=SSH Frontend
Comment[cs]=SSH Frontend
Comment[da]=SSH Frontend
Comment[de]=SSH Frontend
Comment[dz]=SSH Frontend
Comment[el]=SSH Frontend
Comment[eo]=SSH Frontend
Comment[es]=SSH Frontend
Comment[et]=SSH Frontend
Comment[eu]=SSH Frontend
Comment[fi]=SSH Frontend
Comment[fr]=SSH Frontend
Comment[ga]=SSH Frontend
Comment[gl]=SSH Frontend
Comment[gu]=SSH Frontend
Comment[he]=SSH Frontend
Comment[hi]=SSH Frontend
Comment[hr]=SSH Frontend
Comment[hu]=SSH Frontend
Comment[id]=SSH Frontend
Comment[it]=SSH Frontend
Comment[ja]=SSH Frontend
Comment[ka]=SSH Frontend
Comment[kk]=SSH Frontend
Comment[km]=SSH Frontend
Comment[ko]=SSH Frontend
Comment[ku]=SSH Frontend
Comment[lt]=SSH Frontend
Comment[mk]=SSH Frontend
Comment[ml]=SSH Frontend
Comment[mr]=SSH Frontend
Comment[nb]=SSH Frontend
Comment[ne]=SSH Frontend
Comment[nl]=SSH Frontend
Comment[nn]=SSH Frontend
Comment[pa]=SSH Frontend
Comment[pl]=SSH Frontend
Comment[pt]=SSH Frontend
Comment[pt_BR]=SSH Frontend
Comment[ro]=SSH Frontend
Comment[ru]=SSH Frontend
Comment[sk]=SSH Frontend
Comment[sq]=SSH Frontend
Comment[sv]=SSH Frontend
Comment[ta]=SSH Frontend
Comment[th]=SSH Frontend
Comment[tl]=SSH Frontend
Comment[tr]=SSH Frontend
Comment[uk]=SSH Frontend
Comment[vi]=SSH Frontend
Comment[wo]=SSH Frontend
Comment[zh_CN]=SSH Frontend
Comment[zh_TW]=SSH Frontend
Icon=/usr/share/pixmaps/secpanel.xpm
Exec=/usr/bin/secpanel
Terminal=false
Categories=X-Debian-Applications-Network-Communication;
