[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Nautilus
Name[ar]=Nautilus
Name[ast]=Nautilus
Name[be]=Nautilus
Name[bg]=Nautilus
Name[bn]=Nautilus
Name[br]=Nautilus
Name[bs]=Nautilus
Name[ca]=Nautilus
Name[cs]=Nautilus
Name[da]=Nautilus
Name[de]=Nautilus
Name[dz]=Nautilus
Name[el]=Nautilus
Name[eo]=Nautilus
Name[es]=Nautilus
Name[et]=Nautilus
Name[eu]=Nautilus
Name[fi]=Nautilus
Name[fr]=Nautilus
Name[ga]=Nautilus
Name[gl]=Nautilus
Name[gu]=Nautilus
Name[he]=Nautilus
Name[hi]=Nautilus
Name[hr]=Nautilus
Name[hu]=Nautilus
Name[id]=Nautilus
Name[it]=Nautilus
Name[ja]=Nautilus
Name[ka]=Nautilus
Name[kk]=Nautilus
Name[km]=Nautilus
Name[ko]=Nautilus
Name[ku]=Nautilus
Name[lt]=Nautilus
Name[mk]=Nautilus
Name[ml]=Nautilus
Name[mr]=Nautilus
Name[nb]=Nautilus
Name[ne]=Nautilus
Name[nl]=Nautilus
Name[nn]=Nautilus
Name[pa]=Nautilus
Name[pl]=Nautilus
Name[pt]=Nautilus
Name[pt_BR]=Nautilus
Name[ro]=Nautilus
Name[ru]=Nautilus
Name[sk]=Nautilus
Name[sq]=Nautilus
Name[sv]=Nautilus
Name[ta]=Nautilus
Name[th]=Nautilus
Name[tl]=Nautilus
Name[tr]=Nautilus
Name[uk]=Nautilus
Name[vi]=Nautilus
Name[wo]=Nautilus
Name[zh_CN]=Nautilus
Name[zh_TW]=Nautilus
Icon=/usr/share/pixmaps/nautilus.xpm
Exec=/usr/bin/nautilus
Terminal=false
Categories=X-Debian-Applications-File-Management;
