[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Getting Things GNOME!
Name[ar]=Getting Things GNOME!
Name[ast]=Getting Things GNOME!
Name[be]=Getting Things GNOME!
Name[bg]=Getting Things GNOME!
Name[bn]=Getting Things GNOME!
Name[br]=Getting Things GNOME!
Name[bs]=Getting Things GNOME!
Name[ca]=Getting Things GNOME!
Name[cs]=Getting Things GNOME!
Name[da]=Getting Things GNOME!
Name[de]=Getting Things GNOME!
Name[dz]=Getting Things GNOME!
Name[el]=Getting Things GNOME!
Name[eo]=Getting Things GNOME!
Name[es]=Getting Things GNOME!
Name[et]=Getting Things GNOME!
Name[eu]=Getting Things GNOME!
Name[fi]=Getting Things GNOME!
Name[fr]=Getting Things GNOME!
Name[ga]=Getting Things GNOME!
Name[gl]=Getting Things GNOME!
Name[gu]=Getting Things GNOME!
Name[he]=Getting Things GNOME!
Name[hi]=Getting Things GNOME!
Name[hr]=Getting Things GNOME!
Name[hu]=Getting Things GNOME!
Name[id]=Getting Things GNOME!
Name[it]=Getting Things GNOME!
Name[ja]=Getting Things GNOME!
Name[ka]=Getting Things GNOME!
Name[kk]=Getting Things GNOME!
Name[km]=Getting Things GNOME!
Name[ko]=Getting Things GNOME!
Name[ku]=Getting Things GNOME!
Name[lt]=Getting Things GNOME!
Name[mk]=Getting Things GNOME!
Name[ml]=Getting Things GNOME!
Name[mr]=Getting Things GNOME!
Name[nb]=Getting Things GNOME!
Name[ne]=Getting Things GNOME!
Name[nl]=Getting Things GNOME!
Name[nn]=Getting Things GNOME!
Name[pa]=Getting Things GNOME!
Name[pl]=Getting Things GNOME!
Name[pt]=Getting Things GNOME!
Name[pt_BR]=Getting Things GNOME!
Name[ro]=Getting Things GNOME!
Name[ru]=Getting Things GNOME!
Name[sk]=Getting Things GNOME!
Name[sq]=Getting Things GNOME!
Name[sv]=Getting Things GNOME!
Name[ta]=Getting Things GNOME!
Name[th]=Getting Things GNOME!
Name[tl]=Getting Things GNOME!
Name[tr]=Getting Things GNOME!
Name[uk]=Getting Things GNOME!
Name[vi]=Getting Things GNOME!
Name[wo]=Getting Things GNOME!
Name[zh_CN]=Getting Things GNOME!
Name[zh_TW]=Getting Things GNOME!
Icon=/usr/share/pixmaps/gtg.xpm
Exec=/usr/bin/gtg
Terminal=false
Categories=X-Debian-Applications-Project-Management;
