[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=DeSmuME (Gtk)
Name[ar]=DeSmuME (Gtk)
Name[ast]=DeSmuME (Gtk)
Name[be]=DeSmuME (Gtk)
Name[bg]=DeSmuME (Gtk)
Name[bn]=DeSmuME (Gtk)
Name[br]=DeSmuME (Gtk)
Name[bs]=DeSmuME (Gtk)
Name[ca]=DeSmuME (Gtk)
Name[cs]=DeSmuME (Gtk)
Name[da]=DeSmuME (Gtk)
Name[de]=DeSmuME (Gtk)
Name[dz]=DeSmuME (Gtk)
Name[el]=DeSmuME (Gtk)
Name[eo]=DeSmuME (Gtk)
Name[es]=DeSmuME (Gtk)
Name[et]=DeSmuME (Gtk)
Name[eu]=DeSmuME (Gtk)
Name[fi]=DeSmuME (Gtk)
Name[fr]=DeSmuME (Gtk)
Name[ga]=DeSmuME (Gtk)
Name[gl]=DeSmuME (Gtk)
Name[gu]=DeSmuME (Gtk)
Name[he]=DeSmuME (Gtk)
Name[hi]=DeSmuME (Gtk)
Name[hr]=DeSmuME (Gtk)
Name[hu]=DeSmuME (Gtk)
Name[id]=DeSmuME (Gtk)
Name[it]=DeSmuME (Gtk)
Name[ja]=DeSmuME (Gtk)
Name[ka]=DeSmuME (Gtk)
Name[kk]=DeSmuME (Gtk)
Name[km]=DeSmuME (Gtk)
Name[ko]=DeSmuME (Gtk)
Name[ku]=DeSmuME (Gtk)
Name[lt]=DeSmuME (Gtk)
Name[mk]=DeSmuME (Gtk)
Name[ml]=DeSmuME (Gtk)
Name[mr]=DeSmuME (Gtk)
Name[nb]=DeSmuME (Gtk)
Name[ne]=DeSmuME (Gtk)
Name[nl]=DeSmuME (Gtk)
Name[nn]=DeSmuME (Gtk)
Name[pa]=DeSmuME (Gtk)
Name[pl]=DeSmuME (Gtk)
Name[pt]=DeSmuME (Gtk)
Name[pt_BR]=DeSmuME (Gtk)
Name[ro]=DeSmuME (Gtk)
Name[ru]=DeSmuME (Gtk)
Name[sk]=DeSmuME (Gtk)
Name[sq]=DeSmuME (Gtk)
Name[sv]=DeSmuME (Gtk)
Name[ta]=DeSmuME (Gtk)
Name[th]=DeSmuME (Gtk)
Name[tl]=DeSmuME (Gtk)
Name[tr]=DeSmuME (Gtk)
Name[uk]=DeSmuME (Gtk)
Name[vi]=DeSmuME (Gtk)
Name[wo]=DeSmuME (Gtk)
Name[zh_CN]=DeSmuME (Gtk)
Name[zh_TW]=DeSmuME (Gtk)
Comment=DeSmuME Gtk User Interface
Comment[ar]=DeSmuME Gtk User Interface
Comment[ast]=DeSmuME Gtk User Interface
Comment[be]=DeSmuME Gtk User Interface
Comment[bg]=DeSmuME Gtk User Interface
Comment[bn]=DeSmuME Gtk User Interface
Comment[br]=DeSmuME Gtk User Interface
Comment[bs]=DeSmuME Gtk User Interface
Comment[ca]=DeSmuME Gtk User Interface
Comment[cs]=DeSmuME Gtk User Interface
Comment[da]=DeSmuME Gtk User Interface
Comment[de]=DeSmuME Gtk User Interface
Comment[dz]=DeSmuME Gtk User Interface
Comment[el]=DeSmuME Gtk User Interface
Comment[eo]=DeSmuME Gtk User Interface
Comment[es]=DeSmuME Gtk User Interface
Comment[et]=DeSmuME Gtk User Interface
Comment[eu]=DeSmuME Gtk User Interface
Comment[fi]=DeSmuME Gtk User Interface
Comment[fr]=DeSmuME Gtk User Interface
Comment[ga]=DeSmuME Gtk User Interface
Comment[gl]=DeSmuME Gtk User Interface
Comment[gu]=DeSmuME Gtk User Interface
Comment[he]=DeSmuME Gtk User Interface
Comment[hi]=DeSmuME Gtk User Interface
Comment[hr]=DeSmuME Gtk User Interface
Comment[hu]=DeSmuME Gtk User Interface
Comment[id]=DeSmuME Gtk User Interface
Comment[it]=DeSmuME Gtk User Interface
Comment[ja]=DeSmuME Gtk User Interface
Comment[ka]=DeSmuME Gtk User Interface
Comment[kk]=DeSmuME Gtk User Interface
Comment[km]=DeSmuME Gtk User Interface
Comment[ko]=DeSmuME Gtk User Interface
Comment[ku]=DeSmuME Gtk User Interface
Comment[lt]=DeSmuME Gtk User Interface
Comment[mk]=DeSmuME Gtk User Interface
Comment[ml]=DeSmuME Gtk User Interface
Comment[mr]=DeSmuME Gtk User Interface
Comment[nb]=DeSmuME Gtk User Interface
Comment[ne]=DeSmuME Gtk User Interface
Comment[nl]=DeSmuME Gtk User Interface
Comment[nn]=DeSmuME Gtk User Interface
Comment[pa]=DeSmuME Gtk User Interface
Comment[pl]=DeSmuME Gtk User Interface
Comment[pt]=DeSmuME Gtk User Interface
Comment[pt_BR]=DeSmuME Gtk User Interface
Comment[ro]=DeSmuME Gtk User Interface
Comment[ru]=DeSmuME Gtk User Interface
Comment[sk]=DeSmuME Gtk User Interface
Comment[sq]=DeSmuME Gtk User Interface
Comment[sv]=DeSmuME Gtk User Interface
Comment[ta]=DeSmuME Gtk User Interface
Comment[th]=DeSmuME Gtk User Interface
Comment[tl]=DeSmuME Gtk User Interface
Comment[tr]=DeSmuME Gtk User Interface
Comment[uk]=DeSmuME Gtk User Interface
Comment[vi]=DeSmuME Gtk User Interface
Comment[wo]=DeSmuME Gtk User Interface
Comment[zh_CN]=DeSmuME Gtk User Interface
Comment[zh_TW]=DeSmuME Gtk User Interface
Icon=/usr/share/pixmaps/DeSmuME.xpm
Exec=/usr/games/desmume
Terminal=false
Categories=X-Debian-Applications-Emulators;
