[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Iceweasel
Name[ar]=Iceweasel
Name[ast]=Iceweasel
Name[be]=Iceweasel
Name[bg]=Iceweasel
Name[bn]=Iceweasel
Name[br]=Iceweasel
Name[bs]=Iceweasel
Name[ca]=Iceweasel
Name[cs]=Iceweasel
Name[da]=Iceweasel
Name[de]=Iceweasel
Name[dz]=Iceweasel
Name[el]=Iceweasel
Name[eo]=Iceweasel
Name[es]=Iceweasel
Name[et]=Iceweasel
Name[eu]=Iceweasel
Name[fi]=Iceweasel
Name[fr]=Iceweasel
Name[ga]=Iceweasel
Name[gl]=Iceweasel
Name[gu]=Iceweasel
Name[he]=Iceweasel
Name[hi]=Iceweasel
Name[hr]=Iceweasel
Name[hu]=Iceweasel
Name[id]=Iceweasel
Name[it]=Iceweasel
Name[ja]=Iceweasel
Name[ka]=Iceweasel
Name[kk]=Iceweasel
Name[km]=Iceweasel
Name[ko]=Iceweasel
Name[ku]=Iceweasel
Name[lt]=Iceweasel
Name[mk]=Iceweasel
Name[ml]=Iceweasel
Name[mr]=Iceweasel
Name[nb]=Iceweasel
Name[ne]=Iceweasel
Name[nl]=Iceweasel
Name[nn]=Iceweasel
Name[pa]=Iceweasel
Name[pl]=Iceweasel
Name[pt]=Iceweasel
Name[pt_BR]=Iceweasel
Name[ro]=Iceweasel
Name[ru]=Iceweasel
Name[sk]=Iceweasel
Name[sq]=Iceweasel
Name[sv]=Iceweasel
Name[ta]=Iceweasel
Name[th]=Iceweasel
Name[tl]=Iceweasel
Name[tr]=Iceweasel
Name[uk]=Iceweasel
Name[vi]=Iceweasel
Name[wo]=Iceweasel
Name[zh_CN]=Iceweasel
Name[zh_TW]=Iceweasel
Comment=Iceweasel Web Browser
Comment[ar]=Iceweasel Web Browser
Comment[ast]=Iceweasel Web Browser
Comment[be]=Iceweasel Web Browser
Comment[bg]=Iceweasel Web Browser
Comment[bn]=Iceweasel Web Browser
Comment[br]=Iceweasel Web Browser
Comment[bs]=Iceweasel Web Browser
Comment[ca]=Iceweasel Web Browser
Comment[cs]=Iceweasel Web Browser
Comment[da]=Iceweasel Web Browser
Comment[de]=Iceweasel Web Browser
Comment[dz]=Iceweasel Web Browser
Comment[el]=Iceweasel Web Browser
Comment[eo]=Iceweasel Web Browser
Comment[es]=Iceweasel Web Browser
Comment[et]=Iceweasel Web Browser
Comment[eu]=Iceweasel Web Browser
Comment[fi]=Iceweasel Web Browser
Comment[fr]=Iceweasel Web Browser
Comment[ga]=Iceweasel Web Browser
Comment[gl]=Iceweasel Web Browser
Comment[gu]=Iceweasel Web Browser
Comment[he]=Iceweasel Web Browser
Comment[hi]=Iceweasel Web Browser
Comment[hr]=Iceweasel Web Browser
Comment[hu]=Iceweasel Web Browser
Comment[id]=Iceweasel Web Browser
Comment[it]=Iceweasel Web Browser
Comment[ja]=Iceweasel Web Browser
Comment[ka]=Iceweasel Web Browser
Comment[kk]=Iceweasel Web Browser
Comment[km]=Iceweasel Web Browser
Comment[ko]=Iceweasel Web Browser
Comment[ku]=Iceweasel Web Browser
Comment[lt]=Iceweasel Web Browser
Comment[mk]=Iceweasel Web Browser
Comment[ml]=Iceweasel Web Browser
Comment[mr]=Iceweasel Web Browser
Comment[nb]=Iceweasel Web Browser
Comment[ne]=Iceweasel Web Browser
Comment[nl]=Iceweasel Web Browser
Comment[nn]=Iceweasel Web Browser
Comment[pa]=Iceweasel Web Browser
Comment[pl]=Iceweasel Web Browser
Comment[pt]=Iceweasel Web Browser
Comment[pt_BR]=Iceweasel Web Browser
Comment[ro]=Iceweasel Web Browser
Comment[ru]=Iceweasel Web Browser
Comment[sk]=Iceweasel Web Browser
Comment[sq]=Iceweasel Web Browser
Comment[sv]=Iceweasel Web Browser
Comment[ta]=Iceweasel Web Browser
Comment[th]=Iceweasel Web Browser
Comment[tl]=Iceweasel Web Browser
Comment[tr]=Iceweasel Web Browser
Comment[uk]=Iceweasel Web Browser
Comment[vi]=Iceweasel Web Browser
Comment[wo]=Iceweasel Web Browser
Comment[zh_CN]=Iceweasel Web Browser
Comment[zh_TW]=Iceweasel Web Browser
Icon=/usr/share/pixmaps/iceweasel.xpm
Exec=iceweasel
Terminal=false
Categories=X-Debian-Applications-Network-Web-Browsing;
