[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Man2html
Name[ar]=Man2html
Name[ast]=Man2html
Name[be]=Man2html
Name[bg]=Man2html
Name[bn]=Man2html
Name[br]=Man2html
Name[bs]=Man2html
Name[ca]=Man2html
Name[cs]=Man2html
Name[da]=Man2html
Name[de]=Man2html
Name[dz]=Man2html
Name[el]=Man2html
Name[eo]=Man2html
Name[es]=Man2html
Name[et]=Man2html
Name[eu]=Man2html
Name[fi]=Man2html
Name[fr]=Man2html
Name[ga]=Man2html
Name[gl]=Man2html
Name[gu]=Man2html
Name[he]=Man2html
Name[hi]=Man2html
Name[hr]=Man2html
Name[hu]=Man2html
Name[id]=Man2html
Name[it]=Man2html
Name[ja]=Man2html
Name[ka]=Man2html
Name[kk]=Man2html
Name[km]=Man2html
Name[ko]=Man2html
Name[ku]=Man2html
Name[lt]=Man2html
Name[mk]=Man2html
Name[ml]=Man2html
Name[mr]=Man2html
Name[nb]=Man2html
Name[ne]=Man2html
Name[nl]=Man2html
Name[nn]=Man2html
Name[pa]=Man2html
Name[pl]=Man2html
Name[pt]=Man2html
Name[pt_BR]=Man2html
Name[ro]=Man2html
Name[ru]=Man2html
Name[sk]=Man2html
Name[sq]=Man2html
Name[sv]=Man2html
Name[ta]=Man2html
Name[th]=Man2html
Name[tl]=Man2html
Name[tr]=Man2html
Name[uk]=Man2html
Name[vi]=Man2html
Name[wo]=Man2html
Name[zh_CN]=Man2html
Name[zh_TW]=Man2html
Exec=/usr/bin/hman -P sensible-browser
Terminal=false
Categories=X-Debian-Help;
