[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Baobab
Name[ar]=Baobab
Name[ast]=Baobab
Name[be]=Baobab
Name[bg]=Baobab
Name[bn]=Baobab
Name[br]=Baobab
Name[bs]=Baobab
Name[ca]=Baobab
Name[cs]=Baobab
Name[da]=Baobab
Name[de]=Baobab
Name[dz]=Baobab
Name[el]=Baobab
Name[eo]=Baobab
Name[es]=Baobab
Name[et]=Baobab
Name[eu]=Baobab
Name[fi]=Baobab
Name[fr]=Baobab
Name[ga]=Baobab
Name[gl]=Baobab
Name[gu]=Baobab
Name[he]=Baobab
Name[hi]=Baobab
Name[hr]=Baobab
Name[hu]=Baobab
Name[id]=Baobab
Name[it]=Baobab
Name[ja]=Baobab
Name[ka]=Baobab
Name[kk]=Baobab
Name[km]=Baobab
Name[ko]=Baobab
Name[ku]=Baobab
Name[lt]=Baobab
Name[mk]=Baobab
Name[ml]=Baobab
Name[mr]=Baobab
Name[nb]=Baobab
Name[ne]=Baobab
Name[nl]=Baobab
Name[nn]=Baobab
Name[pa]=Baobab
Name[pl]=Baobab
Name[pt]=Baobab
Name[pt_BR]=Baobab
Name[ro]=Baobab
Name[ru]=Baobab
Name[sk]=Baobab
Name[sq]=Baobab
Name[sv]=Baobab
Name[ta]=Baobab
Name[th]=Baobab
Name[tl]=Baobab
Name[tr]=Baobab
Name[uk]=Baobab
Name[vi]=Baobab
Name[wo]=Baobab
Name[zh_CN]=Baobab
Name[zh_TW]=Baobab
Icon=/usr/share/pixmaps/baobab.xpm
Exec=/usr/bin/baobab
Terminal=false
Categories=X-Debian-Applications-File-Management;
