[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=anjuta
Name[ar]=anjuta
Name[ast]=anjuta
Name[be]=anjuta
Name[bg]=anjuta
Name[bn]=anjuta
Name[br]=anjuta
Name[bs]=anjuta
Name[ca]=anjuta
Name[cs]=anjuta
Name[da]=anjuta
Name[de]=anjuta
Name[dz]=anjuta
Name[el]=anjuta
Name[eo]=anjuta
Name[es]=anjuta
Name[et]=anjuta
Name[eu]=anjuta
Name[fi]=anjuta
Name[fr]=anjuta
Name[ga]=anjuta
Name[gl]=anjuta
Name[gu]=anjuta
Name[he]=anjuta
Name[hi]=anjuta
Name[hr]=anjuta
Name[hu]=anjuta
Name[id]=anjuta
Name[it]=anjuta
Name[ja]=anjuta
Name[ka]=anjuta
Name[kk]=anjuta
Name[km]=anjuta
Name[ko]=anjuta
Name[ku]=anjuta
Name[lt]=anjuta
Name[mk]=anjuta
Name[ml]=anjuta
Name[mr]=anjuta
Name[nb]=anjuta
Name[ne]=anjuta
Name[nl]=anjuta
Name[nn]=anjuta
Name[pa]=anjuta
Name[pl]=anjuta
Name[pt]=anjuta
Name[pt_BR]=anjuta
Name[ro]=anjuta
Name[ru]=anjuta
Name[sk]=anjuta
Name[sq]=anjuta
Name[sv]=anjuta
Name[ta]=anjuta
Name[th]=anjuta
Name[tl]=anjuta
Name[tr]=anjuta
Name[uk]=anjuta
Name[vi]=anjuta
Name[wo]=anjuta
Name[zh_CN]=anjuta
Name[zh_TW]=anjuta
Icon=/usr/share/pixmaps/anjuta.xpm
Exec=/usr/bin/anjuta
Terminal=false
Categories=X-Debian-Applications-Programming;
