[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Orphaner (libs)
Name[ar]=Orphaner (libs)
Name[ast]=Orphaner (libs)
Name[be]=Orphaner (libs)
Name[bg]=Orphaner (libs)
Name[bn]=Orphaner (libs)
Name[br]=Orphaner (libs)
Name[bs]=Orphaner (libs)
Name[ca]=Orphaner (libs)
Name[cs]=Orphaner (libs)
Name[da]=Orphaner (libs)
Name[de]=Orphaner (libs)
Name[dz]=Orphaner (libs)
Name[el]=Orphaner (libs)
Name[eo]=Orphaner (libs)
Name[es]=Orphaner (libs)
Name[et]=Orphaner (libs)
Name[eu]=Orphaner (libs)
Name[fi]=Orphaner (libs)
Name[fr]=Orphaner (libs)
Name[ga]=Orphaner (libs)
Name[gl]=Orphaner (libs)
Name[gu]=Orphaner (libs)
Name[he]=Orphaner (libs)
Name[hi]=Orphaner (libs)
Name[hr]=Orphaner (libs)
Name[hu]=Orphaner (libs)
Name[id]=Orphaner (libs)
Name[it]=Orphaner (libs)
Name[ja]=Orphaner (libs)
Name[ka]=Orphaner (libs)
Name[kk]=Orphaner (libs)
Name[km]=Orphaner (libs)
Name[ko]=Orphaner (libs)
Name[ku]=Orphaner (libs)
Name[lt]=Orphaner (libs)
Name[mk]=Orphaner (libs)
Name[ml]=Orphaner (libs)
Name[mr]=Orphaner (libs)
Name[nb]=Orphaner (libs)
Name[ne]=Orphaner (libs)
Name[nl]=Orphaner (libs)
Name[nn]=Orphaner (libs)
Name[pa]=Orphaner (libs)
Name[pl]=Orphaner (libs)
Name[pt]=Orphaner (libs)
Name[pt_BR]=Orphaner (libs)
Name[ro]=Orphaner (libs)
Name[ru]=Orphaner (libs)
Name[sk]=Orphaner (libs)
Name[sq]=Orphaner (libs)
Name[sv]=Orphaner (libs)
Name[ta]=Orphaner (libs)
Name[th]=Orphaner (libs)
Name[tl]=Orphaner (libs)
Name[tr]=Orphaner (libs)
Name[uk]=Orphaner (libs)
Name[vi]=Orphaner (libs)
Name[wo]=Orphaner (libs)
Name[zh_CN]=Orphaner (libs)
Name[zh_TW]=Orphaner (libs)
Comment=Orphaned library finder (libraries only)
Comment[ar]=Orphaned library finder (libraries only)
Comment[ast]=Orphaned library finder (libraries only)
Comment[be]=Orphaned library finder (libraries only)
Comment[bg]=Orphaned library finder (libraries only)
Comment[bn]=Orphaned library finder (libraries only)
Comment[br]=Orphaned library finder (libraries only)
Comment[bs]=Orphaned library finder (libraries only)
Comment[ca]=Orphaned library finder (libraries only)
Comment[cs]=Orphaned library finder (libraries only)
Comment[da]=Orphaned library finder (libraries only)
Comment[de]=Orphaned library finder (libraries only)
Comment[dz]=Orphaned library finder (libraries only)
Comment[el]=Orphaned library finder (libraries only)
Comment[eo]=Orphaned library finder (libraries only)
Comment[es]=Orphaned library finder (libraries only)
Comment[et]=Orphaned library finder (libraries only)
Comment[eu]=Orphaned library finder (libraries only)
Comment[fi]=Orphaned library finder (libraries only)
Comment[fr]=Orphaned library finder (libraries only)
Comment[ga]=Orphaned library finder (libraries only)
Comment[gl]=Orphaned library finder (libraries only)
Comment[gu]=Orphaned library finder (libraries only)
Comment[he]=Orphaned library finder (libraries only)
Comment[hi]=Orphaned library finder (libraries only)
Comment[hr]=Orphaned library finder (libraries only)
Comment[hu]=Orphaned library finder (libraries only)
Comment[id]=Orphaned library finder (libraries only)
Comment[it]=Orphaned library finder (libraries only)
Comment[ja]=Orphaned library finder (libraries only)
Comment[ka]=Orphaned library finder (libraries only)
Comment[kk]=Orphaned library finder (libraries only)
Comment[km]=Orphaned library finder (libraries only)
Comment[ko]=Orphaned library finder (libraries only)
Comment[ku]=Orphaned library finder (libraries only)
Comment[lt]=Orphaned library finder (libraries only)
Comment[mk]=Orphaned library finder (libraries only)
Comment[ml]=Orphaned library finder (libraries only)
Comment[mr]=Orphaned library finder (libraries only)
Comment[nb]=Orphaned library finder (libraries only)
Comment[ne]=Orphaned library finder (libraries only)
Comment[nl]=Orphaned library finder (libraries only)
Comment[nn]=Orphaned library finder (libraries only)
Comment[pa]=Orphaned library finder (libraries only)
Comment[pl]=Orphaned library finder (libraries only)
Comment[pt]=Orphaned library finder (libraries only)
Comment[pt_BR]=Orphaned library finder (libraries only)
Comment[ro]=Orphaned library finder (libraries only)
Comment[ru]=Orphaned library finder (libraries only)
Comment[sk]=Orphaned library finder (libraries only)
Comment[sq]=Orphaned library finder (libraries only)
Comment[sv]=Orphaned library finder (libraries only)
Comment[ta]=Orphaned library finder (libraries only)
Comment[th]=Orphaned library finder (libraries only)
Comment[tl]=Orphaned library finder (libraries only)
Comment[tr]=Orphaned library finder (libraries only)
Comment[uk]=Orphaned library finder (libraries only)
Comment[vi]=Orphaned library finder (libraries only)
Comment[wo]=Orphaned library finder (libraries only)
Comment[zh_CN]=Orphaned library finder (libraries only)
Comment[zh_TW]=Orphaned library finder (libraries only)
Exec=su-to-root -c /usr/sbin/orphaner
Terminal=true
Categories=X-Debian-Applications-System-Administration;
