[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Tintin++
Name[ar]=Tintin++
Name[ast]=Tintin++
Name[be]=Tintin++
Name[bg]=Tintin++
Name[bn]=Tintin++
Name[br]=Tintin++
Name[bs]=Tintin++
Name[ca]=Tintin++
Name[cs]=Tintin++
Name[da]=Tintin++
Name[de]=Tintin++
Name[dz]=Tintin++
Name[el]=Tintin++
Name[eo]=Tintin++
Name[es]=Tintin++
Name[et]=Tintin++
Name[eu]=Tintin++
Name[fi]=Tintin++
Name[fr]=Tintin++
Name[ga]=Tintin++
Name[gl]=Tintin++
Name[gu]=Tintin++
Name[he]=Tintin++
Name[hi]=Tintin++
Name[hr]=Tintin++
Name[hu]=Tintin++
Name[id]=Tintin++
Name[it]=Tintin++
Name[ja]=Tintin++
Name[ka]=Tintin++
Name[kk]=Tintin++
Name[km]=Tintin++
Name[ko]=Tintin++
Name[ku]=Tintin++
Name[lt]=Tintin++
Name[mk]=Tintin++
Name[ml]=Tintin++
Name[mr]=Tintin++
Name[nb]=Tintin++
Name[ne]=Tintin++
Name[nl]=Tintin++
Name[nn]=Tintin++
Name[pa]=Tintin++
Name[pl]=Tintin++
Name[pt]=Tintin++
Name[pt_BR]=Tintin++
Name[ro]=Tintin++
Name[ru]=Tintin++
Name[sk]=Tintin++
Name[sq]=Tintin++
Name[sv]=Tintin++
Name[ta]=Tintin++
Name[th]=Tintin++
Name[tl]=Tintin++
Name[tr]=Tintin++
Name[uk]=Tintin++
Name[vi]=Tintin++
Name[wo]=Tintin++
Name[zh_CN]=Tintin++
Name[zh_TW]=Tintin++
Exec=/usr/games/tt++
Terminal=true
Categories=X-Debian-Games-Adventure;
