[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Doc-Central
Name[ar]=Doc-Central
Name[ast]=Doc-Central
Name[be]=Doc-Central
Name[bg]=Doc-Central
Name[bn]=Doc-Central
Name[br]=Doc-Central
Name[bs]=Doc-Central
Name[ca]=Doc-Central
Name[cs]=Doc-Central
Name[da]=Doc-Central
Name[de]=Doc-Central
Name[dz]=Doc-Central
Name[el]=Doc-Central
Name[eo]=Doc-Central
Name[es]=Doc-Central
Name[et]=Doc-Central
Name[eu]=Doc-Central
Name[fi]=Doc-Central
Name[fr]=Doc-Central
Name[ga]=Doc-Central
Name[gl]=Doc-Central
Name[gu]=Doc-Central
Name[he]=Doc-Central
Name[hi]=Doc-Central
Name[hr]=Doc-Central
Name[hu]=Doc-Central
Name[id]=Doc-Central
Name[it]=Doc-Central
Name[ja]=Doc-Central
Name[ka]=Doc-Central
Name[kk]=Doc-Central
Name[km]=Doc-Central
Name[ko]=Doc-Central
Name[ku]=Doc-Central
Name[lt]=Doc-Central
Name[mk]=Doc-Central
Name[ml]=Doc-Central
Name[mr]=Doc-Central
Name[nb]=Doc-Central
Name[ne]=Doc-Central
Name[nl]=Doc-Central
Name[nn]=Doc-Central
Name[pa]=Doc-Central
Name[pl]=Doc-Central
Name[pt]=Doc-Central
Name[pt_BR]=Doc-Central
Name[ro]=Doc-Central
Name[ru]=Doc-Central
Name[sk]=Doc-Central
Name[sq]=Doc-Central
Name[sv]=Doc-Central
Name[ta]=Doc-Central
Name[th]=Doc-Central
Name[tl]=Doc-Central
Name[tr]=Doc-Central
Name[uk]=Doc-Central
Name[vi]=Doc-Central
Name[wo]=Doc-Central
Name[zh_CN]=Doc-Central
Name[zh_TW]=Doc-Central
Comment=Web-based Debian documentation browser
Comment[ar]=Web-based Debian documentation browser
Comment[ast]=Web-based Debian documentation browser
Comment[be]=Web-based Debian documentation browser
Comment[bg]=Web-based Debian documentation browser
Comment[bn]=Web-based Debian documentation browser
Comment[br]=Web-based Debian documentation browser
Comment[bs]=Web-based Debian documentation browser
Comment[ca]=Web-based Debian documentation browser
Comment[cs]=Web-based Debian documentation browser
Comment[da]=Web-based Debian documentation browser
Comment[de]=Web-based Debian documentation browser
Comment[dz]=Web-based Debian documentation browser
Comment[el]=Web-based Debian documentation browser
Comment[eo]=Web-based Debian documentation browser
Comment[es]=Web-based Debian documentation browser
Comment[et]=Web-based Debian documentation browser
Comment[eu]=Web-based Debian documentation browser
Comment[fi]=Web-based Debian documentation browser
Comment[fr]=Web-based Debian documentation browser
Comment[ga]=Web-based Debian documentation browser
Comment[gl]=Web-based Debian documentation browser
Comment[gu]=Web-based Debian documentation browser
Comment[he]=Web-based Debian documentation browser
Comment[hi]=Web-based Debian documentation browser
Comment[hr]=Web-based Debian documentation browser
Comment[hu]=Web-based Debian documentation browser
Comment[id]=Web-based Debian documentation browser
Comment[it]=Web-based Debian documentation browser
Comment[ja]=Web-based Debian documentation browser
Comment[ka]=Web-based Debian documentation browser
Comment[kk]=Web-based Debian documentation browser
Comment[km]=Web-based Debian documentation browser
Comment[ko]=Web-based Debian documentation browser
Comment[ku]=Web-based Debian documentation browser
Comment[lt]=Web-based Debian documentation browser
Comment[mk]=Web-based Debian documentation browser
Comment[ml]=Web-based Debian documentation browser
Comment[mr]=Web-based Debian documentation browser
Comment[nb]=Web-based Debian documentation browser
Comment[ne]=Web-based Debian documentation browser
Comment[nl]=Web-based Debian documentation browser
Comment[nn]=Web-based Debian documentation browser
Comment[pa]=Web-based Debian documentation browser
Comment[pl]=Web-based Debian documentation browser
Comment[pt]=Web-based Debian documentation browser
Comment[pt_BR]=Web-based Debian documentation browser
Comment[ro]=Web-based Debian documentation browser
Comment[ru]=Web-based Debian documentation browser
Comment[sk]=Web-based Debian documentation browser
Comment[sq]=Web-based Debian documentation browser
Comment[sv]=Web-based Debian documentation browser
Comment[ta]=Web-based Debian documentation browser
Comment[th]=Web-based Debian documentation browser
Comment[tl]=Web-based Debian documentation browser
Comment[tr]=Web-based Debian documentation browser
Comment[uk]=Web-based Debian documentation browser
Comment[vi]=Web-based Debian documentation browser
Comment[wo]=Web-based Debian documentation browser
Comment[zh_CN]=Web-based Debian documentation browser
Comment[zh_TW]=Web-based Debian documentation browser
Exec=/usr/bin/doccentral
Terminal=true
Categories=X-Debian-Help;
