[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=GNOME system monitor
Name[ar]=GNOME system monitor
Name[ast]=GNOME system monitor
Name[be]=GNOME system monitor
Name[bg]=GNOME system monitor
Name[bn]=GNOME system monitor
Name[br]=GNOME system monitor
Name[bs]=GNOME system monitor
Name[ca]=GNOME system monitor
Name[cs]=GNOME system monitor
Name[da]=GNOME system monitor
Name[de]=GNOME system monitor
Name[dz]=GNOME system monitor
Name[el]=GNOME system monitor
Name[eo]=GNOME system monitor
Name[es]=GNOME system monitor
Name[et]=GNOME system monitor
Name[eu]=GNOME system monitor
Name[fi]=GNOME system monitor
Name[fr]=GNOME system monitor
Name[ga]=GNOME system monitor
Name[gl]=GNOME system monitor
Name[gu]=GNOME system monitor
Name[he]=GNOME system monitor
Name[hi]=GNOME system monitor
Name[hr]=GNOME system monitor
Name[hu]=GNOME system monitor
Name[id]=GNOME system monitor
Name[it]=GNOME system monitor
Name[ja]=GNOME system monitor
Name[ka]=GNOME system monitor
Name[kk]=GNOME system monitor
Name[km]=GNOME system monitor
Name[ko]=GNOME system monitor
Name[ku]=GNOME system monitor
Name[lt]=GNOME system monitor
Name[mk]=GNOME system monitor
Name[ml]=GNOME system monitor
Name[mr]=GNOME system monitor
Name[nb]=GNOME system monitor
Name[ne]=GNOME system monitor
Name[nl]=GNOME system monitor
Name[nn]=GNOME system monitor
Name[pa]=GNOME system monitor
Name[pl]=GNOME system monitor
Name[pt]=GNOME system monitor
Name[pt_BR]=GNOME system monitor
Name[ro]=GNOME system monitor
Name[ru]=GNOME system monitor
Name[sk]=GNOME system monitor
Name[sq]=GNOME system monitor
Name[sv]=GNOME system monitor
Name[ta]=GNOME system monitor
Name[th]=GNOME system monitor
Name[tl]=GNOME system monitor
Name[tr]=GNOME system monitor
Name[uk]=GNOME system monitor
Name[vi]=GNOME system monitor
Name[wo]=GNOME system monitor
Name[zh_CN]=GNOME system monitor
Name[zh_TW]=GNOME system monitor
Exec=/usr/bin/gnome-system-monitor
Terminal=false
Categories=X-Debian-Applications-System-Monitoring;
