[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Geeqie
Name[ar]=Geeqie
Name[ast]=Geeqie
Name[be]=Geeqie
Name[bg]=Geeqie
Name[bn]=Geeqie
Name[br]=Geeqie
Name[bs]=Geeqie
Name[ca]=Geeqie
Name[cs]=Geeqie
Name[da]=Geeqie
Name[de]=Geeqie
Name[dz]=Geeqie
Name[el]=Geeqie
Name[eo]=Geeqie
Name[es]=Geeqie
Name[et]=Geeqie
Name[eu]=Geeqie
Name[fi]=Geeqie
Name[fr]=Geeqie
Name[ga]=Geeqie
Name[gl]=Geeqie
Name[gu]=Geeqie
Name[he]=Geeqie
Name[hi]=Geeqie
Name[hr]=Geeqie
Name[hu]=Geeqie
Name[id]=Geeqie
Name[it]=Geeqie
Name[ja]=Geeqie
Name[ka]=Geeqie
Name[kk]=Geeqie
Name[km]=Geeqie
Name[ko]=Geeqie
Name[ku]=Geeqie
Name[lt]=Geeqie
Name[mk]=Geeqie
Name[ml]=Geeqie
Name[mr]=Geeqie
Name[nb]=Geeqie
Name[ne]=Geeqie
Name[nl]=Geeqie
Name[nn]=Geeqie
Name[pa]=Geeqie
Name[pl]=Geeqie
Name[pt]=Geeqie
Name[pt_BR]=Geeqie
Name[ro]=Geeqie
Name[ru]=Geeqie
Name[sk]=Geeqie
Name[sq]=Geeqie
Name[sv]=Geeqie
Name[ta]=Geeqie
Name[th]=Geeqie
Name[tl]=Geeqie
Name[tr]=Geeqie
Name[uk]=Geeqie
Name[vi]=Geeqie
Name[wo]=Geeqie
Name[zh_CN]=Geeqie
Name[zh_TW]=Geeqie
Comment=Geeqie Image Viewer
Comment[ar]=Geeqie Image Viewer
Comment[ast]=Geeqie Image Viewer
Comment[be]=Geeqie Image Viewer
Comment[bg]=Geeqie Image Viewer
Comment[bn]=Geeqie Image Viewer
Comment[br]=Geeqie Image Viewer
Comment[bs]=Geeqie Image Viewer
Comment[ca]=Geeqie Image Viewer
Comment[cs]=Geeqie Image Viewer
Comment[da]=Geeqie Image Viewer
Comment[de]=Geeqie Image Viewer
Comment[dz]=Geeqie Image Viewer
Comment[el]=Geeqie Image Viewer
Comment[eo]=Geeqie Image Viewer
Comment[es]=Geeqie Image Viewer
Comment[et]=Geeqie Image Viewer
Comment[eu]=Geeqie Image Viewer
Comment[fi]=Geeqie Image Viewer
Comment[fr]=Geeqie Image Viewer
Comment[ga]=Geeqie Image Viewer
Comment[gl]=Geeqie Image Viewer
Comment[gu]=Geeqie Image Viewer
Comment[he]=Geeqie Image Viewer
Comment[hi]=Geeqie Image Viewer
Comment[hr]=Geeqie Image Viewer
Comment[hu]=Geeqie Image Viewer
Comment[id]=Geeqie Image Viewer
Comment[it]=Geeqie Image Viewer
Comment[ja]=Geeqie Image Viewer
Comment[ka]=Geeqie Image Viewer
Comment[kk]=Geeqie Image Viewer
Comment[km]=Geeqie Image Viewer
Comment[ko]=Geeqie Image Viewer
Comment[ku]=Geeqie Image Viewer
Comment[lt]=Geeqie Image Viewer
Comment[mk]=Geeqie Image Viewer
Comment[ml]=Geeqie Image Viewer
Comment[mr]=Geeqie Image Viewer
Comment[nb]=Geeqie Image Viewer
Comment[ne]=Geeqie Image Viewer
Comment[nl]=Geeqie Image Viewer
Comment[nn]=Geeqie Image Viewer
Comment[pa]=Geeqie Image Viewer
Comment[pl]=Geeqie Image Viewer
Comment[pt]=Geeqie Image Viewer
Comment[pt_BR]=Geeqie Image Viewer
Comment[ro]=Geeqie Image Viewer
Comment[ru]=Geeqie Image Viewer
Comment[sk]=Geeqie Image Viewer
Comment[sq]=Geeqie Image Viewer
Comment[sv]=Geeqie Image Viewer
Comment[ta]=Geeqie Image Viewer
Comment[th]=Geeqie Image Viewer
Comment[tl]=Geeqie Image Viewer
Comment[tr]=Geeqie Image Viewer
Comment[uk]=Geeqie Image Viewer
Comment[vi]=Geeqie Image Viewer
Comment[wo]=Geeqie Image Viewer
Comment[zh_CN]=Geeqie Image Viewer
Comment[zh_TW]=Geeqie Image Viewer
Icon=/usr/share/pixmaps/geeqie.xpm
Exec=/usr/bin/geeqie-standard
Terminal=false
Categories=X-Debian-Applications-Graphics;
