[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=gliv
Name[ar]=gliv
Name[ast]=gliv
Name[be]=gliv
Name[bg]=gliv
Name[bn]=gliv
Name[br]=gliv
Name[bs]=gliv
Name[ca]=gliv
Name[cs]=gliv
Name[da]=gliv
Name[de]=gliv
Name[dz]=gliv
Name[el]=gliv
Name[eo]=gliv
Name[es]=gliv
Name[et]=gliv
Name[eu]=gliv
Name[fi]=gliv
Name[fr]=gliv
Name[ga]=gliv
Name[gl]=gliv
Name[gu]=gliv
Name[he]=gliv
Name[hi]=gliv
Name[hr]=gliv
Name[hu]=gliv
Name[id]=gliv
Name[it]=gliv
Name[ja]=gliv
Name[ka]=gliv
Name[kk]=gliv
Name[km]=gliv
Name[ko]=gliv
Name[ku]=gliv
Name[lt]=gliv
Name[mk]=gliv
Name[ml]=gliv
Name[mr]=gliv
Name[nb]=gliv
Name[ne]=gliv
Name[nl]=gliv
Name[nn]=gliv
Name[pa]=gliv
Name[pl]=gliv
Name[pt]=gliv
Name[pt_BR]=gliv
Name[ro]=gliv
Name[ru]=gliv
Name[sk]=gliv
Name[sq]=gliv
Name[sv]=gliv
Name[ta]=gliv
Name[th]=gliv
Name[tl]=gliv
Name[tr]=gliv
Name[uk]=gliv
Name[vi]=gliv
Name[wo]=gliv
Name[zh_CN]=gliv
Name[zh_TW]=gliv
Comment=View images using gdk-pixbuf and OpenGL
Comment[ar]=View images using gdk-pixbuf and OpenGL
Comment[ast]=View images using gdk-pixbuf and OpenGL
Comment[be]=View images using gdk-pixbuf and OpenGL
Comment[bg]=View images using gdk-pixbuf and OpenGL
Comment[bn]=View images using gdk-pixbuf and OpenGL
Comment[br]=View images using gdk-pixbuf and OpenGL
Comment[bs]=View images using gdk-pixbuf and OpenGL
Comment[ca]=View images using gdk-pixbuf and OpenGL
Comment[cs]=View images using gdk-pixbuf and OpenGL
Comment[da]=View images using gdk-pixbuf and OpenGL
Comment[de]=View images using gdk-pixbuf and OpenGL
Comment[dz]=View images using gdk-pixbuf and OpenGL
Comment[el]=View images using gdk-pixbuf and OpenGL
Comment[eo]=View images using gdk-pixbuf and OpenGL
Comment[es]=View images using gdk-pixbuf and OpenGL
Comment[et]=View images using gdk-pixbuf and OpenGL
Comment[eu]=View images using gdk-pixbuf and OpenGL
Comment[fi]=View images using gdk-pixbuf and OpenGL
Comment[fr]=View images using gdk-pixbuf and OpenGL
Comment[ga]=View images using gdk-pixbuf and OpenGL
Comment[gl]=View images using gdk-pixbuf and OpenGL
Comment[gu]=View images using gdk-pixbuf and OpenGL
Comment[he]=View images using gdk-pixbuf and OpenGL
Comment[hi]=View images using gdk-pixbuf and OpenGL
Comment[hr]=View images using gdk-pixbuf and OpenGL
Comment[hu]=View images using gdk-pixbuf and OpenGL
Comment[id]=View images using gdk-pixbuf and OpenGL
Comment[it]=View images using gdk-pixbuf and OpenGL
Comment[ja]=View images using gdk-pixbuf and OpenGL
Comment[ka]=View images using gdk-pixbuf and OpenGL
Comment[kk]=View images using gdk-pixbuf and OpenGL
Comment[km]=View images using gdk-pixbuf and OpenGL
Comment[ko]=View images using gdk-pixbuf and OpenGL
Comment[ku]=View images using gdk-pixbuf and OpenGL
Comment[lt]=View images using gdk-pixbuf and OpenGL
Comment[mk]=View images using gdk-pixbuf and OpenGL
Comment[ml]=View images using gdk-pixbuf and OpenGL
Comment[mr]=View images using gdk-pixbuf and OpenGL
Comment[nb]=View images using gdk-pixbuf and OpenGL
Comment[ne]=View images using gdk-pixbuf and OpenGL
Comment[nl]=View images using gdk-pixbuf and OpenGL
Comment[nn]=View images using gdk-pixbuf and OpenGL
Comment[pa]=View images using gdk-pixbuf and OpenGL
Comment[pl]=View images using gdk-pixbuf and OpenGL
Comment[pt]=View images using gdk-pixbuf and OpenGL
Comment[pt_BR]=View images using gdk-pixbuf and OpenGL
Comment[ro]=View images using gdk-pixbuf and OpenGL
Comment[ru]=View images using gdk-pixbuf and OpenGL
Comment[sk]=View images using gdk-pixbuf and OpenGL
Comment[sq]=View images using gdk-pixbuf and OpenGL
Comment[sv]=View images using gdk-pixbuf and OpenGL
Comment[ta]=View images using gdk-pixbuf and OpenGL
Comment[th]=View images using gdk-pixbuf and OpenGL
Comment[tl]=View images using gdk-pixbuf and OpenGL
Comment[tr]=View images using gdk-pixbuf and OpenGL
Comment[uk]=View images using gdk-pixbuf and OpenGL
Comment[vi]=View images using gdk-pixbuf and OpenGL
Comment[wo]=View images using gdk-pixbuf and OpenGL
Comment[zh_CN]=View images using gdk-pixbuf and OpenGL
Comment[zh_TW]=View images using gdk-pixbuf and OpenGL
Icon=/usr/share/pixmaps/gliv.xpm
Exec=/usr/bin/gliv
Terminal=false
Categories=X-Debian-Applications-Viewers;
