[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Cola
Name[ar]=Cola
Name[ast]=Cola
Name[be]=Cola
Name[bg]=Cola
Name[bn]=Cola
Name[br]=Cola
Name[bs]=Cola
Name[ca]=Cola
Name[cs]=Cola
Name[da]=Cola
Name[de]=Cola
Name[dz]=Cola
Name[el]=Cola
Name[eo]=Cola
Name[es]=Cola
Name[et]=Cola
Name[eu]=Cola
Name[fi]=Cola
Name[fr]=Cola
Name[ga]=Cola
Name[gl]=Cola
Name[gu]=Cola
Name[he]=Cola
Name[hi]=Cola
Name[hr]=Cola
Name[hu]=Cola
Name[id]=Cola
Name[it]=Cola
Name[ja]=Cola
Name[ka]=Cola
Name[kk]=Cola
Name[km]=Cola
Name[ko]=Cola
Name[ku]=Cola
Name[lt]=Cola
Name[mk]=Cola
Name[ml]=Cola
Name[mr]=Cola
Name[nb]=Cola
Name[ne]=Cola
Name[nl]=Cola
Name[nn]=Cola
Name[pa]=Cola
Name[pl]=Cola
Name[pt]=Cola
Name[pt_BR]=Cola
Name[ro]=Cola
Name[ru]=Cola
Name[sk]=Cola
Name[sq]=Cola
Name[sv]=Cola
Name[ta]=Cola
Name[th]=Cola
Name[tl]=Cola
Name[tr]=Cola
Name[uk]=Cola
Name[vi]=Cola
Name[wo]=Cola
Name[zh_CN]=Cola
Name[zh_TW]=Cola
Exec=/usr/bin/git-cola
Terminal=false
Categories=X-Debian-Applications-Programming;
