[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=LibreOffice Base
Name[ar]=LibreOffice Base
Name[ast]=LibreOffice Base
Name[be]=LibreOffice Base
Name[bg]=LibreOffice Base
Name[bn]=LibreOffice Base
Name[br]=LibreOffice Base
Name[bs]=LibreOffice Base
Name[ca]=LibreOffice Base
Name[cs]=LibreOffice Base
Name[da]=LibreOffice Base
Name[de]=LibreOffice Base
Name[dz]=LibreOffice Base
Name[el]=LibreOffice Base
Name[eo]=LibreOffice Base
Name[es]=LibreOffice Base
Name[et]=LibreOffice Base
Name[eu]=LibreOffice Base
Name[fi]=LibreOffice Base
Name[fr]=LibreOffice Base
Name[ga]=LibreOffice Base
Name[gl]=LibreOffice Base
Name[gu]=LibreOffice Base
Name[he]=LibreOffice Base
Name[hi]=LibreOffice Base
Name[hr]=LibreOffice Base
Name[hu]=LibreOffice Base
Name[id]=LibreOffice Base
Name[it]=LibreOffice Base
Name[ja]=LibreOffice Base
Name[ka]=LibreOffice Base
Name[kk]=LibreOffice Base
Name[km]=LibreOffice Base
Name[ko]=LibreOffice Base
Name[ku]=LibreOffice Base
Name[lt]=LibreOffice Base
Name[mk]=LibreOffice Base
Name[ml]=LibreOffice Base
Name[mr]=LibreOffice Base
Name[nb]=LibreOffice Base
Name[ne]=LibreOffice Base
Name[nl]=LibreOffice Base
Name[nn]=LibreOffice Base
Name[pa]=LibreOffice Base
Name[pl]=LibreOffice Base
Name[pt]=LibreOffice Base
Name[pt_BR]=LibreOffice Base
Name[ro]=LibreOffice Base
Name[ru]=LibreOffice Base
Name[sk]=LibreOffice Base
Name[sq]=LibreOffice Base
Name[sv]=LibreOffice Base
Name[ta]=LibreOffice Base
Name[th]=LibreOffice Base
Name[tl]=LibreOffice Base
Name[tr]=LibreOffice Base
Name[uk]=LibreOffice Base
Name[vi]=LibreOffice Base
Name[wo]=LibreOffice Base
Name[zh_CN]=LibreOffice Base
Name[zh_TW]=LibreOffice Base
Icon=/usr/share/icons/hicolor/32x32/apps/libreoffice-base.xpm
Exec=/usr/bin/libreoffice --base
Terminal=false
Categories=X-Debian-Applications-Data-Management;
