[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=gTweakUI Session
Name[ar]=gTweakUI Session
Name[ast]=gTweakUI Session
Name[be]=gTweakUI Session
Name[bg]=gTweakUI Session
Name[bn]=gTweakUI Session
Name[br]=gTweakUI Session
Name[bs]=gTweakUI Session
Name[ca]=gTweakUI Session
Name[cs]=gTweakUI Session
Name[da]=gTweakUI Session
Name[de]=gTweakUI Session
Name[dz]=gTweakUI Session
Name[el]=gTweakUI Session
Name[eo]=gTweakUI Session
Name[es]=gTweakUI Session
Name[et]=gTweakUI Session
Name[eu]=gTweakUI Session
Name[fi]=gTweakUI Session
Name[fr]=gTweakUI Session
Name[ga]=gTweakUI Session
Name[gl]=gTweakUI Session
Name[gu]=gTweakUI Session
Name[he]=gTweakUI Session
Name[hi]=gTweakUI Session
Name[hr]=gTweakUI Session
Name[hu]=gTweakUI Session
Name[id]=gTweakUI Session
Name[it]=gTweakUI Session
Name[ja]=gTweakUI Session
Name[ka]=gTweakUI Session
Name[kk]=gTweakUI Session
Name[km]=gTweakUI Session
Name[ko]=gTweakUI Session
Name[ku]=gTweakUI Session
Name[lt]=gTweakUI Session
Name[mk]=gTweakUI Session
Name[ml]=gTweakUI Session
Name[mr]=gTweakUI Session
Name[nb]=gTweakUI Session
Name[ne]=gTweakUI Session
Name[nl]=gTweakUI Session
Name[nn]=gTweakUI Session
Name[pa]=gTweakUI Session
Name[pl]=gTweakUI Session
Name[pt]=gTweakUI Session
Name[pt_BR]=gTweakUI Session
Name[ro]=gTweakUI Session
Name[ru]=gTweakUI Session
Name[sk]=gTweakUI Session
Name[sq]=gTweakUI Session
Name[sv]=gTweakUI Session
Name[ta]=gTweakUI Session
Name[th]=gTweakUI Session
Name[tl]=gTweakUI Session
Name[tr]=gTweakUI Session
Name[uk]=gTweakUI Session
Name[vi]=gTweakUI Session
Name[wo]=gTweakUI Session
Name[zh_CN]=gTweakUI Session
Name[zh_TW]=gTweakUI Session
Exec=/usr/bin/gtweakui-session
Terminal=false
Categories=X-Debian-Applications-Tools;
