[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=GDB
Name[ar]=GDB
Name[ast]=GDB
Name[be]=GDB
Name[bg]=GDB
Name[bn]=GDB
Name[br]=GDB
Name[bs]=GDB
Name[ca]=GDB
Name[cs]=GDB
Name[da]=GDB
Name[de]=GDB
Name[dz]=GDB
Name[el]=GDB
Name[eo]=GDB
Name[es]=GDB
Name[et]=GDB
Name[eu]=GDB
Name[fi]=GDB
Name[fr]=GDB
Name[ga]=GDB
Name[gl]=GDB
Name[gu]=GDB
Name[he]=GDB
Name[hi]=GDB
Name[hr]=GDB
Name[hu]=GDB
Name[id]=GDB
Name[it]=GDB
Name[ja]=GDB
Name[ka]=GDB
Name[kk]=GDB
Name[km]=GDB
Name[ko]=GDB
Name[ku]=GDB
Name[lt]=GDB
Name[mk]=GDB
Name[ml]=GDB
Name[mr]=GDB
Name[nb]=GDB
Name[ne]=GDB
Name[nl]=GDB
Name[nn]=GDB
Name[pa]=GDB
Name[pl]=GDB
Name[pt]=GDB
Name[pt_BR]=GDB
Name[ro]=GDB
Name[ru]=GDB
Name[sk]=GDB
Name[sq]=GDB
Name[sv]=GDB
Name[ta]=GDB
Name[th]=GDB
Name[tl]=GDB
Name[tr]=GDB
Name[uk]=GDB
Name[vi]=GDB
Name[wo]=GDB
Name[zh_CN]=GDB
Name[zh_TW]=GDB
Exec=/usr/bin/gdb
Terminal=true
Categories=X-Debian-Applications-Programming;
