[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Tucan
Name[ar]=Tucan
Name[ast]=Tucan
Name[be]=Tucan
Name[bg]=Tucan
Name[bn]=Tucan
Name[br]=Tucan
Name[bs]=Tucan
Name[ca]=Tucan
Name[cs]=Tucan
Name[da]=Tucan
Name[de]=Tucan
Name[dz]=Tucan
Name[el]=Tucan
Name[eo]=Tucan
Name[es]=Tucan
Name[et]=Tucan
Name[eu]=Tucan
Name[fi]=Tucan
Name[fr]=Tucan
Name[ga]=Tucan
Name[gl]=Tucan
Name[gu]=Tucan
Name[he]=Tucan
Name[hi]=Tucan
Name[hr]=Tucan
Name[hu]=Tucan
Name[id]=Tucan
Name[it]=Tucan
Name[ja]=Tucan
Name[ka]=Tucan
Name[kk]=Tucan
Name[km]=Tucan
Name[ko]=Tucan
Name[ku]=Tucan
Name[lt]=Tucan
Name[mk]=Tucan
Name[ml]=Tucan
Name[mr]=Tucan
Name[nb]=Tucan
Name[ne]=Tucan
Name[nl]=Tucan
Name[nn]=Tucan
Name[pa]=Tucan
Name[pl]=Tucan
Name[pt]=Tucan
Name[pt_BR]=Tucan
Name[ro]=Tucan
Name[ru]=Tucan
Name[sk]=Tucan
Name[sq]=Tucan
Name[sv]=Tucan
Name[ta]=Tucan
Name[th]=Tucan
Name[tl]=Tucan
Name[tr]=Tucan
Name[uk]=Tucan
Name[vi]=Tucan
Name[wo]=Tucan
Name[zh_CN]=Tucan
Name[zh_TW]=Tucan
Icon=/usr/share/pixmaps/tucan.xpm
Exec=/usr/bin/tucan
Terminal=false
Categories=X-Debian-Applications-Network-File-Transfer;
