[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=fbpanel
Name[ar]=fbpanel
Name[ast]=fbpanel
Name[be]=fbpanel
Name[bg]=fbpanel
Name[bn]=fbpanel
Name[br]=fbpanel
Name[bs]=fbpanel
Name[ca]=fbpanel
Name[cs]=fbpanel
Name[da]=fbpanel
Name[de]=fbpanel
Name[dz]=fbpanel
Name[el]=fbpanel
Name[eo]=fbpanel
Name[es]=fbpanel
Name[et]=fbpanel
Name[eu]=fbpanel
Name[fi]=fbpanel
Name[fr]=fbpanel
Name[ga]=fbpanel
Name[gl]=fbpanel
Name[gu]=fbpanel
Name[he]=fbpanel
Name[hi]=fbpanel
Name[hr]=fbpanel
Name[hu]=fbpanel
Name[id]=fbpanel
Name[it]=fbpanel
Name[ja]=fbpanel
Name[ka]=fbpanel
Name[kk]=fbpanel
Name[km]=fbpanel
Name[ko]=fbpanel
Name[ku]=fbpanel
Name[lt]=fbpanel
Name[mk]=fbpanel
Name[ml]=fbpanel
Name[mr]=fbpanel
Name[nb]=fbpanel
Name[ne]=fbpanel
Name[nl]=fbpanel
Name[nn]=fbpanel
Name[pa]=fbpanel
Name[pl]=fbpanel
Name[pt]=fbpanel
Name[pt_BR]=fbpanel
Name[ro]=fbpanel
Name[ru]=fbpanel
Name[sk]=fbpanel
Name[sq]=fbpanel
Name[sv]=fbpanel
Name[ta]=fbpanel
Name[th]=fbpanel
Name[tl]=fbpanel
Name[tr]=fbpanel
Name[uk]=fbpanel
Name[vi]=fbpanel
Name[wo]=fbpanel
Name[zh_CN]=fbpanel
Name[zh_TW]=fbpanel
Exec=/usr/bin/fbpanel
Terminal=false
Categories=X-Debian-Applications-System-Administration;
