[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=DevHelp
Name[ar]=DevHelp
Name[ast]=DevHelp
Name[be]=DevHelp
Name[bg]=DevHelp
Name[bn]=DevHelp
Name[br]=DevHelp
Name[bs]=DevHelp
Name[ca]=DevHelp
Name[cs]=DevHelp
Name[da]=DevHelp
Name[de]=DevHelp
Name[dz]=DevHelp
Name[el]=DevHelp
Name[eo]=DevHelp
Name[es]=DevHelp
Name[et]=DevHelp
Name[eu]=DevHelp
Name[fi]=DevHelp
Name[fr]=DevHelp
Name[ga]=DevHelp
Name[gl]=DevHelp
Name[gu]=DevHelp
Name[he]=DevHelp
Name[hi]=DevHelp
Name[hr]=DevHelp
Name[hu]=DevHelp
Name[id]=DevHelp
Name[it]=DevHelp
Name[ja]=DevHelp
Name[ka]=DevHelp
Name[kk]=DevHelp
Name[km]=DevHelp
Name[ko]=DevHelp
Name[ku]=DevHelp
Name[lt]=DevHelp
Name[mk]=DevHelp
Name[ml]=DevHelp
Name[mr]=DevHelp
Name[nb]=DevHelp
Name[ne]=DevHelp
Name[nl]=DevHelp
Name[nn]=DevHelp
Name[pa]=DevHelp
Name[pl]=DevHelp
Name[pt]=DevHelp
Name[pt_BR]=DevHelp
Name[ro]=DevHelp
Name[ru]=DevHelp
Name[sk]=DevHelp
Name[sq]=DevHelp
Name[sv]=DevHelp
Name[ta]=DevHelp
Name[th]=DevHelp
Name[tl]=DevHelp
Name[tr]=DevHelp
Name[uk]=DevHelp
Name[vi]=DevHelp
Name[wo]=DevHelp
Name[zh_CN]=DevHelp
Name[zh_TW]=DevHelp
Comment=DevHelp: developer's documentation browser and helper
Comment[ar]=DevHelp: developer's documentation browser and helper
Comment[ast]=DevHelp: developer's documentation browser and helper
Comment[be]=DevHelp: developer's documentation browser and helper
Comment[bg]=DevHelp: developer's documentation browser and helper
Comment[bn]=DevHelp: developer's documentation browser and helper
Comment[br]=DevHelp: developer's documentation browser and helper
Comment[bs]=DevHelp: developer's documentation browser and helper
Comment[ca]=DevHelp: developer's documentation browser and helper
Comment[cs]=DevHelp: developer's documentation browser and helper
Comment[da]=DevHelp: developer's documentation browser and helper
Comment[de]=DevHelp: developer's documentation browser and helper
Comment[dz]=DevHelp: developer's documentation browser and helper
Comment[el]=DevHelp: developer's documentation browser and helper
Comment[eo]=DevHelp: developer's documentation browser and helper
Comment[es]=DevHelp: developer's documentation browser and helper
Comment[et]=DevHelp: developer's documentation browser and helper
Comment[eu]=DevHelp: developer's documentation browser and helper
Comment[fi]=DevHelp: developer's documentation browser and helper
Comment[fr]=DevHelp: developer's documentation browser and helper
Comment[ga]=DevHelp: developer's documentation browser and helper
Comment[gl]=DevHelp: developer's documentation browser and helper
Comment[gu]=DevHelp: developer's documentation browser and helper
Comment[he]=DevHelp: developer's documentation browser and helper
Comment[hi]=DevHelp: developer's documentation browser and helper
Comment[hr]=DevHelp: developer's documentation browser and helper
Comment[hu]=DevHelp: developer's documentation browser and helper
Comment[id]=DevHelp: developer's documentation browser and helper
Comment[it]=DevHelp: developer's documentation browser and helper
Comment[ja]=DevHelp: developer's documentation browser and helper
Comment[ka]=DevHelp: developer's documentation browser and helper
Comment[kk]=DevHelp: developer's documentation browser and helper
Comment[km]=DevHelp: developer's documentation browser and helper
Comment[ko]=DevHelp: developer's documentation browser and helper
Comment[ku]=DevHelp: developer's documentation browser and helper
Comment[lt]=DevHelp: developer's documentation browser and helper
Comment[mk]=DevHelp: developer's documentation browser and helper
Comment[ml]=DevHelp: developer's documentation browser and helper
Comment[mr]=DevHelp: developer's documentation browser and helper
Comment[nb]=DevHelp: developer's documentation browser and helper
Comment[ne]=DevHelp: developer's documentation browser and helper
Comment[nl]=DevHelp: developer's documentation browser and helper
Comment[nn]=DevHelp: developer's documentation browser and helper
Comment[pa]=DevHelp: developer's documentation browser and helper
Comment[pl]=DevHelp: developer's documentation browser and helper
Comment[pt]=DevHelp: developer's documentation browser and helper
Comment[pt_BR]=DevHelp: developer's documentation browser and helper
Comment[ro]=DevHelp: developer's documentation browser and helper
Comment[ru]=DevHelp: developer's documentation browser and helper
Comment[sk]=DevHelp: developer's documentation browser and helper
Comment[sq]=DevHelp: developer's documentation browser and helper
Comment[sv]=DevHelp: developer's documentation browser and helper
Comment[ta]=DevHelp: developer's documentation browser and helper
Comment[th]=DevHelp: developer's documentation browser and helper
Comment[tl]=DevHelp: developer's documentation browser and helper
Comment[tr]=DevHelp: developer's documentation browser and helper
Comment[uk]=DevHelp: developer's documentation browser and helper
Comment[vi]=DevHelp: developer's documentation browser and helper
Comment[wo]=DevHelp: developer's documentation browser and helper
Comment[zh_CN]=DevHelp: developer's documentation browser and helper
Comment[zh_TW]=DevHelp: developer's documentation browser and helper
Icon=/usr/share/pixmaps/devhelp-debian.xpm
Exec=/usr/bin/devhelp
Terminal=false
Categories=X-Debian-Applications-Programming;
