[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=comix
Name[ar]=comix
Name[ast]=comix
Name[be]=comix
Name[bg]=comix
Name[bn]=comix
Name[br]=comix
Name[bs]=comix
Name[ca]=comix
Name[cs]=comix
Name[da]=comix
Name[de]=comix
Name[dz]=comix
Name[el]=comix
Name[eo]=comix
Name[es]=comix
Name[et]=comix
Name[eu]=comix
Name[fi]=comix
Name[fr]=comix
Name[ga]=comix
Name[gl]=comix
Name[gu]=comix
Name[he]=comix
Name[hi]=comix
Name[hr]=comix
Name[hu]=comix
Name[id]=comix
Name[it]=comix
Name[ja]=comix
Name[ka]=comix
Name[kk]=comix
Name[km]=comix
Name[ko]=comix
Name[ku]=comix
Name[lt]=comix
Name[mk]=comix
Name[ml]=comix
Name[mr]=comix
Name[nb]=comix
Name[ne]=comix
Name[nl]=comix
Name[nn]=comix
Name[pa]=comix
Name[pl]=comix
Name[pt]=comix
Name[pt_BR]=comix
Name[ro]=comix
Name[ru]=comix
Name[sk]=comix
Name[sq]=comix
Name[sv]=comix
Name[ta]=comix
Name[th]=comix
Name[tl]=comix
Name[tr]=comix
Name[uk]=comix
Name[vi]=comix
Name[wo]=comix
Name[zh_CN]=comix
Name[zh_TW]=comix
Exec=/usr/bin/comix
Terminal=false
Categories=X-Debian-Applications-Viewers;
