[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Tilda terminal
Name[ar]=Tilda terminal
Name[ast]=Tilda terminal
Name[be]=Tilda terminal
Name[bg]=Tilda terminal
Name[bn]=Tilda terminal
Name[br]=Tilda terminal
Name[bs]=Tilda terminal
Name[ca]=Tilda terminal
Name[cs]=Tilda terminal
Name[da]=Tilda terminal
Name[de]=Tilda terminal
Name[dz]=Tilda terminal
Name[el]=Tilda terminal
Name[eo]=Tilda terminal
Name[es]=Tilda terminal
Name[et]=Tilda terminal
Name[eu]=Tilda terminal
Name[fi]=Tilda terminal
Name[fr]=Tilda terminal
Name[ga]=Tilda terminal
Name[gl]=Tilda terminal
Name[gu]=Tilda terminal
Name[he]=Tilda terminal
Name[hi]=Tilda terminal
Name[hr]=Tilda terminal
Name[hu]=Tilda terminal
Name[id]=Tilda terminal
Name[it]=Tilda terminal
Name[ja]=Tilda terminal
Name[ka]=Tilda terminal
Name[kk]=Tilda terminal
Name[km]=Tilda terminal
Name[ko]=Tilda terminal
Name[ku]=Tilda terminal
Name[lt]=Tilda terminal
Name[mk]=Tilda terminal
Name[ml]=Tilda terminal
Name[mr]=Tilda terminal
Name[nb]=Tilda terminal
Name[ne]=Tilda terminal
Name[nl]=Tilda terminal
Name[nn]=Tilda terminal
Name[pa]=Tilda terminal
Name[pl]=Tilda terminal
Name[pt]=Tilda terminal
Name[pt_BR]=Tilda terminal
Name[ro]=Tilda terminal
Name[ru]=Tilda terminal
Name[sk]=Tilda terminal
Name[sq]=Tilda terminal
Name[sv]=Tilda terminal
Name[ta]=Tilda terminal
Name[th]=Tilda terminal
Name[tl]=Tilda terminal
Name[tr]=Tilda terminal
Name[uk]=Tilda terminal
Name[vi]=Tilda terminal
Name[wo]=Tilda terminal
Name[zh_CN]=Tilda terminal
Name[zh_TW]=Tilda terminal
Comment=First person shooter terminal
Comment[ar]=First person shooter terminal
Comment[ast]=First person shooter terminal
Comment[be]=First person shooter terminal
Comment[bg]=First person shooter terminal
Comment[bn]=First person shooter terminal
Comment[br]=First person shooter terminal
Comment[bs]=First person shooter terminal
Comment[ca]=First person shooter terminal
Comment[cs]=First person shooter terminal
Comment[da]=First person shooter terminal
Comment[de]=First person shooter terminal
Comment[dz]=First person shooter terminal
Comment[el]=First person shooter terminal
Comment[eo]=First person shooter terminal
Comment[es]=First person shooter terminal
Comment[et]=First person shooter terminal
Comment[eu]=First person shooter terminal
Comment[fi]=First person shooter terminal
Comment[fr]=First person shooter terminal
Comment[ga]=First person shooter terminal
Comment[gl]=First person shooter terminal
Comment[gu]=First person shooter terminal
Comment[he]=First person shooter terminal
Comment[hi]=First person shooter terminal
Comment[hr]=First person shooter terminal
Comment[hu]=First person shooter terminal
Comment[id]=First person shooter terminal
Comment[it]=First person shooter terminal
Comment[ja]=First person shooter terminal
Comment[ka]=First person shooter terminal
Comment[kk]=First person shooter terminal
Comment[km]=First person shooter terminal
Comment[ko]=First person shooter terminal
Comment[ku]=First person shooter terminal
Comment[lt]=First person shooter terminal
Comment[mk]=First person shooter terminal
Comment[ml]=First person shooter terminal
Comment[mr]=First person shooter terminal
Comment[nb]=First person shooter terminal
Comment[ne]=First person shooter terminal
Comment[nl]=First person shooter terminal
Comment[nn]=First person shooter terminal
Comment[pa]=First person shooter terminal
Comment[pl]=First person shooter terminal
Comment[pt]=First person shooter terminal
Comment[pt_BR]=First person shooter terminal
Comment[ro]=First person shooter terminal
Comment[ru]=First person shooter terminal
Comment[sk]=First person shooter terminal
Comment[sq]=First person shooter terminal
Comment[sv]=First person shooter terminal
Comment[ta]=First person shooter terminal
Comment[th]=First person shooter terminal
Comment[tl]=First person shooter terminal
Comment[tr]=First person shooter terminal
Comment[uk]=First person shooter terminal
Comment[vi]=First person shooter terminal
Comment[wo]=First person shooter terminal
Comment[zh_CN]=First person shooter terminal
Comment[zh_TW]=First person shooter terminal
Exec=/usr/bin/tilda
Terminal=false
Categories=X-Debian-Applications-Terminal-Emulators;
