[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=ZSNES
Name[ar]=ZSNES
Name[ast]=ZSNES
Name[be]=ZSNES
Name[bg]=ZSNES
Name[bn]=ZSNES
Name[br]=ZSNES
Name[bs]=ZSNES
Name[ca]=ZSNES
Name[cs]=ZSNES
Name[da]=ZSNES
Name[de]=ZSNES
Name[dz]=ZSNES
Name[el]=ZSNES
Name[eo]=ZSNES
Name[es]=ZSNES
Name[et]=ZSNES
Name[eu]=ZSNES
Name[fi]=ZSNES
Name[fr]=ZSNES
Name[ga]=ZSNES
Name[gl]=ZSNES
Name[gu]=ZSNES
Name[he]=ZSNES
Name[hi]=ZSNES
Name[hr]=ZSNES
Name[hu]=ZSNES
Name[id]=ZSNES
Name[it]=ZSNES
Name[ja]=ZSNES
Name[ka]=ZSNES
Name[kk]=ZSNES
Name[km]=ZSNES
Name[ko]=ZSNES
Name[ku]=ZSNES
Name[lt]=ZSNES
Name[mk]=ZSNES
Name[ml]=ZSNES
Name[mr]=ZSNES
Name[nb]=ZSNES
Name[ne]=ZSNES
Name[nl]=ZSNES
Name[nn]=ZSNES
Name[pa]=ZSNES
Name[pl]=ZSNES
Name[pt]=ZSNES
Name[pt_BR]=ZSNES
Name[ro]=ZSNES
Name[ru]=ZSNES
Name[sk]=ZSNES
Name[sq]=ZSNES
Name[sv]=ZSNES
Name[ta]=ZSNES
Name[th]=ZSNES
Name[tl]=ZSNES
Name[tr]=ZSNES
Name[uk]=ZSNES
Name[vi]=ZSNES
Name[wo]=ZSNES
Name[zh_CN]=ZSNES
Name[zh_TW]=ZSNES
Icon=/usr/share/pixmaps/zsnes.xpm
Exec=/usr/bin/zsnes
Terminal=false
Categories=X-Debian-Applications-Emulators;
