[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=VisualBoyAdvance
Name[ar]=VisualBoyAdvance
Name[ast]=VisualBoyAdvance
Name[be]=VisualBoyAdvance
Name[bg]=VisualBoyAdvance
Name[bn]=VisualBoyAdvance
Name[br]=VisualBoyAdvance
Name[bs]=VisualBoyAdvance
Name[ca]=VisualBoyAdvance
Name[cs]=VisualBoyAdvance
Name[da]=VisualBoyAdvance
Name[de]=VisualBoyAdvance
Name[dz]=VisualBoyAdvance
Name[el]=VisualBoyAdvance
Name[eo]=VisualBoyAdvance
Name[es]=VisualBoyAdvance
Name[et]=VisualBoyAdvance
Name[eu]=VisualBoyAdvance
Name[fi]=VisualBoyAdvance
Name[fr]=VisualBoyAdvance
Name[ga]=VisualBoyAdvance
Name[gl]=VisualBoyAdvance
Name[gu]=VisualBoyAdvance
Name[he]=VisualBoyAdvance
Name[hi]=VisualBoyAdvance
Name[hr]=VisualBoyAdvance
Name[hu]=VisualBoyAdvance
Name[id]=VisualBoyAdvance
Name[it]=VisualBoyAdvance
Name[ja]=VisualBoyAdvance
Name[ka]=VisualBoyAdvance
Name[kk]=VisualBoyAdvance
Name[km]=VisualBoyAdvance
Name[ko]=VisualBoyAdvance
Name[ku]=VisualBoyAdvance
Name[lt]=VisualBoyAdvance
Name[mk]=VisualBoyAdvance
Name[ml]=VisualBoyAdvance
Name[mr]=VisualBoyAdvance
Name[nb]=VisualBoyAdvance
Name[ne]=VisualBoyAdvance
Name[nl]=VisualBoyAdvance
Name[nn]=VisualBoyAdvance
Name[pa]=VisualBoyAdvance
Name[pl]=VisualBoyAdvance
Name[pt]=VisualBoyAdvance
Name[pt_BR]=VisualBoyAdvance
Name[ro]=VisualBoyAdvance
Name[ru]=VisualBoyAdvance
Name[sk]=VisualBoyAdvance
Name[sq]=VisualBoyAdvance
Name[sv]=VisualBoyAdvance
Name[ta]=VisualBoyAdvance
Name[th]=VisualBoyAdvance
Name[tl]=VisualBoyAdvance
Name[tr]=VisualBoyAdvance
Name[uk]=VisualBoyAdvance
Name[vi]=VisualBoyAdvance
Name[wo]=VisualBoyAdvance
Name[zh_CN]=VisualBoyAdvance
Name[zh_TW]=VisualBoyAdvance
Icon=/usr/share/pixmaps/VisualBoyAdvance-gtk-32x32.xpm
Exec=/usr/bin/gvba
Terminal=false
Categories=X-Debian-Applications-Emulators;
