[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Evince
Name[ar]=Evince
Name[ast]=Evince
Name[be]=Evince
Name[bg]=Evince
Name[bn]=Evince
Name[br]=Evince
Name[bs]=Evince
Name[ca]=Evince
Name[cs]=Evince
Name[da]=Evince
Name[de]=Evince
Name[dz]=Evince
Name[el]=Evince
Name[eo]=Evince
Name[es]=Evince
Name[et]=Evince
Name[eu]=Evince
Name[fi]=Evince
Name[fr]=Evince
Name[ga]=Evince
Name[gl]=Evince
Name[gu]=Evince
Name[he]=Evince
Name[hi]=Evince
Name[hr]=Evince
Name[hu]=Evince
Name[id]=Evince
Name[it]=Evince
Name[ja]=Evince
Name[ka]=Evince
Name[kk]=Evince
Name[km]=Evince
Name[ko]=Evince
Name[ku]=Evince
Name[lt]=Evince
Name[mk]=Evince
Name[ml]=Evince
Name[mr]=Evince
Name[nb]=Evince
Name[ne]=Evince
Name[nl]=Evince
Name[nn]=Evince
Name[pa]=Evince
Name[pl]=Evince
Name[pt]=Evince
Name[pt_BR]=Evince
Name[ro]=Evince
Name[ru]=Evince
Name[sk]=Evince
Name[sq]=Evince
Name[sv]=Evince
Name[ta]=Evince
Name[th]=Evince
Name[tl]=Evince
Name[tr]=Evince
Name[uk]=Evince
Name[vi]=Evince
Name[wo]=Evince
Name[zh_CN]=Evince
Name[zh_TW]=Evince
Icon=/usr/share/pixmaps/evince.xpm
Exec=/usr/bin/evince
Terminal=false
Categories=X-Debian-Applications-Viewers;
