[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=QComicBook
Name[ar]=QComicBook
Name[ast]=QComicBook
Name[be]=QComicBook
Name[bg]=QComicBook
Name[bn]=QComicBook
Name[br]=QComicBook
Name[bs]=QComicBook
Name[ca]=QComicBook
Name[cs]=QComicBook
Name[da]=QComicBook
Name[de]=QComicBook
Name[dz]=QComicBook
Name[el]=QComicBook
Name[eo]=QComicBook
Name[es]=QComicBook
Name[et]=QComicBook
Name[eu]=QComicBook
Name[fi]=QComicBook
Name[fr]=QComicBook
Name[ga]=QComicBook
Name[gl]=QComicBook
Name[gu]=QComicBook
Name[he]=QComicBook
Name[hi]=QComicBook
Name[hr]=QComicBook
Name[hu]=QComicBook
Name[id]=QComicBook
Name[it]=QComicBook
Name[ja]=QComicBook
Name[ka]=QComicBook
Name[kk]=QComicBook
Name[km]=QComicBook
Name[ko]=QComicBook
Name[ku]=QComicBook
Name[lt]=QComicBook
Name[mk]=QComicBook
Name[ml]=QComicBook
Name[mr]=QComicBook
Name[nb]=QComicBook
Name[ne]=QComicBook
Name[nl]=QComicBook
Name[nn]=QComicBook
Name[pa]=QComicBook
Name[pl]=QComicBook
Name[pt]=QComicBook
Name[pt_BR]=QComicBook
Name[ro]=QComicBook
Name[ru]=QComicBook
Name[sk]=QComicBook
Name[sq]=QComicBook
Name[sv]=QComicBook
Name[ta]=QComicBook
Name[th]=QComicBook
Name[tl]=QComicBook
Name[tr]=QComicBook
Name[uk]=QComicBook
Name[vi]=QComicBook
Name[wo]=QComicBook
Name[zh_CN]=QComicBook
Name[zh_TW]=QComicBook
Icon=qcomicbook.xpm
Exec=/usr/bin/qcomicbook
Terminal=false
Categories=X-Debian-Applications-Viewers;
