[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=gadmin-samba
Name[ar]=gadmin-samba
Name[ast]=gadmin-samba
Name[be]=gadmin-samba
Name[bg]=gadmin-samba
Name[bn]=gadmin-samba
Name[br]=gadmin-samba
Name[bs]=gadmin-samba
Name[ca]=gadmin-samba
Name[cs]=gadmin-samba
Name[da]=gadmin-samba
Name[de]=gadmin-samba
Name[dz]=gadmin-samba
Name[el]=gadmin-samba
Name[eo]=gadmin-samba
Name[es]=gadmin-samba
Name[et]=gadmin-samba
Name[eu]=gadmin-samba
Name[fi]=gadmin-samba
Name[fr]=gadmin-samba
Name[ga]=gadmin-samba
Name[gl]=gadmin-samba
Name[gu]=gadmin-samba
Name[he]=gadmin-samba
Name[hi]=gadmin-samba
Name[hr]=gadmin-samba
Name[hu]=gadmin-samba
Name[id]=gadmin-samba
Name[it]=gadmin-samba
Name[ja]=gadmin-samba
Name[ka]=gadmin-samba
Name[kk]=gadmin-samba
Name[km]=gadmin-samba
Name[ko]=gadmin-samba
Name[ku]=gadmin-samba
Name[lt]=gadmin-samba
Name[mk]=gadmin-samba
Name[ml]=gadmin-samba
Name[mr]=gadmin-samba
Name[nb]=gadmin-samba
Name[ne]=gadmin-samba
Name[nl]=gadmin-samba
Name[nn]=gadmin-samba
Name[pa]=gadmin-samba
Name[pl]=gadmin-samba
Name[pt]=gadmin-samba
Name[pt_BR]=gadmin-samba
Name[ro]=gadmin-samba
Name[ru]=gadmin-samba
Name[sk]=gadmin-samba
Name[sq]=gadmin-samba
Name[sv]=gadmin-samba
Name[ta]=gadmin-samba
Name[th]=gadmin-samba
Name[tl]=gadmin-samba
Name[tr]=gadmin-samba
Name[uk]=gadmin-samba
Name[vi]=gadmin-samba
Name[wo]=gadmin-samba
Name[zh_CN]=gadmin-samba
Name[zh_TW]=gadmin-samba
Comment=GTK+ configuration tool for samba
Comment[ar]=GTK+ configuration tool for samba
Comment[ast]=GTK+ configuration tool for samba
Comment[be]=GTK+ configuration tool for samba
Comment[bg]=GTK+ configuration tool for samba
Comment[bn]=GTK+ configuration tool for samba
Comment[br]=GTK+ configuration tool for samba
Comment[bs]=GTK+ configuration tool for samba
Comment[ca]=GTK+ configuration tool for samba
Comment[cs]=GTK+ configuration tool for samba
Comment[da]=GTK+ configuration tool for samba
Comment[de]=GTK+ configuration tool for samba
Comment[dz]=GTK+ configuration tool for samba
Comment[el]=GTK+ configuration tool for samba
Comment[eo]=GTK+ configuration tool for samba
Comment[es]=GTK+ configuration tool for samba
Comment[et]=GTK+ configuration tool for samba
Comment[eu]=GTK+ configuration tool for samba
Comment[fi]=GTK+ configuration tool for samba
Comment[fr]=GTK+ configuration tool for samba
Comment[ga]=GTK+ configuration tool for samba
Comment[gl]=GTK+ configuration tool for samba
Comment[gu]=GTK+ configuration tool for samba
Comment[he]=GTK+ configuration tool for samba
Comment[hi]=GTK+ configuration tool for samba
Comment[hr]=GTK+ configuration tool for samba
Comment[hu]=GTK+ configuration tool for samba
Comment[id]=GTK+ configuration tool for samba
Comment[it]=GTK+ configuration tool for samba
Comment[ja]=GTK+ configuration tool for samba
Comment[ka]=GTK+ configuration tool for samba
Comment[kk]=GTK+ configuration tool for samba
Comment[km]=GTK+ configuration tool for samba
Comment[ko]=GTK+ configuration tool for samba
Comment[ku]=GTK+ configuration tool for samba
Comment[lt]=GTK+ configuration tool for samba
Comment[mk]=GTK+ configuration tool for samba
Comment[ml]=GTK+ configuration tool for samba
Comment[mr]=GTK+ configuration tool for samba
Comment[nb]=GTK+ configuration tool for samba
Comment[ne]=GTK+ configuration tool for samba
Comment[nl]=GTK+ configuration tool for samba
Comment[nn]=GTK+ configuration tool for samba
Comment[pa]=GTK+ configuration tool for samba
Comment[pl]=GTK+ configuration tool for samba
Comment[pt]=GTK+ configuration tool for samba
Comment[pt_BR]=GTK+ configuration tool for samba
Comment[ro]=GTK+ configuration tool for samba
Comment[ru]=GTK+ configuration tool for samba
Comment[sk]=GTK+ configuration tool for samba
Comment[sq]=GTK+ configuration tool for samba
Comment[sv]=GTK+ configuration tool for samba
Comment[ta]=GTK+ configuration tool for samba
Comment[th]=GTK+ configuration tool for samba
Comment[tl]=GTK+ configuration tool for samba
Comment[tr]=GTK+ configuration tool for samba
Comment[uk]=GTK+ configuration tool for samba
Comment[vi]=GTK+ configuration tool for samba
Comment[wo]=GTK+ configuration tool for samba
Comment[zh_CN]=GTK+ configuration tool for samba
Comment[zh_TW]=GTK+ configuration tool for samba
Icon=/usr/share/pixmaps/gadmin-samba.xpm
Exec=/usr/sbin/gadmin-samba
Terminal=false
Categories=X-Debian-Applications-System-Administration;
