[Desktop Entry]
Name=ÎÄ¼þÉÏ´«
Exec=env WINEPREFIX="/home/xiaoranzzz/.wine" wine "C:\\windows\\command\\start.exe" "C:\\Program Files\\RaySource\\skin1\\http:\\www.rayfile.com"
Type=Application
StartupNotify=true
Path=/home/xiaoranzzz/.wine/dosdevices/c:/Program Files/RaySource/skin1
Icon=/home/xiaoranzzz/.local/share/icons/fa1e_url.png
