[Desktop Entry]
Name=What's New
Exec=env WINEPREFIX="/home/xiaoranzzz/.wine" wine "C:\\windows\\command\\start.exe" "C:\\Program Files\\FlashGet Network\\FlashGet\\http:\\www.flashget.com\\en\\whatsnew.htm"
Type=Application
StartupWMClass=Wine
Path=/home/xiaoranzzz/.wine/dosdevices/c:/Program Files/FlashGet Network/FlashGet
Icon=b83d_cd1
